<div>
    <ol ui-tree-nodes ng-model="ctrl.files">
        <li ng-repeat="file in ctrl.files track by file.data.id" ui-tree-node>
            <div ui-tree-handle>
                <div ng-if="file.data._type === 'directory'">
                    <span ng-if="file.expand"><i class="fa fa-fw fa-folder-open file-tree-icon-color"></i></span>
                    <span ng-if="!file.expand"><i class="fa fa-fw fa-folder file-tree-icon-color"></i></span>
                    <a ng-click="file.expand = !file.expand" data-nodrag>{{file.data.name}}</a>
                </div>
                <div ng-if="file.data._type === 'file'">
                    <span><i class="fa fa-fw fa-file file-tree-icon-color"></i></span>
                    {{file.data.name}}
                </div>
            </div>
            <div ng-if="file.data._type === 'directory'">
                <mc-file-tree2-dir ng-if="file.expand" file="file"></mc-file-tree2-dir>
            </div>
        </li>
    </ol>
</div>