<div class="tab-pane" id="provenance" ng-controller="toolbarDataEditProvenance">
    <div class="row">
        <div class="col-lg-11">
            <div class="panel panel-default">
                <div class="panel panel-heading">
                    Process
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-5" style="box-shadow:  8px 0 6px -10px grey;">
                            <h4>Inputs</h4>
                            <ul class="row" ng-repeat="i in inputs">
                                <li ng-if="i.name === doc.name">
                                   <a  style="background-color: lightgreen;" ng-click="showProvDetails(i, 'input')">{{i.display_name}}...</a>
                                </li>
                                <li ng-if="i.name !== doc.name">
                                    <a ng-click="showProvDetails(i, 'input')">{{i.display_name}}...</a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-lg-5" style="float: right">
                            <h4>Outputs</h4>
                            <ul class="row" ng-repeat="i in outputs">
                                <li ng-if="i.name === doc.name">
                                    <a   ng-click="showProvDetails(i, 'input')">{{i.display_name}}...</a>
                                </li>
                                <li ng-if="i.name !== doc.name">
                                    <a ng-click="showProvDetails(i, 'input')">{{i.display_name}}...</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="row">
                            <div ng-if="sample">
                                <div sample-report sample="sample"></div>
                            </div>
                            <div ng-if="settings">
                                <div condition-report condition="settings" ></div>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>