<div class="tab-pane" id="provenance" ng-controller="toolbarDataEditProvenance">
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel panel-heading">
                    Process
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-5" style="box-shadow:  8px 0 6px -10px grey;">
                            <h4>Inputs</h4>
                            <ul class="row" ng-repeat="process in df_denorm">
                                <ul ng-repeat="i in process.right.inputs">
                                    <div ng-if="i.type=='id'">
                                        <li><a>{{i.properties.name.value}}</a></li>
                                    </div>
                                    <div ng-if="i.type=='condition'">
                                        <li><a>{{i.template}}</a></li>
                                    </div>
                                    <div ng-if="i.type=='file'">
                                        <li><a>{{i.properties.name.value}}</a></li>
                                    </div>
                                </ul>
                            </ul>
                        </div>
                        <div class="col-lg-5" style="float: right">
                            <h4>Outputs</h4>
                            <ul class="row" ng-repeat="process in df_denorm">
                                <ul ng-repeat="i in process.right.outputs">
                                    <div ng-if="i.type=='id'">
                                        <li><a>{{i.properties.name.value}}</a></li>
                                    </div>
                                    <div ng-if="i.type=='condition'">
                                        <li><a>{{i.template}}</a></li>
                                    </div>
                                    <div ng-if="i.type=='file'">
                                        <li><a>{{i.properties.name.value}}</a></li>
                                    </div>
                                </ul>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="row">
                            <div ng-if="sample">
                                <div sample-report sample="sample"></div>
                            </div>
                            <div ng-if="settings">
                                <div condition-report condition="settings" ></div>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>