<div class="alert alert-error ng-cloak" ng-cloak ng-show="showValidation()">
    <label ng-show="myForm.email.$invalid"> Please check the email address and try again</label>
    <label ng-show="myForm.password.$invalid"> Passwords Do Not match. Please verify and try again</label>
</div>

<div class="span10 offset1">
    <form name="myForm" novalidate>
        <div class="row-fluid">
            <h4>Create New Account</h4>
            <div class="row-fluid">
                <label>Email: <span class="label label-success ng-cloak" ng-show="myForm.email.$valid">&#10004;</span></label>
                <input type="email" name="email" ng-model="email" required />
            </div>
        </div>

        <div class="row-fluid">
                <label>password:</label>
                <input type="password" name="password" ng-model="password" required />
                Confirm Password:
                <input type="password" name="confirm_password" ng-model="confirm_password" required />

            <br><br><button class="btn btn-success" type="button" ng-click="create_account()"> Create Account</button>
        </div>







    </form>


</div>



