<div ng-controller="provenanceIOStepsFiles">
    <div class="row">
        <div >
            <label>Please select files below.</label>
            <h6>Selected files:</h6>
            <ul>
                <li ng-repeat="item in files">
                    <i class="fa fa-check-square"></i>{{item.fullname}}
                    <button type="button" class="close" ng-click="removeFile($index);">×</button>
                    <br>
                </li>
            </ul>
        </div>

    </div>
    <div class="row">
        <project-tree project="{{ project_id }}" from="" tree-overview="true" check-box="true"></project-tree>
    </div>

</div>