<div>
    <div class="modal-header">
        <h3 class="modal-title">Choose Process</h3>
    </div>
    <br>

    <div class="row">
        <div class="col-xs-12">
            <input type="text" ng-model="ctrl.search" class="form-control"
                   placeholder="Search processes...">
        </div>
    </div>
    <br>

    <div class="row">
        <ul class="nav nav-tabs">
            <li class="active">
                <a data-target="#1" data-toggle="tab" class="text-uppercase">
                    All Processes
                </a>
            </li>
            <li ng-if="false">
                <a data-target="#3" data-toggle="tab" class="text-uppercase">
                    <i class="fa fa-fw fa-pencil-square-o"></i>
                    Pre-filled Processes ({{(ctrl.templates | filter:{prefill:true}).length}})
                </a>
            </li>
        </ul>
        <div class="modal-body">
            <div class="tab-content">
                <div class="tab-pane active" id="1">
                    <div class="list-group" ng-if="false">
                        <h4>Favorites</h4>

                        <div ng-repeat="template in ctrl.templates | filter:{favorite:true} | filter:ctrl.search | orderBy:'name'"
                             class="list-group-item">
                            <div class="row">
                                <div class="col-xs-7">
                                    <div class="list-group-item-heading">
                                        <a ng-click="ctrl.selectTemplate(template)">
                                            <i class="fa fa-fw fa-square-o fa-2x"></i>
                                        </a>
                                        {{template.name}}
                                    </div>
                                    <div ng-if="template.does_transform">
                                        <label class="label label-default">Transforms Sample</label>
                                    </div>
                                    <div class="row">
                                        Description: {{template.description}}
                                    </div>
                                </div>
                                <div class="col-xs-5">
                                    <a ng-click="ctrl.toggleFavorite(template)">
                                        <i class="fa fa-fw fa-star pull-right"
                                           ng-class="{'fa-star' : template.favorite, 'fa-star-o': !template.favorite}">
                                        </i>
                                    </a>

                                    <div class="row">
                                        <button class="btn btn-info" ng-click="ctrl.viewSetup(template)">
                                            <i class="fa fa-fw fa-gear"></i>Setup
                                        </button>
                                        <button ng-if="template.prefill" class="btn btn-info"
                                                ng-click="ctrl.editPrefill(template)">
                                            <i class="fa fa-fw fa-pencil-square-o"></i>Edit
                                        </button>
                                        <button ng-if="!template.prefill" class="btn btn-info"
                                                ng-click="ctrl.addPrefill(template)">
                                            <i class="fa fa-fw fa-plus"></i>pre-fill
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="list-group" ng-if="false">
                        <h4>Prefilled</h4>

                        <div ng-repeat="template in ctrl.templates | filter:{prefill:true} | filter:ctrl.search | orderBy:'name'"
                             class="list-group-item">
                            <div class="row">
                                <div class="col-xs-7">
                                    <div class="list-group-item-heading">
                                        <a ng-click="ctrl.selectTemplate(template)">
                                            <i class="fa fa-fw fa-square-o fa-2x"></i>
                                        </a>
                                        {{template.name}}
                                    </div>
                                    <div ng-if="template.does_transform">
                                        <label class="label label-default">Transforms Sample</label>
                                    </div>
                                    <div class="row">
                                        Description: {{template.description}}
                                    </div>
                                </div>
                                <div class="col-xs-5">
                                    <a ng-click="ctrl.toggleFavorite(template)">
                                        <i class="fa fa-fw fa-star pull-right"
                                           ng-class="{'fa-star' : template.favorite, 'fa-star-o': !template.favorite}">
                                        </i>
                                    </a>

                                    <div class="row">
                                        <button class="btn btn-info" ng-click="ctrl.viewSetup(template)">
                                            <i class="fa fa-fw fa-gear"></i>Setup
                                        </button>
                                        <button ng-if="template.prefill" class="btn btn-info"
                                                ng-click="ctrl.editPrefill(template)">
                                            <i class="fa fa-fw fa-pencil-square-o"></i>Edit
                                        </button>
                                        <button ng-if="!template.prefill" class="btn btn-info"
                                                ng-click="ctrl.addPrefill(template)">
                                            <i class="fa fa-fw fa-plus"></i>pre-fill
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="list-group">
                        <h4>All</h4>

                        <div ng-repeat="template in ctrl.templates | filter:ctrl.search | orderBy:'name'"
                             class="list-group-item">
                            <div class="row">
                                <div class="col-xs-7">
                                    <div class="list-group-item-heading">
                                        <a ng-click="ctrl.selectTemplate(template)">
                                            <i class="fa fa-fw fa-square-o fa-2x"></i>
                                        </a>
                                        {{template.name}}
                                    </div>
                                    <div ng-if="template.does_transform">
                                        <label class="label label-default">Transforms Sample</label>
                                    </div>
                                    <div class="row">
                                        Description: {{template.description}}
                                    </div>
                                </div>
                                <div class="col-xs-5">
                                    <a ng-click="ctrl.toggleFavorite(template)" ng-if="false">
                                        <i class="fa fa-fw fa-star pull-right"
                                           ng-class="{'fa-star' : template.favorite, 'fa-star-o': !template.favorite}">
                                        </i>
                                    </a>

                                    <div class="row">
                                        <button class="btn btn-info" ng-click="ctrl.viewSetup(template)" ng-if="false">
                                            <i class="fa fa-fw fa-gear"></i>Setup
                                        </button>
                                        <button ng-ifx="template.prefill" class="btn btn-info" ng-if="false"
                                                ng-click="ctrl.editPrefill(template)">
                                            <i class="fa fa-fw fa-pencil-square-o"></i>Edit
                                        </button>
                                        <button ng-ifx="!template.prefill" class="btn btn-info" ng-if="false"
                                                ng-click="ctrl.addPrefill(template)">
                                            <i class="fa fa-fw fa-plus"></i>pre-fill
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="3">
                    <div class="list-group">
                        <div class="list-group-item"
                             ng-repeat="template in ctrl.templates | filter:{prefill: true} | filter:search | orderBy:'name'">

                            <div class="row">
                                <div class="col-xs-7">
                                    <div class="list-group-item-heading">
                                        <a ng-click="ctrl.selectTemplate(template)">
                                            <i class="fa fa-fw fa-square-o fa-2x"></i>
                                        </a>
                                        {{template.name}}
                                    </div>
                                    <div ng-if="template.does_transform">
                                        <label class="label label-default">Transforms Sample</label>
                                    </div>
                                    <div class="row">
                                        Description: {{template.description}}
                                    </div>
                                </div>
                                <div class="col-xs-5">
                                    <a ng-click="ctrl.toggleFavorite(template)">
                                        <i class="fa fa-fw fa-star pull-right"
                                           ng-class="{'fa-star' : template.favorite, 'fa-star-o': !template.favorite}">
                                        </i>
                                    </a>

                                    <div class="row">
                                        <button class="btn btn-info" ng-click="ctrl.viewSetup(template)">
                                            <i class="fa fa-fw fa-gear"></i>Setup
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-warning" ng-click="ctrl.dismiss()">Dismiss</button>
        </div>
    </div>
</div>
