<div class="row-fluid">
    <!--<div class="span12">-->
    <div class="span4">
        <h4><u>Selected Project: {{project_obj[0].name}}</u></h4>
    </div>

    <div class="span6">
            <span ng-show="selected_proj">
                      <select ng-model="add_to"
                              ui-select2="{placeholder: 'Add', allowClear: true, width:'element'}"
                              ng-multiple="false">
                          <option></option>
                          <option value="prov">Provenance</option>
                          <!--<option value="to_dataset">To Dataset</option>-->
                          <!--<option value="to_project">To Project</option>-->

                      </select>
            </span>

    </div>
    <!--</div>-->
</div>

<div ng-show="add_to=='prov'">
    <div class="row-fluid">
        <div class="span10">

            <!--</form>-->
        </div>

        <!--</form>-->

    </div>

    <div class="block" ng-show="isCurrentStep('nav_choose_upload')">
        <!--<form id="submit-tab" class="form-inline span8">-->


        <div ng-hide="done" class="well" ng-controller="UploadStepController">

            <div ng-show="notdone" class="well">
                <h4>Provenance failed</h4><br>
                <b>Because of following reasons:</b><br>
                <a> 1. Project was not selected</a><br>
                <a> 2. Bad input or output files</a> <br>
            </div>
            <h4>Verify and Submit</h4>


            <b>Process:</b>

            <div class="well">
                Name:<span>{{state.attributes.process.name}}</span> <br>
                Description:<span>{{state.attributes.process.description}}</span> <br>
                Machine:<span>{{state.attributes.machine_obj.name}}</span> <br>
                Version:<span>{{state.attributes.process.version}}</span> <br>

                Notes:
                <ul ng-repeat="n in state.attributes.process.notes">
                    <li>{{n}}</li>
                </ul>
                <br>
                Runs:
                <ul ng-repeat="r in state.attributes.process.runs">
                    <li>{{r.started | date:'medium'}} -
                        {{r.stopped | date:'medium'}} <br> Error Messages:
                        {{r.error_messages}}
                    </li>
                </ul>
                <br>
            </div>

            <b>Inputs:</b>

            <div class="well">
                Input Properties:<br>
                    <span ng-repeat="ip in state.attributes.input_conditions">
                        <a href="#modalCondition" data-toggle="modal"
                           ng-click="get_mode_condition(ip)">{{ip.name}}</a><br>
                    </span><br>
                Input Files:<br>
                    <span ng-repeat="file in state.attributes.checked_input_filenames">
                        <a href="#modalFile" data-toggle="modal" ng-click="get_file(file)">{{file.name}}</a><br>
                    </span><br>
            </div>

            <b>Outputs:</b>

            <div class="well">
                Output Properties:<br>
                    <span ng-repeat="ip in state.attributes.output_conditions">
                        <a href="#modalCondition" data-toggle="modal"
                           ng-click="get_mode_condition(ip)">{{ip.name}}</a><br>
                    </span><br>
                Output Files:<br>
                    <span ng-repeat="file in state.attributes.checked_output_filenames">

                        <a href="#modalFile" data-toggle="modal" ng-click="get_file(file)">{{file.name}}</a> <br>
                    </span><br>
                <!-- Modal -->
                <div id="modalFile" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="modalFileLabel"
                     aria-hidden="true">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h3 id="modalFileLabel">File: {{jet.name}}</h3>
                    </div>
                    <div class="modal-body">
                        <div>
                            <label>Name:</label><span>{{datafile.name}}</span><br>
                            <label>Type:</label><span>{{datafile.item_type}}</span> <br>
                            <label>Owner:</label><span>{{datafile.owner}}</span> <br>
                            <label>Description:</label><span>{{datafile.description}}</span> <br>
                            <label>notes:</label><span>{{datafile.notes}}</span><br>
                            <label>Tags:</label><span>{{datafile.tags}}</span><br>
                            <label>Access:</label><span>{{datafile.access}}</span><br>
                            <label>Media Type:</label><span>{{datafile.mediatype}}</span><br>

                            <div ng-switch on="fileType">
                                <div ng-switch-when="image">
                                    <img ng-src="{{ fileSrc }}">
                                    <a ng-href="{{ originalFileSrc }}" download="{{ fileName }}"
                                       style="margin-left: 15px">Download</a>
                                </div>
                                <a ng-switch-when="other" ng-href="{{ fileSrc }}">{{ doc.name }}</a>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
                    </div>
                </div>

                <!-- Modal -->
                <div id="modalCondition" class="modal hide fade" tabindex="-1" role="dialog"
                     aria-labelledby="modalConditionLabel" aria-hidden="true">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h3 id="modalConditionLabel">{{jet.name}}</h3>
                    </div>
                    <div class="modal-body">
                        <div>
                            <label>Name:</label><span>{{jet.name}}</span> <br>
                            <label>Type:</label><span>{{jet.template_type}}</span><br>
                            <label>Description:</label><span>{{jet.description}}</span><br>
                            <span ng-if="jet.material">
                                  <label>Material:</label><span>{{jet.material.name}}</span><br>
                            </span>

                            <label>Model:</label>

                            <div ng-repeat="kv in model">
                                <label>{{kv.name}}</label> - <span>{{kv.value}}</span>
                                 <span ng-if="kv.unit!=''">
                                {{kv.unit}}
                            </span>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
                    </div>
                </div>
            </div>
            <button class="btn btn-large btn-primary" type="button" ng-click="upload_state()">Submit</button>
            &nbsp;&nbsp;&nbsp
            <button class="btn btn-large btn-danger" type="button" ng-click="cancel_provenance()">Cancel</button>

        </div>
        <div ng-show="done" class="well">
            <h4>Provenance uploaded successfully</h4>
            <a href="#/mytools/process/report/{{process_id}}" ng-click="selected_project(project_obj[0].id)">view
                uploaded provenance</a>
        </div>

        <!--</form>-->

    </div>
</div>

</div>
</div>

<div ng-hide="add_to=='prov'" class="row-fluid">
    <div class="span12">
        <h4>Processes</h4>
        <table treetable treedata="tree_process">
            <thead>
            <tr ng-show="selected_proj">
                <th>Name</th>
                <th>Description</th>
            </tr>
            </thead>
            <tbody>

            <tr ng-repeat="t in tree_process" data-tt-id={{t.c_id}} data-tt-parent-id={{t.parent_id}}>
                <td ng-controller="ProcessReportController">
                    <span ng-if="t.parent_id==0">
                        <b>{{t.name}}</b>
                    </span>
                    <span ng-if="t.parent_id!=0">
                        <a href="#/mytools/process/report/{{t.id}}">
                            {{t.name}}</a>
                    </span>
                </td>
                <td>{{t.description}}</td>

            </tr>
            </tbody>
        </table>

    </div>
</div>

<div ng-show="loaded===false" class="row-fluid">
    <div class="span4 offset5">
        <p><i class="fa fa-spinner fa-spin fa-4x"></i> Loading...</p>
    </div>
</div>

<div ng-show="loaded===true" class="row-fluid">
    <div class="span12">
        <button ng-click="backToFolder(trailitem)"
                ng-repeat="trailitem in trail">{{trailitem.displayname}}
        </button>
    </div>
    <div class="row-fluid">
        <div class="span12">
            <h4>Project Files:</h4>
            <table class="treetable">
                <thead>
                <tr ng-show="selected_proj">
                    <th></th>
                    <th></th>
                    <th>Project</th>
                    <th>Type</th>
                    <th>Size(kb)</th>
                    <th>Owner</th>
                    <th>Date</th>
                </tr>
                </thead>
                <tbody>

                <tr ng-repeat="entry in dir" data-tt-id={{t.c_id}} data-tt-parent-id={{t.parent_id}}>
                    <td ng-if="entry.type=='datafile'">
                        <span ng-if="isChecked(entry)==true">
                                <input type="checkbox" ng-click="check(entry)" checked/>

                        </span>
                        <span ng-if="isChecked(entry)==false">
                                <input type="checkbox" ng-click="check(entry)"/>

                        </span>
                    </td>

                    <td ng-if="entry.type=='datadir'">
                        <input type="checkbox" disabled/>
                    </td>
                    <td ng-if="entry.type=='datadir'">
                        <button ng-dblclick="openFolder(entry)"><i class="fa fa-folder fa-4x"></i>{{entry.displayname}}
                        </button>
                    </td>
                    <td ng-if="entry.type=='datafile'">
                        <p><i class="fa fa-file fa-4x"></i>{{entry.displayname}}</p>
                    </td>

                    <td><a href="#/mytools/data/edit/{{entry.id}}">{{entry.name}}</a></td>
                    <td>{{entry.type}}</td>
                    <td>{{entry.size}}</td>
                    <td>{{entry.owner}}</td>
                    <td>{{entry.birthtime | toDateString}}</td>
                </tr>
                </tbody>
            </table>

        </div>
    </div>

</div>
