<div class="form-login">
    <form name="form" ng-submit="ctrl.login()" role="form">
        <div class="form-group" ng-class="{ 'has-error': form.username.$dirty && form.username.$error.required }">
            <label for="email">Email</label>
            <input type="email" name="email" id="email" class="form-control" ng-model="ctrl.user.email" required/>
            <span ng-show="form.email.$dirty && form.email.$error.required" class="help-block">Email is required</span>
        </div>
        <div class="form-group" ng-class="{ 'has-error': form.password.$dirty && form.password.$error.required }">
            <label for="password">Password</label>
            <input type="password" name="password" id="password" class="form-control" ng-model="ctrl.user.password"
                   required/>
            <span ng-show="form.password.$dirty && form.password.$error.required"
      class="help-block">Password is required</span>
        </div>
        <div class="form-actions">
            <button type="submit" ng-disabled="form.$invalid || ctrl.dataLoading" class="btn btn-primary">Login</button>
        </div>
    </form>
</div>


