<div>
    <form class="search form-horizontal">
        <div class="input-group">
            <div class="input-group-btn" uib-dropdown>
                <button type="button" class="btn btn-default" uib-dropdown-toggle>
                    {{ctrl.selection.name}} <span class="caret"></span>
                </button>
                <ul uib-dropdown-menu>
                    <li ng-repeat="choice in ctrl.searchChoices">
                        <a ng-click="ctrl.selection = choice">{{choice.name}}</a>
                    </li>
                </ul>
            </div>
            <input id="searchInput" type="text" ng-model="ctrl.searchTerm"
                   class="form-control"
                   on-enter="ctrl.searchResults()"
                   placeholder="Search for...">
        </div>
        <a class="pull-left" ng-click="ctrl.searchResults()">Submit</a>
    </form>
</div>

