<div ng-switch on="ctrl.property">
    <!-- Author -->
    <div ng-switch-when="Author">
        <div class="form-group">
            <label class="col-sm-2 field-label">{{ctrl.property}}</label>
            <div class="col-sm-10 field-value">
                <a ng-click="ctrl.authorDetails()" class="theme">{{ctrl.formatAuthor(ctrl.value)}}</a>
                <!--<span ng-repeat="a in ctrl.value"><a ng-click="ctrl.authorDetails()" class="theme">{{a}}</a><span-->
                <!--ng-show=" ! $last ">, </span></span>-->
            </div>
        </div>
    </div>
    <!-- Files -->
    <div ng-switch-when="Files">
        <div class="form-group">
            <label ng-if="ctrl.user" class="col-sm-2 field-label">Download</label>
            <label ng-if="!ctrl.user" class="col-sm-2 field-label">Files</label>
            <div class="col-sm-10 field-value text-left">
                <span ng-if="!ctrl.user">{{ctrl.value.file_count}} files</span>
                <span ng-if="ctrl.user && !ctrl.isDownloadAvaiable(ctrl.value)">
                    {{ctrl.value.files.length}} files.
                    Download zipfile is still building; check back later.
                </span>
                <span ng-if="ctrl.user && ctrl.isDownloadAvaiable(ctrl.value)">
                    <a  href="{{ctrl.urlForDownload(ctrl.value)}}" download="{{ctrl.filenameForDownload(ctrl.value)}}"
                       class="theme">
                        <i class="fa fa-fw fa-download"></i>
                        Download Dataset - {{ctrl.value.file_count}} files
                    </a>
                    ({{ctrl.bytesMessageForDownload(ctrl.value)}})
                </span>
            </div>
        </div>
    </div>
    <!-- (all) Authors-->
    <div ng-switch-when="Authors">
        <div class="form-group">
            <label class="col-sm-12 field-label">{{ctrl.formatAuthorList(ctrl.value)}}</label>
        </div>
    </div>
    <!-- Publisher: value is user id of publisher-->
    <div ng-switch-when="Publisher">
        <div class="form-group">
            <label class="col-sm-2 field-label">Published By</label>
            <div class="col-sm-10 field-value">
                {{ctrl.getPublisherName(ctrl.value)}}
            </div>
        </div>
    </div>
    <!-- Papers -->
    <div ng-switch-when="Papers">
        <div class="form-group">
            <label class="col-sm-2 field-label">{{ctrl.property}}</label>
            <div class="col-sm-10 field-value">
                <ul class="dataset-paper-list">
                    <div class="form-horizontal" ng-repeat="paper in ctrl.value">
                        <li ng-if="paper.title">
                            <div class="paper-title"></span><b>{{paper.title}}</b>
                                <span ng-if="paper.link"><a href="{{paper.link}}"><i
                                    class="fa fa-fw fa-file-text-o"></i></a></span>
                            </div>
                        </li>
                    </div>
                </ul>
            </div>
        </div>
    </div>
    <!-- License -->
    <div ng-switch-when="License">
        <div class="form-group">
            <label class="col-sm-2 field-label">{{ctrl.property}}</label>
            <div class="col-sm-10 field-value">
                <span ng-if="ctrl.value.name !== ''">{{ctrl.value.name}} <a ng-href="{{ctrl.value.link}}" target="_blank">View license</a></span>
                <span ng-if="ctrl.value.name === ''">No license</span>
            </div>
        </div>
    </div>
    <!--Others-->
    <div ng-switch-default>
        <div class="form-group">
            <label class="col-sm-2 field-label">{{ctrl.property}}</label>
            <div class="col-sm-10 field-value">
                {{ctrl.value}}
            </div>
        </div>
    </div>
</div>
