<!DOCTYPE html>
<html ng-app="demo">
<head>
    <title></title>
    <link href="../app/assets/css/treeview.css" rel="stylesheet"/>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.1.5/angular.min.js"></script>
    <script>
        var app = angular.module("demo",[]);
        app.controller("DTestController", ["$scope", function($scope) {
            $scope.items = [ {id:1, name:"aaaaa"}, {id:2, name:"bbbbb"}];
            //$scope.item = {id:3, name:'cccc'};

            $scope.dclick = function(d) {
                console.log(d);
            }
        }]);
        app.directive("dtest", function() {
            return {
                controller: "DTestController",
                restrict: "E",
                scope: {
                    dial:"&"
                },
                template: '<ul><li style="cursor:pointer" ng-click="dial({message: item.name})" ng-repeat="item in items">{{ item.name }}</li></ul>'
            }
        });

        app.controller("MyController", ["$scope", function($scope) {
            $scope.callHome = function(message) {
                console.log("callHome Called");
                console.log(message);
            }
        }])
    </script>
</head>
<body ng-controller="MyController">
<dtest dial="callHome(message)"></dtest>
</body>
</html>
