<div class="row-fluid offset2">
    <div class="row-fluid">
        <h3>Contact</h3>
        If you have questions or need help please send email to <a href="mailto:help@materialscommons.org">help@materialscommons.org</a>.
    </div>

    <hr>
    
    <h3>People</h3>

    <div class="row-fluid">
        <p>
        <h4>Center Director</h4>
        <a href="#/contact#johnea" class="nowrap">Dr. John Allison</a>
        </p>

        <p class="people-heading">
        <h4>Repository Group</h4>
        <a href="#/contact#jag" class="no-wrap">Dr. H.V. Jagadish</a>,
        <a href="#/contact#hedstrom" class="no-wrap">Dr. Margaret Hedstrom</a>,
        <a href="#/contact#gtarcea" class="no-wrap">V. Glenn Tarcea</a>
        <a href="#/contact#tammasr" class="no-wrap">Sravya Tamma</a>
        </p>
    </div>

    <hr>

    <div class="row" id="johnea">
        <div class="span8">
            <img width="100" height="150" src="assets/img/people/johnea/John_Allison.jpg">
            <h5>Dr. John Allison - Center Director</h5>
            <ul style="list-style-type: none;">
                <li>Email: <a href="mailto:johnea@umich.edu">johnea@umich.edu</a></li>
                <li>Research: <a href="http://www.mse.engin.umich.edu/people/johnea">http://www.mse.engin.umich.edu/people/johnea</a>
                </li>
            </ul>
        </div>
    </div>

    <legend class="extra-padding">Repository Group</legend>

    <div class="row" id="jag">
        <div class="span8">
            <img width="100" height="150" src="assets/img/people/jag/Jag-web.jpg">
            <h5>Dr. H.V. Jagadish</h5>
            <ul style="list-style-type: none;">
                <li>Email: <a href="mailto:jag@umich.edu">jag@umich.edu</a></li>
                <li>Research: <a href="http://web.eecs.umich.edu/~jag/">http://web.eecs.umich.edu/~jag/</a></li>
            </ul>
        </div>
    </div>

    <hr>

    <div class="row" id="hedstrom">
        <div class="span8">
            <img width="100" height="150" src="assets/img/people/hedstrom/hedstrom_margaret_pp_1.jpg">
            <h5>Dr. Margaret Hedstrom</h5>
            <ul style="list-style-type: none;">
                <li>Email: <a href="mailto:hedstrom@umich.edu">hedstrom@umich.edu</a></li>
                <li>Research: <a href="http://www.si.umich.edu/people/margaret-hedstrom">http://www.si.umich.edu/people/margaret-hedstrom</a>
                </li>
            </ul>
        </div>
    </div>

    <hr>

    <div class="row" id="gtarcea">
        <div class="span8">
            <img width="100" height="150" src="assets/img/people/gtarcea/Tarcea_image.jpg">
            <h5>V. Glenn Tarcea - Senior Developer</h5>
            <ul style="list-style-type: none;">
                <li>Email: <a href="mailto:gtarcea@umich.edu">gtarcea@umich.edu</a></li>
            </ul>
        </div>
    </div>

    <hr>

    <div class="row" id="tammasr">
        <div class="span8">
            <DIV style="font-weight: bold; font-size: 12pt; background: #cccccc; text-transform: uppercase; width: 130px; color: #ffffff;
        line-height: 160px; height: 160px; text-align: center">No Photo
            </DIV>
            <h5>Sravya Tammas - Software Developer</h5>
            <ul style="list-style-type: none;">
                <li>Email: <a href="mailto:tammasr@umich.edu">tammasr@umich.edu</a></li>
            </ul>
        </div>
    </div>

</div>