<h4>Create New Account</h4>


<div ng-controller="AccountController">
<table>

    <tr>
        <td>Email</td>
        <td><input type="text" ng-model="email" placeholder="Email address"></td>

        <td>Confirm Email</td>
        <td><input type="text" ng-model="confirm_email" placeholder=" Confirm Email address"></td>

    </tr>

    <tr>
        <td>Password</td>
        <td><input  type="password" ng-model="password"  class="input-block-level" placeholder="Password"></td>

        <td>Confirm Password</td>
        <td><input type="password" ng-model="confirm_password" class="input-block-level" placeholder="Confirm Password"></td>

    </tr>

</table>
<button class="btn btn-success" type="button" ng-click="create_account()"  > Create Account</button>
</div>





