<div class="row-fluid">
    <div class="span8 offset1">
        <table>
            <!--<tr>-->
                <!--<td><h4>View: </h4></td>-->
                <!--<td><a href="#/results_by_date">By Date</a></td>-->
                <!--<td><a href="#/datagroups/tree">Tree</a></td>-->
            <!--</tr>-->

            <tr>
                <td><h4>Data: </h4></td>
                <td><a href="#/datagroups">My Data Directories</a></td>
                <td><a href="#/data/mydata">My Data</a></td>
                <td><a href="#/data/otherdata">All Groups Data</a></td>
                <td><a href="#/datagroups/tree">My Projects Tree</a></td>
                <td><a href="#/datagroups/tree/group">My Groups Projects Tree</a></td>
                <!--<td><a href="#/my_lab">Data by Lab</a></td>-->
            </tr>

            <tr>
                <td><h4>Tags:</h4></td>
                <td><a href="#/tags/list/all">List Tags</a></td>
                <td><a href="#/tags/list/mytags">Tags On My Data</a></td>
                <td><a href="#/tags/cloud/global">Global Tag Cloud</a></td>
            </tr>

            <tr>
                <td><h4>Upload/Download:</h4></td>
                <td><a href="#/upload/file">Upload File</a></td>
                <td><a href="#/upload/directory">Upload Directory</a></td>
                <td><a href="#/updownload/queue">View Upload/Download Queue</a></td>
            </tr>
        </table>
    </div>
</div>

<div ng-controller="ReviewListController">
    <div class="row-fluid">
        <div class="offset1">
            <h4>Reviews to conduct</h4>
            <table class="table table-striped mc-table-hover table-condensed mc-table">
                <thead>
                <tr>
                    <th>User</th>
                    <th>Note</th>
                    <th>Marked On</th>
                    <th>Type</th>
                    <th>What</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="review in reviews">
                    <td ng-click="startReview(review.itemId, review.type)" style="cursor:pointer">{{ review.who }}</td>
                    <td>{{ review.note }}</td>
                    <td>{{ toDateString(review.markedOnDate) }}</td>
                    <td>{{ review.type }}</td>
                    <td>{{ review.itemName }}
                        <button type="button" class="close" ng-click="removeReview($index);">&times;</button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="row-fluid">
        <div class="offset1">
            <h4>Reviews you have requested</h4>
            <table class="table table-striped mc-table-hover table-condensed mc-table">
                <thead>
                <tr>
                    <th>User asked</th>
                    <th>Note</th>
                    <th>Marked On</th>
                    <th>Type</th>
                    <th>What</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="review in reviewsRequested">
                    <td>{{ review.owner }}
                    </td>
                    <td>{{ review.note }}</td>
                    <td>{{ toDateString(review.markedOnDate) }}</td>
                    <td>{{ review.type }}</td>
                    <td>{{ review.itemName }}
                        <button type="button" class="close" ng-click="removeRequestedReview($index);">&times;</button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>


