
<br></br>
<div ng-show="results.hits.total > 0">
    <div class="row">
        <div class="span10">
            <h4>Search results for {{keyword}}</h4>
            <table class = "table">
                <tr>
                    <th>Id</i></a></th>
                    <th>Description</th>
                    <th>Metal</th>
                    <th>Lab</th>
                    <th>Name</th>
                    <th>Type</th>
                </tr>




                <tr ng-repeat="res in results.hits.hits">
                    <td  width="250">{{res._source._id}}</td>
                    <td  width="200">{{res._source.description}}</td>
                    <td  width="100">{{res._source.metal}}</td>
                    <td  width="100">{{res._source.lab}}</td>
                    <td  width="100">{{res._source.name}}</td>
                    <td  width="100">{{res._source.type}}</td>
                </tr>
            </table>
        </div>
    </div>
    <pagination num-pages="noOfPages" current-page="currentPage" class="pagination-small" previous-text="&laquo;" next-text="&raquo;" on-select-page="pageChanged(page)"></pagination>

</div>

</div>


