

<div ng-hide="results.hits.total > 0">
    <h5>No results found for {{keyword}}</h5>

</div>

<div  ng-show="results.hits.total > 0">
    <pagination num-pages="noOfPages" current-page="currentPage" class="pagination-small" previous-text="&laquo;" next-text="&raquo;" on-select-page="pageChanged(page)"></pagination>

    <h5>Total no of results found for {{keyword}}: {{results.hits.total}}</h5>

    <ul ng-repeat="res in results.hits.hits">

            <a ng-src={{imageSource}}>{{res._source.name}}</a>
            <nav>
                <li>Type: {{res._source.type}}</li>
            </nav>
            <br>
          Created At: {{get_utc_obj(res._source.dateAdded).toDateString()}}<br>
            Lab: {{res._source.lab}}<br>
            access: {{res._source.access}}<br>
        <div ng-switch on="res._source.type">
            <div ng-switch-when="data">
                Owner: {{res._source.owner}}
            </div>
            <div ng-switch-when="datagroup">
                User: {{res._source.user}}
            </div>
        </div>

            Text:{{res._source.text}}<br>
            <span class="label label-info">ethanol</span>
            <span class="label label-info">magnesium</span>
            <span class="label label-info">alloy</span>
        <hr class="horizontal_line"></hr>
    </ul>
    <pagination num-pages="noOfPages" current-page="currentPage" class="pagination-small" previous-text="&laquo;" next-text="&raquo;" on-select-page="pageChanged(page)"></pagination>





</div>


