

<div class="container">
    <div ng-hide="total_hits > 0"><h4>No results found for {{keyword}}</h4></div>

    <div ng-show="total_hits > 0">
        <h4>Total no of results found for {{keyword}}: {{results.hits.total}}</h4>
        <pagination num-pages="noOfPages" current-page="currentPage" class="pagination-small" previous-text="&laquo;" next-text="&raquo;" on-select-page="pageChanged(page)"></pagination>
        <ul ng-repeat="res in results.hits.hits">
            <div ng-controller="DataSearchController">
                <h5><a  ng-href="{{imageSource}}">{{res._source.name}}</a> &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;
                <a  ng-click="get_full_data_with_id(res._source._id)" >Full Data</a></h5>
            </div>

            <p ng-show="res._source.text.length > 0">
                {{res._source.text | truncate:250}}<br>
            </p>
            <p ng-hide="res._source.text.length > 0">
               No Text Information
            </p>
            <div  ng-controller="TagDataController">
                <div ng-repeat="tag in res._source.tags">
                    <span class="label label-info" ng-click="get_alldata_for_tag(tag)" style="cursor:pointer">{{ tag }}</span>
                </div>

            </div>

            <hr class="horizontal_line"></hr>
        </ul>
        <pagination num-pages="noOfPages" current-page="currentPage" class="pagination-small" previous-text="&laquo;" next-text="&raquo;" on-select-page="pageChanged(page)"></pagination>
    </div>
</div>



