
<div class="span8 offset3">
    <h3>{{pageDescription}} page not yet implemented</h3>
    <img src="assets/img/under-construction.png" alt="Under Construction" height="142" width="142">
    <h3>Please be patient while we implement this functionality.</h3>
</div>

<!-- Test for various tags with diff format -->
<div ng-controller="AccessController">
    <!-- <button  ng-click="search_doc();">Get Doc</button>      -->
    {{doc["model test"]}}
</div>

        <div ng-controller="ExploreController">

            <smart-table class="table table-striped" table-title="Smart Table example" columns="columnCollection"
                         rows="rowCollection" config="globalConfig"></smart-table>


        </div>



