
<div class="row-fluid">
    <div class="span4 offset0">
        <table>
        <tr>
            <td><h4>Admin Functions:</h4></td>
        </tr>
        <tr>
            <td><h4> Search Functions: </h4></td>
            <td id="search-nav"><a href="#/results_by_date">Search by Date</a></td>

        </tr>
        <div ng-controller="DataGroupController">
            <tr>
                <td><h4>Data: </h4> </td>
                <td id="search-nav"><a href="#/datagroups">All Data Groups</a></td>
                <td id="search-nav"><a href="#/data_by_user">My data</a></td>
                <td id="search-nav"><a href="#/my_lab">Data by Lab</a></td>
            </tr>

        </div>

        <tr>
            <td>
                <h4>Analysis: </h4>
            </td>
        </tr>



        </table>


</div>
</div>

<h4>File Upload:</h4>
<div ng-controller="FileUploadCtrl">
    <div class="control-group">
        <div class="controls">
        <span class="btn btn-success fileinput-button">
            <i class="icon-plus icon-white"></i>
            <input type="file" name="file" data-url="home/upload"
                   multiple upload><span>Add files...</span>
        </span>
        </div>
    </div>

    <div>
        <span ng-show="!files.length">No files selected</span>
        <ul>
            <li ng-repeat="file in files">{{file}}</li>
        </ul>
    </div>

    <div>
        <button type="submit" class="btn btn-primary pull-left" ng-click="upload()">Upload</button>
    </div>

<div class="progress" ng-show="percentage">
    <div class="bar" style="width: {{percentage}}%;"></div>
</div>

</div>




        <!--
<table>
    <div ng-controller="UploadFileController">
        <button class="btn btn-success"  ng-click="addButtonClicked()"  >Add File</button>
        <span ng-show="clicked">
                <td>This is test</td>
                       Upload File: <input type="file" multiple ng-model="files" file-change>

        </span>

    </div>
</table>

-->
