<div class="tab-pane">
    <div ng-if="files.length === 0">
        <h3 class="text-uppercase">No files</h3>
    </div>
    <table ng-if="files.length !== 0" class="table">
        <thead>
        <tr>
            <th>Details</th>
            <th>Contents</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="file in files">
            <td>
                <b><a ui-sref="projects.project.files.edit({file_id: file.id, file_type: file.type})">
                    {{file.name}}</a>
                </b>

                <div style="padding-bottom: 15px;">
                    <p style="font-size: 12px;padding-bottom: 10px;">
                        {{file.birthtime | toDateString}}
                        <span style="padding-left: 10px">{{file.owner}}</span>
                        <span style="padding-left: 10px">{{file.size | bytes}} </span>
                    </p>
                </div>
            </td>
            <td>
                <div class="snippet">
                    <display-file-contents file="file"></display-file-contents>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
</div>