<div>
    <div ng-if="samples.length === 0">
        <h3 class="text-uppercase">No Samples</h3>
    </div>
    <div ng-if="samples.length">
        <table class="table">
            <thead>
            <tr>
                <th>Details</th>
                <!--<th>Properties</th>-->
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="sample in samples">
                <td style="width:70%">
                    <b><a ui-sref="projects.project.samples.edit({sample_id: sample.id})">{{sample.name}}</a></b>

                    <div style="padding-bottom: 15px;">
                        <p style="font-size: 12px;padding-bottom: 10px;">
                            {{sample.birthtime | toDateString}}
                            <span style="padding-left: 10px">{{sample.owner}}</span>
                        </p>

                        <p class="text-small">{{sample.description}}</p>
                        <display-image-tab sample="sample"></display-image-tab>
                    </div>
                </td>
                <!--<td style="width:30%">-->
                <!--<div class="overflow">-->
                <!--<ul style="list-style-type: circle;">-->
                <!--<li ng-repeat="property in sample.properties">-->
                <!--{{property.name}} :-->
                <!--<display-measurement project="project"-->
                <!--measure="property.best_measure[0]"></display-measurement>-->
                <!--</li>-->
                <!--</ul>-->
                <!--</div>-->
                <!--</td>-->
            </tr>
            </tbody>
        </table>
    </div>
</div>