<div>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Input</th>
            <th>Output</th>
            <th>Name</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="process in processes | orderBy:'name'">
            <td>
                <a ng-click="process.input = !process.input">
                    <i ng-if="process.input" class="fa fa-2x fa-fw fa-check text-success"></i>
                    <i ng-if="!process.input" class="fa fa-2x fa-fw fa-square-o"></i>
                </a>
            </td>
            <td>
                <a ng-click="process.output = !process.output">
                    <i ng-if="process.output" class="fa fa-2x fa-fw fa-check text-success"></i>
                    <i ng-if="!process.output" class="fa fa-2x fa-fw fa-square-o"></i>
                </a>
            </td>
            <td>
                {{process.name}}
            </td>
        </tr>
        </tbody>
    </table>
</div>