<div>
    <div ng-if="setup.properties.length === 0">
        <h3 class="text-uppercase">No Setup</h3>
    </div>
    <div ng-if="setup.properties.length">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Name</th>
                <th>Value</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="property in setup.properties">
                <td style="height: 0;">
                    {{property.name}}
                </td>
                <td ng-if="property.value.name" style="height: 0">
                    {{property.value.name}} {{property.unit}}
                </td>
                <td ng-if="!property.value.name" style="height: 0;">
                    {{property.value}} {{property.unit}}
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>