<div ng-controller="provenanceIOStepsIOStep">
    <div class="row-fluid">
        <div class="span10">
            <div class="well">
                <div ng-hide="doc.template_pick=='sample'" class="form-horizontal">
                    <fieldset>
                        <legend>Default Properties</legend>
                        <div df-properties default-properties="doc.model.default"></div>
                    </fieldset>

                    <hr align="left">
                    <fieldset>
                        <div ng-if="doc.model.added_properties">
                            <legend>Added Properties</legend>
                        </div>
                        <div ng-repeat="pv in doc.model.added_properties">
                            <div class="control-group">
                                <label class="control-label">{{pv.name}}
                                    <p ng-if="pv.required==true">
                                        <i class="fa fa-asterisk" style="color: red"></i>
                                    </p>
                                </label>

                                <div class="controls">
                                    <div ng-if="pv.value_choice.length!=0">
                                        <select ng-model="pv.value">
                                            <option ng-repeat="val in pv.value_choice"> {{val}}
                                            </option>
                                        </select>
                                    </div>
                                    <div ng-if="pv.value_choice.length==0">
                                        <div ng-if="pv.type==='text'">
                                            <div ng-if="pv.required===false">
                                                <input type='text' ng-model='pv.value'
                                                       placeholder='{{pv.name}}...'>
                                            </div>
                                            <div ng-if="pv.required===true">
                                                <input type='text' ng-model='pv.value'
                                                       placeholder='{{pv.name}}...' required>
                                            </div>
                                        </div>
                                        <div ng-if="pv.type!=='text'">
                                            <div ng-if="pv.required===false">
                                                <input type='text' name="{{pv.type}}Blur" ng-model='pv.value'
                                                       validator='{{pv.type}}'
                                                       placeholder='{{pv.name}}...' valid-method="blur">
                                            </div>
                                            <div ng-if="pv.required===true">
                                                <input type='text' name="{{pv.type}}Blur" ng-model='pv.value'
                                                       validator='{{pv.type}}'
                                                       placeholder='{{pv.name}}...' valid-method="blur" required>
                                            </div>
                                        </div>
                                    </div>
                                    <div ng-if="pv.unit_choice.length!=0">
                                        <select class="span2" ng-model="pv.unit">
                                            <option ng-repeat="unit in pv.unit_choice"> {{unit}}
                                            </option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label">Additional Properties:</label>

                                <div class="controls">
                                    <select ng-model="model.additionalProperty"
                                            ng-options="property.name for property in doc.model.additional">
                                    </select>
                                    <button ng-click="addAdditionalProperty()" class="btn btn-info">Add</button>
                                </div>
                            </div>
                    </fieldset>
                </div>
                <div ng-show="doc.template_pick=='sample'" class="form-inline">
                    <cgroup label="Pick Sample:">
                        <i class="fa fa-asterisk" style="color: red"></i>
                        <select ng-model="doc.sample"  valid-method="blur"   name="textBlur"  validator='text'
                                ng-options="samp.model.default[0].value for samp in samples_list"
                                ng-change="pick_sample()" required>
                        </select>
                    </cgroup>
                    <label>Sample:</label> <a>{{ doc.sample.model.default[0].value}}</a>
                </div>
            </div>
        </div>
    </div>
</div>
