<div ng-controller="provenanceIOStepsIOStep">
    <div class="row-fluid">
        <div class="span10">
            <div class="well">
                <div ng-if="doc.template_pick!=='sample'">
                    <fieldset>
                        <legend>Default Properties</legend>
                        <div df-properties default-properties="doc.default_properties"></div>
                    </fieldset>

                    <hr align="left">

                    <legend>Added Properties:</legend>
                    <div ad-properties added-properties="doc.model.added_properties"></div>

                    <div ng-show="doc.additional_properties.length > 0" class="control-group">
                        <label class="control-label">Additional Properties:</label>

                        <div class="controls">
                            <select ng-model="model.additionalProperty"
                                    ng-options="property.name for property in doc.additional_properties">
                            </select>
                            <button ng-click="addAdditionalProperty()" class="btn btn-info">Add</button>
                        </div>
                    </div>
                </div>
                </fieldset>
            </div>
            <div ng-if="doc.template_pick=='sample'">
                <cgroup label="Pick a sample">
                    <i class="fa fa-asterisk" style="color: red"></i>
                    <select ng-model="doc.sample" type="text"
                            ng-options="sample.name for sample in samples_list"
                            ng-change="pick_sample()" required>
                        <option value="">-- Select Samples --</option>

                    </select>
                </cgroup>
                <label>Sample:</label> <a>{{ doc.sample.name}}</a>
            </div>
            <div ng-if="doc.template_pick=='transformed sample'">

            </div>
        </div>
    </div>
</div>
</div>
