<div layout="row" layout-align="start center">
    <h3 class="md-title" ng-if="!$ctrl.renameActive"><i class="fa fa-fw fa-file"></i>{{$ctrl.file.name}}</h3>
    <span ng-if="$ctrl.renameActive">
        <md-input-container md-no-float class="md-input-bottom-0">
            <input type="text" ng-model="$ctrl.newName" on-enter="$ctrl.renameFile()">
            <md-button class="md-primary" ng-click="$ctrl.renameFile()">Done</md-button>
            <md-button class="md-warn" ng-click="$ctrl.newName = ctrl.file.name; $ctrl.renameActive = false">
                Cancel
            </md-button>
        </md-input-container>
    </span>
    <md-button ng-if="!$ctrl.renameActive"
               ng-click="$ctrl.renameActive = !$ctrl.renameActive; $ctrl.newName = $ctrl.file.name"
               class="md-primary">
        rename
    </md-button>
    <md-button ng-if="!$ctrl.renameActive" ng-href="{{$ctrl.downloadSrc()}}" class="md-primary" download="{{$ctrl.file.name}}">
        download
    </md-button>

    <div ng-if="false">
        <li ng-if="!$ctrl.renameActive" class="dropdown">
            <a class="text-uppercase dropdown-toggle small" data-toggle="dropdown">
                link to<span class="caret"></span>
            </a>
            <ul class="dropdown-menu" role="menu">
                <li><a class="text-uppercase" ng-click="$ctrl.linkTo('processes')">processes</a></li>
                <li ng-if="false"><a class="text-uppercase" ng-click="$ctrl.linkTo('samples')">samples</a></li>
                <li ng-if="false"><a class="text-uppercase" ng-click="$ctrl.linkTo('notes')">notes</a></li>
            </ul>
        </li>
        <li ng-if="!$ctrl.renameActive" class="dropdown">
            <a ng-confirm-click="Do you want to delete this file?" ng-click="$ctrl.deleteFile()"
               class="text-uppercase text-danger small">delete</a>
        </li>
    </div>
</div>