<div class="row take-parent-height">
    <div class="col-xs-3 sidebar take-parent-height">
        <div class="row">
            <div class="col-sm-12">
                <a ui-sref="projects.project.processes.create({process: 'As Received', process_id: ''})"
                   class="pull-right">Create New Sample</a>
            </div>
        </div>
        <br>

        <div class="row">
            <div class="col-sm-12">
                <div class="checkbox pull-left" style="margin-top:0;margin-bottom:0">
                    <input type="checkbox" id="sampleGroupCheckbox" ng-change="ctrl.showGroupsChanged()"
                           ng-model="ctrl.showSamplesInGroups" style="margin-top:0">
                    <label for="sampleGroupCheckbox" style="margin-top:0">Show all</label>
                </div>
                <a class="pull-right padding-left-15"
                   ng-class="{'text-muted': ctrl.filterBy !== 'samples'}"
                   ng-click="ctrl.filterBy = 'samples'">
                    Samples
                </a>
                <a class="pull-right padding-left-15"
                   ng-class="{'text-muted': ctrl.filterBy !== 'processes'}"
                   ng-click="ctrl.filterBy = 'processes'">
                    Processes
                </a>
                <a class="pull-right"
                   ng-class="{'text-muted': ctrl.filterBy !== 'all'}"
                   ng-click="ctrl.filterBy = 'all'">
                    All
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <input placeholder="Search all..."
                       class="form-control"
                       ng-model="ctrl.searchText"
                       ng-model-options="{ updateOn: 'default blur', debounce: { default: 200, blur: 0} }">
            </div>
        </div>
        <ul ng-if="ctrl.samples.length !== 0" class="list-group">
            <li class="list-group-item pointer no-padding no-position"
                ng-repeat="s in ctrl.samples | filter:ctrl.showGroupsFilter | orderBy: 'name' | filter:ctrl.sampleFilter"
                ng-class="{active: ctrl.current.id === s.id}"
                ng-click="ctrl.viewSample(s)">
                <p class="heading">{{s.name}}</p>

                <div class="text-muted truncate-text">{{s.description}}</div>
                <div class="row counts">
                    <span popover-placement="right"
                          popover="{{s.processes | byKey: 'does_transform': true | transformProcesses}}"
                          popover-title="Transformations" popover-trigger="mouseenter">
                        <i class="fa fa-fw fa-flask"
                           style="color: #ff5a60;"></i>{{s.transforms}}</span>
                    <span class="padding-left-15"><i data-placement="right" data-toggle="tooltip" title="Files"
                                                     class="fa fa-fw fa-files-o file"></i>{{s.files.length}}  </span>
                    <span class="padding-left-15"><composition properties="s.properties"></composition></span>
                    <span class="pull-right"><i data-placement="right" data-toggle="tooltip" title="Owner"
                                                class="fa fa-fw fa-user"></i>{{s.owner}}</span>
                </div>
            </li>
        </ul>
        <h4 ng-if="ctrl.samples.length === 0" class="text-center text-uppercase">
            No Samples
        </h4>
    </div>
    <div class="col-xs-9 no-padding take-parent-height">
        <div class="take-parent-height" ui-view></div>
    </div>
</div>



