<div>
    <div class="row" style="margin-top: 20px;">
        <div class="col-xs-4">
            <div class="details-sidebar" style="margin-bottom: -900px;padding-bottom: 900px;">
                <div class="row">
                    <div class="col-xs-12" style="margin-top: 10px;">
                        <div class="pull-right"><a ui-sref="projects.project.processes.list"> <i
                                class="fa fa-fw fa-backward"></i> Back to processes list</a></div>
                        <h4 class="text-center process">{{template.name}}</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <label>How would you describe your process?</label>

                        <div class="row">
                            <div class="col-xs-12">
                                {{template.what}}

                            </div>
                        </div>
                        <label>Why did you do this?</label>

                        <div class="row">
                            <div class="col-xs-12">
                                {{template.why}}
                            </div>
                        </div>
                    </div>
                </div>
                <hr class="divider"/>

                <div ng-if="template._type !== 'as_received'" class="row">
                    <div class="col-xs-12">
                        <b>Set Up</b>
                        <ul>
                            <li ng-repeat="setting in template.setup.settings[0].properties"
                                ng-if="setting.property.value">
                                <i>{{setting.property.name}}</i> ::
                                {{setting.property.value}} {{setting.property.unit}}

                            </li>
                        </ul>
                    </div>
                </div>
                <div ng-if="template._type !== 'as_received'" class="row">
                    <hr class="divider"/>

                    <div class="col-xs-8">
                        <b>Samples</b>

                        <div class="row" ng-repeat="sample in template.input_samples">
                            <i class="fa fa-fw fa-paperclip fa-lg" style="color: #919191"></i>
                            <img src="assets/img/splash/sample_icon.png"
                                 style="height: 40px;padding-bottom: 10px;">
                            <a ng-click="openDetails(sample)" class="link pointer"
                               style="padding-left: 15px;">{{sample.name}}</a>

                            <div class="row">
                                <div class="col-xs-offset-2">
                                    <b>Measurements:</b>
                                    <ul>
                                        <li ng-repeat="property in sample.new_properties">
                                            {{property.name}}
                                            <div ng-repeat="measure in property.measures">
                                                <div ng-switch="measure._type">
                                                    <div ng-switch-when="number">
                                                        <span style="padding-left: 30px;"> {{measure.value}} {{measure.unit}}</span>
                                                    </div>
                                                    <div ng-switch-when="string">
                                                        <span style="padding-left: 30px;"> {{measure.value}}</span>
                                                    </div>
                                                    <div ng-switch-when="histogram">
                                                        <a href="" popover="Graph displayed here...."
                                                           popover-title="Particle size distribution">{{measure.name}}
                                                            <i
                                                                    class="fa fa-bar-chart"></i>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                    <ul>
                                        <li ng-repeat="property in sample.properties">
                                            {{property.name}}
                                            <div ng-repeat="measure in property.measures">
                                                <div ng-switch="measure._type">
                                                    <div ng-switch-when="number">
                                                        <span style="padding-left: 30px;"> {{measure.value}} {{measure.unit}}</span>
                                                    </div>
                                                    <div ng-switch-when="string">
                                                        <span style="padding-left: 30px;"> {{measure.value}}</span>
                                                    </div>
                                                    <div ng-switch-when="histogram">
                                                        <a href="" popover="Graph displayed here...."
                                                           popover-title="Particle size distribution">{{measure.name}}
                                                            <i
                                                                    class="fa fa-bar-chart"></i>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                    <hr/>
                                    <b>Files:</b>
                                    <ul>
                                        <li ng-repeat="file in sample.files">
                                            <i class="fa fa-fw fa-paperclip fa-lg" style="color: #919191"></i>
                                            <img src="assets/img/splash/file_icon.png"
                                                 style="height: 30px;padding-bottom: 10px;"> {{file.name}}
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" ng-if="template._type === 'as_received'">
                    <b>New Sample</b>

                    <div style="padding-left: 20px;" class="col-xs-8">

                        <div ng-if="bk.newSample.name">Name: {{bk.newSample.name}}</div>
                        <div ng-if="bk.newSample.description">Description: {{bk.newSample.description}}</div>
                    </div>
                </div>
                <hr class="divider"/>
                <div class="row">
                    <div class="col-xs-8">
                        <b>Files</b>
                        <div class="row" ng-repeat="attachment in template.input_files">
                            <div ng-if="attachment.type === 'datafile'">
                                <i class="fa fa-fw fa-paperclip fa-lg" style="color: #919191"></i>
                                <img src="assets/img/splash/file_icon.png"
                                     style="height: 40px;padding-bottom: 10px;">
                                <a ng-click="openDetails(attachment)" class="link pointer"
                                   style="padding-left: 15px;">{{attachment.name}}</a>

                            </div>
                        </div>
                        <div class="row" ng-repeat="attachment in template.output_files">
                            <div ng-if="attachment.type === 'datafile'">
                                <i class="fa fa-fw fa-paperclip fa-lg" style="color: #919191"></i>
                                <img src="assets/img/splash/file_icon.png"
                                     style="height: 40px;padding-bottom: 10px;">
                                <a ng-click="openDetails(attachment)" class="link pointer"
                                   style="padding-left: 15px;">{{attachment.name}}</a>
                            </div>
                        </div>
                    </div>
                </div>
                <hr class="divider"/>
            </div>
        </div>
        <div class="col-xs-8" stylex="margin-left: 10px;">
            <div class="row">
                <div class="col-xs-8">
                    Name your process
                    <div class="row">
                        <input ng-model="template.name" class="form-control" style="width: 200px;">
                    </div>
                    <br>
                    How would you describe your process?
                    <div class="row">
                        <textarea placeholder="What" ng-model="template.what" class="form-control col-xs-8">
                        </textarea>
                    </div>
                    <br>
                    Why did you do?
                    <div class="row">
                        <textarea placeholder="Why" ng-model="template.why" class="form-control col-xs-8">
                        </textarea>
                    </div>
                    <br>

                    <div ng-if="template._type !== 'as_received'" class="row">
                        <i style="color:#3a9ee3" class="fa fa-plus fa-fw"></i> <span style="color:#3a9ee3"><a
                            ng-click="setUp()">Setup</a></span>
                    </div>
                    <br>
                    <hr class="divider"/>
                    <div ng-if="template._type !== 'as_received'" class="row">
                        <div class="col-xs-12 process headings">Samples</div>
                        <div class="row" style="padding: 15px;">
                            <br>
                            <button ng-click="open('lg', 'samples')"
                                    style="border: 3px dotted #d3d3d3;border-radius: 3px;color: #d3d3d3 "
                                    class="btn btn-default"><i
                                    class="fa fa-fw fa-plus"></i> ADD
                            </button>
                            <br><br>

                            <div class="row" ng-repeat="attachment in template.input_samples">
                                <div ng-if="attachment.type === 'sample'" class="col-xs-12">
                                    <i class="fa fa-fw fa-paperclip fa-lg" style="color: #919191"></i>
                                    <img src="assets/img/splash/sample_icon.png"
                                         style="height: 40px;padding-bottom: 10px;">
                                    <a ng-click="openDetails(attachment)" class="link pointer"
                                       style="padding-left: 15px;">{{attachment.name}}</a>
                                    <span ng-if="!template.does_transform" style="padding-left: 20px">
                                        <i style="color:#3a9ee3" class="fa fa-plus fa-fw"></i> <span
                                            style="color:#3a9ee3"><a
                                            ng-click="addMeasurement(attachment)">Measurement</a></span>
                                    </span>
                                     <span ng-if="template.does_transform" style="padding-left: 20px">
                                        <i style="color:#3a9ee3" class="fa fa-plus fa-fw"></i> <span
                                             style="color:#3a9ee3"><a
                                             ng-click="transformation(attachment)">Transformation</a></span>
                                    </span>
                                    <i ng-click="removeAttachment(attachment, 'samples')"
                                       class="fa fa-fw fa-close pull-right pointer"></i>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="row" ng-if="template._type === 'as_received'">
                        <div class="process headings">Create Sample</div>
                        <br>

                        <div class="col-xs-8">
                            Name your sample
                            <div class="row">
                                <input ng-model="bk.newSample.name" class="form-control" style="width: 200px;">
                            </div>
                            <br>
                            How would you describe your sample?
                            <div class="row">
                                <textarea placeholder="describe your sample" ng-model="bk.newSample.description"
                                          class="form-control col-xs-8">
                                </textarea>
                            </div>
                            <br>
                        </div>
                    </div>
                    <hr class="divider"/>
                    <div class="row">
                        <div class="col-xs-12 process headings">Files</div>
                        <div class="row" style="padding: 15px;">
                            <br>
                            What files are used by this process? <br>
                            <button ng-click="open('lg', 'input_files')"
                                    style="border: 3px dotted #d3d3d3;border-radius: 3px;color: #d3d3d3 "
                                    class="btn btn-default"><i
                                    class="fa fa-fw fa-plus"></i> ADD
                            </button>
                            <br><br>

                            <div class="row" ng-repeat="attachment in template.input_files">
                                <div ng-if="attachment.type === 'datafile'" class="col-xs-12">
                                    <i class="fa fa-fw fa-paperclip fa-lg" style="color: #919191"></i>
                                    <img src="assets/img/splash/file_icon.png"
                                         style="height: 40px;padding-bottom: 10px;">
                                    <a ng-click="openDetails(attachment)" class="link pointer">{{attachment.name}}</a>

                                    <i style="padding-left: 20px;"
                                       ng-click="removeAttachment(attachment, 'input_files')"
                                       class="fa fa-fw fa-close pull-right pointer"></i>

                                    <span style="padding-left: 20px">
                                      <i class="fa fa-link fa-fw sample"></i>
                                        <span><a class="sample"
                                                 ng-click="link = !link">Link Sample</a>
                                        </span>
                                    </span>

                                    <div ng-if="link" class="row">
                                        <select ng-change="linkSample(attachment, 'input_files')"
                                                ng-model="bk.selectedSample"
                                                data-placeholder="Choose Sample"
                                                class="form-control"
                                                ng-options="sample.name for sample in template.input_samples">
                                        </select>
                                    </div>
                                </div>
                            </div>
                            What files are produced by this process?<br>
                            <button ng-click="open('lg', 'output_files')"
                                    style="border: 3px dotted #d3d3d3;border-radius: 3px;color: #d3d3d3 "
                                    class="btn btn-default"><i
                                    class="fa fa-fw fa-plus"></i> ADD
                            </button>
                            <br><br>

                            <div class="row" ng-repeat="attachment in template.output_files">
                                <div ng-if="attachment.type === 'datafile'" class="col-xs-12">
                                    <i class="fa fa-fw fa-paperclip fa-lg" style="color: #919191"></i>
                                    <img src="assets/img/splash/file_icon.png"
                                         style="height: 40px;padding-bottom: 10px;">
                                    <a ng-click="openDetails(attachment)"
                                       class="link pointer">{{attachment.name}}</a>

                                    <i style="padding-left: 20px;"
                                       ng-click="removeAttachment(attachment, 'output_files')"
                                       class="fa fa-fw fa-close pull-right pointer"></i>
                                    <span style="padding-left: 20px">
                                      <i class="fa fa-link fa-fw sample"></i>
                                        <span><a class="sample"
                                                 ng-click="link = !link">Link Sample</a>
                                        </span>
                                    </span>

                                    <div ng-if="link" class="row">
                                        <select ng-change="linkSample(attachment, 'output_files')"
                                                ng-model="bk.selectedSample"
                                                data-placeholder="Choose Sample"
                                                class="form-control"
                                                ng-options="sample.name for sample in template.input_samples">

                                        </select>
                                    </div>

                                </div>
                            </div>
                            <br><br>
                        </div>
                    </div>

                    <div class="row">
                        <br>

                        <div class="col-xs-3">
                            <button ng-click="cancel()"
                                    class="btn-details-container btn btn-default btn btn-cancel">
                                Cancel
                            </button>
                        </div>
                        <div class="col-xs-3">
                            <button ng-click="createProcess()"
                                    class=" btn btn-default btn-process  btn-details-container">Submit
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
