<div ng-if="ctrl.sample.linked_files.length !== 0">
    <span ng-repeat="img in ctrl.images(ctrl.sample.linked_files) | first:3">
        <img ng-click="ctrl.showImage(img)" class="img-thumbnail" height="100" width="100"
             ng-src={{ctrl.fileSrc(img.id)}}>
    </span>

    <div ng-if="ctrl.images(ctrl.sample.linked_files).length > 3">
        <a ui-sref="projects.project.samples.edit({sample_id: ctrl.sample.id})">
            ... more ({{ctrl.images(ctrl.sample.linked_files).length - 3}}) images </a>
    </div>
</div>