<div class="details-main-content" style="border: 2px solid red; ">
    <div class="row" style="padding: 10px;color: #C0C0C0">
        {{current.birthtime | toDateString}}
    </div>
    <div class="row">
        <div class="row">
            <div class="col-xs-8">
                <div class="process headings">Edit Provenance:</div>
                Name your process
                <div class="row">
                    <input ng-model="template.name" class="form-control" style="width: 200px;">
                </div>
                <br>
                How would you describe your process?
                <div class="row">
                        <textarea placeholder="What" ng-model="template.what" class="form-control col-xs-8">
                        </textarea>
                </div>
                <br>
                Why did you do?
                <div class="row">
                        <textarea placeholder="Why" ng-model="template.why" class="form-control col-xs-8">
                        </textarea>
                </div>
                <br>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <div class="process headings">SetUp: {{current.setup[0].name}}</div>
                <ul>
                    <li ng-repeat="property in current.setup[0].setupproperties" ng-if="property.value">
                        {{property.name}} ::
                        <div class="row"><input class="col-xs-2" ng-model="property.value"><input ng-if="property.units" class="col-xs-1" ng-model="property.units"> </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="process headings">Samples:</div>
                <div class="row" ng-repeat="sample in current.samples">
                    <div style="padding-left: 10px;padding-bottom: 20px;line-height: 5px;">
                        <i class="fa fa-fw fa-paperclip fa-lg" style="color: #919191"></i>
                        <img src="assets/img/splash/sample_icon.png" style="height: 40px;padding-bottom: 10px;">
                        <a ng-click="openSample(sample)" class="link" style="padding-left: 15px;">{{sample.name}}</a>
                        <span ng-if="current.does_transform">
                            <span ng-if="sample._type==='in'">
                                  (Before {{current.name}})
                            </span>
                             <span ng-if="sample._type==='out'">
                                 (After {{current.name}})
                             </span>
                        </span>

                        <p style="padding-left: 80px">
                            <small class="text-muted">{{sample.mtime | toDateString}} , {{sample.owner}}</small>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="process headings">Files:</div>
                <div>Files Used:</div>
                <div ng-if="template.files_used.length === 0">
                    --None--
                </div>
                <div ng-repeat="attachment in template.files_used">
                    <div style="padding-left: 10px;padding-bottom: 20px;;line-height: 5px;">
                        <i class="fa fa-fw fa-paperclip fa-lg" style="color: #919191"></i>
                        <img src="assets/img/splash/file_icon.png" style="height: 40px;padding-bottom: 10px;">
                        <a ng-click="openFile(attachment)" class="link"
                           style="padding-left: 15px;">{{attachment.name}}</a>

                        <p style="padding-left: 80px">
                            <small class="text-muted">{{attachment.mtime | toDateString}}, {{attachment.owner}},
                                Size: {{attachment.size}}kb
                            </small>
                        </p>
                    </div>
                </div>

                <div>Files Produced:</div>
                <div ng-if="template.files_produced.length === 0">
                    --None--<br>
                </div>
                <div ng-repeat="attachment in template.files_produced">
                    <div style="padding-left: 10px;padding-bottom: 20px;;line-height: 5px;">
                        <i class="fa fa-fw fa-paperclip fa-lg" style="color: #919191"></i>
                        <img src="assets/img/splash/file_icon.png" style="height: 40px;padding-bottom: 10px;">
                        <a ng-click="openFile(attachment)" class="link"
                           style="padding-left: 15px;">{{attachment.name}}</a>

                        <p style="padding-left: 80px">
                            <small class="text-muted">{{attachment.mtime | toDateString}}, {{attachment.owner}},
                                Size: {{attachment.size}}kb
                            </small>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <br>
        <div class="col-xs-3">
            <button ng-click="cancel()"
                    class="btn-details-container btn btn-default btn btn-cancel">
                Cancel
            </button>
        </div>
        <div class="col-xs-3">
            <button ng-click="done()"
                    ng-disabled="isProcessing" class=" btn btn-default btn-process btn-details-container">Done
            </button>
        </div>
        <br><br>
    </div>
</div>
