<div class="details-main-content">
    <div class="row" style="padding: 10px;color: #C0C0C0">
        {{current.birthtime | toDateString}}
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div>Description about process:</div>
            <div>Reason you performed the process:</div>
            <div>Owner: {{current.owner}}</div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <div class="process headings">SetUp:</div>
            <ul>
                <li>Voltage: 12V</li>
                <li>Strain: 22q</li>
                <li>Pressure: 7 knots</li>
                <li>Current: 43 Amps</li>
            </ul>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <div class="process headings">Samples:</div>
            <div class="row" ng-repeat="sample in process.samples">
                <i class="fa fa-fw fa-paperclip fa-lg" style="color: #919191"></i>
                <img src="assets/img/splash/sample_icon.png"
                     style="height: 40px;padding-bottom: 10px;">
                <a>{{sample.other.name}}</a>

                <div class="row col-xs-offset-1">
                    <div class="col-xs-5">
                        <ul>
                            <li ng-repeat="measure in sample.measurements">{{measure.name}} : {{measure.value}}</li>
                        </ul>
                    </div>
                    <div class="col-xs-5">
                        <ul>
                            <li ng-repeat="attachment in sample.attachments">
                                <i class="fa fa-fw fa-paperclip fa-lg"
                                   style="color: #919191"></i><a>{{attachment.name}}</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="process headings">Files:</div>
            <div>Files Used:  </div>
            <div ng-repeat="attachment in process.files_used">
                <div style="padding-left: 10px;padding-bottom: 20px;;line-height: 5px;">
                    <i class="fa fa-fw fa-paperclip fa-lg" style="color: #919191"></i>
                    <img src="assets/img/splash/file_icon.png" style="height: 40px;padding-bottom: 10px;">
                    <a class="link" style="padding-left: 15px;">{{attachment.other.name}}</a>
                    <p style="padding-left: 80px"><small class="text-muted">{{attachment.other.fullname}}</small></p>
                </div>
            </div>

            <div>Files Produced: </div>
            <div ng-repeat="attachment in process.files_produced">
                <div style="padding-left: 10px;padding-bottom: 20px;;line-height: 5px;">
                    <i class="fa fa-fw fa-paperclip fa-lg" style="color: #919191"></i>
                    <img src="assets/img/splash/file_icon.png" style="height: 40px;padding-bottom: 10px;">
                    <a class="link" style="padding-left: 15px;">{{attachment.other.name}}</a>
                    <p style="padding-left: 80px"><small class="text-muted">{{attachment.other.fullname}}</small></p>
                </div>
            </div>
        </div>
    </div>
</div>
