<div class="modal-header">
    <h3 class="modal-title">Edit {{modal.property.name}}</h3>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-xs-4">
            <strong>X</strong>
            <textarea ng-model="modal.property.value.categories" class="col-xs-10" rows="20"></textarea>
        </div>
        <div class="col-xs-4">
            <strong>Y</strong>
            <textarea ng-model="modal.property.value.values" class="col-xs-10" rows="20"></textarea>
        </div>
    </div>
    <div class="row">
        <div google-chart chart="chartObject"/>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="ok()">Save</button>
    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>
