<div class="modal-header">
    <h3 class="modal-title">{{modal.property.name}}</h3>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-xs-4">
            <strong>Categories</strong>
            <div class="row" ng-repeat="c in categories">
                {{c}}
            </div>
        </div>
        <div class="col-xs-4">
            <strong>Values</strong>
            <div class="row" ng-repeat="v in values">
                {{v}}
            </div>
        </div>
    </div>
    <div class="row">
        <div google-chart chart="chartObject"/>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="ok()">OK</button>
    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>
