<div>
    <md-sidenav md-is-locked-open="true">
        <div>
            This is the navigation controls
        </div>
        <md-content>
            <md-list>
                <md-list-item ng-repeat="process in ctrl.processes">
                    <div class="md-list-item-text" layout="column">
                        <span class="md-title">{{process.name}}</span>
                        <div class="truncate-text" ta-bind ng-model="process.what"></div>
                    </div>
                </md-list-item>
            </md-list>
        </md-content>
    </md-sidenav>
</div>