<div class="row" style="margin-top: 20px;">
    <div class="col-xs-4">
        <div class="details-sidebar">
            <div class="row">
                <div style="text-align: center; margin-top: 20px;">
                    <button ng-click="chooseTemplate()" class="btn-details-container btn-process btn btn-default"> create</button>
                </div>
            </div>
            <ul class="list-group">
                <li class="list-group-item pointer">Atom Probe - 02/04/2015</li>
                <li class="list-group-item pointer">Initial We43 testing</li>
                <li class="list-group-item pointer">As Received Sample MgAl</li>
                <!--<li class="list-group-item pointer"-->
                <!--ng-repeat="process in processes.all | filter:search"-->
                <!--ng-class="{active: current.id === process.id}"-->
                <!--ui-sref="projects.project.process.edit({'process_id': process.id})">-->
                <!--{{process.name}}-->
                <!--</li>-->
            </ul>
        </div>
    </div>
    <div class="col-xs-8" stylex="margin-left: 10px;">
        <div ui-view></div>
    </div>
</div>