<div>
    <form name="measurementsForm" novalidate>
        <div class="modal-header">
            <button type="button" class="close pull-right" ng-click="cancel()" aria-hidden="true">&times;</button>
            <h3 class="modal-title">Choose Measurement for {{modal.sample.name}}</h3>
        </div>
        <br>

        <div class="row" style="padding-left:30px;">
            <input type="text" ng-model="search" class="col-xs-12"
                   placeholder="Search ...">
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-xs-4">
                    <div class="details-sidebar">
                        <ul class="list-group">
                            <li ng-class="{'active': template === chosenProperty}" ng-click="switchProperty(template)"
                                ng-repeat="template in templates | filter:search"
                                class="list-group-item pointer">
                                <div>{{template.name}}</div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-xs-8 details-main-content">
                    <div class="row">
                        <div class="col-xs-10">
                            <p style="padding: 10px;" class="bg-danger" ng-if="message">
                                {{message}}</p>
                            <display-property property="chosenProperty"></display-property>
                            </div>
                        </div>
                    <div ng-if="chosenProperty.name === 'composition'">
                        <div class="col-xs-1">
                            <i ng-click="addNewChoice()" style="color:#3a9ee3" class="fa fa-plus fa-fw"></i>
                        </div>
                        <div class="col-xs-1">
                            <i ng-click="removeChoice($index)" style="color:#e57373" class="fa fa-minus fa-fw"></i>
                        </div>
                    </div>

                    <!--</div>-->
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" ng-click="ok()">OK</button>
            <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
        </div>

    </form>
</div>

