<div>
    <div class="modal-header">
        <h3 class="modal-title">Choose Measurement</h3>
    </div>
    <br>

    <div class="row" style="padding-left:30px;">
        <input type="text" ng-model="search" class="col-xs-12"
               placeholder="Search ...">
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-xs-4">
                <div class="details-sidebar">
                    <ul class="list-group">
                        <li ng-class="{'active': template === chosenProperty}" ng-click="showDetails(template)"
                            ng-repeat="template in templates | filter:search"
                            class="list-group-item pointer">
                            <div>{{template.name}}</div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-xs-8 details-main-content">
                <div>
                    <div class="row" ng-repeat="property in chosenProperty.measures">
                        <div class="col-xs-8">
                            <display-property property="property"></display-property>
                        </div>
                        <div class="col-xs-1">
                            <i ng-click="addNewChoice()" style="color:#3a9ee3" class="fa fa-plus fa-fw"></i>
                        </div>
                        <div class="col-xs-1">
                            <i ng-click="removeChoice($index)" style="color:#e57373" class="fa fa-minus fa-fw"></i>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-3">
                            <button class="btn btn-primary" ng-click="save()">Save</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="ok()">OK</button>
        <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
    </div>
</div>

