<div  class="tab-pane">
    <table class="table">
        <thead>
        <tr>
            <th>Details</th>
            <th>Properties</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="sample in current.samples">
            <td><b>{{sample.name}}</b>
                <div style="padding-bottom: 15px;">
                    <p style="font-size: 12px;padding-bottom: 10px;">
                        {{sample.birthtime | toDateString}}
                        <span style="padding-left: 10px">{{sample.owner}}</span>
                    </p>

                    <p class="text-small">{{sample.description}} </p>
                    <p>
                        <img class="img-thumbnail" height="100" width="100"
                             src="assets/img/img1.jpg">
                        <img class="img-thumbnail" height="100" width="100"
                             src="assets/img/img2.jpg">
                        <img class="img-thumbnail" height="100" width="100"
                             src="assets/img/img3.jpg">
                        ... <a>more</a> (10) files
                    </p>
                </div>
            </td>
            <td>
                <div class="overflow">
                    <ul style="list-style-type: circle;">
                        <li ng-repeat="property in sample.properties">
                            {{property.name}} :
                            <display-measurement project="project"
                                                 measure="property.best_measure[0]"></display-measurement>

                        </li>
                    </ul>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
</div>