<div class="tab-pane active">
    <div ng-if="ctrl.setup.properties.length === 0">
        No Setup information
    </div>

    <table ng-if="ctrl.setup.properties.length !== 0" class="table">
        <thead>
        <tr>
            <th>Name</th>
            <th>Value</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="property in ctrl.setup.properties">
            <td style="height: 0px;"> {{property.name}}</td>
            <td style="height: 0px;">{{property.value}} {{property.unit}}</td>
        </tr>
        </tbody>
    </table>
</div>