<div>
    <div class="modal-header">
        <h3 class="modal-title">SetUp</h3>
    </div>
    <br>

    <div class="modal-body">
        <div class="row">
            <ul>
                <li>Voltage:    <input type="text"></li>
                <li>Pressure: <input type="text"></li>
                <li>Constant: <input type="text"></li>
            </ul>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="ok()">OK</button>
        <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
    </div>
</div>
