<div>
    <div class="modal-header">
        <h3 class="modal-title">Choose Template</h3>
    </div>
    <br>

    <div class="row" style="padding-left:30px;">
        <input type="text" ng-model="search" class="col-xs-12"
               placeholder="Search ...">
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-xs-4">
                <div class="details-sidebar">
                    <ul class="list-group">
                        <li ng-class="{'active': template === selected.item}" ng-click="showDetails(template)"
                            ng-repeat="template in templates | filter:search | byKey: 'template_type': 'process'"
                            class="list-group-item pointer">
                            <div>{{template.id}}</div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-xs-8 details-main-content">
                <b>{{selected.item.id}}</b> is selected...
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="ok()">OK</button>
        <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
    </div>
</div>
