<div>
    <div class="modal-header">
        <h3 class="modal-title">Transformation</h3>
    </div>
    <br>

    <div class="modal-body">
        <div class="row">
            Below are the actions you will have to perform on your sample properties. Each action is explained below <br>

           <b>Is Transformed: </b>  <br>

            <b>Is Not Transformed:</b> <br>
        </div> <br>
        <div class="row">
            <div class="sample headings">Properties</div>
            <ul>
                <li style="padding:10px;" ng-repeat="property in modal.sample.properties">
                    <b>{{property.name}}</b> :
                    <div class="row">
                        <div class="col-xs-offset-1">
                            <ul class="list-inline list-unstyled">
                                <li><input type="radio"  ng-model="property.action" value="is_transformed"><span style="padding-left:30px;">Is Transformed</span>
                                </li>
                                <li><input type="radio" ng-model="property.action" value="is_not_transformed"><span
                                        style="padding-left:30px;">Is Not Transformed</span></li>
                                <!--<li><input type="radio" ng-model="property.action" value="unknown"><span-->
                                <!--style="padding-left:30px;">Unknown</span></li>-->
                            </ul>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-offset-1">
                            Best Measure: <span ng-if="property.best_measure.length !== 0"
                                                style="padding-left: 5px;">
                                    {{property.best_measure[0].value}}  {{property.best_measure[0].units}}</span> <br>
                            Measurements:
                            <ul>
                                <li ng-repeat="measure in property.measurements">
                                    <div>
                                        <display-measurement current-process="modal.item.process_id"
                                                             measure="measure"></display-measurement>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="ok()">OK</button>
        <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
    </div>
</div>