<div class="row detail-content">
    <h3 class="h3custom">{{view.process.name}}</h3>
    <ul class="text-light list-inline">
        <li class="col-lg-3 col-md-3 col-sm-6"><i class="fa fa-calendar"></i>{{view.process.birthtime | toDateString}}
        </li>
        <li class="col-lg-3 col-md-3 col-sm-6"><i class="fa fa-user"></i>{{view.process.owner}}</li>
        <li class="col-lg-3 col-md-3 col-sm-6"><i class="fa fa-code-fork"></i>
            <span ng-if="view.process.does_transform">{{view.process.process_name}} (Transforms)</span>
            <span ng-if="!view.process.does_transform">{{view.process.process_name}}  (Does not Transform)</span></li>
        <li class="pull-right">
            <a class="btn btn-info"
               ui-sref="projects.project.processes.create({process: view.process.process_name, process_id: view.process.id})">
                Create From Process
            </a>
            <a class="btn btn-info"
               ui-sref="projects.project.processes.edit({process_id: view.process.id})">
                Edit
            </a>
            <button ng-if="false" class="btn btn-danger">Delete</button>
        </li>
    </ul>
    <br><br>

    <div class="row">
        <h4 class="h4custom">Details</h4>

        <div class="row">
            <div class="col-xs-2 text-light no-padding">Description</div>
            <div class="col-xs-10 description">{{view.process.what}}</div>
        </div>
    </div>
    <br>

    <div class="row">
        <detail-tabs item="view.process"></detail-tabs>
    </div>
</div>
