<div class="details-main-content">
    <div class="row" style="padding: 10px;color: #C0C0C0">
        {{current.birthtime | toDateString}}
        <button ng-click="view.editProvenance()"
                class="pull-right btn-details-container btn btn-default btn btn-cancel">
            Edit
        </button>
    </div>
    <div class="row">
        <div class="row">
            <div class="col-xs-8">
                <div class="process headings">Details:</div>

                <div class="row"><b>Description about process:</b> <br>
                    {{view.current.what}}
                    <div ng-if="current.what === ''">--None--</div>

                    <div class="row"><b>Reason you performed the process:</b><br>
                        {{view.current.why}}
                        <div ng-if="view.current.why === ''">--None--</div>

                        <div class="row"><b>Owner: </b>{{view.current.owner}}</div>
                        <div class="row"><b>Does Transform: </b>{{view.current.does_transform}}</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="process-tab">
                <ul class="nav nav-tabs">
                    <li class="active" ui-sref-active="active">
                        <a ui-sref="projects.project.processes.list.view.setup"><b><i
                                class="fa fa-fw fa-gear"></i>SETUP</b></a>
                    </li>
                    <li ui-sref-active="active"><a ui-sref="projects.project.processes.list.view.samples"><b><i
                            class="fa fa-fw fa-cubes"></i>SAMPLES</b></a>
                    </li>
                    <li ui-sref-active="active"><a ui-sref="projects.project.processes.list.view.files"><b><i
                            class="fa fa-fw fa-copy"></i>FILES</b></a>
                    </li>
                </ul>
                <div class="tab-content clearfix">
                    <div ui-view=""></div>
                </div>
            </div>
        </div>
    </div>
</div>
