<div ng-controller="account">
    <div class="row-fluid">
        <div class="span8 offset1">
            <form class="form-horizontal">
                <div class="control-group">
                    <label class="control-label" for="inputPassword">Password:</label>

                    <div class="controls">
                        <input type="password" id="inputPassword" placeholder="New Password..." ng-model="new_password">
                        <input type="password" placeholder="Verify Password..." ng-model="verify_new_password">
                    </div>
                </div>
                <div class="control-group">
                    <div class="controls">
                        <button ng-click="changePassword()" class="btn">Change Password</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <hr>

    <div class="row-fluid">
        <div class="span8 offset1">
            <table class="pull-left">
                <tr>
                    <td><h4>API Key:</h4></td>
                    <td>
                        <button ng-click="showApiKey()" class="btn">{{ showHideButton }}</button>
                    </td>
                    <td>
                        <button ng-click="resetApiKey()" class="btn">Reset API Key</button>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span ng-show="showKey">Your current apikey is: {{ apikey }}</span>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>

<div class="row-fluid">
    <div ng-controller="accountGroups">
        <div class="span8 offset2">
            <div>
                <form class="form-inline">
                    <fieldset>
                        <legend>Groups</legend>
                        <button ng-click="createGroup()" class="btn">Create Group</button>
                    </fieldset>
                </form>
                <table class="table table-striped mc-table">
                    <thead>
                    <th>Group</th>
                    <th>Date created</th>
                    <th>Description</th>
                    <th>Owner</th>
                    <th></th>
                    </thead>
                    <tbody>
                    <tr ng-repeat="i in user_groups">
                        <td><b>{{i.name}}</b></td>
                        <td>{{i.birthtime | toDateString}}</td>
                        <td>{{i.description}}</td>
                        <td>{{i.owner}}</td>
                        <td><a ui-sref="account.groupusers({id: i.id})">edit</a></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="row-fluid">
    <div ui-view></div>
</div>