<div ng-controller="MyFormsCreateEditController">
    <div class="row">

        <div class="span4">
            <button class="btn btn-small btn-success" ng-click="saveForm()" id="save-form-button">
                Save
            </button>
            <form class="form-horizontal">

                <input type="text" placeholder="Form Title" id="myforms-title" ng-model="formentry.title">
                <textarea ng-model="formentry.description" rows="3" id="description"
                          placeholder="Enter description of experiment" class="span4"></textarea>

                <div id="myform-drop-point" class="span6" data-drop="true" data-jqyoui-options="" ng-model="newitems"
                     jqyoui-droppable="{multiple:true, onDrop:'newItemDropped'}"
                     style="border:black; box-shadow: 0 0 0 2px black; min-height:75px;margin-top: 20px">
                    <div class="control-group" ng-repeat="item in formentry.entries" data-drag="false"
                         ng-show="item.title">
                        <label class="control-label">{{item.title}}</label>

                        <div class="controls">
                            <ng-switch on="item.type">
                                <input ng-switch-when="text" type="text" placeholder="{{item.title}}">
                                <input ng-switch-when="url" type="url" placeholder="{{item.title}}">
                                <input ng-switch-when="number" type="number" placeholder="{{item.title}}">
                                <input ng-switch-when="date" type="date" placeholder="{{item.title}}">

                                <p ng-switch-default>Unknown {{item.type}}</p>
                            </ng-switch>
                            <button type="button" class="close" ng-click="removeItem($index);">&times;</button>
                            <textarea class="span3" ng-model="item.description" rows=3 placeholder="Description"></textarea>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="row" style="margin-top:20px">
        <div class="span4">
            <ul>
                <li ng-repeat="choice in choices" ng-show="choice.type" data-drag="true"
                    data-jqyoui-options="{revert:'invalid'}" ng-model="choices"
                    jqyoui-draggable="{index:{{$index}}}">
                    <input type="text" ng-model="choice.title" placeholder="title ({{choice.type}})">
                    <!--<input type="text" readonly>-->
                </li>
            </ul>
        </div>
    </div>
</div>

