<div ng-controller="MyFormsListController">
    <div class="row">
        <div class="offset0">
            <a href="#/mylab/myforms/add-form/" class="btn">Add Form</a>

            <h3>MyForms</h3>

            <div class="well">
                <table id="myforms-table" class="table table-striped mc-table-hover table-condensed mc-table">
                    <thead>
                    <tr>
                        <th>Title</th>
                        <th>Description</th>
                    </tr>
                    </thead>
                    <tbody id="myforms-entries">
                    <tr ng-repeat="row in mcdb.rows" ng-click="editForm(row.value._id);"
                        style="cursor:pointer">
                        <td class="mc-form-title">{{row.value.title}}</td>
                        <td class="mc-prop-description"><span>{{row.value.description}}</span>
                            <button type="button" class="close" ng-click="removeForm($index);">&times;</button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
