<div>
    <div ng-repeat="section in $ctrl.state.setup">
        <div ng-if="section.properties.length">
            <!--            <h6 class="md-subhead">Section: {{section.name}}</h6>-->
            <md-table-container>
                <table md-table>
                    <thead md-head>
                    <tr md-row>
                        <th md-column>Name</th>
                        <th md-column>Attribute</th>
                        <th md-column>Value</th>
                        <th md-column>Unit</th>
                    </tr>
                    </thead>
                    <tbody md-body>
                    <tr md-row ng-repeat="attribute in section.properties | orderBy:'name'">
                        <td md-cell>{{attribute.name}}</td>
                        <td md-cell>{{attribute.attribute}}</td>
                        <td md-cell>{{attribute.value}}</td>
                        <td md-cell>{{attribute.unit}}</td>
                    </tr>
                    </tbody>
                </table>
            </md-table-container>
        </div>
    </div>
    <div ng-if="!$ctrl.state.setup.length || $ctrl.state.setup.length === 1 && $ctrl.state.setup[0].properties.length === 0 ">No Setup Properties</div>
</div>