<div layout="column" flex="100" layout-margin>
    <h3 flex="100" class="md-title">Projects Info ({{$ctrl.projectsCount}})</h3>
    <div layout="row" flex layout-margin>
        <div layout="column" flex layout-margin>
            <md-content>
                <md-list>
                    <md-list-item ng-repeat="project in $ctrl.allProjects" >
                        <div>
                            <h3 class="md-subhead">{{project.name}}</h3>
                            <ul>
                                <li>Owner: {{project.owner}}</li>
                                <li>Project id: {{project.id}}</li>
                                <li>Timestamp: {{project.birthtime}}</li>
                            </ul>
                        </div>
                    </md-list-item>
                </md-list>
            </md-content>
        </div>
        <div layout="column" flex layout-margin>
            <md-content>
                <md-list>
                    <md-list-item ng-repeat="user in $ctrl.projectsUserList" >
                        <div>
                            <span>{{user}} has {{$ctrl.projectsUserCount[user]}} projects</span>
                        </div>
                    </md-list-item>
                </md-list>
            </md-content>
        </div>
    </div>
</div>