<div layout="column" flex="100" layout-margin>
    <h3 flex="100" class="md-title">User Info ({{$ctrl.userCount}})</h3>
    <div layout="column" flex>
        <md-content layout="column" flex>
            <md-list>
                <md-list-item ng-repeat="user_record in $ctrl.allUsers" >
                    <div>
                        <h3 class="md-subhead">{{user_record.fullname}} - {{user_record.id}}</h3>
                        <ul>
                            <li>Last login: {{user_record.last_login}}</li>
                            <li>Demo Installed: {{user_record.demo_installed}}</li>
                            <li>Template Admin: {{user_record.tadmin}}</li>
                            <li>Beta User: {{user_record.beta_user}}</li>
                            <li>Affiliation: {{user_record.affiliation}}</li>
                            <li>Preferences - tags: {{user_record.preferences.tags}}</li>
                            <li>Preferences - templates: {{user_record.preferences.templates}}</li>
                        </ul>
                    </div>
                </md-list-item>
            </md-list>
        </md-content>
    </div>
</div>