<div layout="column" flex="100" layout-margin>
    <h3 flex="100" class="md-title">Globus Info</h3>
    <div flex="40" layout-margin ng-if="!$ctrl.globusInfo">
        <em>Waiting for Materials Commons Globus Client to load...</em>
    </div>
    <div flex="40" layout-margin ng-if="$ctrl.globusInfo">
        <p>
        Materials Commons upload account:
            <ul>
                <li>common name = <b>{{$ctrl.globusInfo.upload_user_name}}</b></li>
                <li>unique name = <b>{{$ctrl.globusInfo.upload_user_unique_name}}</b></li>
                <li>id = <b>{{$ctrl.globusInfo.upload_user_id}}</b></li>
            </ul>
        </p>
    </div>
    <md-content layout="column" >
        <div flex="40" layout-margin ng-if="!$ctrl.mcProcessStatusListLoaded">
            <em>Waiting for Materials Commons background process records to load...</em>
        </div>
        <div flex="80" layout-margin ng-if="$ctrl.mcProcessStatusListLoaded">
            <p>
            Materials Commons background process records:
                <span ng-if="($ctrl.mcProcessStatusList.length == 0)">
                    (none)
                </span>
            </p>
            <div ng-if="($ctrl.mcProcessStatusList.length > 0)" layout="column" flex>
                <md-list>
                    <md-list-item ng-repeat="process_record in $ctrl.mcProcessStatusList">
                        <div>
                            <h3 class="md-subhead">{{process_record.description}}</h3>
                            <ul>
                                <li>Status: {{process_record.status}}</li>
                                <li>Timestamp: {{process_record.birthtime}}</li>
                                <li>Status record id: {{process_record.id}}</li>
                                <li>Owner: {{process_record.owner}}</li>
                                <li>Faktory queue: {{process_record.queue}}</li>
                                <li>Globus Endpoint: {{process_record.extras.globus_endpoint}}</li>
                                <li>Base path: {{process_record.extras.transfer_base_path}}</li>
                            </ul>
                        </div>
                    </md-list-item>
                </md-list>
            </div>
        </div>
        <div flex="40" layout-margin ng-if="!$ctrl.ccTaskListLoaded">
            <em>Waiting for Materials Commons Globus task status list to load...</em>
        </div>
        <div flex="80" layout-margin ng-if="$ctrl.ccTaskListLoaded">
            <p>
            Materials Commons Globus task status list entries:
                <span ng-if="$ctrl.ccTaskList.length == 0">(none)</span>
            </p>
            <div ng-if="$ctrl.ccTaskList.length > 0" layout="column" flex>
                <md-list>
                    <md-list-item ng-repeat="task in $ctrl.ccTaskList">
                        <div>
                            <h3 class="md-subhead">{{task.description}}</h3>
                            <ul>
                                <li>Label: {{task.label}}</li>
                                <li>Status: {{task.status}}</li>
                                <li>Record id: {{task.task_id}}</li>
                                <li>Owner id: {{task.owner_id}}</li>
                                <li>Timestamp: {{task.request_time}}</li>
                                <li>Source Endpoint:</li>
                                <ul>
                                    <li>Name: {{task.source_endpoint_display_name}}</li>
                                    <li>Endpoint id: {{task.source_endpoint_id}}</li>
                                </ul>
                                <li>Directories: {{task.directories}}</li>
                                <li>Files: {{task.files}}</li>
                                <ul>
                                    <li>Transferred: {{task.files_transferred}}</li>
                                    <li>Skipped: {{task.files_skipped}}</li>
                                </ul>
                            </ul>
                        </div>
                    </md-list-item>
                </md-list>
            </div>
        </div>
    </md-content>
</div>