<div layout="column" layout-fill layout-align="start stretch" layout-margin style="padding-right: 15px">
    <md-tabs md-stretch-tabs md-border-bottom md-dynamic-height>
        <md-tab>
            <md-tab-label>
                Samples
            </md-tab-label>
            <md-tab-body>
                <h3>Dataset: DS5</h3>
                <div layout="row">
                    <md-button class="md-primary" ng-disabled="$ctrl.editTable">
                        <i class="fa fa-fw fa-plus"></i>Add Existing Samples
                    </md-button>
                    <md-button class="md-primary" ng-disabled="$ctrl.editTable">
                        <i class="fa fa-fw fa-plus"></i>Create New Samples
                    </md-button>
                    <md-button class="md-warn" ng-click="$ctrl.handleRemoveSelectedSamples()" ng-disabled="$ctrl.editTable">
                        <i class="fa fa-fw fa-trash"></i>Remove Selected Samples
                    </md-button>
                    <span flex="5"></span>
                    <md-button class="md-primary" ng-click="$ctrl.editTable = true" ng-show="!$ctrl.editTable">
                        <i class="fa fa-fw fa-table"></i>Edit Table
                    </md-button>
                    <md-button class="md-primary" ng-click="$ctrl.finishEditingTable()" ng-show="$ctrl.editTable">
                        <i class="fa fa-fw fa-table"></i>Done Editing Table
                    </md-button>
                    <span flex="5"></span>
                    <md-button class="md-primary" ng-disabled="$ctrl.editTable">
                        <i class="fa fa-fw fa-site-map"></i>View As Workflow
                    </md-button>
                </div>
                <!--<div layout="row" ng-showx="!$ctrl.grouped" ng-if="false">-->
                <!--<md-button class="md-primary" ng-click="$ctrl.grouped = true">-->
                <!--<i class="fa fa-fw fa-compress"></i>Group by same processes-->
                <!--</md-button>-->
                <!--<md-button class="md-primary" ng-click="$ctrl.grouped = true">-->
                <!--<i class="fa fa-fw fa-compress"></i>Group by same processes and parameters-->
                <!--</md-button>-->
                <!--</div>-->
                <!--<div layout="row" ng-show="$ctrl.grouped" ng-if="false">-->
                <!--<md-button class="md-primary" ng-click="$ctrl.grouped = false">-->
                <!--<i class="fa fa-fw fa-expand"></i>Ungroup-->
                <!--</md-button>-->
                <!--</div>-->
                <mc-workflow-table ng-if="!$ctrl.grouped"
                                   headers="$ctrl.headers"
                                   samples="$ctrl.samples2"
                                   edit-table="$ctrl.editTable"
                                   on-sample-process-change="$ctrl.handleUpdateStateOfProcessInSample(sampleIndex, processIndex, state)"
                                   on-delete-process="$ctrl.handleDeleteProcess(index)">
                </mc-workflow-table>
                <mc-workflow-as-table-grouped ng-if="$ctrl.grouped"></mc-workflow-as-table-grouped>
            </md-tab-body>
        </md-tab>
        <md-tab>
            <md-tab-label>Files</md-tab-label>
            <md-tab-body>
                <mc-p-project-dataset-files></mc-p-project-dataset-files>
            </md-tab-body>
        </md-tab>
        <md-tab>
            <md-tab-label>Details</md-tab-label>
            <md-tab-body>
                <mc-p-project-dataset-details layout="column" flex layout-fill></mc-p-project-dataset-details>
            </md-tab-body>
        </md-tab>
    </md-tabs>
</div>