<div ng-controller="projectProvenanceProcess">
    <div class="row"><br>
        <form name="Form" class="form-horizontal">
            <cgroup label="Process Type:">
                <div class="btn-group">
                    <button  type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                        Choose process <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li ng-repeat="p in preferred_templates">
                        <a ng-click="change_process(p.id)">{{p.template_name}}</a>
                        </li>
                        <li class="divider"></li>
                        <li class="dropdown-submenu" >
                            <a  href="#">Experiment</a>
                            <ul class="dropdown-menu scrollable-menu" >
                                <li ng-repeat="exp_temp in experimental_templates">
                                <a ng-click="change_process(exp_temp.id)">{{exp_temp.template_name}}</a>
                                </li>
                            </ul>
                        </li>
                        <li class="dropdown-submenu">
                            <a  href="#">Computation</a>
                            <ul class="dropdown-menu scrollable-menu" >
                                <li ng-repeat="comp_temp in computational_templates">
                                    <a ng-click="change_process(comp_temp.id)">{{comp_temp.template_name}}</a>
                                </li>

                            </ul>
                        </li>
                    </ul>
                </div>
            </cgroup>

            <div ng-show="doc.template">
                <div upperlevel-process="" doc="doc" bk="bk" edit="false"></div>
                <div df-properties="" default-properties="doc.default_properties" label-size="2" machines-list="machines_list"></div>
                <div ad-properties="" label-size="2" doc="doc" additional-properties="doc.template.additional_properties" edit="false"
                     bk="bk"></div>
            </div>
            <div class="row">
                <button ng-click="next(Form)" class="btn btn-default btn-primary">Next</button>
                <button ng-click="saveDraft(Form)" class="btn btn-default btn-success">Save Draft</button>

                <div ng-show="message" class="col-sm-4 col-md-4">
                    <div class="alert alert-dismissable alert-info">
                        <button type="button" class="close" data-dismiss="alert">×</button>
                        {{message}}
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>