<div class="container-fixed" ng-controller="reviews">
    <h4>Requested Reviews</h4>

    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="row">
                    <span class="col-lg-6">
                        <i class="fa fa-check-circle review-open"></i><a
                            ng-click="showReviews('open')">{{requested_open_reviews.length}} open</a><i
                            class="fa fa-minus-circle review-close"></i><a
                            ng-click="showReviews('close')">{{requested_closed_reviews.length}} closed</a>
                    </span>
                  <span class="col-lg-3">
                        Assigned to
                    </span>
                 <span class="col-lg-3">
                        Directory/Data Item
                    </span>

            </div>
        </div>
    </div>
    <div>
        <table class="table  table-file-directory ">
            <tbody>
            <tr ng-click="viewReview(review)" ng-repeat="review in reviewsRequested" class="cursor:pointer">
                <td ng-if="review.status==='open'"><input type="checkbox"><i class="fa fa-check-circle review-open"></i>
                </td>
                <td ng-if="review.status==='close'"><input type="checkbox"><i
                        class="fa fa-minus-circle review-close"></i>
                </td>
                <td> {{review.title}}<p class="text-muted sub-text">{{review.author}}
                    {{review.birthtime | toDateString}}</p>
                </td>
                <td>{{review.assigned_to}}</td>
                <td ng-if="review.messages.length === 1"></td>
                <td ng-if="review.messages.length != 1"><i class="fa fa-comment"></i> {{review.messages.length -1}}</td>
                <td>{{review.item_name}}</td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="row" ng-if="reviewsRequested.length === 0">
        <p ng-show="status === 'open'" class="text-muted">No Open Reviews</p>

        <p ng-show="status === 'close'" class="text-muted">No Closed Reviews</p><br>
    </div>
    <br>
    <h4>Conduct Reviews</h4>

    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="row">
                    <span class="col-lg-8">
                        <i class="fa fa-check-circle review-open"></i><a
                            ng-click="showReviews('open')">{{conduct_open_reviews.length}} open</a><i
                            class="fa fa-minus-circle review-close"></i><a
                            ng-click="showReviews('close')">{{conduct_closed_reviews.length}} closed</a>
                    </span>
                    <span class="col-lg-3">
                        Assigned to
                    </span>
            </div>
        </div>
    </div>
    <div>
        <table class="table  table-file-directory ">
            <tbody>
            <tr ng-click="viewReview(review)" ng-repeat="review in reviewsToConduct" class="cursor:pointer">
                <td ng-if="review.status==='open'"><input type="checkbox"><i class="fa fa-check-circle review-open"></i>
                </td>
                <td ng-if="review.status==='close'"><input type="checkbox"><i
                        class="fa fa-minus-circle review-close"></i>
                </td>
                <td> {{review.title}}<p class="text-muted sub-text">{{review.author}}
                    {{review.birthtime | toDateString}}</p>
                </td>
                <td>{{review.assigned_to}}</td>
                <td ng-if="review.messages.length === 1"></td>
                <td ng-if="review.messages.length != 1"><i class="fa fa-comment"></i> {{review.messages.length -1}}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
