<div layout-margin layout="row">
    <form name="form">
        <div style="margin-left: 12px; margin-bottom: 8px;">
            Upload files to directory <b>{{$ctrl.path}}</b>
        </div>
        <div ngf-select ngf-multiple="true" ngf-drop ngf-keep="'distinct'"
             ng-model="$ctrl.files" class="drop-box pointer text-uppercase">
            select or drop files
        </div>
    </form>
    <div>
        <div layout="row">
            <md-button class="md-warn" ng-show="$ctrl.files.length !== 0" ng-click="$ctrl.files.length = 0">
                Remove All
            </md-button>
            <md-button type="submit" class="md-primary" ng-click="$ctrl.submit()" ng-disabled="$ctrl.files.length === 0">
            upload selected files
        </md-button>
        </div>
        <ul class="no-bullets">
            <li ng-repeat="file in $ctrl.files" class="margin-top-10">
                <a ng-click="$ctrl.remove($index)" class="mc-error-color">
                    <i class="fa fa-fw fa-remove"></i>
                </a>
                {{file.name}}
                <div class="preview">
                    <img ngf-src="file">
                </div>
                <hr/>
            </li>
        </ul>
    </div>
</div>