<div class="details-main-content">
    <div class="row" style="color: #d3d3d3;">
        {{today.toString()}}
    </div>
    <div class="row">
        <div class="col-xs-4">
            <div class="headings">Assign To</div>
            <div class="row">
                <select ng-change="addUser()" ng-model="selectedUser" data-placeholder="Choose Assignee"
                        class="form-control"
                        validator="required">
                    <option ng-repeat="user in project.users">{{ user.user_id }}</option>
                </select>
            </div>
            <br>

            <div ng-repeat="each_user in model.assigned_to">
                  <span class="fa-stack fa-lg">
                <i style="color: #C0C0C0" class="fa fa-circle fa-stack-2x"></i>
                <i style="color: white;" class="fa fa-user fa-stack-1x"></i>
                </span>
                <span class="who"> {{each_user}}</span> <i ng-click="removeUser(each_user)" style="padding-left: 30px;"
                                                           class="fa fa-fw fa-close"></i>
            </div>

        </div>
    </div>
    <hr class="divider"/>
    <div class="row">
        <div class="col-xs-12 headings">Attachment</div>
        <div class="row" style="padding: 15px;">
            <br>
            <button data-toggle="modal" data-target=".bs-example-modal-lg"
                    style="border: 3px dotted #d3d3d3;border-radius: 3px;color: #d3d3d3 " class="btn btn-default"><i
                    class="fa fa-fw fa-plus"></i> ADD
            </button>
            <br><br>

            <div class="row" ng-repeat="attachment in model.attachments">
                <div class="col-xs-5">
                    <i class="fa fa-fw fa-paperclip fa-lg" style="color: #919191"></i>
                    <a class="link pointer">{{attachment.name}}</a>
                </div>
            </div>
        </div>


    </div>
    <hr class="divider"/>
    <div class="row">
        <div class="col-xs-12 headings">Message</div>
        <div class="col-xs-8">
            <input placeholder="SUBJECT" class="form-control" ng-model="model.title"><br>
            <text-angular ta-toolbar="[['h2', 'h5', 'h6', 'quote','bold','italics','underline'],
                              ['ul','ol', 'justifyLeft', 'insertLink', 'insertImage']]"
                          ng-model="model.comment"></text-angular>
        </div>
    </div>
    <div class="row">
        <br>

        <div class="col-xs-3">
            <button class="btn btn-danger">Cancel</button>
        </div>
        <div class="col-xs-3">
            <button class=" btn btn-default btn-review  btn-details-container">Send</button>
        </div>
    </div>
</div>

<div class="modal fade bs-example-modal-lg" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Attachments</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs" role="tablist" id="myTab">
                        <li class="active"><a data-target="#1" data-toggle="tab">Files</a></li>
                        <li><a data-target="#2" data-toggle="tab">Samples</a></li>
                        <li><a data-target="#3" data-toggle="tab">Processes</a></li>

                    </ul>
                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div class="tab-pane active" id="1">
                            <div style="padding: 10px;">
                                <div modal-files project="project"></div>
                            </div>
                        </div>
                        <div class="tab-pane" id="2">
                            <div style="padding: 10px;">

                                <div home-samples project="project"></div>
                            </div>
                        </div>
                        <div class="tab-pane" id="3">
                            <div style="padding: 10px;">

                                <div modal-processes project="project"></div>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>