<div class="row info-box">
    <div class="col-xs-12">
        <form name="Form" class="form-horizontal">
            <div class="form-group">
                <label class="control-label col-xs-3">Review Title: <i class="fa fa-asterisk"></i></label>

                <div class="col-xs-6">
                    <input name="title" validator="required"  ng-model="model.title" class="form-control" type="text" placeholder="Title...">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-xs-3">Assign To:<i class="fa fa-asterisk"></i></label>

                <div class="col-xs-6">
                    <select class="form-control" ng-model="model.assigned_to" name="assign_to" validator="required">
                        <option disabled>-- Assign to --</option>
                        <option ng-repeat="user in project.users">{{ user.user_id }}</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-xs-3">Comment:</label>

                <div  class="col-xs-8">
                    <text-angular ta-toolbar="[['h2', 'h5', 'h6', 'quote','bold','italics','underline'],
                              ['ul','ol', 'justifyLeft', 'insertLink', 'insertImage']]"
                                  ng-model="model.comment"></text-angular>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-xs-3">Select/Drag items:</label>

                <div class="col-xs-8">
                    <div ng-show="model.files.length == 0">
                        <p class="text-muted"> None </p>
                    </div>
                    <div ng-repeat="item in model.files">
                        {{item.fullname}}
                        <button type="button" class="close" ng-click="removeFile($index);">&times;</button>
                    </div>
                </div>
            </div><br>
            <div class="form-group">
                <label class="control-label col-xs-3"></label>
                <button validation-submit="Form" ng-click="create()" class="btn btn-xs btn-mini btn-primary">Create</button>
                <button ng-click="cancel()" class="btn btn-xs btn-mini btn-danger">Cancel</button>
            </div>
        </form>
    </div>
</div>
