<div class="col-lg-offset-2" ng-show="review !== ''">
    <div class="row">
        <div class="col-lg-10">
            <strong style="font-size:20px;">{{review.title}}</strong>

            <p class="text-muted"> author: {{review.author}}
                    <span ng-if="review.status==='open'"><button class="btn btn-success"><i
                            class="fa fa-check-circle"></i>open
                    </button></span>
                    <span ng-if="review.status==='closed'"><button class="btn btn-danger"><i
                            class="fa fa-minus-circle"></i>closed
                    </button></span>
            </p>
            <hr style="border: 1px dashed grey">
        </div>
    </div>
    <div class="row" ng-repeat="row in review.messages | orderBy: date">
        <div class="col-lg-2 text-muted sub-text">
            {{row.date | date:'short'}} --- {{row.who}}
        </div>
        <div class="col-lg-8">
            <div ng-if="edit_index!==$index">
                <div class="tip left" ta-bind ng-model="row.message"></div>
                <a ng-click="editReview($index)">edit</a>
            </div>
            <div ng-if="edit_index==$index">
                <text-angular ta-toolbar="[['h1','h2','h3', 'h4', 'h5', 'h6','p', 'quote'],
                                  ['bold','italics','underline','ul','ol'],['undo', 'redo','clear'],
                                  ['justifyLeft','justifyCenter','justifyRight'], ['insertLink', 'insertImage']]"
                              ng-model="row.message"></text-angular>
                <br>
                <button ng-click="saveReview($index)" class="btn btn-default btn-primary">Save</button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4">
            <h4><u>Review these items:</u></h4>
            <p class="text-muted" ng-show="review.items.length == 0">None</p>
            <ul class="cursor-pointer" ng-repeat="i in review.items">
                <li data-toggle="tooltip" data-placement="bottom" title="Path: {{i.path}}">{{i.name}}</li>
            </ul>
        </div>
        <div class="col-lg-6">
            <div class="custom-ta-toolbar">
                <h4>Comment:</h4>
                <text-angular ta-toolbar="[['h1','h2','h3', 'h4', 'h5', 'h6','p', 'quote'],
                                  ['bold','italics','underline','ul','ol'],['undo', 'redo','clear'],
                                  ['justifyLeft','justifyCenter','justifyRight'], ['insertLink', 'insertImage']]"
                              ng-model="model.comment"></text-angular>
                <div ng-if="review.status=='open'">
                    <button ng-click="addComment()" class="btn btn-default btn-primary">Comment</button>
                    <button ng-click="closeReview()" class="btn btn-default btn-danger">Close Review</button>
                </div>
                <div ng-if="review.status=='closed'">
                    <button ng-click="addComment()" class="btn btn-default btn-primary">Comment</button>
                    <button ng-click="reOpenReview()" class="btn btn-default btn-danger">Reopen Review</button>
                </div>
            </div>
        </div>


    </div>
    <!--</div>-->
</div>
