<div>
    <div class="modal-header">
        <h3 class="modal-title">Attachments</h3>
    </div>
    <div class="modal-body">
        <div class="row">
            <!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist" id="myTab">
                <li class="active"><a data-target="#1" data-toggle="tab">Files</a></li>
                <li><a data-target="#2" data-toggle="tab">Samples</a></li>
                <li><a data-target="#3" data-toggle="tab">Processes</a></li>
            </ul>
            <!-- Tab panes -->
            <div class="tab-content">
                <div class="tab-pane active" id="1">
                    <div style="padding: 10px;">
                        <div modal-files project="project"></div>
                    </div>
                </div>
                <div class="tab-pane" id="2">
                    <div style="padding: 10px;">
                        <div home-samples project="project"></div>
                    </div>
                </div>
                <div class="tab-pane" id="3">
                    <div style="padding: 10px;">
                        <div modal-processes project="project"></div>
                    </div>
                </div>
            </div>
            </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="ok()">OK</button>
        <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
    </div>
</div>
