<div>
    <div class="row">
        <div class="col-xs-12">
            <ul class="list-inline menu-bar">
                <li ng-class="{active: type === 'my_reviews'}">
                    <i class="fa fa-fw fa-user"></i>
                    <a class="text-uppercase" ng-click="listReviewsByType('my_reviews')">
                        My Reviews
                    </a>
                </li>
                <li ng-class="{active: type === 'due'}">
                    <i class="fa fa-fw fa-exclamation-circle text-danger"></i>
                    <a class="text-uppercase" ng-click="listReviewsByType('due')">
                        Due
                    </a>
                </li>

                <li ng-class="{active: type === 'all'}">
                    <i class="fa fa-fw fa-list"></i>
                    <a class="text-uppercase" ng-click="listReviewsByType('all')">
                        all
                    </a>
                </li>
                <li ng-class="{active: type === 'closed'}">
                    <i class="fa fa-fw fa-archive"></i>
                    <a class="text-uppercase" ng-click="listReviewsByType('closed')">
                        Archived
                    </a>
                </li>
            </ul>
        </div>

        <div class="row">
            <div class="col-xs-4 card card-dark card-left card-side-bar">
                <div class="row">
                    <div class="card-header text-center">
                        <button ui-sref="projects.project.reviews.create"
                                class="btn-review btn btn-default btn-attention"> create
                        </button>
                    </div>
                </div>
                <ul ng-if="reviews.length !== 0" class="list-group">
                    <li class="list-group-item pointer"
                        ng-repeat="r in reviews"
                        ng-class="{active: review.id === r.id}"
                        ui-sref="projects.project.reviews.edit({'review_id': r.id})">
                        <h4 class="list-group-item-heading">{{r.title}}</h4>
                        <span class="pull-right">
                            <i class="fa fa-fw fa-comment"></i>{{r.messages.length}}
                        </span>
                        <p>{{r.title}}</p>
                    </li>
                </ul>

                <h4 ng-if="reviews.length === 0" class="text-center text-uppercase">
                    {{noReviewsMessage}}
                </h4>
            </div>
            <div class="col-xs-8 card-right no-padding">
                <div ui-view></div>
            </div>
        </div>
    </div>
</div>