<div><br>
    <div class="row">
        <div class="col-xs-3">
            <button class="btn btn-info">Create</button>
        </div>
        <div class="col-xs-4 pull-right">
            <div class="form-group has-feedback">
                <input style="padding-left: 35px;" ng-model="search" placeholder="Search Reviews..."
                       class="form-control">
                <span style="left: 0;padding-left: 10px;" class="fa fa-fw fa-search form-control-feedback"></span>
            </div>
        </div>
    </div>
    <div class="row" style="border: 1px solid #757575; height: 600px;display: block;">
        <div class="row" style="height:50px; background-color: #EFEFEF;border-bottom: 1px solid #d3d3d3">
            <div class="col-xs-1" style="padding-top: 12px;color:#757575">
                <b><a ng-class="{underline: type === 'all_reviews'}"
                      ng-click="listReviewsByType('all_reviews')">All Reviews</a></b>
            </div>
            <div class="col-xs-1" style="padding-top: 12px;color:#757575">
                <b><a ng-class="{underline: type === 'my_reviews'}"
                      ng-click="listReviewsByType('my_reviews')">My Reviews</a></b>
            </div>
            <div class="col-xs-1" style="padding-top: 12px;color:#757575">
                <b><a ng-class="{underline: type === 'closed_reviews'}"
                      ng-click="listReviewsByType('closed_reviews')">Closed Reviews</a></b>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-3 sidebar-wrapper">
                <ul class="list-group" style="margin-left: -10px; margin-right: -10px;">
                    <li class="list-group-item pointer"
                        ng-repeat="each_review in reviews | filter:search | event: project.date: project.nextdate as reviews"
                        ng-class="{active: review.id === each_review.id}"
                        ui-sref="projects.project.reviews.edit({'review_id': each_review.id})">
                        <span class="pull-right" style="color: gray;"><i class="fa fa-fw fa-comments-o"></i>
                            {{each_review.messages.length}} </span>
                        <i ng-class="{'fa fa-circle review-open': each_review.status === 'open',
                        'fa fa-minus-circle review-closed': each_review.status === 'closed'}"></i> {{each_review.title}}<span
                            style="color: gray; padding-left: 8px;">
                        {{(each_review.messages[(each_review.messages.length -1)].date)}}</span>
                    </li>
                </ul>
            </div>
            <div ui-view></div>
        </div>
    </div>
</div>
