<div layout="row" layout-fill layout-align="start stretch">
    <md-sidenav md-is-locked-open="true" flex="30" layout="column" layout-margin>
        <label>Project Description</label>
        <div md-whiteframe layout-margin>
            <div ckeditor="editorOptions"
                 ng-model="$ctrl.project.description"
                 ng-model-options="{debounce: 500}"
                 ng-change="$ctrl.updateProjectDescription()"
                 contenteditable="true">
                {{$ctrl.project.description}}
            </div>
        </div>
    </md-sidenav>
    <div layout="column" flex layout-margin>
        <div layout="row" layout-align="center center">
            <md-radio-group layout="row" class="text-uppercase" ng-model="$ctrl.whichExperiments">
                <md-radio-button value="active" class="md-primary">Active Experiments</md-radio-button>
                <md-radio-button value="done" class="md-primary">Completed Experiments</md-radio-button>
                <md-radio-button value="on-hold" class="md-warn">On Hold Experiments</md-radio-button>
            </md-radio-group>
        </div>
        <md-column layout="column" layout-align="start stretch" flex>
            <div layout="row" layout-wrap>
                <!--<div flex="45" flex-md="60" flex-sm="60"-->
                <!--ng-repeat="experiment in $ctrl.experiments | filter:{status: $ctrl.whichExperiments} | orderBy:'name'">-->
                <md-card flex="45" flex-md="60" flex-sm="60"
                         ng-repeat="experiment in $ctrl.experiments | filter:{status: $ctrl.whichExperiments} | orderBy:'name'"
                         class="experiment-card"
                         ui-sref="project.experiment.tasks({experiment_id: experiment.id})">
                    <md-card-header>
                        <md-card-avatar>
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x mc-md-primary-color"></i>
                                    <i class="fa fa-flask fa-stack-1x fa-inverse"></i>
                                </span>
                        </md-card-avatar>
                        <md-card-header-title>
                            <span class="md-title">{{experiment.name}}</span>
                        </md-card-header-title>
                    </md-card-header>
                    <md-card-title>
                        <md-card-title-text>
                            <span class="md-subhead">{{experiment.description}}</span>
                        </md-card-title-text>
                    </md-card-title>
                </md-card>
                <!--</div>-->
            </div>
            <!--<md-divider></md-divider>-->
            <!--<div>-->
            <!--<mc-project-samples samples="$ctrl.project.samples"></mc-project-samples>-->
            <!--</div>-->
        </md-column>
    </div>
</div>