<label>Reminders</label>
<md-button ng-click="$ctrl.addReminder()" class="md-primary">
    <i class="fa fa-fw fa-plus"></i>add reminder
</md-button>
<div layout="column" flex="100">
    <div layout="row" flex class="padding-left-15" ng-repeat="reminder in $ctrl.project.reminders track by $index">
        <textarea class="mc-text-area" type="text"
                  placeholder="Reminder..."
                  ng-model-options="{updateOn: 'default blur', debounce:{default: 1000, blur: 0}}"
                  ng-change="$ctrl.updateReminders()"
                  ng-model="reminder.note" flex="95"></textarea>
        <a class="mc-error-color margin-top-10" ng-click="$ctrl.removeReminder($index)">
            <i class="fa fa-fw fa-remove"></i>
        </a>
    </div>
</div>
