<div layout="row" layout-fill layout-align="start stretch">
    <div flex="30" layout="column" layout-margin>
        <div layout="row" layout-align="start center">
            <span class="md-title">{{$ctrl.project.name}}</span>
            <md-button ng-click="$ctrl.renameProject()" class="md-primary">rename project</md-button>
        </div>
        <div layout="column">
            <label>Description</label>
            <textarea class="mc-text-area md-subhead" type="text"
                      rows="3"
                      placeholder="Add short project description..."
                      ng-model-options="{updateOn: 'default blur', debounce:{default: 1000, blur: 0}}"
                      ng-change="$ctrl.updateProjectDescription()"
                      ng-model="$ctrl.project.description"></textarea>
        </div>
        <mc-project-home-reminders project="$ctrl.project" style="margin:0"></mc-project-home-reminders>
        <label>Project Overview</label>
        <div md-whiteframe="10" layout-margin>
            <div ckeditor="editorOptions"
                 class="md-subhead"
                 ng-model="$ctrl.project.overview"
                 ng-model-options="{updateOn: 'default blur', debounce:{default: 1000, blur: 0}}"
                 ng-change="$ctrl.updateProjectOverview()"
                 contenteditable="true">
                {{$ctrl.project.overview}}
            </div>
        </div>
    </div>
    <div layout="column" flex layout-margin>
        <div layout="row" layout-align="center center">
            <md-radio-group layout="row" class="text-uppercase" ng-model="$ctrl.experimentType">
                <md-radio-button value="active" class="md-primary">Active Experiments</md-radio-button>
                <md-radio-button value="done" class="md-primary">Completed Experiments</md-radio-button>
                <md-radio-button value="on-hold" class="md-warn">On Hold Experiments</md-radio-button>
            </md-radio-group>
        </div>
        <div layout="row" layout-align="start center">
            <md-button class="md-primary md-raised" ng-click="$ctrl.startNewExperiment()">
                <i class="fa fa-fw fa-plus"></i> Start New Experiment
            </md-button>
            <md-button class="md-primary md-raised" ng-click="$ctrl.startExperimentsMerge()"
                       ng-if="!$ctrl.mergingExperiments">
                <i class="fa fa-fw fa-compress"></i>Merge Experiments
            </md-button>
            <md-button ng-if="$ctrl.mergingExperiments" ng-click="$ctrl.finishExperimentsMerge()"
                       class="md-raised md-warn">
                Merge Selected
            </md-button>
        </div>
        <div layout="row" layout-wrap>
            <mc-experiment-overview experiment="experiment" flex="50" flex-md="70" flex-sm="70" flex-xs="100"
                                    layout-wrap
                                    layout="row"
                                    ng-click="$ctrl.goOrSelectExperiment(experiment)"
                                    class="cursor-pointer"
                                    style="min-width:500px"
                                    ng-repeat="experiment in $ctrl.experiments | filter:{status: $ctrl.experimentType} | orderBy:'name'">
            </mc-experiment-overview>
        </div>
    </div>
</div>
