<div layout="row" layout-fill layout-align="start stretch">
    <!--<mc-project-sidenav></mc-project-sidenav>-->
    <div layout="row" layout-fill>
        <div layout="column" flex layout-margin>
            <div layout="row" layout-align="center center">
                <md-radio-group layout="row" class="text-uppercase" ng-model="$ctrl.experimentType">
                    <md-radio-button value="active" class="md-primary">Active Experiments ({{$ctrl.activeExperimentsCount}})</md-radio-button>
                    <md-radio-button value="done" class="md-primary">Completed Experiments ({{$ctrl.doneExperimentsCount}})</md-radio-button>
                    <md-radio-button value="on-hold" class="md-warn">On Hold Experiments ({{$ctrl.onholdExperimentsCount}})</md-radio-button>
                </md-radio-group>
            </div>
            <div layout="row" layout-align="start center">
                <md-button class="md-primary md-raised" ng-click="$ctrl.startNewExperiment()"
                           ng-disabled="$ctrl.mergingExperiments || $ctrl.deletingExperiments">
                    <i class="fa fa-fw fa-plus"></i> Start New Experiment
                </md-button>
                <md-button class="md-primary md-raised" ng-click="$ctrl.startExperimentsMerge()"
                           ng-disabled="$ctrl.deletingExperiments"
                           ng-if="!$ctrl.mergingExperiments">
                    <i class="fa fa-fw fa-compress"></i>Merge Experiments
                </md-button>
                <md-button ng-if="$ctrl.mergingExperiments" ng-click="$ctrl.finishExperimentsMerge()"
                           class="md-raised md-primary">
                    Merge Selected
                </md-button>
                <md-button class="md-raised md-warn" ng-click="$ctrl.cancelMerge()"
                           ng-if="$ctrl.mergingExperiments">
                    Cancel Merge
                </md-button>
                <md-button class="md-raised md-warn" ng-click="$ctrl.startExperimentsDelete()"
                           ng-disabled="$ctrl.mergingExperiments"
                           ng-if="!$ctrl.deletingExperiments">
                    <i class="fa fa-fw fa-trash"></i>Delete Experiments
                </md-button>
                <md-button class="md-raised md-primary" ng-click="$ctrl.finishExperimentsDelete()" ng-if="$ctrl.deletingExperiments">
                    Delete Selected
                </md-button>
                <md-button class="md-raised md-warn" ng-click="$ctrl.clearDelete()"
                           ng-if="$ctrl.deletingExperiments">
                    Cancel Delete
                </md-button>
            </div>
            <md-content layout="column" flex>
                <md-table-container flex>
                    <table md-table class="margin-top-10">
                        <thead md-head md-order="$ctrl.sortOrder">
                        <tr md-row>
                            <!--<th md-column md-order-by="status">Status</th>-->
                            <th md-column md-order-by="name">Experiment</th>
                            <th md-column md-order-by="mtime">Modified</th>
                            <th md-column>
                                <span tooltip="Files"><i class="fa fa-fw fa-files-o"></i> F</span>
                            </th>
                            <th md-column>
                                <span tooltip="Datasets"><i class="fa fa-fw fa-database"></i> DS</span>
                            </th>
                            <th md-column>
                                <span tooltip="Samples"><i class="fa fa-fw fa-cubes"></i>S</span>
                            </th>
                            <th md-column>
                                <span tooltip="Published?"><i class="fa fa-fw fa-share"></i>P</span>
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr md-row class="md-row-hover pointer"
                            ng-class="{'cell-left-odd': $index%2 !== 0, 'cell-left-even': $index%2 == 0}"
                            style='border-left-width: 8px;'
                            ng-repeat="experiment in $ctrl.experiments | filter:{status: $ctrl.experimentType} | orderBy:$ctrl.sortOrder">
                            <td md-cell>
                                <div layout="column">
                                    <div layout="row">
                                        <md-checkbox ng-if="$ctrl.selectingExperiments"
                                                     ng-model="experiment.selected"
                                                     style="margin-right: 10px">
                                        </md-checkbox>
                                        <a ng-click="$ctrl.gotoWorkflow(experiment)">
                                            {{experiment.name}}
                                        </a>
                                    </div>

                                    <span>{{experiment.description}}</span>
                                </div>
                            </td>
                            <td md-cell>
                                {{experiment.mtime | toDateString}}
                            </td>
                            <td md-cell><span>{{experiment.files_count | number}}</span></td>
                            <td md-cell><span>{{experiment.datasets.length | number}}</span></td>
                            <td md-cell>
                                <span>{{experiment.samples | toSize | number}}</span>
                            </td>
                            <td md-cell style="border-right-width: 8px"
                                ng-class="{'cell-right-odd': $index%2 !== 0, 'cell-right-even': $index%2 ==0}">
                                <md-button class="md-primary">publish</md-button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </md-table-container>
            </md-content>
        </div>
        <md-content layout="column" style="width: 250px" class="padding-right-5" ng-if="false">
            <h1 class="md-title">
                Activity Feed
                <md-button class="md-primary" ng-click="$ctrl.getProjectActivities()">Refresh</md-button>
            </h1>
            <ul class="no-bullets">
                <li layout="column" ng-repeat="activity in $ctrl.activities" class="margin-top-20">
                    <span class="text-uppercase"><i class="fa fa-fw {{activity.icon}}"></i>{{activity.event_type}}</span>
                    <span style="margin-left: 20px">{{activity.message}}</span>
                    <span class="mc-name-color">{{activity.user.name}} {{activity.birthtime | date:'yyyy-MM-dd'}}</span>
                </li>
            </ul>
        </md-content>
    </div>
</div>
