<div>
    <div id="top" class="row">
        <header class="splash-header">
            <div class="row">
                <h1 style="color: white; padding: 30px;">Materials Commons</h1>
            </div>
            <div class="row">
                <div class="login-splash join-splash" ng-if="!$ctrl.showSuccessMsg">
                    <form name="joinForm">
                        <h4>Get Started Organizing Your Data</h4>
                        <br>
                        <div class="row">
                            <input ng-model="$ctrl.firstName" name="firstname" required class="form-control" type="string"
                                   placeholder="First Name...">
                        </div>

                        <br>

                        <div class="row">
                            <input ng-model="$ctrl.lastName" name="lastname" required class="form-control" type="string" placeholder="Last Name...">
                        </div>
                        <br>
                        <div class="row">
                            <input ng-model="$ctrl.email" name="email" required on-enterx="$ctrl.createAccount(joinForm)"
                                   class="form-control" placeholder="Email..." type="email">
                        </div>
                        <br>

                        <div class="row">
                            <input ng-model="$ctrl.password" name="password" type="password" class="form-control" placeholder="Password...">
                        </div>
                        <br>

                        <p style="color:red;" ng-if="$ctrl.message">
                            <b>{{$ctrl.message}}</b>
                        </p>
                        <br>

                        <div class="row">
                            <button class="btn btn-primary btn-lg" style="width: 100%;" ng-click="$ctrl.requestValidationLink(joinForm)">
                                Create Account
                            </button>
                            <button class="btn btn-warning btn-lg" style="width: 100%; margin-top: 10px" ui-sref="login">
                                Cancel
                            </button>
                        </div>
                    </form>
                </div>
                <div class="join-success-splash" ng-if="$ctrl.showSuccessMsg">
                    <h4 class="text-center">You are ready to login to Materials Commons...</h4>
                    <br>
                    <p class="md-subhead">
                        You have successfully registered for an account.
                    </p>
                    <br>
                    <p class="text-center"> Return to <a ui-sref="login">login</a> page.</p>
                </div>
            </div>
        </header>
    </div>
</div>
