<div>
    <div id="top" class="row">
        <header class="splash-header">
            <div class="row">
                <h1 style="color: white; padding: 30px;">Materials Commons</h1>
            </div>
            <div class="row">
                <div class="login-splash join-splash">
                    <form name="setPasswordForm">
                        <h4>Welcome Back!</h4>
                        <p>Please enter a password to finish setting up your account.</p>
                        <br>
                        <div class="row">
                            <input ng-model="$ctrl.password1" name="password1" required class="form-control"
                                   type="password"
                                   placeholder="Password">
                        </div>

                        <br>

                        <div class="row">
                            <input ng-model="$ctrl.password2" name="password2" required class="form-control"
                                   type="password"
                                   placeholder="Re-Enter Password...">
                        </div>

                        <br>

                        <p style="color:red;" ng-if="$ctrl.message">
                            <b>{{$ctrl.message}}</b>
                        </p>

                        <br>

                        <div class="row">
                            <button class="btn btn-primary btn-lg" style="width: 100%;"
                                    ng-click="$ctrl.setPassword(setPasswordForm)">
                                Finish and Login
                            </button>
                            <button class="btn btn-cancel btn-lg" style="width: 100%; margin-top: 10px"
                                    ui-sref="login">
                                Cancel; Return to Login
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </header>
    </div>
</div>
