<div>
    <div id="top" class="row">
        <header class="splash-header">
            <div class="row">
                <h1 style="color: white; padding: 30px;">Materials Commons</h1>
            </div>
            <div class="row">
                <div class="login-splash join-splash" ng-if="!$ctrl.showSuccessMsg">
                    <form name="resetForm">
                        <h4>Reset Password</h4>
                        <p class="md-subhead">
                            To reset your password, enter the e-mail which you used to register. Then, we will send you
                            an e-mail message with the link that will enable you to reset your password.
                        </p>
                        <div class="row">
                            <input ng-model="$ctrl.email" name="email" required
                                   class="form-control" placeholder="Email..." type="email">
                        </div>
                        <br>

                        <p style="color:red;" ng-if="$ctrl.message">
                            <b>{{$ctrl.message}}</b>
                        </p>
                        <br>

                        <div class="row">
                            <button class="btn btn-primary btn-lg" style="width: 100%;" ng-click="$ctrl.requestResetLink(resetForm)">
                                Reset Password
                            </button>
                            <button class="btn btn-warning btn-lg" style="width: 100%; margin-top: 10px" ui-sref="login">
                                Cancel
                            </button>
                        </div>
                    </form>
                </div>
                <div class="join-success-splash" ng-if="$ctrl.showSuccessMsg">
                    <h4 class="text-center">Next step in reseting your password...</h4>
                    <br>
                    <p class="md-subhead">
                        You have successfully requested that your password be reset. An email has been sent to {{$ctrl.email}}
                        with a link to click on that will let you set a new password.
                    </p>
                    <br>
                    <p class="text-center"> Return to <a ui-sref="login">login<a ui-sref="login"> page.</p>
                </div>
            </div>
        </header>
    </div>
</div>