
<div ng-class="{'display-inline' : displayInline === true}" ng-switch="measure._type">
    <div ng-class="{'display-inline' : displayInline === true}" ng-switch-when="number">
        <div ng-if="editMeasure">
            <div ng-if="currentProcess && measure.process[0].id === currentProcess">
                <input style="width: 60px;" ng-model="measure.value">
                <input style="width: 60px;" ng-model="measure.unit">
                <display-process-name></display-process-name>
            </div>
            <div ng-if="currentProcess && measure.process[0].id !== currentProcess">
                {{measure.value}} {{measure.unit}}
                <display-process-name></display-process-name>
            </div>
        </div>
        <div ng-class="{'display-inline' : displayInline === true}"  ng-if="!editMeasure">
            {{measure.value}} {{measure.unit}}
            <!--<display-process-name></display-process-name>-->
        </div>
    </div>

    <div ng-class="{'display-inline' : displayInline === true}" ng-switch-when="fraction">
        <div ng-if="editMeasure">
            <div ng-if="currentProcess && measure.process[0].id === currentProcess">
                <input style="width: 60px;" ng-model="measure.value.attribute1">
                <input style="width: 60px;" ng-model="measure.value.attribute2">
                <span ng-if="measure.unit"><input style="width: 60px;" ng-model="measure.unit"></span>
                <display-process-name current-process="currentProcess" measure="measure"></display-process-name>
            </div>
            <div ng-if="currentProcess && measure.process[0].id !== currentProcess">
                {{measure.value}} {{measure.unit}}
                <display-process-name current-process="currentProcess" measure="measure"></display-process-name>
            </div>
        </div>
        <div ng-class="{'display-inline' : displayInline === true}" ng-if="!editMeasure">
            {{measure.value }} {{measure.unit}}
            <!--<display-process-name current-process="currentProcess" measure="measure"></display-process-name>-->
        </div>
    </div>

    <div ng-class="{'display-inline' : displayInline === true}" ng-switch-when="string">
        <div ng-if="editMeasure">
            <div ng-if="currentProcess && measure.process[0].id === currentProcess">
                <input ng-model="measure.value">
                <display-process-name current-process="currentProcess" measure="measure"></display-process-name>
            </div>
            <div ng-if="currentProcess && measure.process[0].id !== currentProcess">
                {{measure.value}}
                <display-process-name current-process="currentProcess" measure="measure"></display-process-name>
            </div>
        </div>
        <div ng-class="{'display-inline' : displayInline === true}" ng-class="{'display-inline': display === 'inline'}" ng-if="!editMeasure">
            {{measure.value}}
            <!--<display-process-name current-process="currentProcess" measure="measure"></display-process-name>-->
        </div>
    </div>

    <div ng-class="{'display-inline' : displayInline === true}" ng-switch-when="composition">
        <div ng-if="editMeasure">
            <div ng-if="currentProcess && measure.process[0].id === currentProcess">
                {{measure.element}}<input ng-model="measure.value"><input ng-model="measure.unit">
                <display-process-name current-process="currentProcess" measure="measure"></display-process-name>
            </div>
            <div ng-if="currentProcess && measure.process[0].id !== currentProcess">
                {{measure.element}} - {{measure.value}} {{measure.unit}}
                <display-process-name current-process="currentProcess" measure="measure"></display-process-name>
            </div>
        </div>
        <div ng-class="{'display-inline' : displayInline === true}" ng-if="!editMeasure">
            {{measure.element}} - {{measure.value}} {{measure.unit}}
            <!--<display-process-name current-process="currentProcess" measure="measure"></display-process-name>-->
        </div>
    </div>

    <div ng-switch-when="pair">

    </div>

    <div ng-class="{'display-inline' : displayInline === true}" ng-switch-when="histogram">
        <div ng-if="editMeasure">
            <div ng-if="currentProcess && measure.process[0].id === currentProcess">
                <a ng-click="editHistogram(measure)"><i class="fa fa-fw fa-bar-chart"></i></a>
                <display-process-name current-process="currentProcess" measure="measure"></display-process-name>
            </div>
            <div ng-if="currentProcess && measure.process[0].id !== currentProcess">
                <a ng-click="showHistogram(measure)"><i class="fa fa-fw fa-bar-chart"></i></a>
                <display-process-name current-process="currentProcess" measure="measure"></display-process-name>
            </div>
        </div>
        <div ng-class="{'display-inline' : displayInline === true}" class="row" ng-if="!editMeasure">
            <a ng-click="showHistogram(measure)"><i class="fa fa-fw fa-bar-chart"></i></a>
            <!--<display-process-name current-process="currentProcess" measure="measure"></display-process-name>-->
        </div>
    </div>

    <div ng-class="{'display-inline' : displayInline === true}" ng-switch-when="line">
        <div ng-if="editMeasure">
            <div ng-if="currentProcess && measure.process[0].id === currentProcess">
                <a ng-click="editLineGraph(measure)"><i class="fa fa-fw fa-line-chart"></i></a>
                <display-process-name current-process="currentProcess" measure="measure"></display-process-name>
            </div>
            <div ng-if="currentProcess && measure.process[0].id !== currentProcess">
                <a ng-click="showLineGraph(measure)"><i class="fa fa-fw fa-line-chart"></i></a>
                <display-process-name current-process="currentProcess" measure="measure"></display-process-name>
            </div>
        </div>
        <div ng-class="{'display-inline' : displayInline === true}" ng-if="!editMeasure">
            <a ng-click="showLineGraph(measure)"><i class="fa fa-fw fa-line-chart"></i></a>
            <!--<display-process-name current-process="currentProcess" measure="measure"></display-process-name>-->
        </div>
    </div>

    <div ng-class="{'display-inline' : displayInline === true}" ng-switch-when="selection">
        <div ng-if="editMeasure">
            <div ng-if="currentProcess && measure.process[0].id === currentProcess">
                <input style="width: 60px;" ng-model="measure.value">
                <input style="width: 60px;" ng-model="measure.unit">
                <display-process-name></display-process-name>
            </div>
            <div ng-if="currentProcess && measure.process[0].id !== currentProcess">
                {{measure.value}} {{measure.unit}}
                <display-process-name></display-process-name>
            </div>
        </div>
        <div ng-class="{'display-inline' : displayInline === true}" ng-if="!editMeasure">
            {{measure.value}} {{measure.unit}}
            <!--<display-process-name></display-process-name>-->
        </div>
    </div>
</div>