<div class="row" ng-switch="property._type">
    <div ng-switch-when="number">
        <property-number property="property"></property-number>
    </div>
    <div ng-switch-when="fraction">
        <property-fraction property="property"></property-fraction>
    </div>
    <div ng-switch-when="selection">
        <property-selection property="property"></property-selection>
    </div>

    <div ng-switch-when="string">
        <property-string property="property"></property-string>
    </div>

    <div ng-switch-when="composition">
        <property-composition property="property"></property-composition>
    </div>

    <div ng-switch-when="pair">
        <property-pair property="property"></property-pair>
    </div>

    <div ng-switch-when="list">
        <property-list property="property"></property-list>
    </div>

    <div ng-switch-when="histogram">
        <property-histogram property="property"></property-histogram>
    </div>

    <div ng-switch-when="line">
        <property-line property="property"></property-line>
    </div>

    <div ng-switch-default>
        Unknown type {{property._type}}
    </div>
</div>
