<div class="row col-xs-9">
    <h4>{{property.name}} : {{property.description}}</h4>
    <hr/>
    <div class="row">Unit: <span ng-if="property.units.length === 0">{{::property.unit}}</span>
        <span ng-if="property.units.length !== 0">
            <select style="width: 200px;" ng-model="property.unit" data-placeholder="Choose"
                    class="form-control" ng-required="property.required">
                <option value="{{choice}}" ng-repeat="choice in property.units">
                    {{ choice }}
                </option>
            </select>
    </span>
    </div>
</div>
<div class="row">
    <div class="col-xs-8">
        <strong>Enter {{property.name}} measures </strong> <br>
        <strong>(one entry per line) </strong><br>
        type: {{property._type}}
        <textarea ng-model="property.value" class="col-xs-12" rows="20"></textarea>
    </div>
    <div class="col-xs-4">
        <p class="errors">{{message}}</p>
    </div>
</div>