<div ng-form="propertyForm" class="row">
    <div class="col-xs-3">
        <b>{{::property.name}}</b>
        <i ng-if="property.required" class="fa fa-fw fa-asterisk text-danger"></i>
    </div>
    <div class="col-xs-3">
        <select ng-model="property.value" data-placeholder="Choose"
                name="selectInput"
                class="form-control "
                ng-required="property.required">
            <option value="{{choice.value}}" ng-repeat="choice in property.choices">
                {{ choice.name }}
            </option>
        </select>
    </div>
    <div class="col-xs-3">
        <span ng-if="property.units.length === 0">{{::property.unit}}</span>
        <span ng-if="property.units.length !== 0">
            <select ng-model="property.unit" data-placeholder="Choose"
                    class="form-control" ng-required="property.required">
                <option value="{{choice}}" ng-repeat="choice in property.units">
                    {{ choice }}
                </option>
            </select>
        </span>
    </div>
    <div class="row">
        <div ng-messages="propertyForm.selectInput.$error" class="errors">
            <div ng-message="required">Please select from options</div>
        </div>
    </div>

    <div class="row">
        <span class="help-block">{{::property.description}}</span>
    </div>
</div>