<div class="row">
    <select  style="margin-bottom: 5px;" class="form-control"
            ng-multiple="false"
            ng-model="property.element">
        <option value=""></option>
        <option ng-selected="property.element === ele.name"
                ng-repeat="ele in elements" value="{{ele.name}}" >
            {{ele.name}} - {{ele.full_name}}
        </option>
    </select>
    {{property.element}}
</div>

<div class="row">
    <input type="radio"
           value="at%" ng-model="property.unit"/>
    atomic %
    <input type="radio"
           value="wt%" ng-model="property.unit"/>
    weight %
    <input placeholder="value..." class="form-control" ng-model="property.value">
</div>
