<!--<div ng-form="propertyForm" class="row">-->
<!--<div class="col-xs-3">-->
<!--<b>{{::property.name}}</b>-->
<!--<i ng-if="property.required" class="fa fa-fw fa-asterisk text-danger"></i>-->
<!--</div>-->
<!--<div class="col-xs-3">-->
<!--<input style="width: 100px;" type="number" name="numberInput" step="any" class="form-control"-->
<!--ng-required="property.required" ng-model="property.value">-->

<!--<div ng-messages="propertyForm.numberInput.$error" class="row errors">-->
<!--<div ng-message="number">Not a valid number</div>-->
<!--<div ng-message="required">Required field.</div>-->
<!--</div>-->

<!--</div>-->
<!--<div class="col-xs-3">-->
<!--<span ng-if="property.units.length === 0">{{::property.unit}}</span>-->
<!--<span ng-if="property.units.length !== 0">-->
<!--<select style="width: 100px;" ng-model="property.unit" data-placeholder="Choose"-->
<!--class="form-control" ng-required="property.required">-->
<!--<option value="{{choice}}" ng-repeat="choice in property.units">-->
<!--{{ choice }}-->
<!--</option>-->
<!--</select>-->
<!--</span>-->
<!--</div>-->
<!--<div class="row">-->
<!--<span class="help-block">{{::property.description}}</span>-->
<!--</div>-->

<!--</div>-->

<div class="row col-xs-9">
    <h4>{{property.name}} :: {{property.description}}</h4>
    <hr/>
    <div class="row">Unit: <span ng-if="property.units.length === 0">{{::property.unit}}</span>
        <span ng-if="property.units.length !== 0">
            <select style="width: 200px;" ng-model="property.unit" data-placeholder="Choose"
                    class="form-control" ng-required="property.required">
                <option value="{{choice}}" ng-repeat="choice in property.units">
                    {{ choice }}
                </option>
            </select>
    </span>
    </div>
</div>
<div class="row col-xs-8">
    <strong>Enter length measures </strong> <br>
    <strong>(one entry per line) </strong><br>
    type: {{property._type}}
    <textarea ng-model="property.value" class="col-xs-12" rows="20"></textarea>
</div>