<div class="row" ng-controller="AccountPasswordController as ctrl"><br>
    <div class="col-sm-4">
        <form class="form-horizontal">
            <fieldset>
                <legend>Change Password</legend>
                <div class="form-group">
                    <div class="col-sm-12">
                        <input class="form-control" id="inputPassword" placeholder="New Password..."
                               ng-model="ctrl.newPassword"
                               type="password">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-12">
                        <input class="form-control" placeholder="Verify Password..."
                               ng-model="ctrl.verifyNewPassword"
                               type="password">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-12">
                        <button ng-click="ctrl.changePassword()" class="btn btn-default btn-danger">Change Password
                        </button>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>