<div class="row" ng-controller="accountPassword">
    <div class="col-sm-4">
        <legend>Change Password:</legend>
        <form class="form-horizontal">
            <input class="form-control" id="inputPassword" placeholder="New Password..." ng-model="new_password"
                   type="password">
            <input class="form-control" placeholder="Verify Password..." ng-model="verify_new_password"
                   type="password">
            <button ng-click="changePassword()" class="btn btn-default btn-danger">Change Password</button>
        </form>
    </div>
</div>