<div layout="row" layout-align="center center">
    <div layout="row" layout-align="center" class="padding-right-30" flex="30">
        <md-button class="md-warn" ng-click="$ctrl.handleClearFilter()">clear filter</md-button>
        <input ng-model="$ctrl.state.query" ng-model-options="{debounce:200}"
               ng-change="$ctrl.handleFilterOn()"
               flex="40"
               placeholder="Filter files..." type="text"
               class="mc-input-as-line margin-left-15 md-subhead">
    </div>
    <md-button class="md-primary" ng-show="!$ctrl.state.selectionOn"
               ng-click="$ctrl.handleStartUpload()">
        <i class="fa fa-fw fa-upload"></i> Upload Files
    </md-button>
    <md-button class="md-primary" ng-show="!$ctrl.state.selectionOn"
               ng-click="$ctrl.handleCreateDirectory()">
        <i class="fa fa-fw fa-plus-square"></i>New Directory
    </md-button>
    <md-button class="md-primary" ng-show="!$ctrl.state.selectionOn"
               ng-click="$ctrl.handleSelectFilesToDownload()">
        <i class="fa fa-fw fa-download"></i> Select Files to Download
    </md-button>
    <md-button class="md-warn" ng-show="!$ctrl.state.selectionOn"
               ng-click="$ctrl.handleSelectFilesToDelete()">
        <i class="fa fa-fw fa-trash"></i> Select Files to Delete
    </md-button>
    <md-button class="md-primary" ng-show="!$ctrl.state.selectionOn"
               ng-click="$ctrl.handleSelectFilesToMove()">
        <i class="fa fa-fw fa-arrow-circle-right"></i> Select Files to Move
    </md-button>

    <md-button class="md-primary" ng-show="$ctrl.state.selectionOn"
               ng-click="$ctrl.handleSelectionDone()">
        Done
    </md-button>
    <md-button class="md-warn" ng-show="$ctrl.state.selectionOn"
               ng-click="$ctrl.handleCancelSelection()">
        Cancel
    </md-button>
</div>
<div layout="row" layout-align="center center">
    <div ng-if="$ctrl.state.downloadState === 'preparing'">
        <i class="fa fa-circle-o-notch fa-spin"></i>
        Preparing download (this may take some time)...
    </div>
    <a ng-href="{{$ctrl.state.downloadUrl}}" ng-click="$ctrl.state.downloadState='none'" ng-show="$ctrl.state.downloadState === 'done'">
        Preparation done click here to download.
    </a>
    <a class="md-warn margin-left-15" ng-click="$ctrl.handleCancelDownload()" ng-show="$ctrl.state.downloadState === 'done'">cancel</a>
</div>