<div class="dropdown">
    <a class="dropdown-toggle action-link project-sub-action">
        <i class="fa" ng-class="titleIcon"/> {{title}}
    </a>
    <span class="caret caret-light"/>
    <span ng-if="titleCount !== undefined"
          class="badge" ng-style="{'background-color': currentProjectColorLight}">
        {{titleCount}}
    </span>
    <ul class="dropdown-menu" role="menu">
        <li ng-repeat="menuItem in menuItems">
            <a action-stack
               ng-click="toggleStackAction(menuItem.action)"
               class="action-linkxx project-sub-actionxx">
                {{menuItem.title}}
                <i ng-class="{'fa fa-close action-link-close': actionActive(menuItem.action)}"/>
            </a>
        </li>
    </ul>
</div>
