<br>
<div ng-controller="projectsOverview">
    <div class="row">
        <div class="col-lg-2">
            <div class="sideboard-group">
                <span class="col-lg-6"> <i class="fa fa-tags"/> Tags</span>
                <a action-stack ng-click="toggleStackAction('tag', 'project-action-stack')" class="important"><i class="fa fa-plus"/> Add Tag</a>
                <hr>

                <div ng-repeat="t in u_tags">
                    <div tooltip="{{t.name}}" tooltip-popup-delay="700" class="row">
                        <span>
                            <i class="fa" ng-class="'fa-' + t.icon" style="color: {{t.color}}"></i>
                            {{tagname(t.name)}}
                        </span>
                    </div>
                </div>
            </div>
            <div class="sideboard-group">
                <span class="col-lg-6"><i class="fa fa-check-square"/> To Do</span>
                <a action-stack ng-click="toggleStackAction('todo', 'project-action-stack')" class="important"><i class="fa fa-plus"/> Add To Do</a>
                <hr>
            </div>
        </div>
        <div>
            <span class="col-lg-offset-1 col-lg-3"><i class="fa fa-lock"></i> {{project.name}}</span>
            <span class="col-lg-4">Created by {{project.owner}} on {{project.birthtime | toDateString}}</span>
        </div>

        <div class="col-lg-10">
            <div class="row">
                <div class="panel panel-default">
                    <div class="panel-heading" ng-style="{'background-color': currentProjectColor}">
                        <div class="row">
                            <span class="col-lg-offset-1 col-lg-2">
                                <i class="fa fa-users"/>
                                <a data-toggle="modal" data-target="#contributors" style="color: white" class="action-link"> {{project.users.length}}
                                    contributors</a>
                            </span>
                            <span class="col-lg-3">
                                <i class="fa fa-exclamation-circle"/>
                                0 events
                            </span>
                            <span class="col-lg-3">
                                <i class="fa fa-share"/> Shared with <a data-toggle="modal" data-target="#shares" style="color: white" class="action-link">{{project.shares.length}}
                                    Project(s)</a>
                            </span>
                            <span class="col-lg-3">
                                <i class="fa fa-mail-reply"/> Uses <a data-toggle="modal" data-target="#uses" style="color:white" class="action-link">{{project.uses.length}}
                                    Project(s)</a>
                            </span>
                        </div>
                        <hr class="carved">
                        <div class="row">
                            <span class="col-lg-2">
                                <a class="action-link">
                                    <i class="fa fa-file-text"/>
                                    Files
                                </a>
                            </span>
                            <span class="col-lg-2">
                                <a class="action-link">
                                    <i class="fa fa-cubes"/>
                                    Samples
                                </a>
                            </span>
                            <span class="col-lg-2">
                                <a class="action-link">
                                    <i class="fa fa-code-fork"/>
                                    Provenance
                                </a>
                            </span>
                            <span class="col-lg-2">
                                <a class="action-link">
                                    <i class="fa fa-comment"></i>
                                    Reviews
                                    <span class="badge" ng-style="!isActive('reviews') && {'background-color': inactiveColor}">{{open_reviews.length}}</span>
                                </a>
                            </span>
                            <span class="col-lg-2">
                                <a class="action-link">
                                    <i class="fa fa-copy"/>
                                    Drafts
                                    <span class="badge" ng-style="!isActive('drafts') && {'background-color': inactiveColor}">{{drafts.length}}</span>
                                </a>
                            </span>
                            <span class="col-lg-2">
                                <a class="action-link">
                                    <i class="fa fa-edit"/>
                                    Notes
                                    <span class="badge" ng-style="!isActive('notes') && {'background-color': inactiveColor}">{{project.notes.length}}</span>
                                </a>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div id="file-action-stack" class="row">
            </div>
            <div ui-view></div>
        </div>
        <div ng-show="false" class="col-lg-2">
            <div class="individual-items">
                <ul class="nav nav-tabs tabs-right overview-tabs" style="border-left-width: 2px; border-left-style: solid; border-radius: 0 0 0 0;" ng-style="{'border-left-color': currentProjectColor}">
                    <li class="active">
                        <a ng-click="showTab('files')" data-toggle="tab"
                           ng-style="isActive('files') && getActiveTabStyle() || !isActive('files') && getInactiveTabStyle()">
                            <i class="fa fa-file-text"/>
                            Files
                        </a>
                    </li>
                    <li>
                        <a ng-click="showTab('samples')" data-toggle="tab"
                           ng-style="isActive('samples') && getActiveTabStyle() || !isActive('samples') && getInactiveTabStyle()">
                            <i class="fa fa-cubes"/>
                            Samples
                        </a>
                    </li>
                    <li>
                        <a ng-click="showTab('provenance')" data-toggle="tab"
                           ng-style="isActive('provenance') && getActiveTabStyle() || !isActive('provenance') && getInactiveTabStyle()">
                            <i class="fa fa-code-fork"/>
                            Provenance
                        </a>
                    </li>
                    <li>
                        <a ng-click="showTab('reviews')" data-toggle="tab"
                           ng-style="isActive('reviews') && getActiveTabStyle() || !isActive('reviews') && getInactiveTabStyle()">
                            <i class="fa fa-comment"></i>
                            Reviews
                            <span class="pull-right badge" ng-style="!isActive('reviews') && {'background-color': inactiveColor}">{{open_reviews.length}}</span>
                        </a>
                    </li>
                    <li>
                        <a ng-click="showTab('drafts')" data-toggle="tab"
                           ng-style="isActive('drafts') && getActiveTabStyle() || !isActive('drafts') && getInactiveTabStyle()">
                            <i class="fa fa-copy"/>
                            Drafts
                            <span class="pull-right badge" ng-style="!isActive('drafts') && {'background-color': inactiveColor}">{{drafts.length}}</span>
                        </a>
                    </li>
                    <li>
                        <a ng-click="showTab('notes')" data-toggle="tab"
                           ng-style="isActive('notes') && getActiveTabStyle() || !isActive('notes') && getInactiveTabStyle()">
                            <i class="fa fa-edit"/>
                            Notes
                            <span class="pull-right badge" ng-style="!isActive('notes') && {'background-color': inactiveColor}">{{project.notes.length}}</span>
                        </a>
                    </li>
                    <li>
                        <a ng-click="showTab('settings')" data-toggle="tab"
                           ng-style="isActive('settings') && getActiveTabStyle() || !isActive('settings') && getInactiveTabStyle()">
                            <i class="fa fa-cogs"/>
                            Settings
                        </a>
                    </li>
                    <li>&nbsp;</li>
                </ul>
            </div>
        </div>
    </div>

    <!-- Modal for contributors -->
    <div class="modal fade" id="contributors" tabindex="-1" role="dialog" aria-labelledby="contributorsLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">Contributors</h4>
                </div>
                <div class="modal-body">
                    <ul>
                        <li ng-repeat="user in project.users | orderBy: 'toString()'">{{user.user_id}}</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal for uses -->
    <div class="modal fade" id="uses" tabindex="-1" role="dialog" aria-labelledby="contributorsLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">Shared from other projects</h4>
                </div>
                <div class="modal-body">
                    <p ng-if="project.uses.length === 0">This project doesn't use items from other projects.</p>
                    <ul>
                        <li ng-repeat="usedItem in project.uses">Sample '{{usedItem.name}}' is from project:
                            {{usedItem.other_project.name}}
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal for shares -->
    <div class="modal fade" id="shares" tabindex="-1" role="dialog" aria-labelledby="contributorsLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">Shared with other projects</h4>
                </div>
                <div class="modal-body">
                    <p ng-if="project.shares.length === 0">This project doesn't share items with other projects.</p>
                    <ul>
                        <li ng-repeat="sharedItem in project.shares">Project '{{sharedItem.other_project.name}}' uses
                            sample: {{sharedItem.name}}
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal for tags -->
    <div class="modal fade" id="addTag" tabindex="-1" role="dialog" aria-labelledby="tagsLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">Create Tag</h4>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal">
                        <fieldset>

                            <!-- Text input-->
                            <div class="control-group">
                                <label class="control-label" for="">Name</label>
                                <div class="controls">
                                    <input class="form-control" placeholder="name..." type="text" ng-model="tag.name">
                                </div>
                            </div>

                            <div class="control-group">
                                <label class="control-label" for="selectbasic">Color</label>
                                <div class="controls">
                                    <select class="form-control" ng-model="tag.color">
                                        <option value="">Highlight</option>
                                        <option value="#FF0000" style="background-color: red;">Red</option>
                                        <option value="#0000FF" style="background-color: Blue;">Blue</option>
                                        <option value="#008000" style="background-color: green;">Green</option>
                                        <option value="#FFFF00" style="background-color: #ffff00;">Yellow</option>
                                        <option value="#9370DB" style="background-color: mediumpurple;">Purple</option>
                                        <option value="#EE82EE" style="background-color: Violet;">Violet</option>
                                    </select>
                                </div>
                            </div>

                            <div class="control-group">
                                <div class="controls">
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                            Icon <span class="caret"></span>
                                        </button>
                                        <ul class="dropdown-menu" role="menu">
                                            <li ng-repeat="icon in icons" ng-click="iconSelected(icon)">
                                                <a><i class="fa fa-{{icon}}"/> {{icon}}</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <span><i class="fa fa-{{tag.icon}}" ng-style="{color: tag.color}"/></span>
                                </div>
                            </div>

                            <div class="control-group">
                                <label class="control-label" for="button1id"></label>
                                <div class="controls">
                                    <button id="button1id" name="button1id" class="btn btn-success" data-dismiss="modal" ng-click="createTag()">Create</button>
                                    <button id="button2id" name="button2id" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                                </div>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
