<div style="position: relative; height: 65px; border-bottom-left-radius: 3px; border-bottom-right-radius: 3px; padding-left: 15px; padding-right: 15px;"
     ng-style="{background: colors.getCurrentProjectColor()}">
    <div class="row">
        <span class="col-lg-offset-1 col-lg-2">
            <i class="fa fa-users"/>
            <a data-toggle="modal" data-target="#contributors" style="color: white" class="action-link">
                {{project.users.length}}
                contributors</a>
        </span>
        <span class="col-lg-2">
            <i class="fa fa-exclamation-circle"/>
            0 events
        </span>
        <span class="col-lg-2">
            <i class="fa fa-share"/> Shared with <a data-toggle="modal" data-target="#shares" style="color: white"
                                                    class="action-link">{{project.shares.length}}
                Project(s)</a>
        </span>
        <span class="col-lg-2">
            <i class="fa fa-mail-reply"/>
            Uses
            <a data-toggle="modal" data-target="#uses" style="color:white"
               class="action-link">
                {{project.uses.length}} Project(s)
            </a>
        </span>
    </div>
    <hr class="carved">
    <div class="row">
        <div class="col-xs-offset-1">
            <span class="col-xs-2">
                <action-menu title="Provenance"
                             title-icon="fa-code-fork"
                             title-count="project.processes.length"
                             menu-items="provenanceMenuItems">
                </action-menu>
            </span>
            <span class="col-xs-2">
                <action-menu title="Samples"
                             title-icon="fa-cubes"
                             title-count="project.samples.length"
                             menu-items="samplesMenuItems">
                </action-menu>
            </span>

            <span class="col-xs-2">
                <action-menu title="Reviews"
                             title-icon="fa-comment"
                             title-count="(project.reviews | byKey:'status':'open').length"
                             menu-items="reviewsMenuItems">
                </action-menu>
            </span>
            <span class="col-xs-2">
                <action-menu title="Drafts"
                             title-icon="fa-copy"
                             title-count="project.drafts.length"
                             menu-items="draftsMenuItems">
                </action-menu>
            </span>
            <span class="col-xs-2">
                <action-menu title="Notes"
                             title-icon="fa-edit"
                             title-count="project.notes.length"
                             menu-items="notesMenuItems">
                </action-menu>
            </span>
            <span class="col-xs-2">
                <action-menu title="Settings"
                             title-icon="fa-gear"
                             title-count=""
                             menu-items="settingsMenuItems">
                </action-menu>
            </span>
        </div>
    </div>

    <!-- Modal for contributors -->

    <div class="modal fade" id="contributors" tabindex="-1" role="dialog" aria-labelledby="contributorsLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">Contributors</h4>
                </div>
                <div class="modal-body">
                    <ul>
                        <li ng-repeat="user in project.users | orderBy: 'toString()'">{{user.user_id}}</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal for uses -->
    <div class="modal fade" id="uses" tabindex="-1" role="dialog" aria-labelledby="contributorsLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">Shared from other projects</h4>
                </div>
                <div class="modal-body">
                    <p ng-if="project.uses.length === 0">This project doesn't use items from other projects.</p>
                    <ul>
                        <li ng-repeat="usedItem in project.uses">Sample '{{usedItem.name}}' is from project:
                            {{usedItem.other_project.name}}
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal for shares -->
    <div class="modal fade" id="shares" tabindex="-1" role="dialog" aria-labelledby="contributorsLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">Shared with other projects</h4>
                </div>
                <div class="modal-body">
                    <p ng-if="project.shares.length === 0">This project doesn't share items with other projects.</p>
                    <ul>
                        <li ng-repeat="sharedItem in project.shares">Project '{{sharedItem.other_project.name}}' uses
                            sample: {{sharedItem.name}}
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
