<div ng-controller="actionStackListController" class="sideboard-group">
    <span class="col-lg-6"><i class="fa fa-reorder"/> Action Stack</span>
    <div class="row"></div>
    <hr class="sideboard-separator">
    <div class="row">
        <div ng-repeat="action in actions">
            <a ng-href="#{{action.id}}" target="_self">{{action.title}}</a>
            <a ng-if="actionActive(action.id)" ng-click="toggleStackAction(action.id)">
                <i class="fa fa-close action-link-close"></i>
            </a>
        </div>
    </div>
</div>
<div ng-controller="tagsSideboardController" class="sideboard-group">
    <span class="col-lg-6"> <i class="fa fa-tags"/> Tags</span>
    <a action-stack ng-click="toggleStackAction('tag', 'Create Tag')">
        <i class="fa fa-plus"/> Add Tag
        <i ng-class="{'fa fa-close action-link-close': actionActive('tag')}"/>
    </a>
    <hr class="sideboard-separator">
    <div class="row">
        <div ng-repeat="t in tags">
            <div tooltip="{{t.name}}: {{t.description}}" tooltip-popup-delay="100" class="row">
                <span>
                    <i class="fa" ng-class="'fa-' + t.icon" style="color: {{t.color}}"></i>
                    {{t.name}}
                </span>
            </div>
        </div>
    </div>
</div>
<div class="sideboard-group">
    <span class="col-lg-6"><i class="fa fa-check-square"/> To Do</span>
    <a action-stack ng-click="toggleStackAction('todo', 'Create To Do')">
        <i class="fa fa-plus"/> Add To Do
        <i ng-class="{'fa fa-close action-link-close': actionActive('todo')}"/>
    </a>
    <hr class="sideboard-separator">
</div>
