<div ng-controller="toolbarSamples">
    <div class="row-fluid">
        <form name="Sample" class="form-horizontal">
            <legend>Create New Object</legend>
            <div class="span12">
                <fieldset>
                    <cgroup label="Classification:">
                        <select ng-model="bk.classification" ng-change="setProperties()"
                                ng-options="temp.template_name for temp in sample_templates | orderBy:'template_name'" >

                        </select>
                    </cgroup>
                    <div class="control-group">
                        <div ng-show="bk.classification">
                            <cgrouprequired label="Name:">
                                <input ng-model="doc.name" type="text" placeholder='name...' required>
                            </cgrouprequired>

                            <cgrouprequired label="Composition:">
                                <input ng-model="doc.composition" type="text" placeholder='composition...' required>
                            </cgrouprequired>

                            <cgroup label="Notes:">
                                <textarea class="span6" rows="4" placeholder="Notes..." ng-model="bk.new_note"/>
                                <button ng-click="add_notes()" ng-disabled="!bk.new_note" class="btn btn-info">Add
                                </button>
                            </cgroup>

                            <div ng-show="doc.notes.length > 0">
                                <h5>Previous Notes:</h5>
                                <table class="table">
                                    <thead>
                                    <th>Message</th>
                                    <th>Who</th>
                                    <th>Date Created</th>
                                    </thead>
                                    <tbody>
                                    <tr ng-repeat="note in doc.notes">
                                        <td>{{note.message}}</td>
                                        <td>{{note.who}}</td>
                                        <td>{{note.date}}</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div df-properties default-properties="doc.default_properties"></div>
                            <cgroup label="Treatments:">
                                <select ng-model="bk.selected_treatment"
                                        ng-options="treat.template_name for treat in treatment_templates"
                                        ng-change="showForm()">
                                </select>
                            </cgroup>

                            <label class='control-label'><strong>{{bk.selected_treatment.template_name ||
                                bk.tab_item}} </strong></label>

                            <div class='controls'>
                                <div class="span6">
                                    <div ng-show="bk.selected_treatment!==''">
                                        <div class="well">
                                            <div df-properties default-properties="default_properties"></div>
                                            <button ng-click="addTreatment()" class="btn btn-primary">Add</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="span2">
                                    <label>Treatments Order:</label>

                                    <div class="tabbable tabs-right">
                                        <ul class="nav nav-tabs" ng-repeat="each_item in doc.treatments_order">
                                            <li><a ng-click="showTab(each_item)"
                                                   data-toggle="tab"><strong>{{each_item}}</strong></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </fieldset>
            </div>
        </form>
        <button ng-click="save(Sample)" class="btn btn-primary">New</button>
        <button ng-click="clear()" class="btn btn-danger">Clear</button>
    </div>

    <div class="row-fluid">
        <div class="span6">
            <legend>List of available objects:</legend>
            <paged data="samples_list" current-page="currentDataPage" page-size="20">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Composition</th>
                        <th>Date Created</th>
                        <th>Treatment Details</th>
                    </tr>
                    </thead>
                    <tbody>
                    <p ng-if="samples_list.length==0">
                        <b>No available objects in the database</b>
                    </p>

                    <p ng-if="samples_list.length!=0">
                        <tr ng-repeat="sample in samples_list | orderBy:predicate:reverse | page:currentDataPage:20">
                            <td>{{sample.name}}</td>
                            <td>{{sample.composition}}</td>
                            <td>{{sample.birthtime | toDateString}}</td>
                            <td><a ng-click="showTreatmentDetails(sample)">view</a></td>
                        </tr>
                    </p>
                    </tbody>
                </table>
            </paged>
        </div>
        <div class="span6">
            <form class="form-horizontal" ng-show="sample">
                <div ng-if="sample.treatments_order.length==0">
                    No Treatments applied to the material {{sample.name}}
                </div>
                <div ng-if="sample.treatments_order.length!==0">
                    <legend>{{sample.name}} Treatment Details:</legend>
                    <div ng-repeat="key in sample.treatments_order">
                        <b>{{key}}:</b>
                        <fieldset>
                            <div ng-repeat="item in sample.treatments[key]">
                                <cgroup label="{{item.name}}">
                                    <input class="input-large" ng-model="item.value" type="text"
                                           ng-disabled="true">
                                </cgroup>
                            </div>
                        </fieldset>
                    </div>
                </div>
                <div ng-if="sample.default_properties.length!=0">
                    <legend>Default Properties:</legend>
                    <div ng-repeat="item in sample.default_properties">
                        <cgroup label="{{item.name}}">
                            <input class="input-xlarge" ng-model="item.value" type="text" ng-disabled="true">
                        </cgroup>
                    </div>
                </div>
                <div ng-if="sample.added_properties.length!=0">
                    <legend>Additional Properties:</legend>
                    <div ng-repeat="item in sample.added_properties">
                        <cgroup label="{{item.name}}">
                            <input class="input-xlarge" ng-model="item.value" type="text" ng-disabled="true">
                        </cgroup>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
