<div class="panel panel-primary">
    <div class="panel-heading sideboard-color home-panel-heading home-panel-heading">
        <i class="fa fa-fw fa-clipboard-o bold"></i>
        <span>
            Items ({{matches.length | number}})
        </span>
        <span ng-if="splitIcon" class="pull-right bar-control">
            <a ng-click="splitScreen()">
                <i class="fa fa-fw"
                   ng-class="{'fa-columns': !isSplitExpanded(), 'fa-close mc-danger': isSplitExpanded()}"></i>
            </a>
        </span>

        <input type="text" ng-model="searchInput" class="pull-right col-xs-4"
               placeholder="Search sideboard...">
    </div>
    <div class="panel-body home-panel-body no-max-height">
        <ul  class="list-unstyled">
            <li class="home-item"
                ui-draggable="true"
                ui-on-drop="onDrop(i, $data, $event)">
                <div class="dropzone">
                    <h4 class="text-center">
                        Drop here
                    </h4>
                </div>
            </li>
            <li class="home-item"
                ng-repeat="item in sideboard | filter:sideboardSearch | orderBy:'name' as matches">
                <display-item item="item"
                              show-sideboard="false">
                </display-item>
            </li>
        </ul>
    </div>
</div>
