<div class="sidebar">
    <div class="list-group sidebar-list">
        <div class="list-group-item sidebar-action" style="padding-top: 8px; padding-bottom: 8px">
            <a style="color: white" ng-click="showProjects = !showProjects">
                <i class="fa fa-txt-align fa-briefcase"></i> Projects
                <i class="fa"
                   ng-class="{'fa-chevron-right': !showProjects, 'fa-chevron-down': showProjects}"></i>
                <span class="badge badge-light pull-right">{{projects.length}}</span>
            </a>
            <div ng-show="showProjects" style="overflow: auto; height: 400px;">
                <a class="list-group-item"
                   ng-repeat="p in projects"
                   ng-click="setProject(p)">
                    <i class="fa fa-txt-align fa-briefcase"></i> {{p.name}}
                </a>
            </div>
        </div>
    </div>

    <div class="list=group sidebar-list">
        <a class="list-group-item sidebar-action"
           ng-click="showProjectActions = !showProjectActions"
           style="color: #97c7e0">
            {{project.name}}
            <i class="fa"
               ng-class="{'fa-chevron-right': !showProjectAction, 'fa-chevron-down': showProjectActions}">
            </i>
        </a>

        <div ng-show="showProjectActions">
            <a class="list-group-item">
                <i class="fa fa-txt-align fa-home" style="margin-right: 8px"></i> Home
            </a>

            <a href="#" class="list-group-item">
                <i class="fa fa-txt-align fa-code-fork"></i> Provenance
                <span class="badge badge-light">{{project.processes.length}}</span>
            </a>

            <a href="#" class="list-group-item">
                <i class="fa fa-txt-align fa-cubes"></i> Samples
                <span class="badge badge-light">{{project.samples.length}}</span>
            </a>

            <a href="#" class="list-group-item">
                <i class="fa fa-txt-align fa-comment"></i> Reviews
                <span class="badge badge-light">{{project.reviews.length}}</span>
            </a>

            <a href="#" class="list-group-item">
                <i class="fa fa-txt-align fa-edit"></i> Notes
                <span class="badge badge-light">{{project.notes.length}}</span>
            </a>

            <a href="#" class="list-group-item">
                <i class="fa fa-txt-align fa-files-o"></i> Files
                <span class="pull-right"
                      style="color: white">{{project.fileCount}}/{{project.projectSize}}</span>
            </a>

            <a href="#" class="list-group-item">
                <i class="fa fa-txt-align fa-check-square"></i> Tasks
            </a>

            <a href="#" class="list-group-item">
                <i class="fa fa-txt-align fa-gears"></i> Preferences
            </a>
        </div>
    </div>

    <div class="list-group sidebar-list" style="margin-top: 20px;">
        <div class="list-group-item sidebar-action">
            <a style="color: white" ng-click="showTags = !showTags">
                <i class="fa fa-txt-align fa-tags"></i> Tags
                <i class="fa"
                   ng-class="{'fa-chevron-right': !showTags, 'fa-chevron-down': showTags}"></i>
                <span class="badge bade-light pull-right">{{tags.length}}</span>
            </a>
            <div ng-show="showTags">
                <a href="#" class="list-group-item" ng-repeat="tag in tags">
                </a>
            </div>
        </div>
    </div>

    <div class="list-group sidebar-list" style="margin-top: 20px;">
        <div class="list-group-item sidebar-action">
            <a style="color: white" ng-click="showAllRecent = !showAllRecent">
                <i class="fa fa-txt-align fa-history"></i> Recent
                <i class="fa"
                   ng-class="{'fa-chevron-right': !showAllRecent, 'fa-chevron-down': showAllRecent}"></i>
                <span class="badge badge-light pull-right">{{recents.length}}</span>
            </a>
            <div ng-show="showAllRecent">
                <a href="#" class="list-group-item" ng-repeat="recent in recents">
                    <i class="fa fa-txt-align" ng-class="recentIcon(recent.itype)"></i>
                    {{recent.name}}
                </a>
            </div>
        </div>
    </div>
</div>
