p {
    display: inline;
}

nav li {
    display: inline-block;
    padding: 0px;
    background: gainsboro;
}

hr.horizontal_line {
    border: 0;
    color: #a4a7a2;
    background: #a4a7a2;
    height: 1px;
}

body {
    padding-top: 0px;
    /*background-color:#99ccff;*/
    /*background-color:#626262;*/
    /*padding-bottom: 40px;*/
    /*background:#9CBAC9;*/

    /*#C5C1AA;*/

    /*#8C9896;*/
    /*#768582; */
    /*url(../img/fading_background_17.png) repeat-x;*/
    /*background: url(../img/background/noisy-texture-grey.png) repeat;*/
}

td {
    padding-right: 40px;
}

.mc-logo {
    /*color: #53868B;*/
    color: #191970;
    /*text-shadow: 1px 0 #F5F5F5;*/
}

.mc-border {
    border-style: solid;
    border-width: 3px;
    padding: 2px;
    margin: 2px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    /*background-color: #F5F5F5;*/
    background-color: #CDCDB4;
    background-color: #99ccff;
    -webkit-box-shadow: rgba(0, 0, 0, 0.7) 3px 3px 3px;
    -moz-box-shadow: rgba(0, 0, 0, 0.7) 3px 3px 3px;
}

.custom_font {
    color: #888888;
    font: italic 1em Georgia, Times, serif;
    margin: 1em 0;
    padding: 0 0 0 1.7em;

}

.mc-active {
    -webkit-box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.7);
    -moz-box-shadow: inset 1px 1px 1px #FFFF00;
    box-shadow: inset 3px 3px 15px rgba(0, 0, 0, 0.7), 3px 3px 5px rgba(0, 0, 0, 0.7);
    /*-webkit-box-shadow: rgba(0,0,0,0.7) 3px 3px 3px;*/
    /*-moz-box-shadow: rgba(0,0,0,0.7) 3px 3px 3px;*/
}

.content-area {
    background-color: #CDCDB4;
<!-- CDCDB4 --> border-radius : 25 px;
    color: black;
    box-shadow: 0 0 0 2px black;
    margin-bottom: 10px;
}

.container-narrow {
    margin: 0 auto;
    max-width: 700px;
}

.mc-tools-sidebar {

}

.mc-table {
    color: black;
}

.mc-form {
    background-color: #F5F5F5;
}

.mc-tools-sidenav {
    position: fixed;
    top: 60px;
    left: 2px;
    margin: 0 0 -1px;
    background: #F5F5F5;
    list-style-type: none;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}

.mc-tools-sidenav > li > a {
    display: block;
    font-weight: bold;
    color: black;
    width: 170px;
    margin: 0 0 -1px;
    padding: 8px 14px;
    border: 1px solid #e5e5e5;
    text-decoration: none;
}

.mc-tools-sidenav > li:first-child > a {
    -webkit-border-radius: 6px 6px 0 0;
    -moz-border-radius: 6px 6px 0 0;
    border-radius: 6px 6px 0 0;
}

.mc-tools-sidenav > li:last-child > a {
    -webkit-border-radius: 0 0 6px 6px;
    -moz-border-radius: 0 0 6px 6px;
    border-radius: 0 0 6px 6px;
}

.mc-tools-sidenav > li > a:hover {
    background-color: #A3B8C2;
}

div.node.level0 {
    background-color: #c3eafb;
    border-radius: 5px;
    width: 150px;
    border: 2px solid #b5d9ea;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.5) 2px 2px 2px;
    -moz-box-shadow: rgba(0, 0, 0, 0.5) 2px 2px 2px;
}

div.node.level1 {
    background-color: #cee3ac;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.5) 2px 2px 2px;
    -moz-box-shadow: rgba(0, 0, 0, 0.5) 2px 2px 2px;
    width: 100px;
    border: 2px solid #b8da83;
}

div.node.level2 {
    background-color: #fff7aa;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.5) 2px 2px 2px;
    -moz-box-shadow: rgba(0, 0, 0, 0.5) 2px 2px 2px;
    width: 100px;
    border: 2px solid #e3ca4b;
}

.mc-table-hover tbody tr:hover td,
.mc-table-hover tbody tr:hover th {
    background-color: #CCCCCC;
}

.people-heading {
    margin-top: 25px;
}

.fileinput-button {
    position: relative;
    overflow: hidden;
}

.fileinput-button input {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    opacity: 0;
    filter: alpha(opacity=0);
    transform: translate(-300px, 0) scale(4);
    font-size: 23px;
    direction: ltr;
    cursor: pointer;
}

/* app-old css stylesheet */

.menu {
    list-style: none;
    border-bottom: 0.1em solid black;
    margin-bottom: 2em;
    padding: 0 0 0.5em;
}

.menu:before {
    content: "[";
}

.menu:after {
    content: "]";
}

.menu > li {
    display: inline;
}

.menu > li:before {
    content: "|";
    padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
    content: "";
    padding: 0;
}

.smart-table-data-row.selected {
    background: darkgray;
}

.header-content:before {
    content: ' ';
    position: relative;
    left: -5px;
}

.sort-ascent:before {
    content: "\25B4";
}

.sort-descent:before {
    content: "\25BE";
}

.pagination {
    text-align: center;
    cursor: pointer;
}

.smart-table th {
    width: 120px;
    padding: 0 20px;
}

.chat-box {
    width: 440px;
    float: left;
    margin: 0 20px 0 20px;
}

.chat-box div, .chat-box input {
    border: 1px solid;
    -moz-border-radius: 4px;
    border-radius: 4px;
    width: 100%;
    padding: 5px;
    margin: 3px 0 10px 0;
}

.chat-box div {
    border-color: grey;
    height: 150px;
    overflow: auto;
}

div.processbox {
    position: relative;
    background: #88b7d5;
    border: 4px solid #c2e1f5;
    text-align: center;
}

.arrow_box_left {
    position: relative;
    background: #88b7d5;
    border: 4px solid #c2e1f5;
}

.arrow_box_left:after, .arrow_box_left:before {
    right: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.arrow_box_left:after {
    border-color: rgba(136, 183, 213, 0);
    border-right-color: #88b7d5;
    border-width: 30px;
    top: 50%;
    margin-top: -30px;
}

.arrow_box_left:before {
    border-color: rgba(194, 225, 245, 0);
    border-right-color: #c2e1f5;
    border-width: 36px;
    top: 50%;
    margin-top: -36px;
}

.arrow_box_right {
    position: relative;
    background: #88b7d5;
    text-align: center;
    /*border: 4px solid #c2e1f5;*/
}

.arrow_box_right:after, .arrow_box:before {
    left: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.arrow_box_right:after {
    border-color: rgba(136, 183, 213, 0);
    border-left-color: #88b7d5;
    border-width: 30px;
    top: 50%;
    margin-top: -30px;
}

.arrow_box_right:before {
    border-color: rgba(194, 225, 245, 0);
    border-left-color: #c2e1f5;
    border-width: 36px;
    top: 50%;
    margin-top: -36px;
}

img.data-img {
    width: 500px; /* Width of new image */
    height: 420px; /* Height of new image */
    max-width: none;
    position: absolute;
}

hr {
    -moz-border-top-colors: gray;
}

/*.gridStyle {*/
/*border: 1px solid rgb(212,212,212);*/
/*width: 900px;*/
/*height: 400px*/
/*}*/

/*.well-popup {*/
/*background-color: #ecfaaf;*/
/*border: 1px solid rgba(33, 8, 24, 0.99);*/
/*border-radius: 4px 4px 4px 4px;*/
/*box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05) inset;*/

/*}*/

.label-info.custom {
    background-color: #3A87AD;
    font-size: 10px;
    margin-left: 3px;
    margin-bottom: 3px;
    line-height: 14px;
}

.h1.custom {
    background-color: white;
    font: 180% sans-serif;
    color: #226;
    border-bottom: 3px dotted #77d
}

.line {
    display: block;
    border: none;
    color: #333;
    background: transparent;
    border-bottom: 1px dotted black;
    padding: 5px 2px 0 2px;
}

.line:focus {
    outline: none;
    border-color: #51CBEE;
}

.project-scrollbar {
    max-height: 150px;
    overflow-y: scroll;
}

.prov-img-flow {
    background-color: #20b942;
}

.prov-flow {
    background-color: #40b9b7;

}

.block label {
    display: inline-block;
    padding-top: 10px;
    width: 250px;
    text-align: left;
}

.icon-autoscroll {
    display: inline-block;
    background-color: green;
}

.icon-autoscroll-disabled {
    display: inline-block;
    background-color: red;
}

.muted {
    font-style: italic;
}

.btn {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.navbar-inner {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}





