p {
    display: inline;
}

nav li {
    display: inline-block;
    padding: 0px;
    background: gainsboro;
}

hr.horizontal_line {
    border: 0;
    color: #a4a7a2;
    background: #a4a7a2;
    height: 1px;
}

body {
    padding-top: 0px;
    font-size: 13px;
}

td {
    padding-right: 40px;
}

.mc-table {
    color: black;
}

.mc-table-hover tbody tr:hover td,
.mc-table-hover tbody tr:hover th {
    background-color: #CCCCCC;
}

.people-heading {
    margin-top: 25px;
}

.pagination {
    text-align: center;
    cursor: pointer;
}

.chat-box {
    width: 440px;
    float: left;
    margin: 0 20px 0 20px;
}

.chat-box div, .chat-box input {
    border: 1px solid;
    -moz-border-radius: 4px;
    border-radius: 4px;
    width: 100%;
    padding: 5px;
    margin: 3px 0 10px 0;
}

.chat-box div {
    border-color: grey;
    height: 150px;
    overflow: auto;
}

hr {
    -moz-border-top-colors: gray;
}

.label-info.custom {
    background-color: #3A87AD;
    font-size: 12px;
    margin-left: 3px;
    margin-bottom: 3px;
    line-height: 14px;
}

.h1.custom {
    background-color: white;
    font: 180% sans-serif;
    color: #226;
    border-bottom: 3px dotted #77d
}

.line {
    display: block;
    border: none;
    color: #333;
    background: transparent;
    border-bottom: 1px dotted black;
    padding: 5px 2px 0 2px;
}

.line:focus {
    outline: none;
    border-color: #51CBEE;
}

.project-scrollbar {
    max-height: 200px;
    overflow-y: auto;
}

.prov-img-flow {
    background-color: #20b942;
}

.prov-flow {
    background-color: #40b9b7;

}

.block label {
    display: inline-block;
    padding-top: 10px;
    width: 250px;
    text-align: left;
}

.icon-autoscroll {
    display: inline-block;
    background-color: green;
}

.icon-autoscroll-disabled {
    display: inline-block;
    background-color: red;
}

.not-connected {
    color: red;
}

.muted {
    font-style: italic;
}

.btn {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.navbar-inverse .navbar-inner {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    height: 30px;
    font-size: 13px;
    font-weight: bold;
    background-color: #0c5c86;
    background-image: linear-gradient(to bottom, #0c5c86, #0c5c86);
}

.navbar-inverse .nav .active > a,
.navbar-inverse .nav .active > a:hover,
.navbar-inverse .nav .active > a:focus {
    color: antiquewhite;
    background-color: #0c84cc;
}

.navbar {
    margin-bottom: 2px;
}

.navbar .brand,
.navbar .nav > li > a {
    padding: 8px 10px 0px 10px;
}
.navbar-inner {
    min-height:16px;
}
.navbar .navbar-inner .brand {
    margin-top: 0px;
}

.btn-primary {
    background-color: #0c5c86;
}

.btn-info {
    background-color: #67889d;
}

.btn-success {
    background-color: #16a085;
}

.toolbar-item {
    margin-left: 10px;
}

.btn-success:hover,
.btn-success:focus,
.btn-success:active,
.btn-success.active,
.btn-success.disabled,
.btn-success[disabled] {
    color: #ffffff;
    background-color: #16a060;
    *background-color: #1bd3af;
}

input[disabled],
input[readonly],
textarea[disabled],
textarea[readonly] {
    color: #252525;
}

.toolbar-border {
    padding-right: 20px;
    /*border-right: 1px solid #ccc;*/
}

.is-active {
    background: blue;
}

.active {
    outline: none;
}

/*
** Remove outline on selected items (eg in a tab pill)
*/
a:focus {
    outline: none;
}

.tabs-right > .nav-tabs > li > a {
    padding-right: 50px;
}

.nav,
.pagination,
.carousel,
.panel-title a {
    cursor: pointer;
}

.modal.fade {
    -webkit-transition: opacity .2s linear, none;
    -moz-transition: opacity .2s linear, none;
    -ms-transition: opacity .2s linear, none;
    -o-transition: opacity .2s linear, none;
    transition: opacity .2s linear, none;
    top: 50%;
}

.validation-invalid {
    color: red;
    font-size: 13px;
    font-style: italic;
}

/*input[disabled] {*/
/*border: 2px solid black;*/
/*-webkit-border-radius: 6px;*/
/*-moz-border-radius: 6px;*/
/*border-radius: 6px;*/
/*}*/

.form-inline h3 {
    display: inline;
}

.circle-text {
    width: 50%;
}

.circle-text:after {
    content: "";
    display: block;
    width: 100%;
    height: 0;
    padding-bottom: 100%;
    background: #4679BD;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

.circle-text div {
    font-weight: bold;
    float: left;
    width: 100%;
    padding-top: 50%;
    line-height: 1em;
    margin-top: -0.5em;
    text-align: center;
    color: white;
}

.fa-check,
available {
    color: limegreen;
}

.fa-times,
notavailable{
    color: red;
}
.form-horizontal .control-group {
    margin-bottom: 2px;
    font-size: 13px;
}
.form-horizontal .control-label {
    width: 200px;
    padding-right: 10px;
}
.row-fluid [class*="span"] {
    margin-left: 10px;
}

textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
    padding: 3px;
}
select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
    padding: 3px;
    font-size: 13px;
}


textarea, .uneditable-input {
    width: 400px;
    height: 50px;
}
label, input, button, select, textarea {
    font-size: 13px;
}

.unit-select{
    width:130px;
}
.btn{
    padding: 4px 15px;
    font-size: 13px;
}
.btn-group > .btn, .btn-group > .dropdown-menu, .btn-group > .popover {
    font-size: 13px;
}
/*#footer {*/
    /*position:absolute;*/
    /*bottom:0;*/
    /*width:100%;*/
    /*height:60px;   *//* Height of the footer */
    /*background:#6cf;*/
/*}*/

.well{
    padding : 0px;
    background-color: grey;
    border-radius: 0px;

}



