.DS_Store
.idea
*.dump
.cache
.tmp
yarn.lock
package-lock.json
nohup.out
test
apitest
materialscommons/
materials.tar.gz
node_modules
npm-debug.log
coverage
sbin
bower_components/
rethinkdb_data/
mochawesome-reports/
html/
