<!doctype html>
<html ng-app="materialscommons" ng-strict-di>
<head>
    <meta charset="utf-8">
    <title>Materials Commons</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

    <!-- build:css({.tmp/serve,src}) styles/vendor.css -->
    <!-- bower:css -->
    <!-- run `gulp inject` to automatically populate bower styles dependencies -->
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:css({.tmp/serve,src}) styles/app.css -->
    <link href="app/external/css/roboto.css" rel="stylesheet">
    <link href="app/external/css/bootstrap.css" rel="stylesheet">
    <link href="app/external/css/zenburn.css" rel="stylesheet">
    <link href="app/external/css/periodic-table.css" rel="stylesheet">
    <link href="app/external/css/fullcalendar.css" rel="stylesheet">
    <link href="app/external/css/ng-tags-input.css" rel="stylesheet">
    <!-- inject:css -->
    <!-- css files will be automatically insert here -->
    <!-- endinject -->
    <link href="app/style-3.css" rel="stylesheet">
    <!-- endbuild -->
</head>
<body layout="column" ng-controller="MCAppController as ctrl" style="overflow:hidden; height: 99vh; max-height: 99vh">
<!--[if lt IE 10]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
    your browser</a> to improve your experience.</p>
<![endif]-->


<navbar ng-if="ctrl.isAuthenticated()" search="{{ctrl.searchText}}"></navbar>
<mc-project-navbar ng-if="ctrl.inProject()"></mc-project-navbar>

<div ng-if="false" layout="column" flex style="overflow:auto">
    <check-md-content ng-if="true" flex></check-md-content>
    <div flex layout="column" ng-if="false">
        <div>Hello world with div and ng-if in div</div>
        <md-content flex>
            <div ng-repeat="item in ctrl.items">{{item}}</div>
        </md-content>
    </div>
</div>

<div layout="column" flex style="overflow:auto">
    <ui-view ng-if="true" flex layout-fill></ui-view>
</div>

<!--<md-content flex>-->
<!--<ui-view flex="100"></ui-view>-->
<!--</md-content>-->

<!-- build:js(src) scripts/vendor.js -->
<!-- bower:js -->
<!-- run `gulp inject` to automatically populate bower script dependencies -->
<!-- endbower -->
<!-- get from bower -->
<script src="app/external/js/angular-filter.js"></script>
<script src="app/external/js/TreeModel-min.js"></script>
<script src="app/external/js/lodash.min.js"></script>
<script src="app/external/js/angular-cache-2.3.3.min.js"></script>

<!-- These are needed for the full size calendar -->
<script src="app/external/js/moment.min.js"></script>
<script src="app/external/js/fullcalendar.js"></script>
<script src="app/external/js/calendar.js"></script>
<!-- end get from bower -->

<!-- Our own custom version of flow.js -->
<script src="app/external/js/flow.js"></script>
<!-- endbuild -->

<!-- build:js({.tmp/serve,.tmp/partials}) scripts/app.js -->
<!-- inject:js -->
<!-- js files will be automatically insert here -->
<!-- endinject -->

<!-- inject:partials -->
<!-- angular templates will be automatically converted in js and inserted here -->
<!-- endinject -->
<!-- endbuild -->

</body>
</html>
