<div class="col-lg-12" ng-controller="projectsProvenanceFinish">
    <div class="row"><br>
        <div class="panel panel-default">
            <div class="panel panel-heading">
                Process
            </div>
            <div class="panel panel-body">
                <display label="Name:"> {{process.name}}</display>
                <display label="Description:">
                    {{process.description}}
                </display>
                <display label="Notes:">
                    <ul ng-repeat=" note in process.notes">
                        <li style="word-break:break-all;">{{note.message}}</li>
                    </ul>
                </display>
                <display label="Runs:">
                    <div ng-if="process.template.template_pick=='experiment'">
                        {{process.experiment_run_date}}
                    </div>
                    <div ng-if="process.template.template_pick=='computation'">
                        <ul ng-repeat=" run in process.runs">
                            <li style="word-break:break-all;">{{run.start_run}} - {{run.stop_run}}</li>
                        </ul>
                    </div>
                </display>
                <div df-report default-properties="process.default_properties"></div>

                <div ng-repeat="ad in process.added_properties">
                    <display label="{{ad.name}}"> {{ad.value}}</display>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="panel panel-default">
            <div class="panel panel-heading">
                Inputs
            </div>
            <div class="panel panel-body">
                <form class="form-horizontal" ng-repeat="(name, vals) in inputs">
                    <label><u>{{ name }}</u></label>

                    <div ng-if="name=='sample'">
                        <div class="row">
                            <display label="Name:"> {{vals.sample.name}}</display>
                            <display label="Description:">
                                {{vals.sample.description}}
                            </display>
                            <div ng-repeat="(name, vals) in vals.sample.properties">
                                <div ng-if="name==='composition'">
                                    <display label="{{name}}">
                                        <ul ng-repeat="c in vals.value">
                                            <li>{{c.element}} - {{c.value}} {{p.unit}}</li>
                                        </ul>
                                    </display>
                                </div>
                                <div ng-if="name!=='composition'">
                                    <display label="{{name}}"> {{vals.value}}</display>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div ng-if="name!=='sample'">
                        <div class="row">
                            <div df-report default-properties="vals.default_properties"></div>
                            <div ng-repeat="ad in vals.added_properties">
                                <display label="{{ad.name}}"> {{ad.value}}</display>
                            </div>
                        </div>
                    </div>
                </form>
                <form ng-if="input_files.length != 0" class="form-horizontal">
                    <label><u>Input Files</u></label>
                    <display ng-repeat="file in input_files" label="File:">
                        {{file.name}}
                    </display>
                </form>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="panel panel-default">
            <div class="panel panel-heading">
                Outputs
            </div>
            <div class="panel panel-body">
                <form class="form-horizontal" ng-repeat="(name, vals) in outputs">
                    <label><u>{{ name }}</u></label>

                    <div ng-if="name=='transformed-sample'">
                        <div class="row">
                            <display label="Name:"> {{vals.sample.name}}</display>
                            <display label="Description:">
                                {{vals.sample.description}}
                            </display>
                            <div df-report default-properties="vals.sample.properties"></div>
                        </div>
                    </div>
                    <div ng-if="name!=='sample'">
                        <div class="row">
                            <div df-report default-properties="vals.default_properties"></div>
                            <div ng-repeat="ad in vals.added_properties">
                                <display label="{{ad.name}}"> {{ad.value}}</display>
                            </div>
                        </div>
                    </div>
                </form>
                <form ng-if="output_files.length != 0" class="form-horizontal">
                    <label><u>Output Files</u></label>
                    <display ng-repeat="file in output_files" label="File:">
                        {{file.name}}
                    </display>
                </form>
            </div>
        </div>
    </div>
    <div class="row">
        <button ng-click="saveDraft()" class="btn btn-default btn-primary">Save Draft</button>
        <button data-toggle="modal" data-target="#confirm" class="btn btn-success">Submit</button>
        <button ng-click="deleteDraft()" class="btn btn-danger">Delete</button>
    </div>
    <!--Modal-->
    <div class="modal fade" id="confirm" tabindex="-1" role="dialog" aria-labelledby="confirmLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">{{title}}</h4>
                </div>
                <div class="modal-body">
                    {{message}}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" ng-click="cancel()" data-dismiss="modal">No</button>
                    <button type="button" class="btn btn-primary" ng-click="submitProvenance()" data-dismiss="modal">Yes</button>
                </div>
            </div>
        </div>
    </div>
</div>
