<div layout-margin ui-tree="$ctrl.treeOptions" data-clone-enabled="true"
     data-nodrop-enabled="{{$ctrl.nodropEnabled}}" data-empty-placeholder-enabled="true">
    <ol ui-tree-nodes ng-model="$ctrl.components">
        <li ng-repeat="component in $ctrl.components track by component.data.id" ui-tree-node>
            <div ui-tree-handle>
                <a ng-click="component.expand = !component.expand" data-nodrag>
                    <span ng-if="component.expand"><i class="fa fa-fw fa-folder-open file-tree-icon-color"></i></span>
                    <span ng-if="!component.expand"><i class="fa fa-fw fa-folder file-tree-icon-color"></i></span>
                    {{::component.data.name}}
                </a>
            </div>
            <mc-project-share-tree-dir component="component" project="$ctrl.project" ng-if="component.expand"></mc-project-share-tree-dir>
        </li>
    </ol>
</div>