<h1>Tags</h1>

<div class="row-fluid">
    <div class="span3">
        <div class="well">
            <legend><a href="#/subpages/listtags">List Tags</a></legend>
            <p>Displays all the tags in the system</p>
        </div>

    </div>

    <!--<div class="span3">-->
        <!--<div class="well">-->
            <!--<legend><a href="#/subpages/mytagslist">Tags on My Data</a></legend>-->
            <!--<p>Tags created for your data</p>-->
        <!--</div>-->

    <!--</div>-->

    <div class="span3">
        <div class="well">
            <legend><a href="#/subpages/globaltagcloud">Global Tag Cloud</a></legend>
            <p>A tag cloud is a stylized way of visually representing occurrences of words used to described tags</p>
        </div>
    </div>
</div>