<div>
    <div class="modal-header">
        <h3 class="modal-title">Select Items</h3>
    </div>
    <div class="modal-body">
        <div class="row">
            <!-- Nav tabs -->
            <ul class="nav nav-tabs">
                <li ng-repeat="tab in ctrl.tabs"
                    ng-class="{active: ctrl.isActive(tab.name)}">
                    <a ng-click="ctrl.setActive(tab.name)" class="text-uppercase">
                        <i class="fa fa-fw" ng-class="tab.icon"></i>
                        {{tab.name}}
                    </a>
                </li>
            </ul>

            <div class="tab-content clearfix">
                <div ng-if="ctrl.isActive('samples')">
                    <select-items-samples samples="ctrl.samples"></select-items-samples>
                </div>
                <div ng-if="ctrl.isActive('processes')">
                    <select-items-processes processes="ctrl.processes"></select-items-processes>
                </div>
                <div ng-if="ctrl.isActive('files')">
                    <select-items-files files="ctrl.files"></select-items-files>
                </div>
                <div ng-if="ctrl.isActive('reviews')">
                    reviews
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="ctrl.ok()">OK</button>
        <button class="btn btn-warning" ng-click="ctrl.cancel()">Cancel</button>
    </div>
</div>