<div>
    <div class="modal-header">
        <h3 class="modal-title">Choose Users</h3>
    </div>
    <br>
    <div class="modal-body">
        <ul class="list-unstyled">
            <li ng-repeat="user in ctrl.users">
                <div class="checkbox">
                    <input type="checkbox" id="{{user.name}}" ng-model="user.selected">
                    <label for="{{user.name}}">{{user.name}}</label>
                </div>
            </li>
        </ul>
    </div>
    <div class="modal-footer">
        <button class="btn bt-success text-uppercase" ng-click="ctrl.ok()">ok</button>
        <button class="btn btn-warning text-uppercase" ng-click="ctrl.cancel()">cancel</button>
    </div>
</div>