<div layout="column" layout-margin layout-fill>
    <div ng-if="$ctrl.flow.files.length" layout="row">
        <md-button class="md-primary"
                   ng-click="$ctrl.flow.resume()"
                   ng-show="!$ctrl.flow.isUploading()">
            Upload All
        </md-button>
        <md-button class="md-warn md-hue-2"
                   ng-click="$ctrl.flow.pause()"
                   ng-show="$ctrl.flow.isUploading()">
            Pause
        </md-button>
        <md-button class="md-warn md-hue-1"
                   ng-click="$ctrl.flow.cancel()">
            Cancel All
        </md-button>
    </div>
    <div ng-if="!$ctrl.flow.files.length" layout="column">
        <p class="md-headline">
            All uploads are finished. Click
            <a class="md-primary" ui-sref="project.files">Done</a>
            to return to file tree view.
        </p>
    </div>

    <h4 ng-if="$ctrl.flow.files.length" class="md-title">Files to upload:</h4>
    <h4 ng-if="!$ctrl.flow.files.length" class="md-title">Files uploaded:</h4>

    <md-content>
        <section ng-repeat="(dir, files) in $ctrl.filesByDir">
            <md-subheader>{{dir}}</md-subheader>
            <md-list>
                <md-list-item ng-repeat="file in files">
                    <mc-file-upload-entry file="file" flex="100"></mc-file-upload-entry>
                </md-list-item>
            </md-list>
        </section>
    </md-content>
</div>