<div layout="column" layout-margin layout-fill>
    <h3 class="md-headline">Sample: {{$ctrl.sample.name}}</h3>
    <div layout="row">
        <span class="md-subhead"><i class="fa fa-calendar"></i>{{$ctrl.sample.birthtime | toDateString}}</span>
        <span flex="10"></span>
        <span class="md-subhead"><i class="fa fa-user"></i>{{$ctrl.sample.owner}}</span>
    </div>

    <md-tabs md-selected="$ctrl.currentTab" md-dynamic-height md-border-bottom>
        <md-tab>
            <md-tab-label>
                <span><i class="fa fa-fw fa-code-fork"></i>processes ({{$ctrl.sample.processes.length}})</span>
            </md-tab-label>
            <md-tab-body>
                <mc-processes processes="$ctrl.sample.processes"></mc-processes>
            </md-tab-body>
        </md-tab>
        <md-tab>
            <md-tab-label>
                <span><i class="fa fa-fw fa-files-o"></i>files ({{$ctrl.sample.linked_files.length}})</span>
            </md-tab-label>
            <md-tab-body>
                <mc-files files="$ctrl.sample.linked_files"></mc-files>
            </md-tab-body>
        </md-tab>
    </md-tabs>
</div>