<div layout="row" layout-fill layout-align="start stretch">
    <div flex="30" layout="column" layout-margin>
        <label>Project Description</label>
        <div md-whiteframe layout-margin>
            <div ckeditor="editorOptions"
                 ng-model="$ctrl.project.description"
                 ng-model-options="{debounce: 500}"
                 ng-change="$ctrl.updateProjectDescription()"
                 contenteditable="true">
                {{$ctrl.project.description}}
            </div>
        </div>
    </div>
    <div layout="column" flex layout-margin>
        <div layout="row" layout-align="center center">
            <md-radio-group layout="row" class="text-uppercase" ng-model="$ctrl.whichExperiments">
                <md-radio-button value="active" class="md-primary">Active Experiments</md-radio-button>
                <md-radio-button value="done" class="md-primary">Completed Experiments</md-radio-button>
                <md-radio-button value="on-hold" class="md-warn">On Hold Experiments</md-radio-button>
            </md-radio-group>
        </div>
        <div layout="row" layout-align="start center">
            <md-button class="md-primary md-raised" ng-click="$ctrl.startNewExperiment()">
                <i class="fa fa-fw fa-plus"></i> Start New Experiment
            </md-button>
        </div>
        <md-content style="max-height: 70vh" layout="column" layout-align="start stretch" flex>
            <div layout="row" layout-wrap>
                <md-card flex="45" flex-md="60" flex-sm="60" flex-xs="60"
                         ng-repeat="experiment in $ctrl.experiments | filter:{status: $ctrl.whichExperiments} | orderBy:'name'"
                         class="experiment-card">
                    <md-card-header class="project-card-header"
                                    ui-sref="project.experiment.tasks({experiment_id: experiment.id})">
                        <md-card-avatar>
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x mc-md-primary-color"></i>
                                    <i class="fa fa-flask fa-stack-1x fa-inverse"></i>
                                </span>
                        </md-card-avatar>
                        <md-card-header-title>
                            <span class="md-title">{{experiment.name}}</span>
                        </md-card-header-title>
                    </md-card-header>
                    <md-card-title style="padding-top: 0; padding-bottom: 4px;" class="project-card-header"
                                   ui-sref="project.experiment.tasks({experiment_id: experiment.id})">
                        <md-card-title-text>
                            <span class="md-subhead" style="padding-top:4px">{{experiment.description}}</span>
                        </md-card-title-text>
                    </md-card-title>
                    <md-card-actions layout="row" class="md-subhead" layout-align="space-between center">
                        <a class="md-primary" tooltip="tasks"
                           ui-sref="project.experiment.tasks({experiment_id: experiment.id})">
                            <i class="fa fa-fw fa-tasks"></i>{{::experiment.tasks.length}}
                        </a>
                        <a class="md-primary" tooltip="notes"
                           ui-sref="project.experiment.notes({experiment_id: experiment.id})">
                            <i class="fa fa-fw fa-book"></i>{{::experiment.notes.length}}
                        </a>
                        <a class="md-primary" tooltip="datasets"
                           ui-sref="project.experiment.datasets({experiment_id: experiment.id})">
                            <i class="fa fa-fw fa-database"></i>{{::experiment.datasets.length}}
                        </a>
                        <a class="md-primary" tooltip="samples"
                           ui-sref="project.experiment.samples({experiment_id: experiment.id})">
                            <i class="fa fa-fw fa-cubes"></i>{{::experiment.samples.length | number}}
                        </a>
                        <a class="md-primary" tooltip="files"
                           ui-sref="project.experiment.files({experiment_id: experiment.id})">
                            <i class="fa fa-fw fa-files-o"></i>{{::experiment.files.length | number}}
                        </a>
                        <a class="md-primary" tooltip="workflow"
                           ui-sref="project.experiment.workflow({experiment_id: experiment.id})">
                            <i class="fa fa-fw fa-code-fork"></i>{{::experiment.processes.length | number}}
                        </a>
                    </md-card-actions>
                </md-card>
            </div>
        </md-content>
    </div>
</div>
