<div layout="row" layout-fill layout-align="start stretch">
    <div flex="30" layout="column" layout-margin>
        <div layout="row">
            <mc-project-status status="$ctrl.project.status"></mc-project-status>
            <div layout="column" flex="100">
                <label>Description</label>
                <textarea class="mc-text-area" type="text"
                          placeholder="Add short project description..."
                          ng-model-options="{debounce:1000}"
                          ng-change="$ctrl.updateProjectDescription()"
                          ng-model="$ctrl.project.description" flex="100"></textarea>
            </div>
        </div>
        <mc-project-home-reminders project="$ctrl.project" style="margin:0"></mc-project-home-reminders>
        <label>Project Overview</label>
        <div md-whiteframe layout-margin>
            <div ckeditor="editorOptions"
                 ng-model="$ctrl.project.overview"
                 ng-model-options="{debounce: 500}"
                 ng-change="$ctrl.updateProjectOverview()"
                 contenteditable="true">
                {{$ctrl.project.overview}}
            </div>
        </div>
    </div>
    <div layout="column" flex layout-margin>
        <div layout="row" layout-align="center center">
            <md-radio-group layout="row" class="text-uppercase" ng-model="$ctrl.experimentType">
                <md-radio-button value="active" class="md-primary">Active Experiments</md-radio-button>
                <md-radio-button value="done" class="md-primary">Completed Experiments</md-radio-button>
                <md-radio-button value="on-hold" class="md-warn">On Hold Experiments</md-radio-button>
            </md-radio-group>
        </div>
        <div layout="row" layout-align="start center">
            <md-button class="md-primary md-raised" ng-click="$ctrl.startNewExperiment()">
                <i class="fa fa-fw fa-plus"></i> Start New Experiment
            </md-button>
        </div>
        <mc-experiment-overview experiment="experiment"
                                ng-repeat="experiment in $ctrl.experiments | filter:{status: $ctrl.experimentType} | orderBy:'name'">
        </mc-experiment-overview>
    </div>
</div>
