<div ng-controller="toolbarDataEdit">
    <div class="row-fluid">
        <div class="span8">
            <form class="form-inline">
                <a
                        ng-repeat="trailitem in trail">
                    <i class="fa fa-folder fa-2x"></i><span style="margin-right: 7px">{{trailitem}}/ </span>
                </a>

                <h3>{{doc.name}}</h3>
            </form>
        </div>
    </div>
    <div class="row-fluid">
        <div class="span3">
            <img src="assets/img/2H-10X1.JPG">
        </div>
        <div class="span8">

        </div>
    </div>
    <br>

    <div class="row-fluid">
        <div class="tabbable tabs-right">
            <ul class="nav nav-tabs">
                <li class="active"><a href="#review" data-toggle="tab">Reviews</a></li>
                <li><a href="#tags" data-toggle="tab">Tags</a></li>
                <li><a href="#notes" data-toggle="tab">Notes</a></li>
                <li><a href="#provenance" data-toggle="tab">Provenance</a></li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active" id="review" ng-controller="_toolbarDataEditCreateReview">
                    <h3>Reviews:</h3>
                    <table class="table table-striped mc-table-hover table-condensed mc-table">
                        <thead>
                        <tr>
                        <th>From</th>
                        <th>Who?</th>
                        <th>Message</th>
                        <th>Date Created</th>
                        <th>Status</th>
                        <th>Mark as Done</th>
                        </thead>
                        <tbody>
                        <tr ng-repeat="review in all_reviews" style="cursor:pointer">
                            <td>{{ review.requested_by }}</td>
                            <td>{{ review.requested_to }}</td>
                            <td>{{ review.note }}</td>
                            <td>{{ review.birthtime | toDateString }}</td>
                            <td>{{review.status}}</td>
                            <td ng-show="review.requested_to==signed_user">
                                <input type="checkbox" ng-model="review.status" ng-click="reviewStatusChanged($index)"
                                       ng-true-value="Finished" ng-false-value="InProcess">
                            </td>

                            <td ng-hide="review.requested_to==signed_user">
                                Not Authorized
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <!--<div review-table></div>-->
                    <h4>Mark For Followup</h4>
                    <input type="text" ng-model="review_note_self"
                           ui-keypress="{13: 'addReviewNoteKeypressCallback($event)'}"
                           placeholder="Review Note...">

                    <h4>Request to Review</h4>
                    <input type="text" ng-model="review_note_other" placeholder="Review Note...">
                    <select ng-model="user_for_review"
                            ui-select2="{placeholder: 'Select user', allowClear: true, width:'element'}"
                            ng-multiple="false">
                        <option></option>
                        <option ng-repeat="user in users">{{ user }}</option>
                    </select>
                    <button style="position:absolute" ng-click="addReviewForOther()" class="btn btn-info">Request
                        Review
                    </button>
                </div>
                <div class="tab-pane" id="tags">
                    <div class="span5">
                        <h3>Tags</h3>
                        <label>Create new tag:</label>

                        <form class="form-horizontal">
                            <input ui-keypress="{13: 'addTagKeypressCallback($event)'}" ng-model="new_tag"
                                   placeholder="Tag...">
                            <label>Choose from existing tags:</label>
                            <select ng-model="tag_to_add"
                                    ui-select2="{placeholder: 'Select tag', allowClear: true, width:'element'}"
                                    ng-multiple="false">
                                <option></option>
                                <option ng-repeat="tag in tagchoices">{{ tag }}</option>
                            </select>
                            <button ng-click="addTag()" ng-disabled="!tag_to_add" class="btn btn-info">Add</button>
                        </form>
                    </div>
                    <div class="span5">
                        <h3>List of Tags:</h3>
                             <span class="label label-info" style="margin-left: 5px" ng-repeat="tag in doc.tags">
                                        <button type="button" class="close"
                                                ng-click="removeTag($index);">&times;</button>{{ tag }}
                             </span>
                    </div>

                </div>
                <div class="tab-pane" id="notes">
                    <div class="span5">
                        <h3>Note:</h3>
                        </p>
                        <textarea class="field span10" rows="6" placeholder="Enter a short synopsis"
                                  ng-model="new_note"></textarea> <br>

                        <button ng-click="add_notes()" class="btn btn-primary">Enter</button>
                    </div>
                    <div class="span7">
                        <h3>Previous notes:</h3>

                        <span ng-repeat="n in doc.notes">
                                <textarea class="field span4" rows="3">{{n.message}}</textarea>
                                <span style="font-size: 10px">
                                    {{n.date}}
                                </span>
                        </span>
                    </div>
                </div>
                <div class="tab-pane" id="provenance">
                    <div class="row-fluid">
                        <div class="span8">
                            <span ng-repeat="p in processes">
                            <li ng-class="{'active_t': process.name == 'Data Analysis:2014-02-10'}"
                                style="display: inline">
                                <button ng-click="show_process(p)" class="btn btn-info">{{p.name}}</button>
                            </li> <p><i class="fa fa-long-arrow-right" fa-4x></i></p>
                         </span>
                        </div>

                    </div>
                    <div class="row-fluid" ng-show="show_pr">
                        <div class="span4">
                            <h4><u>Inputs:</u>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                <i  class="fa fa-long-arrow-right fa-1x"></i></h4>
                            <b>Properties:</b><br>

                            <ul style="list-style-position: inside" ng-repeat="f in ip_conditions">
                                <a href="#modalCondition" data-toggle="modal"
                                   ng-click="get_mode_condition(f.right)">{{f.right.name}}</a>
                            </ul>

                            <b>Files:</b>
                            <ul style="list-style-position: inside" ng-repeat="f in ip_files">
                                <a href="#/mytools/data/edit/{{f.right.id}}">{{f.right.name}}</a>
                            </ul>
                        </div>

                        <div class="span4">
                            <h4><u>Process:</u>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                <i class="fa fa-long-arrow-right fa-1x"></i></h4> <br>
                            Process : <span><b>{{process.name}}</b></span><br>
                            Description :<span>{{process.description}}</span> <br>
                            Version:<span>{{process.version}}</span> <br>
                            Notes:
                            <ul ng-repeat="n in process.notes">
                                <li>{{n}}</li>
                            </ul>
                            <br>
                            Runs:
                            <ul ng-repeat="r in process.runs">
                                <li>{{r.started | date:'medium'}} -
                                    {{r.stopped | date:'medium'}} <br> Error Messages:
                                    {{r.error_messages}}
                                </li>
                            </ul>
                        </div>
                        <div class="span4">
                            <h4><u>Outputs:</u></h4> <br>
                            <b>Properties:</b><br>
                            <ul style="list-style-position: inside" ng-repeat="f in op_conditions">
                                <a href="#/mytools/data/edit/{{f.right.id}}">{{f.right.name}}</a>
                            </ul>
                            <br>
                            <b>Files:</b>
                            <ul style="list-style-position: inside" ng-repeat="f in op_files">
                                <a href="#/mytools/data/edit/{{f.right.id}}">{{f.right.name}}</a>
                            </ul>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div> <br>
    <button type="button" class="btn btn-primary" ng-click="saveData()" class="btn btn-primary">Save</button>
    <button type="button" class="btn btn-danger" ng-click="cancel()" class="btn btn-danger">Cancel</button>
</div>
