<div ng-controller="toolbarDataEdit">
    <div class="row-fluid">
        <div class="span8">
            <form class="form-inline">
                <a ng-repeat="trailitem in trail">
                    <span><b>{{trailitem}}/ </b></span>
                </a>
                <a href="#/mytools/data/edit/{{doc.id}}"><b><u>{{doc.name}}</u></b></a>
            </form>
        </div>
    </div>
    <div class="row-fluid">
        <div class="span3">
            <div ng-switch on="fileType">
                <div ng-switch-when="image">
                    <a ng-href="{{ fileSrc }}">View full size</a>
                    <a ng-href="{{ originalFileSrc }}" download="{{ fileName }}" style="margin-left: 15px">Download</a>
                    <img ng-src="{{ fileSrc }}">
                </div>
                <div ng-switch-when="other">
                    <a ng-href="{{ fileSrc }}" download="{{ fileName }}">Download</a>
                    <img style="width: 300px" src="assets/img/no_img_1.png" class="img-polaroid">
                </div>
                <!--<a ng-switch-when="other" ng-href="{{ fileSrc }}" download="{{ fileName }}">{{ doc.name}}</a>-->
            </div>
        </div>
        <div class="span9">
            <form class="form-horizontal">
                <fieldset>
                    <legend>Basic Information</legend>
                    <cgroup label="Description:">
                        <textarea ng-if="doc.description != ''" class="span4" ng-model="model.desc"
                                  rows="3" ng-disabled="model.is_disabled">
                        </textarea>
                    </cgroup>
                    <cgroup label="">
                        <div ng-show="model.is_disabled">
                            <button tooltip="Edit Description" ng-click="edit_details()" class="btn btn-primary">Edit
                            </button>
                        </div>
                        <div ng-hide="model.is_disabled">
                            <button type="button" class="btn btn-primary" ng-click="saveData()" class="btn btn-primary">
                                Save
                            </button>
                            <button type="button" class="btn btn-danger" ng-click="cancel()" class="btn btn-danger">
                                Cancel
                            </button>
                        </div>
                    </cgroup>
                    <cgroup label="Size(kb):">
                        <input class="input-xlarge" ng-model="doc.size" type="text" ng-disabled="true">
                    </cgroup>
                    <cgroup label="Owner:">
                        <input class="input-xlarge" ng-model="doc.owner" type="text" ng-disabled="true">
                    </cgroup>

                </fieldset>
            </form>
        </div>
    </div>
    <br>

    <div class="row-fluid">
        <div class="span8">
            <div ui-view></div>
        </div>
        <div class="span2">
            <div class="tabbable tabs-right">
                <ul class="nav nav-tabs">
                    <li class="active"><a ng-click="showtab('provenance')" data-toggle="tab">Provenance</a></li>
                    <li><a ng-click="showtab('notes')" data-toggle="tab">Notes</a></li>
                    <li ng-controller="toolbarDataEditCreateReview">
                        <a ng-click="showtab('reviews')" data-toggle="tab">Reviews({{reviewsToConduct.length}})</a>
                    </li>
                    <li><a ng-click="showtab('tags')" data-toggle="tab">Tags</a></li>
                </ul>
            </div>
        </div>
    </div>
    <br>
</div>