<div ng-controller="toolbarDataEdit">
    <div class="tab-content">
        <div class="tab-pane active" id="details">
            <div class="row">
                <div class="col-lg-8">
                    <div ng-switch="" on="fileType">
                        <div ng-switch-when="image">
                            <img class="img-responsive"  ng-src="{{ fileSrc }}">
                        </div>
                        <div ng-switch-when="other">
                            <!--<img src="assets/img/no_img_1.png" alt="Responsive image" class="img-responsive">-->
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-10">
                    <fieldset>
                        <legend>{{fileName}}</legend>
                        <cgroup label="Description:">
                            <textarea  ng-if="doc.description != ''" class="form-control" ng-model="model.desc"
                                       ng-disabled="model.is_disabled"> </textarea>
                        </cgroup>
                        <cgroup label="">
                            <div ng-show="model.is_disabled">
                                <button tooltip="Edit Description" ng-click="edit_details()"
                                        class="btn btn-default btn-primary">Edit
                                </button>
                            </div>
                            <div ng-hide="model.is_disabled">
                                <button type="button" class="btn btn-default btn-primary" ng-click="saveData()">
                                    Save
                                </button>
                                <button type="button" class="btn btn-default btn-danger" ng-click="cancel()">
                                    Cancel
                                </button>
                            </div>
                        </cgroup>
                        <cgroup label="Size(bytes):">
                            <input class="input-small form-control" ng-model="doc.size" ng-disabled="true" type="text">
                        </cgroup>
                        <cgroup label="Owner:">
                            <input class="input-large form-control" ng-model="doc.owner" ng-disabled="true" type="text">
                        </cgroup>
                    </fieldset>
                </div>

            </div>
        </div>
        <div class="tab-pane" id="provenance">Prov.</div>
        <div class="tab-pane" id="reviews">Reviews.</div>
        <div class="tab-pane" id="issues">Issues.</div>
        <div class="tab-pane" id="settings">Settings.</div>
        <div class="tab-pane" id="samples">Samples.</div>
    </div>

</div>
