<div class="tab-pane" id="notes">
    <div class="span5">
        <h3>Note:</h3>
        </p>
        <textarea class="field span10" rows="6" placeholder="Enter a short synopsis"
                  ng-model="new_note"></textarea> <br>

        <button ng-click="add_notes()" class="btn btn-primary">Enter</button>
    </div>
    <div class="span7">
        <h3>Previous notes:</h3>

<span ng-repeat="n in doc.notes">
<textarea class="field span4" rows="3">{{n.message}}</textarea>
<span style="font-size: 10px">
{{n.date}}
</span>
</span>
    </div>
</div>