<div class="tab-pane" id="provenance">
    <div class="row-fluid">
        <div class="span8 offset1">
            <form class="form-inline">
                <button class="btn btn-info" ng-click="show_process(output_process[0])">{{output_process[0].name}}
                </button>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <i class="fa fa-long-arrow-right fa-1x"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <span class="circle">{{doc.name}}</span> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <i
                    class="fa fa-long-arrow-right fa-1x"></i> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <select ng-model="selected_input_process"
                        ui-select2="{placeholder: 'Select user', allowClear: true, width:'element'}"
                        ng-multiple="false">
                    <option></option>
                    <option value={{process}} ng-repeat="process in input_processes">{{ process.name }}</option>
                </select>
            </form>
        </div>
    </div>


    <div class="row-fluid" ng-show="show_pr">
        <div class="span4">
            <h4><u>Inputs:</u></h4>
            <b>Properties:</b><br>

            <ul style="list-style-position: inside" ng-repeat="f in ip_conditions">
                <a href="#modalCondition" data-toggle="modal"
                   ng-click="get_mode_condition(f.right)">{{f.right.name}}</a>
            </ul>

            <b>Files:</b>
            <ul style="list-style-position: inside" ng-repeat="f in input_files">
                <a href="#/mytools/data/edit/{{f.id}}">{{f.name}}</a>
            </ul>
        </div>

        <div class="span4">
            <h4><u>Process:</u></h4> <br>
            Process : <span><b>{{process.name}}</b></span><br>
            Description :<span>{{process.description}}</span> <br>
            Version:<span>{{process.version}}</span> <br>
            Notes:
            <ul ng-repeat="n in process.notes">
                <li>{{n}}</li>
            </ul>
            <br>
            Runs:
            <ul ng-repeat="r in process.runs">
                <li>{{r.started | date:'medium'}} -
                    {{r.stopped | date:'medium'}} <br> Error Messages:
                    {{r.error_messages}}
                </li>
            </ul>
        </div>
        <div class="span4">
            <h4><u>Outputs:</u></h4> <br>
            <b>Properties:</b><br>
            <ul style="list-style-position: inside" ng-repeat="f in op_conditions">
                <a href="#/mytools/data/edit/{{f.right.id}}">{{f.right.name}}</a>
            </ul>
            <br>
            <b>Files:</b>
            <ul style="list-style-position: inside" ng-repeat="f in output_files">
                <a href="#/mytools/data/edit/{{f.id}}">{{f.name}}</a>
            </ul>
        </div>
    </div>

</div>