<div class="span10 offset1">

    <div ng-controller="DataChatController">

        Start Chat: <input type="checkbox" ng-model="chat">


        <div class="row-fluid" ng-show="chat==true">
            <div>
                <div class="chat-box">
                    <h3>Chat:</h3>

                    <div>
                        <ul>
                            <li ng-repeat="message in chatMessages track by $index">{{ message }}</li>
                        </ul>
                    </div>
                    <form>
                        <input autocomplete="off" ng-model="conversationItem"
                               ui-keypress="{13: 'addConversationItem($event)'}"
                               placeholder="Type here...">
                    </form>
                </div>
            </div>
        </div>
    </div>

    <h3>Edit Data</h3>

    See Reviews: <input type="checkbox" ng-model="seeReviews">

    <div ng-show="seeReviews==true" id="review-section" class="row-fluid">
        <h4>Reviews Scheduled</h4>
        <table class="table table-striped mc-table-hover table-condensed mc-table">
            <thead>
            <tr>
            <th>By</th>
            <th>Note</th>
            <th>Marked On</th>
            <th>Finished?</th>
            </thead>
            <tbody>
            <tr ng-repeat="review in scheduledReviews" style="cursor:pointer">
                <td>{{ review.owner }}</td>
                <td>{{ review.note }}</td>
                <td>{{ review.marked_on | toDateString }}</td>
                <td ng-show="signed_in_user==review.owner">
                    <input type="checkbox" ng-model="review.done" ng-click="reviewStatusChanged($index)">
                </td>
                <td ng-show="signed_in_user!=review.owner">
                    Not Authorized
                </td>
            </tr>
            </tbody>
        </table>
        <h4>Mark For Followup</h4>
        <input type="text" ng-model="review_note_self" ui-keypress="{13: 'addReviewNoteKeypressCallback($event)'}"
               placeholder="Review Note...">
        <h4>Ask For Review</h4>
            <input type="text" ng-model="review_note_other" placeholder="Review Note...">
            <select ng-model="user_for_review"
                    ui-select2="{placeholder: 'Select user', allowClear: true, width:'element'}"
                    ng-multiple="false">
                <option></option>
                <option ng-repeat="user in users">{{ user }}</option>
            </select>
            <button style="position:absolute"  ng-click="addReviewForOther()">Request Review</button>

    </div>

    <hr/>

    <div class="row-fluid">
        <div class="span6">
            <form>
                <label>Name:</label>
                <input ng-model="doc.name" type="text" readonly>

                <label>Description:</label>
                <input ng-model="doc.description" type="text" readonly>

                <label>Date Added:</label>
                <input value="{{ doc.birthtime | toDateString }}" type="text" readonly>

                <label>Access:</label>
                <input ng-model="doc.access" type="text" readonly>

                <label>Owner:</label>
                <input ng-model="doc.owner" type="text" readonly>

                <label>Notes:</label>
                <input ng-repeat="note in doc.notes" value="{{ note }}" type="text" readonly>

                <label>Add Note:</label>
                <input ui-keypress="{13: 'addNoteKeypressCallback($event)'}" ng-model="new_note" type="text">
            </form>

            <span class="label label-info" style="margin-left: 5px" ng-repeat="tag in doc.tags">
                <button type="button" class="close" ng-click="removeTag($index);">&times;</button>{{ tag }}
            </span>
        </div>
        <div class="span4">
            <div ng-switch on="fileType">
                <div ng-switch-when="image">
                    <img ng-src="{{ fileSrc }}">
                    <a ng-href="{{ fileSrc }}">View full size</a>
                    <a ng-href="{{ originalFileSrc }}" download="{{ fileName }}" style="margin-left: 15px">Download</a>
                </div>
                <a ng-switch-when="other" ng-href="{{ fileSrc }}">{{ doc.name }}</a>
            </div>
        </div>
    </div>
    <div class="row-fluid">
        <form class="form-horizontal">
            <label>Create New Tag</label>
            <input ui-keypress="{13: 'addTagKeypressCallback($event)'}" ng-model="new_tag" placeholder="Tag...">
            <label>Tags to add</label>
            <select class="span3" ng-model="tag_to_add"
                    ui-select2="{placeholder: 'Select tag', allowClear: true, width:'element'}"
                    ng-multiple="false">
                <option></option>
                <option ng-repeat="tag in tagchoices">{{ tag }}</option>
            </select>
            <button ng-click="addTag()">Add Tag</button>
        </form>
    </div>

    <div class="row-fluid" style="margin-top: 20px">
        <button type="button" class="btn btn-primary" ng-click="saveData()">Save</button>
        <button type="button" class="btn btn-danger" ng-click="cancel()">Cancel</button>
    </div>
</div>
