<div class="span10 offset1">
    <h3>Edit Data</h3>

    <div id="review-section" class="row-fluid">
        <h4>Reviews Scheduled</h4>
        <table class="table table-striped mc-table-hover table-condensed mc-table">
            <thead>
            <tr>
            <th>By</th>
            <th>Note</th>
            <th>Marked On</th>
            </thead>
            <tbody>
            <tr ng-repeat="review in scheduledReviews" style="cursor:pointer">
                <td>{{ review.owner }}</td>
                <td>{{ review.note }}</td>
                <td>{{ review.markedOnDate }}</td>
            </tr>
            </tbody>
        </table>
        <h4>Mark For Followup</h4>
        <input type="text" ng-model="review_note_self" ui-keypress="{13: 'addReviewNoteKeypressCallback($event)'}"
               placeholder="Review Note...">
        <h4>Ask For Review</h4>
        <input type="text" ng-model="review_note_other" placeholder="Review Note...">
        <select class="span3" ng-model="user_for_review"
                ui-select2="{placeholder: 'Select user', allowClear: true, width:'element'}"
                ng-multiple="false">
            <option></option>
            <option ng-repeat="user in users">{{ user.emailAddress }}</option>
        </select>
        <button ng-click="addReviewForOther()">Request Review</button>
    </div>

    <hr/>

    <div class="row-fluid">
        <div class="span6">
            <form>
                <label>Name:</label>
                <input ng-model="doc.name" type="text" readonly>

                <label>Description:</label>
                <input ng-model="doc.description" type="text" readonly>

                <label>Date Added:</label>
                <input ng-model="doc.sdateAdded" type="text" readonly>

                <label>Access:</label>
                <input ng-model="doc.access" type="text" readonly>

                <label>Owner:</label>
                <input ng-model="doc.owner" type="text" readonly>

                <label>Notes:</label>
                <input ng-repeat="note in doc.notes" value="{{ note }}" type="text" readonly>

                <label>Add Note:</label>
                <input ui-keypress="{13: 'addNoteKeypressCallback($event)'}" ng-model="new_note" type="text">
            </form>

            <span class="label label-info" style="margin-left: 5px" ng-repeat="tag in doc.tags">
                <button type="button" class="close" ng-click="removeTag($index);">&times;</button>{{ tag }}
            </span>
        </div>
        <div class="span4">
            <img src="assets/materialscommons/Data_MatComm/Location1/4_6_13_toothSite3.jpg">
        </div>
    </div>

    <div class="row-fluid">
        <form class="form-horizontal">
            <label>Create New Tag</label>
            <input ui-keypress="{13: 'addTagKeypressCallback($event)'}" ng-model="new_tag" placeholder="Tag...">
            <label>Tags to add</label>
            <select class="span3" ng-model="tag_to_add"
                    ui-select2="{placeholder: 'Select tag', allowClear: true, width:'element'}"
                    ng-multiple="false">
                <option></option>
                <option ng-repeat="tag in tagchoices">{{ tag }}</option>
            </select>
            <button ng-click="addTag()">Add Tag</button>
        </form>
    </div>

    <div class="row-fluid" style="margin-top: 20px">
        <button type="button" class="btn btn-primary" ng-click="saveData()">Save</button>
        <button type="button" class="btn btn-danger" ng-click="cancel()">Cancel</button>
    </div>
</div>
