<div class="container">
    <div class="row-fluid">
    <h4>Report for DataDirectory   {{data_dir.name}}</h4><br>
    <div class="span8" style="background-color:#dcdcdc; overflow:hidden;">


        <tr>
            <strong>User:</strong>
            <td>{{data_dir.users[0]}}</td>
        </tr> <br>  <br>
        <tr>
            <strong>Date Created:</strong>
            <td>{{toDateString(data_dir.dateAdded)}}</td>
        </tr>   <br> <br>
        <tr>
            <strong>Date Modified:</strong>
            <td>{{data_dir.sdateAdded}}</td>
        </tr>   <br> <br>
        <tr>
            <strong>Description:</strong>
            <td>{{data_dir.description}}</td>
        </tr>   <br>   <br>
        <tr>
            <strong>Parent Directory:</strong>
            <td>
                <div ng-controller="MyDataGroupsController">
                    <button type="button" class="btn" data-unique="1" data-placement="right"
                            ng-click="getDatagroup(data_dir.parentDataGroup)"
                            data-title="DataGroup Report" bs-popover="'partials/datagroups/datagroup_popup.html'">
                        {{data_dir.parentDataGroup}}
                    </button>
                </div>
            </td>

        </tr>   <br>  <br>
        <tr>
            <strong>Data files:</strong>
            <table class="table table-striped" >
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Date Created</th>
                </tr>
                </thead>
                <tbody ng-repeat="file in datafiles">
                <tr>
                    <td><a href="#/data/edit/{{file.id}}">{{file.name}}</a></td>
                    <td>{{toDateString(file.dateAdded)}}</td>

                </tr>

                </tbody>

            </table>
        </tr>   <br>


     </div>


    </div>
</div>

