<div ng-controller="toolbarMachines">
    <div class="row-fluid">
        <div class="span5">
            <div class="">
                <form name="Form" class="form-horizontal">
                        <legend>Create Machine</legend>
                        <div upperlevel-machine bk="bk" doc="doc" edit="false"></div>
                        <div df-properties default-properties="doc.default_properties"></div>
                        <div ad-properties doc="doc" bk="bk" edit="false"></div>

                        <button ng-click="save(Form)" class="btn btn-primary">
                            Save
                        </button>
                        <button ng-click="clear_machine()" class="btn btn-danger">Clear</button>
                </form>
            </div>
        </div>

        <div class="span7">
            <h4>Machines: </h4>
            <paged data="machines_list" current-page="currentDataPage" page-size="20">
                <table class="table table-striped mc-table-hover table-condensed mc-table">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Properties</th>
                        <th>Notes</th>
                    </tr>
                    </thead>
                    <tbody>
                    <p ng-if="machines_list.length==0">
                        <b>No available machines in the database</b>
                    </p>
                    <p ng-if="machines_list.length!=0">
                        <tr ng-repeat="machine in machines_list | orderBy:'name' | page:currentDataPage:20">
                            <td>{{machine.name}}</td>
                            <td>
                                <ul ng-repeat="kv in machine.additional">
                                    <li>{{kv.name}} - {{kv.value}} {{kv.unit}}</li>
                                </ul>
                            </td>
                            <td>{{machine.notes}}</td>
                        </tr>
                    </p>

                    </tbody>
                </table>
            </paged>
        </div>
    </div>
</div>
