<div ng-controller="toolbarMachines">
    <div class="row-fluid">
        <div class="span6">
            <div class="">
                <form name="Form" class="form-horizontal">
                    <legend>Create Machine</legend>
                    <div upperlevel-object bk="bk" doc="doc" edit="false"></div>
                    <div df-properties default-properties="doc.default_properties"></div>

                    <button ng-click="save(Form)" class="btn btn-primary">
                        Save
                    </button>
                    <button ng-click="clear_machine()" class="btn btn-danger">Clear</button>
                </form>
            </div>
        </div>
    </div>
    <div class="row-fluid">
        <div class="span6">
            <legend>List of available machines:</legend>
            <paged data="machines_list" current-page="currentDataPage" page-size="20">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Date Created</th>
                        <th>Details</th>
                    </tr>
                    </thead>
                    <tbody>
                    <p ng-if="machines_list.length==0">
                        <b>No available machines in the database</b>
                    </p>

                    <p ng-if="machines_list.length!=0">
                        <tr ng-repeat="machine in machines_list | orderBy:predicate:reverse | page:currentDataPage:20">
                            <td>{{machine.name}}</td>
                            <td>{{machine.birthtime | toDateString}}</td>
                            <td><a ng-click="moreDetails(machine)">view</a></td>
                        </tr>
                    </p>
                    </tbody>
                </table>
            </paged>
        </div>
        <div class="span6">
            <form class="form-horizontal" ng-show="machine">
                <legend>Details:</legend>
                <div ng-show="flag" >
                    No specific details have been entered for {{machine.name}}
                </div>
                <div ng-hide="flag">
                    <div ng-repeat="property in machine.properties">
                        <cgroup label="{{property.name}}">
                            <input class="input-large" ng-model="property.value" type="text"
                                   ng-disabled="true">
                            {{ property.unit }}
                        </cgroup>
                    </div>
                </div>

                <div ng-show="machine.notes.length > 0">
                    <h5>Previous Notes:</h5>
                    <table class="table">
                        <thead>
                        <th>Message</th>
                        <th>Who</th>
                        <th>Date Created</th>
                        </thead>
                        <tbody>
                        <tr ng-repeat="note in machine.notes">
                            <td>{{note.message}}</td>
                            <td>{{note.who}}</td>
                            <td>{{note.date}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </form>
        </div>
    </div>
</div>
