<div ng-controller="toolbarMachines">
    <div class="row-fluid">
        <div class="span7">
            <h4>Machine:</h4>
            <ul class="muted">
                <b>Instructions:</b>
                <li> table below provides list of various machines in the database.</li>
                <li> If you would like to create a new one then click the button "Create New Machine" and fill out the
                    form.
                </li>
                <li> Usage: machines will be available as a drop-down list while creating provenance.</li>
            </ul>
        </div>
    </div>

    <div class="row-fluid">
        <h4>List of available machines: </h4>
        <paged data="machines_list" current-page="currentDataPage" page-size="5">

            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Date Created</th>
                    <th>Default Properties</th>
                    <th>Additional properties</th>
                </tr>
                </thead>
                <tbody>
                <p ng-if="machines_list.length==0">
                    <b>No available machines in the database</b>
                </p>

                <p ng-if="machines_list.length!=0">
                    <tr ng-repeat="machine in machines_list | orderBy:predicate:reverse | page:currentDataPage:5">
                        <td>{{machine.birthtime | toDateString}}</td>
                        <td>
                            <ul ng-repeat="kv in machine.model.default">
                                <li>{{kv.name}} - {{kv.value}} {{kv.unit}}</li>
                            </ul>
                        </td>
                        <td>
                            <ul ng-repeat="kv in machine.model.additional">
                                <li>{{kv.name}} - {{kv.value}} {{kv.unit}}</li>
                            </ul>
                        </td>


                    </tr>
                </p>

                </tbody>
            </table>
        </paged>
    </div><br>
    <button class="btn btn-primary" ng-click="showForm=!showForm">Create New Machine</button>
    <div ng-show="mach">
        <b>Machine {{mach.name}} has been created</b>

    </div>
    <br>

    <div class="row-fluid">
        <div ng-show="showForm" class="span8">
            <div class="well">
                <form class="form-horizontal">
                    <div df-properties default-properties="default_properties"></div>
                    <hr align="left" width="50%">

                    <div ng-repeat="pv in machine.model.additional">
                        <div class="control-group">
                            <label class="control-label">{{pv.name}}</label>
                            <div class="controls">
                            <span ng-if="pv.value_choice.length!=0">
                                 <select ng-model="pv.value">

                                     <option ng-repeat="val in pv.value_choice"> {{val}}
                                     </option>
                                 </select>
                            </span>
                            <span ng-if="pv.value_choice.length==0">
                                <input type="text" ng-model="pv.value">
                            </span>
                            <span ng-if="pv.unit_choice.length!=0">
                                <select style="width:80px" ng-model="pv.unit">
                                    <option ng-repeat="unit in pv.unit_choice"> {{unit}}
                                    </option>
                                </select>
                            </span>

                            </div>
                        </div>
                    </div>


                    <div class="control-group">
                        <label class="control-label">Additional Properties:</label>
                        <div class="controls">
                            <select ng-model="p_name">
                                <option ng-repeat="each_additional in additional_properties" value="{{each_additional}}">
                                    {{each_additional.name}}
                                </option>
                            </select>
                            <button ng-click="add_property_to_machine()">add</button>
                        </div>
                    </div>

                    <div class="control-group">
                        <label class="control-label">Add Custom Properties:</label>

                        <div class="controls">
                            <input ng-model="additional_prop" placeholder="type property name ....."
                                   type="text">
                            <button ng-click="add_property_to_machine()">add</button>
                        </div>
                    </div>

                    <button ng-disabled="!default_properties[0].value" ng-click="save()">Save Machine</button>
                    <button ng-click="clear_machine()">clear additional properties</button>
                </form>

            </div>
        </div>
    </div>
    </div>