$fa-font-path: "../../bower_components/font-awesome/fonts";
@import "../../bower_components/font-awesome/scss/font-awesome";

$mc-color-review: #ffc107;
$mc-color-error: #ff5824;
$mc-color-important: #3f51b5;
$mc-color-done: #4caf50;

.scroll-here {
  min-height: calc(100% - 64px - 64px - 64px);
}

.mc-flag {
  color: white;
  text-align: center;
  text-transform: uppercase;
}

.mc-error-bg {
  background-color: $mc-color-error;
}

md-checkbox.md-checked.mc-error .md-icon {
  background-color: $mc-color-error;
}

.mc-review-bg {
  background-color: $mc-color-review;
}

md-checkbox.md-checked.mc-review .md-icon {
  background-color: $mc-color-review;
}

.mc-important-bg {
  background-color: $mc-color-important;
}

md-checkbox.md-checked.mc-important .md-icon {
  background-color: $mc-color-important;
}

.mc-done-bg {
  background-color: $mc-color-done;
}

md-checkbox.md-checked.mc-done .md-icon {
  background-color: $mc-color-done;
}

.overflow-hidden {
  overflow: hidden;
}