$fa-font-path: "../../bower_components/font-awesome/fonts";
@import "../../bower_components/font-awesome/scss/font-awesome";

$mc-color-review: #ffc107;
$mc-color-error: #ff5824;
$mc-color-important: #3f51b5;
$mc-color-done: #4caf50;
$mc-step-detail-color: #e7e8ea;
$mc-light-grey: #f4f5f7;
$mc-color-error-dark: #d32f2f;

/* Customize md toast */
md-toast.md-error-theme .md-toast-content {
  background-color: $mc-color-error-dark;
}

.mc-light-grey-bg {
  background-color: $mc-light-grey;
}

.mc-light-grey-color {
  color: $mc-light-grey;
}

.mc-experiment-outline-step {
  margin-top: 2px;
  margin-bottom: 2px;
  padding-top: 3px;
  background-color: $mc-light-grey;
  border-radius: 6px;
}

.mc-flag {
  color: white;
  font-size: 0.8em;
  text-align: center;
  text-transform: uppercase;
}

.mark-text-done {
  position: relative;
}

.step-toolbar-bg {
  background-color: $mc-step-detail-color;
}

.step-details-border {
  border-left: 2px solid $mc-step-detail-color;
  border-right: 2px solid $mc-step-detail-color;
  border-bottom: 2px solid $mc-step-detail-color;
  padding-left: 10px;
  padding-right: 10px;
}

.dialog-form {
  margin-top: 10px;
}

.mark-text-done::after {
  border-bottom: 0.125em solid $mc-color-done; //rgba(255, 0, 0, 0.5);
  content: "";
  left: 0;
  line-height: 1em;
  margin-top: calc(0.125em / 2 * -1);
  position: absolute;
  right: 0;
  top: 50%;
}

.md-vertical-divider {
  border-top-width: 0;
  border-right-width: 1px;
  border-right-style: solid;
  height: 100%;
  padding-top: 2px;
}

.mc-input-as-line {
  background-color: transparent;
  border-style: solid;
  border-width: 0px 0px 1px 0px;
  border-color: #f4f5f7;
}

textarea {
  resize: none;
}

.text-white {
  color: white;
}

.text-black {
  color: black;
}

.mc-error-bg {
  background-color: $mc-color-error;
}

.mc-error-color {
  color: $mc-color-error;
}

md-checkbox.md-checked.mc-error .md-icon {
  background-color: $mc-color-error;
}

.mc-review-bg {
  background-color: $mc-color-review;
}

.mc-review-color {
  color: $mc-color-review;
}

md-checkbox.md-checked.mc-review .md-icon {
  background-color: $mc-color-review;
}

.mc-important-bg {
  background-color: $mc-color-important;
}

.mc-important-color {
  color: $mc-color-important;
}

md-checkbox.md-checked.mc-important .md-icon {
  background-color: $mc-color-important;
}

.mc-done-bg {
  background-color: $mc-color-done;
}

.mc-done-color {
  color: $mc-color-done;
}

md-checkbox.md-checked.mc-done .md-icon {
  background-color: $mc-color-done;
}

.overflow-hidden {
  overflow: hidden;
}

.cursor-pointer {
  cursor: pointer;
}