<div layout="column" layout-margin>
    <md-toolbar style="background-color:white">
        <div layout="row" layout-align="start center" layout-margin>
            <md-input-container md-no-float>
                <input type="text" ng-model="$ctrl.query" placeholder="filter...">
            </md-input-container>
            <span flex></span>
            <a ng-click="$ctrl.showTableView = true"
               ng-style="!$ctrl.showTableView && {'color': 'black'}">
                <i class="fa fa-fw fa-th-list" style="margin-bottom: 15px"></i>
            </a>
            <a ng-click="$ctrl.showTableView = false"
               ng-style="$ctrl.showTableView && {'color': 'black'}">
                <i class="fa fa-fw fa-th" style="margin-bottom: 15px"></i>
            </a>
            <span flex="5"></span>
        </div>
    </md-toolbar>
    <div layout="row">
        <div ng-if="$ctrl.showTableView">
            <mc-project-processes-table processes="$ctrl.processes" filter-by="$ctrl.query"></mc-project-processes-table>
        </div>
        <div ng-if="!$ctrl.showTableView">
            Show card view
        </div>
    </div>
</div>