<div ng-controller="provenanceFinish">
    <div class="row">
        <form class="form-horizontal">
            <legend>Process</legend>
            <div upperlevel-process="" doc="process" bk="bk" edit="true"></div>
            <div ad-properties="" doc="process" edit="true" bk="bk"></div>
        </form>
    </div>
    <div class="row">
        <legend>Inputs</legend>
        <hr>
        <form class="form-horizontal" ng-repeat="(name, vals) in inputs">
            <label><b>{{ name }}</b></label>
            <div ng-if="name=='Pick Sample'">
                <div class="row">
                        <div upperlevel-object="" bk="bk" doc="vals.sample" edit="true"></div>
                        <div ng-repeat="property in vals.sample.properties">
                            <cgroup label="{{property.name}}">
                                <input class="input-large form-control" ng-model="property.value" ng-disabled="true" type="text">
                                {{ property.unit }}
                            </cgroup>
                        </div>
                        <div ad-properties="" doc="vals.sample" edit="true" bk="bk"></div>
                </div>
            </div>
            <div ng-if="name!=='Pick Sample'">
                <div class="row">
                        <div df-properties="" default-properties="vals.default_properties" edit="true"></div>
                        <div ad-properties="" doc="vals" edit="true" bk="bk"></div>
                </div>
            </div>
        </form>
        <form ng-if="input_files.length != 0" class="form-horizontal">
            <label><b>Input Files</b></label>
            <cgroup ng-repeat="file in input_files" label="File:">
                <input class="input-xlarge form-control" ng-model="file.name" ng-disabled="true" type="text">
            </cgroup>
        </form>
    </div>
    <div class="row">
        <legend>Outputs</legend>
        <hr>
        <form class="form-horizontal" ng-repeat="(name, vals) in outputs">
            <label><b>{{ name }}</b></label>
            <div ng-if="name=='Transformed Sample'">
                <div class="row">
                        <div upperlevel-object="" bk="bk" doc="vals.sample" edit="true"></div>
                        <div ng-repeat="property in vals.sample.properties">
                            <cgroup label="{{property.name}}">
                                <input class="input-large form-control" ng-model="property.value" ng-disabled="true" type="text">
                                {{ property.unit }}
                            </cgroup>
                        </div>
                        <div ad-properties="" doc="vals.sample" edit="true" bk="bk"></div>
                </div>
            </div>
            <div ng-if="name!=='Pick Sample'">
                <div class="row">
                        <div df-properties="" default-properties="vals.default_properties" edit="true"></div>
                        <div ad-properties="" doc="vals" edit="true" bk="bk"></div>
                </div>
            </div>
        </form>
        <form ng-if="output_files.length != 0" class="form-horizontal">
            <fieldset>
                <label><b>Output Files</b></label>
                <cgroup ng-repeat="file in output_files" label="File:">
                    <input class="input-xlarge form-control" ng-model="file.name" ng-disabled="true" type="text">
                </cgroup>
            </fieldset>
        </form>
    </div>
    <div class="row">
        <button ng-click="saveDraft()" class="btn btn-default btn-primary">Save Draft</button>
        <button data-toggle="modal" data-target="#confirm" class="btn btn-success">Submit</button>
        <button ng-click="deleteDraft()" class="btn btn-danger">Delete</button>
    </div>
     <!--Modal-->
    <div class="modal fade" id="confirm" tabindex="-1" role="dialog" aria-labelledby="confirmLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">{{title}}</h4>
                </div>
                <div class="modal-body">
                    {{message}}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" ng-click="cancel()" data-dismiss="modal">No</button>
                    <button type="button" class="btn btn-primary" ng-click="submitProvenance()">Yes</button>
                </div>
            </div>
        </div>
    </div>


</div>