<div class="row" ng-controller="accountTemplates">
    <p>  Note: By choosing templates below you will create your own preferred templates list.
        During provenance creation, preferred templates will appear at the top of drop-down menu. </p>
    <br>

    <div class="col-lg-2">
        <label>Experimental Processes:</label>
        <table class="table table-bordered mc-table">
            <thead>
            <th></th>
            <th>Template name</th>
            </thead>
            <tbody>
            <tr ng-repeat="t in experimental_templates | orderBy:'template_name'">
                <td ng-click="updatePreferences()"><input type="checkbox" ng-checked="is_checked(t)"
                                                          ng-click="check(t)"></td>
                <td ng-class='{selected: $index==selected_exp_row}'><a ng-click="showTemplate(t, $index, 'exp')">{{t.template_name}}</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <div style="padding-left:15px" class="col-lg-2">
        <label>Computational Processes:</label>
        <table class="table table-bordered">
            <thead>
            <th></th>
            <th>Template name</th>
            </thead>
            <tbody>
            <tr ng-repeat="t in computational_templates | orderBy:'template_name'">
                <td ng-click="updatePreferences()"><input type="checkbox" ng-checked="is_checked(t)"
                                                          ng-click="check(t)"></td>
                <td ng-class='{selected: $index==selected_comp_row}'><a ng-click="showTemplate(t, $index, 'comp')">{{t.template_name}}</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <div ng-show="template" class="col-lg-6">
        <h4 plus-minus-toggle="process">
            <i class="fa fa-minus-square"></i>
            Process
        </h4><br>

        <div id="process" class="row">
            <div class="panel panel-default">
                <div class="panel panel-body">
                    <h4><u>{{template.template_name}}</u></h4>
                    <display label="Description:"></display>
                    <display label="Notes:"></display>
                    <display label="Runs:"></display>
                    <div ng-repeat="each in template.default_properties">
                        <div class="form-group">
                            <label>{{each.name}}:</label>
                                <span ng-if="each.value_choice.length !==0 " class="text-muted">Choose one</span>
                                <span ng-if="each.name == 'Machine'" class="text-muted">Choose the machine from dropdown menu</span>
                            <ul style="margin-left: 60px;"
                                ng-repeat="v in each.value_choice">
                                <li>{{v.name }}</li>
                            </ul>
                            <br><label ng-if="each.unit_choice.length !== 0">Units:</label>
                            {{each.unit_choice.join(',')}}
                        </div>
                    </div>
                    <div ng-repeat="each in template.additional_properties">
                        <label>{{each.name}}:</label>
                        <li style="display: inline;padding-left: 20px;"
                            ng-repeat="v in each.value_choice">
                            {{v.name + ','}}
                        </li>

                    </div>
                </div>
            </div>
        </div>

        <h4 plus-minus-toggle="inputs">
            <i class="fa fa-minus-square"></i>
            Inputs
        </h4><br>

        <div id="inputs" class="row">
            <div class="panel panel-default">
                <div class="panel panel-body">
                    <div ng-repeat="it in template.input_templates">
                        <h4><u>{{it.template_name}}:</u></h4>
                        <span ng-if="it.template_name == 'Sample'" class="text-muted">Choose the sample from dropdown menu</span>

                        <div ng-repeat="each in it.default_properties">
                            <div class="form-group">
                                <label>{{each.name}}: <span ng-if="each.value_choice.length ==0 " class="text-muted">{{each.type}}</span>
                                </label>
                                <span ng-if="each.value_choice.length !==0 " class="text-muted">Choose one</span>
                                <ul style="margin-left: 60px;"
                                    ng-repeat="v in each.value_choice">
                                    <li>{{v.name }}</li>
                                </ul>
                                <br><label ng-if="each.unit_choice.length !== 0">Units:</label>
                                {{each.unit_choice.join(',')}}
                            </div>
                        </div>
                        <div ng-repeat="each in it.additional_properties">
                            <label>{{each.name}}:</label>
                            <li style="display: inline;padding-left: 20px;"
                                ng-repeat="v in each.value_choice">
                                {{v.name + ','}}
                            </li>

                        </div>

                    </div>
                </div>
            </div>
        </div>

        <h4 plus-minus-toggle="outputs">
            <i class="fa fa-minus-square"></i>
            Outputs
        </h4>

        <div id="outputs" class="row">
            <div class="panel panel-default">
                <div class="panel panel-body">
                    <div ng-repeat="it in template.output_templates">
                        <h4><u>{{it.template_name}}</u></h4>

                        <div ng-repeat="each in it.default_properties">
                            <div class="form-group">
                                <label>{{each.name}}:</label>
                                <li style="display: inline;padding-left: 20px;"
                                    ng-repeat="v in each.value_choice">
                                    {{v.name + ','}}
                                </li>
                                <br><label ng-if="each.unit_choice.length !== 0">Units:</label>
                                {{each.unit_choice.join(',')}}
                            </div>
                        </div>
                        <div ng-repeat="each in it.additional_properties">
                            <label>{{each.name}}:</label>
                            <li style="display: inline;padding-left: 20px;"
                                ng-repeat="v in each.value_choice">
                                {{v.name + ','}}
                            </li>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
