<div class="form-login">
    <form name="form" ng-submit="ctrl.register()" role="form">
        <div class="form-group" ng-class="{ 'has-error': form.firstName.$dirty && form.firstName.$error.required }">
            <label for="firstname" class="required">First Name</label>
            <div><input placeholder="First Name" type="text" name="firstName" id="firstName" class="form-control"
                        ng-model="ctrl.user.firstName" required="required"/></div>
      <span ng-show="form.firstName.$dirty && form.firstName.$error.required"
            class="help-block">First name is required</span>
        </div>
        <div class="form-group" ng-class="{ 'has-error': form.lastName.$dirty && form.lastName.$error.required }">
            <label for="lastname" class="required">Last Name</label>
            <input placeholder="Last Name" type="text" name="lastName" id="lastname" class="form-control"
                   ng-model="ctrl.user.lastName" required/>
      <span ng-show="form.lastName.$dirty && form.lastName.$error.required"
            class="help-block">Last name is required</span>
        </div>
        <div class="form-group" ng-class="{ 'has-error': form.email.$dirty && form.email.$error.required }">
            <label for="email" class="required">Email</label>
            <input placeholder="Email" type="email" name="email" id="email" class="form-control" ng-model="ctrl.user.email"
                   required/>
            <span ng-show="form.email.$dirty && form.email.$error.required" class="help-block">Username is required</span>
        </div>

        <div class="form-actions">
            <button type="submit" ng-disabled="form.$invalid || ctrl.dataLoading" class="btn btn-primary">Register</button>
        </div>
    </form>
    <div ng-show="ctrl.showSuccessMsg">
        <h4 class="text-center">Next Step in Joining Materials Commons Data...</h4>
        <br>
        <p class="md-subhead">
            You have successfully registered for an account. An email has been sent to <b>{{ctrl.user.email}}</b>
            with a link to click on that will verify your account.
        </p>
        <br>
    </div>
</div>