<div>
        <span class="pointer"
              ng-click="">
            {{view.review.title}}
        </span>

        <span class="pull-right">
            <a ng-if="view.review.messages.length !== 0" class="fa-stack fa-2x">
                  <i style="color: #FDAC6B;" class="fa fa-comment fa-stack-1x"></i>
                  <i style="font-size: 10px;" class="fa fa-stack-1x fa-inverse">{{view.review.messages.length}}</i>
              </a>
        </span>
        <p>
            <small  class="text-muted">
               <i class="fa fa-fw fa-user"></i> {{view.review.messages[(view.review.messages.length -1)].who}}
                <small style="padding-left: 60px;">{{(view.review.messages[(view.review.messages.length -1)].date)}}</small>
            </small>
        </p>
</div>
