<div>
    <span ng-click="note.showDetails = !note.showDetails" style="cursor: pointer">
        <i class="fa"
           ng-class="{'fa-caret-right': !note.showDetails, 'fa-caret-down': note.showDetails}"></i>
        {{note.title | truncate:25:'...':true}}
    </span>
    <span class="pull-right">
        <a ng-click="addToSideboard(note, $event)" id="{{note.id}}">
            <i class="fa fa-fw fa-clipboard inactive"></i>
        </a>
           <a ng-if="!showSideboard"  ng-click="remove(note, $event)">
               <i class="fa fa-fw fa-close mc-danger"></i>
           </a>
        <i class="fa fa-fw"></i>
        <i class="fa fa-fw"></i>
    </span>

    <p>
        <button  ng-if="isActive('notes','addToReview')" class="btn btn-xs btn-mini btn-success" ng-click="addItem('review')">Add to review</button>
        <!--<button ng-if="isActive('notes','addToSample')" class="btn btn-xs btn-mini btn-success" ng-click="addItem('sample')">Add to Sample</button>-->
        <!--<button ng-if="isActive('notes','addToProvenance')" class="btn btn-xs btn-mini btn-success" ng-click="addItem('provenance')">Add to Provenance</button>-->
        <!--<button ng-if="isActive('notes','addToFile')" class="btn btn-xs btn-mini btn-success" ng-click="addItem('file')">Add to File</button>-->
    </p>
    <p>
        <small class="text-muted">{{note.mtime | toDateString}}</small>
        <small style="padding-left: 10px;" class="text-muted">{{note.creator}}</small>
    </p>
    <div ng-if="note.showDetails">
        <home-note-details note="note"></home-note-details>
    </div>
</div>
