<div ng-if="flow.files.length !== 0" style="border-bottom: 5px solid #d1d1d1;">
    <ul class="list-unstyled">
        <li class="home-item">
            <span>
                <button class="btn btn-xs btn-mini btn-success"
                        ng-click="flow.resume()"
                        ng-show="!file.isUploading()">
                    Upload All
                </button>
                <button class="btn btn-xs btn-mini btn-warning"
                        ng-click="flow.pause()"
                        ng-show="flow.isUploading()">
                    Pause
                </button>
                <button class="btn btn-xs btn-mini btn-danger"
                        ng-click="flow.cancel()">
                    Cancel All
                </button>
            </span>
            <h4 class="panel-element">Files to Upload:</h4>
        </li>
    </ul>

    <ul class="list-unstyled"
        ng-repeat="(dir, files) in filesByDir">
        <li class="home-item" style="background-color: #3E4B5C; color: white">
            {{dir}}
        </li>
        <li class="home-item"
            ng-repeat="file in files">
            <display-file-upload-entry file="file"></display-file-upload-entry>
        </li>
    </ul>
</div>
