<div class="panel panel-primary">
    <div class="panel-heading processes-color home-panel-heading">
        <i class="fa fa-fw fa-code-fork bold"></i>
        <span>
            <a ui-sref="projects.project.provenance.overview">
                Processes
            </a>
            ({{procs.length}})
        </span>
        <a ng-click="toggleExpanded()"
           class="pull-right bar-control">
            <i class="fa"
               ng-class="{'fa-expand': !isExpanded(), 'fa-compress': isExpanded()}"></i>
        </a>
        <input type="text" ng-model="search.name" class="pull-right col-xs-4"
               placeholder="Search processes...">
        <span class="add-item pull-right">
            <a ui-sref="projects.project.provenance.create" tooltip="Add Process">
                <i class="fa fa-fw fa-plus"></i>
            </a>
        </span>
    </div>
    <div class="panel-body home-panel-body"
         ng-class="{'no-max-height': isExpanded()}">
        <ul class="list-unstyled">
            <li class="home-item"
                ng-class="{'open-item-details': process.showDetails}"
                ng-repeat="process in all | filter:search | event:project.date:project.nextdate as procs">
                <div>
                    <span ng-click="process.showDetails = !process.showDetails" style="cursor: pointer">
                        <i class="fa"
                           ng-class="{'fa-caret-right': !process.showDetails, 'fa-caret-down': process.showDetails}">
                        </i>
                        <span ng-show="process.process">
                            {{process.process.name | truncate:25:'...':true}}
                            <span class="label label-primary"
                                  style="background-color:#e26a6a">Draft </span>
                        </span>
                        <span ng-hide="process.process">
                            {{process.name | truncate:25:'...':true}}
                        </span>
                    </span>
                    <p>
                        <small class="text-muted">{{process.birthtime | toDateString}}</small>
                    </p>
                    <div ng-if="process.showDetails">
                        <home-process-details process="process"></home-process-details>
                    </div>
                </div>
            </li>
            <li ng-show="procs.length === 0" class="home-item">
                <div> No processes.</div>
            </li>
        </ul>
    </div>
</div>
