<div class="panel panel-primary">
    <div class="panel-heading processes-color home-panel-heading">
        <i class="fa fa-fw fa-code-fork bold"></i>
        <span>
            <a ui-sref="projects.project.provenance.overview">
                Processes
            </a>
            ({{drafts.length + procs.length}})
        </span>
        <input type="text" ng-model="search.name" class="pull-right col-xs-4"
               placeholder="Search processes...">
        <span class="add-item pull-right">
            <a ui-sref="projects.project.provenance.create" tooltip="Add Process">
                <i class="fa fa-fw fa-plus"></i>
            </a>
        </span>
    </div>
    <div class="panel-body home-panel-body">
        <ul class="list-unstyled">
            <li class="home-item"
                ng-repeat="draft in project.drafts | filter:search | event:project.date as drafts">
                <div>
                    Created a new process
                    <a ui-sref="projects.project.provenance.drafts">
                        {{draft.process.name | truncate:25:'...':true}}
                    </a>
                    <span class="label label-primary"
                          style="background-color:#e26a6a">
                        Draft
                    </span>
                    <p><small class="text-muted">{{draft.mtime | toDateString}}</small> </p>
                </div>
            </li>
            <li ng-show="drafts.length === 0" class="home-item">
                <div> No drafts.</div>
            </li>
        </ul>
        <ul class="list-unstyled">
            <li class="home-item"
                ng-repeat="process in project.processes | filter:search | event:project.date as procs">
                <div>
                    Submitted <a>{{process.name | truncate:25:'...':true}}</a>
                    <p>
                        <small class="text-muted">{{process.birthtime | toDateString}}</small>
                    </p>
                </div>
            </li>
            <li ng-show="procs.length === 0" class="home-item">
                <div> No processes.</div>
            </li>
        </ul>
    </div>
</div>
