<!--<div class="panel panel-primary">-->
<!--<div class="panel-heading processes-color home-panel-heading">-->
<!--<i class="fa fa-fw fa-code-fork bold"></i>-->
<!--<span>-->
<!--Processes-->
<!--({{procs.length}})-->
<!--</span>-->
<!--<span ng-if="false" class="pull-right bar-control">-->
<!--<a ng-click="splitScreen('processes', 'column2')">-->
<!--<i class="fa fa-fw"-->
<!--ng-class="{'fa-columns': !isSplitExpanded(), 'fa-close mc-danger': isSplitExpanded()}"></i>-->
<!--</a>-->
<!--<a ng-click="minimize()">-->
<!--<i class="fa fa-fw fa-minus"></i>-->
<!--</a>-->
<!--<a ng-click="toggleExpanded()">-->
<!--<i class="fa fa-fw"-->
<!--ng-class="{'fa-expand': !isExpanded(), 'fa-compress': isExpanded()}"></i>-->
<!--</a>-->
<!--</span>-->
<!--<input type="text" ng-model="search.name" class="pull-right col-xs-4"-->
<!--placeholder="Search processes...">-->
<!--<span class="add-item pull-right">-->
<!--<a ng-click="createProcess()" title="Add Process">-->
<!--<i class="fa fa-fw fa-plus"></i>-->
<!--</a>-->
<!--</span>-->
<!--</div>-->
<!--<div class="panel-body home-panel-body"-->
<!--ng-class="{'no-max-height': isExpanded()}">-->
<!--<ul class="list-unstyled">-->
<!--<li class="home-item"-->
<!--ng-class="{'open-item-details': process.showDetails}"-->
<!--ng-repeat="process in bk.all | filter:search | event:project.date:project.nextdate as procs">-->
<!--<display-process process="process"-->
<!--show-sideboard="true">-->
<!--</display-process>-->
<!--</li>-->
<!--<li ng-show="procs.length === 0" class="home-item">-->
<!--<div> No processes.</div>-->
<!--</li>-->
<!--</ul>-->
<!--</div>-->
<!--</div>-->


<div class="row">
    <div class="panel card" style="border: 1px solid #d3d3d3; box-shadow: 5px 4px 5px #a1a1a1;">
        <div class="panel-heading" style="padding-top: 20px;">
            <img style="height: 35px;padding-bottom: 10px;"
                 src="assets/img/splash/process-icon.png">
            <span style="color: #3A9EE3; font-size: 20px;padding-left: 15px;">PROCESS</span>
        </div>
        <div class="panel-body"
             ng-class="{'no-max-height': isExpanded()}">
            <div style="width: 100%;height:100%"
                 angular-grid="gridOptions"
                 class="ag-fresh ag-basic">
            </div>

            <!--<ul class="list-unstyled">-->
                <!--<li class="dashboard-item"-->
                    <!--ng-class="{'open-item-details': process.showDetails}"-->
                    <!--ng-repeat="process in bk.all | filter:search | event:project.date:project.nextdate as procs">-->
                    <!--<display-process process="process"-->
                                     <!--show-sideboard="true">-->
                    <!--</display-process>-->
                <!--</li>-->
                <!--<li ng-show="procs.length === 0" class="dashboard-item">-->
                    <!--<div> No processes.</div>-->
                <!--</li>-->
            <!--</ul>-->
        </div>
    </div>
</div>
