<div class="panel panel-primary">
    <div class="panel-heading files-color home-panel-heading home-panel-heading">
        <i class="fa fa-fw fa-files-o bold"></i>
        <span>
            Files ({{matchingFiles.length | number}})
        </span>
        <span class="pull-right bar-control">
            <a ng-click="splitScreen('files', 'column1')">
                <i class="fa fa-fw"
                   ng-class="{'fa-columns': !isSplitExpanded(), 'fa-tablet': isSplitExpanded()}"></i>
            </a>
            <a ng-click="toggleExpanded()">
                <i class="fa fa-fw"
                   ng-class="{'fa-expand': !isExpanded(), 'fa-compress': isExpanded()}"></i>
            </a>
        </span>
        <input type="text" ng-model="searchInput" class="pull-right col-xs-4"
               placeholder="Search files...">
    </div>
    <div class="panel-body home-panel-body no-max-height">
        <file-upload-panel></file-upload-panel>
        <mc-tree items="files"
                 matches="matchingFiles"
                 orderby="'name'">
        </mc-tree>
    </div>
</div>
