<div class="panel panel-primary">
    <div class="panel-heading notes-color home-panel-heading">
        <i class="fa fa-fw fa-edit bold"></i>
        <span>
                Notes
            ({{notes.length}})
        </span>
        <span class="pull-right bar-control">
            <a ng-click="splitScreen('notes', 'column2')">
                <i class="fa fa-fw"
                   ng-class="{'fa-columns': !isSplitExpanded(), 'fa-close mc-danger': isSplitExpanded()}"></i>
            </a>
            <a ng-click="minimize()">
                <i class="fa fa-fw fa-minus"></i>
            </a>
            <a ng-click="toggleExpanded()">
                <i class="fa fa-fw"
                   ng-class="{'fa-expand': !isExpanded(), 'fa-compress': isExpanded()}"></i>
            </a>
        </span>
        <input type="text" ng-model="search" class="pull-right col-xs-4"
               placeholder="Search notes...">
        <span class="add-item pull-right">
            <a  ng-click="createNote()" tooltip="Add Note">
                <i class="fa fa-fw fa-plus"></i>
            </a>
        </span>
    </div>
    <div class="panel-body home-panel-body">
        <ul class="list-unstyled">
            <li style="padding-top:10px;" ng-show="model.createNote">
                <create-note model="model"></create-note>
            </li>
            <li class="home-item"
                ng-class="{'open-item-details': showDetails($index)}"  ui-draggable="true" drag="note"
                ng-repeat="note in project.notes | filter:search | event:project.date:project.nextdate as notes">
                <display-note note="note" show-sideboard="true"></display-note>
            </li>
            <li ng-show="notes.length === 0" class="home-item">
                <div>No notes.</div>
            </li>
        </ul>
    </div>
</div>
