<div class="panel panel-primary">
    <div class="panel-heading reviews-color home-panel-heading">
        <i class="fa fa-fw fa-comment bold"></i>
        <span>
            <a ui-sref="projects.project.reviews.overview">
                Reviews
            </a>
            ({{(project.reviews | byKey: 'status': 'open').length}})
        </span>
        <a ng-click="toggleExpanded()"
           class="pull-right bar-control">
            <i class="fa"
               ng-class="{'fa-expand': !isExpanded(), 'fa-compress': isExpanded()}"></i>
        </a>
        <input type="text" ng-model="search" class="pull-right col-xs-4"
               placeholder="Search reviews...">
        <span class="add-item pull-right">
            <a ui-sref="projects.project.reviews.create" tooltip="Add Review">
                <i class="fa fa-fw fa-plus"></i>
            </a>
        </span>
    </div>
    <div class="panel-body home-panel-body">
        <ul class="list-unstyled">
            <li class="home-item"
                ng-class="{'open-item-details': showDetails($index)}"
                ng-repeat="review in project.reviews | byKey: 'status': 'open' |
                 filter:search | event: project.date: project.nextdate as reviews">
                <div>
                    <i class="fa"
                       ng-class="{'fa-caret-right': !showDetails($index), 'fa-caret-down': showDetails($index)}"></i>
                    <span class="pointer" ng-click="toggleDetails($index)">
                        {{review.title | truncate: 25 : '...':true}}
                    </span>

                     <span ng-click="toggleDetails($index)" class="pull-right"
                           style="padding-left: 5px;">
                        <i data-toggle="tooltip" data-placement="bottom"
                           title="{{review.messages.length}}"
                           class="pointer fa fa-fw" ng-class="{'fa-comments-o': review.messages.length !== 0}"></i>
                    </span>

                    <p>
                        <small style="padding-left: 10px;" class="text-muted">
                            {{review.messages[(review.messages.length -1)].who}} commented on
                            {{(review.messages[(review.messages.length -1)].date)}}
                        </small>
                    </p>

                </div>
                <div ng-if="showDetails($index)">
                    <div home-review-details review="review"></div>
                </div>
            </li>
            <li ng-show="reviews.length === 0" class="home-item">
                <div>No reviews.</div>
            </li>
        </ul>
    </div>
</div>

<div class="modal fade" id="confirm-close-review" tabindex="-1" role="dialog"
     aria-labelledby="confirmCloseLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header modal-header-danger">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabelClose">Close Review</h4>
            </div>
            <div class="modal-body">
                On closing review will be archived
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">
                    Dismiss
                </button>
                <button ng-click="closeReview()" type="button" class="btn btn-danger"
                        data-dismiss="modal">
                    Yes
                </button>
            </div>
        </div>
    </div>
</div>
