<div class="panel panel-primary">
    <div class="panel-heading samples-color home-panel-heading">
        <i class="fa fa-fw fa-cubes bold"></i>
        <span>
            <a ui-sref="projects.project.samples.overview">Samples</a>
            ({{samples.length}})
        </span>
        <span class="add-item">
            <a ui-sref="projects.project.samples.create" tooltip="Add Sample">
                <i class="fa fa-plus"></i>
            </a>
        </span>
        <input type="text" ng-model="search.name"
               placeholder="Search samples..." class="pull-right col-xs-4">
    </div>
    <div class="panel-body home-panel-body">
        <ul ng-show="samples.length !== 0" class="list-unstyled">
            <li class="home-item"
                ng-repeat="sample in project.samples | filter:search | event: project.date as samples">
                <div>
                    <a ng-click="toggleDetails($index)" style="color: black">
                        <i class="fa"
                           ng-class="{'fa-caret-right': !showDetails($index), 'fa-caret-down': showDetails($index)}"></i>
                    </a>
                    {{sample.owner}} created <a ui-sref="projects.project.samples.overview">
                        {{sample.name | truncate: 25 : '...':true}}</a>

                    <p>
                        <small class="text-muted">{{sample.birthtime | toDateString}}</small>
                    </p>
                    <div ng-show="showDetails($index)">
                        <home-sample-details sample="sample"></home-sample-details>
                    </div>
                </div>
            </li>
        </ul>
        <div ng-show="samples.length === 0">
            There are no samples.
        </div>
    </div>
</div>
