<div>
    <div ng-hide="process.process">
        <div class="row" style="height : 350px;">
            <vis-network ng-model="graph.network_data"
                         options="graph.network_options">
            </vis-network>
        </div>
        <div class="row item-details">
            <b>Inputs</b>
            <ul class="list-group">
                <li class="list-group-item" ng-repeat="(key, values) in process.inputs">
                    <div class="row">
                        <b>{{key}}</b>
                    </div>

                    <div ng-switch="" on="key">
                        <div ng-switch-when="files">
                            <ul style="padding-left: 30px;">
                                <li ng-repeat="item in values">
                                    <a ui-sref="projects.project.files.view({'fileid': item.id})">
                                        {{item.other.name}}</a>
                                </li>
                            </ul>
                        </div>
                        <div ng-switch-when="sample">
                            <ul style="padding-left: 30px;">
                                <li ng-repeat="item in values">
                                    {{item.other.name}}
                                </li>
                            </ul>
                        </div>
                        <div ng-switch-default>
                            <ul style="padding-left: 30px;">
                                <li ng-repeat="item in values">
                                    {{item.display_name}} : {{item.value}} {{item.unit}}
                                </li>
                            </ul>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="row item-details">
            <b>Outputs</b>
            <ul class="list-group">
                <li class="list-group-item" ng-repeat="(key, values) in process.outputs">
                    <div class="row">
                        <b>{{key}}</b>
                    </div>
                    <div ng-switch="" on="key">
                        <div ng-switch-when="files">
                            <ul style="padding-left: 30px;">
                                <li ng-repeat="item in values">
                                    <a ui-sref="projects.project.files.view({'fileid': item.id})">
                                        {{item.other.name}}</a>
                                </li>
                            </ul>
                        </div>
                        <div ng-switch-default>
                            <ul style="padding-left: 30px;">
                                <li ng-repeat="item in values">
                                    {{item.display_name}} : {{item.value}} {{item.unit}}
                                </li>
                            </ul>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>

    <div ng-show="process.process">

        <div class="row item-details">
            <b>Inputs</b>
            <ul class="list-group">
                <li class="list-group-item" ng-repeat="(key, value) in process.inputs">
                    <div class="row">
                        {{key}}
                    </div>

                    <div ng-switch="" on="key">
                        <div ng-switch-when="files">
                            <ul style="padding-left: 30px;">
                                <li ng-repeat="item in value.properties.files">
                                    <a ui-sref="projects.project.files.view({'fileid': item.id})">
                                        {{item.name}}</a>
                                </li>
                            </ul>
                        </div>
                        <div ng-switch-when="sample">
                            <ul style="padding-left: 30px;">
                                <li ng-repeat="item in value">
                                    {{item.other.name}}
                                </li>
                            </ul>
                        </div>
                        <div ng-switch-default>
                            <ul style="padding-left: 30px;">
                                <li ng-repeat="item in value.properties">
                                    {{item.name}} : {{item.value}} {{item.unit}}
                                </li>
                            </ul>
                        </div>
                    </div>
                </li>
            </ul>

        </div>
        <div class="row item-details">
            <b>Outputs</b>
            <ul class="list-group">
                <li class="list-group-item" ng-repeat="(key, value) in process.outputs">
                    <div class="row">
                        {{key}}
                    </div>

                    <div ng-switch="" on="key">
                        <div ng-switch-when="files">
                            <ul style="padding-left: 30px;">
                                <li ng-repeat="item in value.properties.files">
                                    <a ui-sref="projects.project.files.view({'fileid': item.id})">
                                        {{item.name}}</a>
                                </li>
                            </ul>
                        </div>
                        <div ng-switch-when="sample">
                            <ul style="padding-left: 30px;">
                                <li ng-repeat="item in value">
                                    {{item.other.name}}
                                </li>
                            </ul>
                        </div>
                        <div ng-switch-default>
                            <ul style="padding-left: 30px;">
                                <li ng-repeat="item in value.properties">
                                    {{item.name}} : {{item.value}} {{item.unit}}
                                </li>
                            </ul>
                        </div>
                    </div>
                </li>
            </ul>

        </div>
    </div>
</div>

