<div class="row">
    <div ng-repeat="comment in review.messages">
        <div class="comment">
            <div class="row">
               <span class="pull-left">
                <i class="fa fa-fw fa-user fa-2x"></i>  {{comment.who}}
                </span>
                <span class="pull-right">
                    <small>{{comment.date}}</small>
                </span>
            </div>

            <p>

            <div ta-bind="text" ta-readonly='disabled' ng-model="comment.message"></div>
            </p>
        </div>
    </div>
</div>