<div class="panel panel-primary" style="border-color: #c9c9c9;">
    <div class="panel-heading" style="background-color: #e26a6a;opacity: 100%;">
        <i class="fa fa-fw fa-code-fork"></i><span
            style="font-size: 14px; font-weight:bold;font-family: Helvetica;color:white;">Processes</span>
        <a style="float: right;font-size: 12px;text-decoration: underline;font-family: Helvetica;color:white;"
           ui-sref="projects.project.provenance.overview"> View all {{project.processes.length}} processes</a>
    </div>
    <div class="panel-body">
        <ul style="list-style-type: none" ng-repeat="draft in project.drafts | limitTo : 2">
            <li>
                Created a new process <a ui-sref="projects.project.provenance.drafts">{{draft.process.name | truncate:
                25 : '...':true}}</a>
                <span class="label label-primary" style="background-color:#e26a6a">Draft</span>

                <p>
                    <small class="text-muted">{{draft.mtime | toDateString}}</small>
                </p>
            </li>
        </ul>
        <ul style="list-style-type: none" ng-repeat="process in project.processes | limitTo : 2">
            <li>
                Submitted <a>{{process.name | truncate: 25 : '...':true}}</a>

                <p>
                    <small class="text-muted">{{process.birthtime | toDateString}}</small>
                </p>
            </li>
        </ul>
    </div>
</div>

