<div>
    <h4 class="text-center" style="padding-bottom: 15px;">
        <i class="fa fa-check-square fa-fw"></i>
        <strong>Tasks</strong>
    </h4>
    <div class="row">
        <p class="pull-right">
            <strong>
                You have
                <a ui-sref="projects.project.tasks.overview">{{project.todos.length}}
                </a>
                tasks
            </strong>
        </p>
    </div>
    <div class="row">
        <ul  class="list-group clear-list">
            <li class="list-group-item" ng-repeat="todo in project.todos">
                <span> <i class="fa fa-fw fa-circle-o" style="color: #666666"></i></span>
                <a  ui-sref="projects.project.tasks.overview">{{todo.title}}</a>
                <span class="pull-right">{{todo.date | date: short}}</span>
            </li>
        </ul>
    </div>
    <div class="row">
        <a ng-click="addTask()">Add Task</a>
    </div>
</div>
