<div class="row">
    <h4 class="text-center" style="padding-bottom: 15px;">
        <i class="fa fa-cubes fa-fw"></i>
        <strong>Samples</strong>
    </h4>
</div>
<div style="padding-bottom: 8px;" class="row">
    <p style="float:right"><strong>You have
        <a ui-sref="projects.project.samples.overview">
            {{project.samples.length}}
        </a> samples</strong>
    </p>
</div>
<div class="row">
    <div class="timeline-item" ng-repeat="sample in project.samples">
        <div class="row">
            <div class="col-xs-3 date">
                <i class="fa fa-edit"></i>
                <small class="tex-navy">{{sample.name}}</small>
                <br>
                <!--<small class="text-navy">{{sample.birthtime | toDateString}}</small>-->
            </div>
            <div class="col-xs-7 content no-top-border">
                <p class="m-b-xs">
                    {{sample.birthtime | toDateString}}<br>
                    Owner: {{sample.owner}}<br>
                    <span ng-hide="sample.properties.composition.value.length == 0">
                          Composition:   {{sample.properties.composition.unit}}
                            <li ng-repeat="element in sample.properties.composition.value">{{element.name}} :  {{element.value}}</li>
                    </span>
                </p>
            </div>
        </div>

    </div>

</div>
<div class="row">
    <a ng-click="addSample()">Add Sample</a>
</div>
