<div class="panel panel-primary">
    <div class="panel-heading files-color home-panel-heading home-panel-heading">
        <i class="fa fa-fw fa-files-o bold"></i>
        <span>
            <a ui-sref="projects.project.files.overview">
                Files
            </a>
            ({{fileCount | number}})
        </span>
        <span class="pull-right add-item">
            <a><i class="fa fa-fw fa-plus"></i></a>
        </span>
        <input type="text" ng-model="search" class="pull-right col-xs-4">
    </div>
    <div class="panel-body home-panel-body">
        <ul ng-if="fileCount !== 0" class="list-unstyled">
            <li class="home-item pointer"
                ng-repeat="mediatype in mediatypes | filter:search | orderBy:'attrs.count':true"
                ng-click="showMediaType(mediatype.name)">
                <div>
                    {{mediatype.attrs.description}}
                    <span class="badge pull-right" style="margin-top:1px"
                          ng-class-odd="'odd-badge'"
                          ng-class-even="'even-badge'">
                        {{mediatype.attrs.count | number}}
                    </span>
                    <p>
                        <small class="text-muted">{{mediatype.attrs.size | bytes}}</small>
                    </p>
                </div>
            </li>
        </ul>
        <div ng-if="fileCount === 0">
            There are no files.
        </div>
    </div>
</div>
