<div class="panel panel-primary">
    <div class="panel-heading processes-color home-panel-heading">
        <i class="fa fa-fw fa-code-fork bold"></i>
        <span>
            <a ui-sref="projects.project.provenance.overview">
                Processes
            </a>
            ({{project.processes.length | number}})
        </span>
        <span class="pull-right add-item">
            <a ui-sref="projects.project.provenance.create">
                <i class="fa fa-fw fa-plus"></i>
            </a>
        </span>
        <input type="text" ng-model="search.name" class="pull-right col-xs-4">
    </div>
    <div class="panel-body home-panel-body">
        <ul ng-if="project.drafts.length !== 0" class="list-unstyled">
            <li class="home-item"
                ng-repeat="draft in project.drafts | limitTo:3">
                <div>
                    Created a new process
                    <a ui-sref="projects.project.provenance.drafts">
                        {{draft.process.name | truncate:25:'...':true}}
                    </a>
                    <span class="label label-primary"
                          style="background-color:#e26a6a">
                        Draft
                    </span>
                    <p>
                        <small class="text-muted">{{draft.mtime | toDateString}}</small>
                    </p>
                </div>
            </li>
        </ul>
        <ul ng-if="project.processes.length !== 0" class="list-unstyled">
            <li class="home-item"
                ng-repeat="process in project.processes | limitTo:3">
                <div>
                    Submitted <a>{{process.name | truncate: 25 : '...':true}}</a>
                    <p>
                        <small class="text-muted">{{process.birthtime | toDateString}}</small>
                    </p>
                </div>
            </li>
        </ul>
        <div ng-if="project.processes.length === 0 && project.drafts.length === 0">
            There are no processes or drafts.
        </div>
    </div>
</div>
