<div class="row">
    <div class="panel card" style="border: 1px solid #d3d3d3; box-shadow: 5px 4px 5px #a1a1a1;">
        <div class="panel-heading" style="padding-top: 20px;">
            <img style="height: 35px;padding-bottom: 10px;"
                 src="assets/img/splash/review_icon.png">
            <span style="color: #FDAC6B; font-size: 20px;padding-left: 15px;">REVIEWS</span>
        </div>
        <div class="panel-body home-panel-body">
            <div ng-if="view.project.reviews.length!== 0" style="width: 100%;height:100%"
                 ag-grid="view.gridOptions"
                 class="ag-fresh ag-basic">
            </div>
            <div ng-if="view.project.reviews.length === 0">
                <p style="padding-left:20px;">No Reviews.</p>
            </div>
        </div>
    </div>
</div>
