<div>
    <div ng-if="sample.description">
        Description: {{sample.description}}
    </div>

    <div  class="row item-details">
        <div class="col-sm-4">
            <b ng-show="sample.properties.composition.unit">Composition:
                <small>({{sample.properties.composition.unit}})</small>
            </b>
            <ul class="list-group">
                <li class="list-group-item "
                    ng-repeat="each in sample.properties.composition.value">
                    {{each.element}} <span class="pull-right">{{each.value}}</span>
                </li>
            </ul>
        </div>
        <div class="col-sm-8">
            <b ng-show="_.isNull(properties)">Properties: </b>
            <ul class="list-group scroll-bar">
                <li class="list-group-item"
                    ng-repeat="(key, value) in sample.properties | removeKey:'composition' as properties">{{key}}
                    <span style="float: right;">{{value.value}} {{value.unit}}</span>
                </li>
            </ul>
        </div>
    </div>
    <div style="margin-top: -10px;" class="row" ng-if="note">
        <br><b>Note:  <u>{{note.title}}</u></b>
        <div class="sample-note"  ta-bind="text" ng-model="note.note" ta-readonly='disabled'></div>
    </div>
</div>
