<div class="row">
    <div ng-if="isCurrentAction('create-provenance-new')">
        <div class="">
            <div class="col-xs-offset-1 col-xs-9 action-area-title">
                <legend>Create Provenance</legend>
                <hr class="carved">
            </div>
            <action-create-provenance project="project">
            </action-create-provenance>
        </div>
    </div>

    <div ng-if="isCurrentAction('create-provenance-from-draft')">
        <div class="action-area">
            <div class="row">
                <div class="col-xs-offset-1 col-xs-9 action-area-title">
                    <legend>Create Provenance From Draft</legend>
                    <hr class="carved">
                </div>
            </div>
            <action-create-provenance-from-draft project="project">
            </action-create-provenance-from-draft>
        </div>
    </div>

    <div ng-if="isCurrentAction('create-sample')">
        <div class="action-area">
            <div class="col-xs-offset-1 col-xs-9 action-area-title">
                <legend>Create Sample</legend>
                <hr class="carved">
            </div>
            <action-create-sample project="project">
            </action-create-sample>
        </div>
    </div>

    <div ng-if="isCurrentAction('create-review')">
        <div class="action-area">
            <div class="col-xs-offset-1 col-xs-9 action-area-title">
                <legend>Create Review</legend>
                <hr class="carved">
            </div>
            <action-create-review project="project">
            </action-create-review>
        </div>
    </div>

    <div ng-if="isCurrentAction('create-note')">
        <div class="action-area">
            <div class="col-xs-offset-1 col-xs-9 action-area-title">
                <legend>Create Note</legend>
                <hr class="carved">
            </div>
            <action-create-note project="project">
            </action-create-note>
        </div>
    </div>
</div>
