<div layout="row" layout-align="space-around start" class="md-mc-primary-color-hue-2-bg">
    <div flex="70">
        <md-tabs md-selected="ctrl.currentTab" class="md-primary md-hue-2" md-dynamic-height md-border-bottom>
            <md-tab ui-sref="projects.project.home">
                <md-tab-label>
                    <span><i class="fa fa-fw fa-home"></i>Home</span>
                </md-tab-label>
            </md-tab>
            <md-tab ui-sref="projects.project.processes.list">
                <md-tab-label>
                    <span><i class="fa fa-fw fa-code-fork"></i>Processes</span>
                </md-tab-label>
            </md-tab>
            <md-tab ui-sref="projects.project.samples.list">
                <md-tab-label>
                    <span><i class="fa fa-fw fa-cubes"></i>Samples</span>
                </md-tab-label>
            </md-tab>
            <md-tab ui-sref="projects.project.files.all">
                <md-tab-label>
                    <span><i class="fa fa-fw fa-files-o"></i>Files</span>
                </md-tab-label>
            </md-tab>
            <md-tab ui-sref="projects.project.reviews.list">
                <md-tab-label>
                    <span><i class="fa fa-fw fa-comment"></i>Reviews</span>
                </md-tab-label>
            </md-tab>
            <md-tab ui-sref="projects.project.access">
                <md-tab-label>
                    <span><i class="fa fa-fw fa-gear"></i>Settings</span>
                </md-tab-label>
            </md-tab>
        </md-tabs>
    </div>
    <span flex></span>
    <md-button style="color: white">{{ctrl.project.name}}</md-button>
    <div ng-if="true">
        <md-menu style="color: white">
            <md-button ng-click="$mdOpenMenu($event)">
                <md-icon style="color: white" md-font-icon="fa-briefcase" class="fa fa-md-icon"></md-icon>
                {{ctrl.project.name | truncate:32:'...'}}
                <span class="white badge" style="background-color:#e0e0e0; color:#434343">
                    {{ctrl.projects.length}}
                </span>
            </md-button>
            <md-menu-content>
                <md-menu-item>
                    <a><i class="fa fa-fw fa-plus"></i>New Project</a>
                </md-menu-item>
                <md-menu-divider></md-menu-divider>
                <md-menu-item ng-repeat="project in ctrl.projects">
                    <a ng-click="ctrl.setProject(project)">{{project.name}}</a>
                </md-menu-item>
            </md-menu-content>
        </md-menu>
    </div>
</div>