<div>
    <div ng-show="!loaded">
        <div class="loading-panel col-xs-4">
            <center>
                <h4><i class="fa fa-spinner fa-spin fa-4x"></i> Loading {{project.name}}...</h4>
            </center>
        </div>
    </div>
    <div ng-show="loaded">
        <div class="row project-task-bar">
            <project-nav-bar
                project="project"
                projects="projects">
            </project-nav-bar>
        </div>
        <div class="row" style="padding-top: 60px;">
            <div class="col-xs-offset-1">
                <input class="col-xs-11"
                       type="text"
                       placeholder="SEARCH PROJECT..."
                       ng-model="query"
                       on-enter="search()">
            </div>
        </div>
        <div ng-if="loaded" class="row">
            <div ng-class="{'col-sm-12': isExpanded('help'), 'col-sm-4': !isExpanded('help') && showHelp()}" ng-show="showHelp()">
                <userguide></userguide>
            </div>
            <div ng-class="{'col-sm-8': showHelp(), 'col-sm-12': !showHelp()}" ng-show="!isExpanded('help')">
                <div ui-view></div>
            </div>
        </div>
    </div>
</div>
