<div ng-controller="actionStackListController" class="sideboard-group">
    <span class="col-lg-6"><i class="fa fa-copy"/> Drafts</span>
    <div class="row"></div>
    <hr class="sideboard-separator">
    <div class="row">
        <div ng-repeat="action in actions">
            <a ng-href="#{{action.id}}" target="_self">{{action.title}}</a>
            <a action-stack ng-click="toggleStackAction(action.id)">
                <i class="fa fa-close action-link-close"></i>
            </a>
        </div>
    </div>
</div>
<div ng-controller="tagsSideboardController" class="sideboard-group">
    <span class="col-lg-6"> <i class="fa fa-tags"/> Tags</span>
    <a action-stack ng-click="toggleStackAction('tag', 'Create Tag')">
        <i class="fa fa-plus"/> Add Tag
        <i ng-class="{'fa fa-close action-link-close': actionActive('tag')}"/>
    </a>
    <hr class="sideboard-separator">
    <div class="row tag-scroll-bar">
        <display-tags tags="tags"></display-tags>
    </div>
</div>

<div ng-controller="todosSideboardController" class="sideboard-group">
    <span class="col-lg-6"> <i class="fa fa-check-square"/> To Do</span>
    <a action-stack ng-click="toggleStackAction('to-do', 'Create ToDo')">
        <i class="fa fa-plus"/> Add To Do
        <i ng-class="{'fa fa-close action-link-close': actionActive('to-do')}"/>
    </a>
    <hr class="sideboard-separator">
    <div class="row todo-scroll-bar">
        <div ng-repeat="td in todos">
            <div class="checkbox checkbox-info">
                <input id={{td.title}} type="checkbox" ng-model="td.selected" ng-change="td.selected = !td.selected"
                       ng-click="isChecked(td)" checked>
                <label for={{td.title}}>
                    <span data-toggle="tooltip" data-placement="bottom" title="{{td.title}}: {{td.note}}"
                          for={{td.title}}>{{createName(td.title)}}</span>
                </label>
            </div>
        </div>
    </div>
</div>
