<div class="row" ng-controller="toolbarTemplates">
    <br>

    <div class="col-sm-2">
        <label>Experimental Templates:</label>
        <table class="table table-bordered mc-table">
            <thead>
            <th></th>
            <th>Template name</th>
            </thead>
            <tbody>
            <tr ng-repeat="t in experimental_templates">
                <td><input type="checkbox" ng-checked="is_checked(t)" ng-click="addSelection(t)"></td>
                <td><a>{{t.template_name}} - {{is_checked(t)}}</a></td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="col-sm-2">
        <label>Computational Templates:</label>
        <table class="table table-bordered">
            <thead>
            <th></th>
            <th>Template name</th>
            </thead>
            <tbody>
            <tr ng-repeat="t in expermental_templates">
                <td><input type="checkbox" ng-click="addSelection(t)"></td>
                <td><a>{{t.template_name}}</a></td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="col-sm-offset-6">
        <form class="form-horizontal">
            <label>Preferred templates are:</label>
            <ul ng-repeat="t in preferred_templates">
                <li>{{t.template_name}}</li>
            </ul>
            <button class="btn btn-default btn-primary" ng-click="updatePreferences()">Save</button>
        </form>
    </div>

</div>
