body {
    margin: 0;
    font-family: 'Calibri', 'Ubuntu', Tahoma, sans-serif;
    font-size: 12px;
    line-height: 18px;
    color: #333;
    background-color: #efefef
}

.display {
    display: none
}

.displayshow {
    display: block
}

.show {
    display: block;
    padding-right: 5px;
    width: 10px;
    height: 15px
}

.hide {
    display: none;
    padding-right: 5px
}

ul {
    list-style: none
}

.pull-right {
    float: right
}

.pull-left {
    float: left
}

.treecheckBox {
    border: 1px solid #b2b2b2;
    border-radius: 2px;
    height: 11px;
    width: 11px;
    vertical-align: top;
    margin-top: 4px;
    margin-right: .4em;
    font-size: .8em;
    -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
    display: inline-block
}

.item {
    margin-left: 15px;
    width: fit-content
}

.list-item {
    padding: 2px 0
}

.item:focus {
    color: green
}

.treecheckBox:hover {
    background-color: #e7f6fc;
    border-color: #84d1f1
}

.treeviewPartial {
    opacity: .35
}