<div class="span10 offset1">
    <h4>Create New UserGroup</h4>
    <table>
        <tr>
            <td>Name</td>
            <td><input  ng-model="name" placeholder="allisonlab"></td>
        </tr>

        <tr>
            <td>Access</td>
            <td><input  ng-model="access"  placeholder="private/public" ></td>

            <td>Description</td>
            <td><input  ng-model="desc"></td>
        </tr>
    </table>
    <br>
    <button class="btn btn-success" type="button" ng-click="create_usergroup()"> Create Account</button>
</div>





