<div style="margin-bottom: 3px;">
    <div>
        <span ng-click="template.showDetails = !template.showDetails" style="cursor: pointer">
            <i class="fa fa-fw"
               ng-class="{'fa-caret-right': !template.showDetails, 'fa-caret-down': template.showDetails}">
            </i>
            <div class="checkbox checkbox-inline checkbox-primary"
                 style="margin-top: 0px">
                <input type="checkbox"
                       ng-model="useTemplate" id="abc123">
                <label for="abc123"></label>
            </div>
            {{template.name | truncate:35: '...':true}}
        </span>
    </div>
    <div ng-if="template.showDetails">
        <show-template-details template="template"></show-template-details>
    </div>
</div>
