<div>
    <div class="col-xs-4" style="margin-top:34px">
        <div class="panel panel-default">
            <div class="panel-heading" style="background-color:#e0e0e0; opacity:1">
                <h4>Heat Treatment</h4>
            </div>
            <div class="panel-body">
                <input type="text" ng-model="search.name" class="col-xs-12"
                       placeholder="Search properties...">
                <ul class="list-unstyled">
                    <li ng-repeat="section in sections">
                        <strong><a>{{section.name}}</a></strong>
                        <ul class="list-unstyled" style="padding-left:10px">
                            <li ng-repeat="attribute in section.attributes">
                                <a>{{attribute.name}}</a>
                                <ul ng-if="hasSubvalues(attribute)"
                                    class="list-unstyled" style="padding-left:10px">
                                    <li ng-repeat="value in attribute.value">
                                        <a>{{value}}</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-xs-8" style="margin-top:34px">
        <div ui-view></div>
        <div class="panel panel-default">
            <div class="panel-heading" style="background-color:#e0e0e0; opacity:1">
                <h4>Inputs</h4>
            </div>
            <div class="panel-body">
                <input type="text" ng-model="search.name" class="col-xs-12"
                       placeholder="Search properties...">
                <dl class="dl-horizontal">
                    <div ng-repeat="attribute in sections[2].attributes">
                        <dt>{{attribute.name}}</dt>
                        <dd>{{attribute.value}}</dd>
                    </div>
                </dl>
                <button class="btn btn-success">Add process</button>
            </div>
        </div>
    </div>
</div>
