<div>
    <div class="row">
        <h4>Description: {{template.description}}</h4>
    </div>
    <div class="row item-details" ng-repeat="section in template.sections">
        <h5>Section: {{section.name}}</h5>
        <div class="row" ng-repeat="category in section.categories">
            <strong>{{category.category}} properties</strong>
            <ul class="list-group">
                <li class="list-group-item"
                    ng-repeat="attribute in category.attributes">
                    Attribute: {{attribute.name}}
                    <br/>
                    Description: {{attribute.description}}
                    <br/>
                    Required: {{attribute.required}}
                    <div ng-if="attribute.default_value">
                        Default Value: {{attribute.default_value}}
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
