<div>
    <div class="col-xs-12">
        <div class="col-xs-5">
            <div class="row">
                <button ng-click="addNode()" class="btn btn-success">
                    Add Process
                </button>
                <button ng-click="addBetween()" class="btn btn-success">
                    Add Between
                </button>
                <div style="min-height: 600px">
                    <vis-network ng-model="data" on-select="onSelect" options="options"></vis-network>
                </div>
            </div>
        </div>
        <div class="col-xs-7">
            <ul class="nav nav-tabs">
                <li role="presentation" ng-class="{active: detailsActive}">
                    <a ng-click="detailsActive=true; templatesActive=false;">Details</a>
                </li>
                <li role="presentation" ng-class="{active: templatesActive}">
                    <a ng-click="detailsActive=false;templatesActive=true">Templates</a>
                </li>
            </ul>
            <div ui-view></div>
        </div>
    </div>
</div>
