<div>
    <div class="checkbox pull-left">
        <input type="checkbox" id="sampleGroupCheckbox" ng-change="ctrl.showGroupsChanged()"
               ng-model="ctrl.showSamplesInGroups">
        <label for="sampleGroupCheckbox">Show all</label>
    </div>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Selected</th>
            <th>Name</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="sample in ctrl.samples | filter:ctrl.showGroupsFilter | orderBy:'name'">
            <td>
                <a ng-click="sample.selected = !sample.selected">
                    <i ng-if="sample.selected" class="fa fa-2x fa-fw fa-check text-success"></i>
                    <i ng-if="!sample.selected" class="fa fa-2x fa-fw fa-square-o"></i>
                </a>
            </td>
            <td>
                {{sample.name}}
            </td>
        </tr>
        </tbody>
    </table>
</div>