<div class="row">
    <li><h5 style="text-align: center"><b>To Conduct</b></h5></li>
    <br>
    <table class="table">
        <thead style="color: #4b4b4b">
        <th>Title</th>
        <th>Projects</th>
        <th>Assigned to</th>
        <th></th>
        </thead>
        <tbody>
        <tr class="pointer" ui-sref="projects.project.home({id: r.project_id})"
            ng-repeat="r in reviews | byKey: 'assigned_to': user| byKey: 'status': 'open'">
            <td data-toggle="tooltip"
                title="{{r.title}}">
                {{createName(r.title)}}
                <p class="text-muted" style="font-size: 10px;">
                    By: {{r.author}}
                </p>
            </td>
            <td data-toggle="tooltip"
                title="{{r.project_name}}">
                {{createName(r.project_name)}}
            </td>
            <td>{{r.assigned_to}}</td>
        </tr>
        </tbody>

    </table>
    <h5 style="text-align: center"><b>Requested</b></h5>

    <table class="table">
        <thead style="color: #4b4b4b">
        <th>Title</th>
        <th>Projects</th>
        <th>Assigned to</th>
        <th></th>
        </thead>
        <tbody>
        <tr class="pointer" ui-sref="projects.project.home({id: r.project_id})"
            ng-repeat="r in reviews | byKey:'status':'open' | byKey: 'author': user">
            <td data-toggle="tooltip" title="{{r.title}}">
                {{createName(r.title)}}
                <p class="text-muted"
                   style="font-size: 10px;">
                    By: {{r.author}} hello
                </p>
            </td>
            <td data-toggle="tooltip"
                title="{{r.project_name}}">
                {{createName(r.project_name)}}
            </td>
            <td>{{r.assigned_to}}</td>
            <td ng-if="r.messages.length === 1"></td>
            <td ng-if="r.messages.length != 1">
                <i class="fa fa-comment"></i> {{r.messages.length-1}}
            </td>
        </tr>
        </tbody>
    </table>
</div>
