<md-dialog flex="80">
    <md-toolbar layout="row">
        <div layout-margin>
            Choose existing samples to add to workflow
        </div>
    </md-toolbar>
    <md-dialog-content layout-margin>
        <md-table-container>
            <table md-table class="margin-top-10">
                <thead md-head>
                <tr md-row>
                    <th md-column>Select</th>
                    <th md-column>Sample</th>
                </tr>
                </thead>
                <tbody md-body>
                <tr md-row class="md-row-hover" ng-repeat="sample in $ctrl.state.samples track by $index">
                    <td md-cell>
                        <md-checkbox ng-model="sample.selected" aria-label="select sample"></md-checkbox>
                    </td>
                    <td md-cell>{{sample.name}}</td>
                </tr>
                </tbody>
            </table>
        </md-table-container>
    </md-dialog-content>
    <md-dialog-actions layout="row">
        <md-button class="md-warn" ng-click="$ctrl.cancel()">Cancel</md-button>
        <md-button class="md-primary" ng-click="$ctrl.done()">Done</md-button>
    </md-dialog-actions>
</md-dialog>