<div>
    <div class="modal-header">
        <h3 class="modal-title">Choose Users</h3>
    </div>
    <br>
    <div class="modal-body">
        <md-table-container>
            <table md-table>
                <thead md-head>
                <tr md-row>
                    <th md-column>User</th>
                    <th md-column>Selected</th>
                </tr>
                </thead>
                <tbody>
                <tr md-row ng-repeat="user in ctrl.users">
                    <td md-cell>{{user.name}}</td>
                    <td md-cell><md-checkbox aria-label="" class="md-secondary" ng-model="user.selected"></md-checkbox></td>
                </tr>
                </tbody>
            </table>
        </md-table-container>
        <md-list ng-if="false">
            <md-list-item ng-repeat="user in ctrl.users">
                <p>{{user.name}}</p>
                <md-checkbox aria-label="" class="md-secondary" ng-model="user.selected"></md-checkbox>
                <md-divider></md-divider>
            </md-list-item>
        </md-list>
    </div>
    <div class="modal-footer">
        <md-button class="md-primary md-raised" ng-click="ctrl.ok()">ok</md-button>
        <md-button class="md-warn md-raised" ng-click="ctrl.cancel()">cancel</md-button>
    </div>
</div>
