<md-dialog flex="40" style="max-height:85vh">
    <md-toolbar layout="row">
        <div layout-margin>
            Choose samples to use
        </div>
    </md-toolbar>
    <md-dialog-content layout-margin>
        <div layout="row">
            <md-button ng-click="$ctrl.clearAll()">Clear All Selections</md-button>
            <md-button ng-click="$ctrl.selectAll()">Select All</md-button>
        </div>
        <div flex="100" ng-repeat="sample in $ctrl.samples">
            <md-checkbox ng-model="sample.selected" aria-label="select sample">{{sample.name}}</md-checkbox>
        </div>
    </md-dialog-content>
    <md-dialog-actions layout="row">
        <md-button class="md-warn" ng-click="$ctrl.cancel()">Cancel</md-button>
        <md-button class="md-primary" ng-click="$ctrl.done()">Done</md-button>
    </md-dialog-actions>
</md-dialog>
