<md-dialog flex="60" style="height: 70vh">
    <md-toolbar layout="row">
        <div layout-margin>
            Choose Existing Template
        </div>
    </md-toolbar>
    <md-dialog-content layout-margin>
        <div layout="row">
            <input class="mc-input-as-line" placeholder="Search Templates..." ng-model="$ctrl.search" flex="60">
        </div>
        <div class="md-accordion" ng-repeat="template in $ctrl.templates | filter:$ctrl.search | orderBy:'name'">
            <h3 class="md-title">{{template.name}}
                <md-button class="md-primary" ng-click="$ctrl.done(template)">select</md-button>
            </h3>
        </div>
    </md-dialog-content>
    <md-dialog-actions layout="row">
        <md-button class="md-warn" ng-click="$ctrl.cancel()">Cancel</md-button>
    </md-dialog-actions>
</md-dialog>