<md-dialog flex="60">
    <md-toolbar layout="row">
        <div ng-if="!$ctrl.url" layout-margin>
            <i class="fa fa-fw fa-folder-open"></i>Preparing download for <b>{{$ctrl.project.name}}</b>
        </div>
        <div ng-if="$ctrl.url" layout-margin>
            <i class="fa fa-fw fa-folder-open"></i>Link to download for <b>{{$ctrl.project.name}}</b>
        </div>
    </md-toolbar>
    <md-dialog-content layout-margin>
        <div ng-if="!$ctrl.url && !$ctrl.error">
            Loading.
        </div>
        <div ng-if="$ctrl.error">
            <b>Error: {{$ctrl.error}}</b>
        </div>
        <div ng-if="$ctrl.url">
            To download files or directories from your project '{{$ctrl.project.name}}': this
            presents a Materials Commons globus endpoint reflecting
            the top level directory of your project. This is link is reusable,
            but is only a snapshot. When the content of your project changes, or if
            you have lost track of the ULR, you may return to this dialog and obtain
            a new snapshot link.
            <a class="md-button md-raised md-primary" href="{{$ctrl.url}}" target="_blank" ng-click="$ctrl.cancel()">
                Materials Commons Globus download transfer panel
            </a>
        </div>
    </md-dialog-content>
    <md-dialog-actions layout="row">
        <md-button class="md-warn" ng-click="$ctrl.cancel()">Dismiss</md-button>
    </md-dialog-actions>
</md-dialog>
