<md-dialog flex="60">
    <md-toolbar ng-if="!$ctrl.requestComplete" layout="row">
        <div layout-margin>
            <i class="fa fa-fw fa-folder-open"></i>
            Globus: Upload to top level directory of
            <b>{{$ctrl.project.name}}</b>
        </div>
    </md-toolbar>
    <md-dialog-content ng_if="!$ctrl.url" layout-margin>
        <p>
            Setting up: if the link for upload has not appeared in a short time, please check
            that you have added your Globus user id to your "Account Settings" information (in
            pull-down menu from you name in the upper right on the navigation bar)
        </p>
        <div ng-if="$ctrl.error">
            <b>Error: {{$ctrl.error}}</b>
        </div>
    </md-dialog-content>
    <md-dialog-content ng_if="$ctrl.url" layout-margin>
        <p>
            To upload a file or directory to your project '{{$ctrl.project.name}}': this
            presents a 'one time use' Materials Commons globus endpoint to
            the top level directory of your project in the globus transfer web app.
            Click, set the source by browsing in your globus endpoint to the
            desired directory or file,
            and then transfer to the indicated destination.
            <br />
            <a class="md-button md-raised md-primary" ng-click="$ctrl.dismiss()"
                 href="{{$ctrl.url}}"
                 target="_blank">
                one-time-use link to the Materials Commons destination endpoint</a>
            <br />
            You may return to this dialog
            to obtain additional upload links. Each link should only be used once.
        </p>
    </md-dialog-content>
    <md-dialog-actions layout="row">
        <md-button class="md-warn" ng-click="$ctrl.cancel()">Dismiss</md-button>
    </md-dialog-actions>
</md-dialog>
