<md-dialog flex="50">
    <md-toolbar layout="row">
        <div layout-margin>
            Link files to {{$ctrl.sample.name}}
        </div>
    </md-toolbar>
    <md-dialog-content layout-margin>
        <md-table-container>
            <table md-table>
                <thead md-head>
                <tr md-row>
                    <th md-row>Linked</th>
                    <th md-column>File</th>
                    <th md-column>Image</th>
                </tr>
                </thead>
                <tbody md-body>
                <tr md-row ng-repeat="file in $ctrl.files | orderBy:'name'">
                    <td md-cell>
                        <md-checkbox aria-label="linked" ng-model="file.linked"></md-checkbox>
                    </td>
                    <td md-cell>{{file.name}}</td>
                    <td md-cell>
                        <a ng-if="$ctrl.isImage(file.mediatype.mime)"
                           class="md-primary" ng-click="$ctrl.showFile(file)" aria-label="view file">
                            <img class="img-thumbnail" height="140" width="140"
                                 ng-src="{{$ctrl.fileSrc(file.id)}}">
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>
        </md-table-container>
    </md-dialog-content>
    <md-dialog-actions layout="row">
        <md-button class="md-warn" ng-click="$ctrl.cancel()">cancel</md-button>
        <md-button class="md-primary" ng-click="$ctrl.done()">done</md-button>
    </md-dialog-actions>
</md-dialog>