<md-dialog flex="50">
    <md-toolbar layout="row">
        <div layout-margin>
            ETL - Create Experiment from ETL spreadsheet
        </div>
    </md-toolbar>
    <md-dialog-content layout-margin>
        <md-tabs md-selected="$ctrl.currentTab" md-stretch-tabs md-dynamic-height flex="100" layout-margin>
            <md-tab>
                <md-tab-label>Using Project Files</md-tab-label>
                <md-tab-body>
                    <div layout="column">
                        <p>To create new experiment in this project,
                            <b>{{$ctrl.project.name}}</b>,
                            select an Excel file from the project.
                            Project data files, as specified in your spreadsheet,
                            will be uploaded from (and relative to)
                            the project directory that contains the excel file.
                            (Note: * indicates required fields)
                        </p>
                    </div>
                    <form layout="column" class="dialog-form">
                        <md-input-container md-no-float>
                            <label>Experiment Name</label>
                            <input ng-required="true" ng-model="$ctrl.name" type="text" on-enter="ctrl.submit()">
                        </md-input-container>
                        <md-input-container md-no-float>
                            <label>Experiment Description</label>
                            <input ng-required="false" ng-model="$ctrl.description" type="text" on-enter="ctrl.submit()">
                        </md-input-container>
                        <md-input-container md-no-float>
                            <label>Excel file for ETL</label>
                            <md-select ng-required="true" ng-model="$ctrl.excelFile">
                                <md-option ng-value="choice"
                                           ng-repeat="choice in $ctrl.excelFiles">
                                    {{::choice}}
                                </md-option>
                            </md-select>
                        </md-input-container>
                    </form>
                </md-tab-body>
            </md-tab>
            <md-tab ng-if="False">
                <md-tab-label>Using Globus</md-tab-label>
                <md-tab-body>
                    <div layout="column">
                        <p> Create an experiment, using Globus to upload an
                            Excel spreadsheet and its data files. If you do not wish
                            to use Globus at this time, you can switch to the 'DRAG AND DROP'
                            tab (above).
                        </p>
                        <br />
                        <p ng-if="!$ctrl.isAuthenticatedToGlobus" ng-style="{color:'red'}">
                            For this tab, you must be logged into Globus.
                            See "Globus User Status (Sign In)" on left side bar.
                        </p>
                        <br />
                        <p> To use this form, you will first need a <b>Globus endpoint</b>; usually the endpoint
                            associated with your <b>Globus Connect Personal</b> app. On that endpoint you
                            will need a path to a directory, called <b>Base Directory</b> below, that contains both a Excel Spreadsheet for the
                            ETL processing and a data directory for the files referenced in the the
                            ETL description (in the Excel Spreadsheet).
                            Link to install Globus Connect Personal on
                            <a href="https://docs.globus.org/how-to/globus-connect-personal-mac/">Mac OS X</a>,
                            <a href="https://docs.globus.org/how-to/globus-connect-personal-windows/">Windows</a>, or
                            <a href="https://docs.globus.org/how-to/globus-connect-personal-linux/">Linux</a>.

                            Additional <b>help</b> is
                            <a href="https://github.com/materials-commons/materialscommons.org/wiki/ETL-Using-Globus"
                               target="_blank" >available</a>.
                        </p>
                    </div>
                    <form ng-if="$ctrl.isAuthenticatedToGlobus" layout="column" class="dialog-form">
                        <br />
                        <p>To create new experiment in the project <b>{{$ctrl.project.name}}</b>.
                            (Note: * indicates required fields)
                        </p>
                        <br />
                        <md-input-container md-no-float>
                            <label>Experiment Name</label>
                            <input ng-required="true" ng-model="$ctrl.name" type="text" on-enter="ctrl.submit()">
                        </md-input-container>
                        <md-input-container md-no-float>
                            <label>Experiment Description</label>
                            <input ng-required="false" ng-model="$ctrl.description" type="text" on-enter="ctrl.submit()">
                        </md-input-container>
                        <md-input-container md-no-float>
                            <label>Globus endpoint UUID (see help, above)</label>
                            <input ng-required="true" ng-model="$ctrl.ep_uuid" type="text" on-enter="ctrl.submit()">
                        </md-input-container>
                        <md-input-container md-no-float>
                            <label>Base Path: the path on the endpoint that contains both the Spreadsheet and data dir</label>
                            <input ng-required="true" ng-model="$ctrl.base_path" type="text" on-enter="ctrl.submit()">
                        </md-input-container>
                        <md-input-container md-no-float>
                            <label>The path, relitive to Base Path, of the excel file (for example <em>/project1/input.xlsx</em>)</label>
                            <input ng-required="true" ng-model="$ctrl.spreadsheet_rel_path" type="text" on-enter="ctrl.submit()">
                        </md-input-container>
                        <md-input-container md-no-float>
                            <label>The path, relitive to Base Path, of the data directory (for example <em>/project1/data</em>)</label>
                            <input ng-required="true" ng-model="$ctrl.data_dir_rel_path" type="text" on-enter="ctrl.submit()">
                        </md-input-container>
                    </form>
                </md-tab-body>
            </md-tab>
            <md-tab>
                <md-tab-label>Drag and Drop</md-tab-label>
                <md-tab-body>
                    <form layout="column" class="dialog-form">
                        <p> To create new experiment in the project <b>{{$ctrl.project.name}}</b>,
                            <b>without data files</b>, fill out the form below and drag/drop (or open)
                            the Excel spreadsheet from your machine. (Note: * indicates required fields)
                        </p>
                        <br />
                        <p> To create an experiment with the data files see the tab
                            'USING PROJECT FILES' and follow the instructions there.
                        </p>
                        <md-input-container md-no-float>
                            <label>Experiment Name</label>
                            <input ng-required="true" ng-model="$ctrl.name" type="text" on-enter="ctrl.submit()">
                        </md-input-container>
                        <md-input-container md-no-float>
                            <label>Experiment Description</label>
                            <input ng-required="false" ng-model="$ctrl.description" type="text" on-enter="ctrl.submit()">
                        </md-input-container>
                        <div ng-if="($ctrl.files.length > 0)">
                            Using the Excel Spreadsheet: <b><em>{{$ctrl.files[0].name}}</em></b>.
                        </div>
                        <div ng-if="($ctrl.files.length === 0)">
                            Drag an Excel Spreadsheet file into box (*), or...
                            <div ngf-select ngf-multiple="false" ngf-drop ngf-keep="'distinct'"
                                 ng-model="$ctrl.files" class="drop-box pointer text-uppercase">
                                click to select Excel file for upload (*)
                            </div>
                        </div>
                    </form>
                </md-tab-body>
            </md-tab>
        </md-tabs>
    </md-dialog-content>
    <md-dialog-actions  ng-if="$ctrl.currentTab == 0" layout="row">
        <md-button class="md-primary"
                   ng-disabled="!$ctrl.project_upload_ok()"
                   ng-click="$ctrl.uploadDirect()">Run ETL</md-button>
        <md-button class="md-primary" ng-click="$ctrl.cancel()">Cancel</md-button>
    </md-dialog-actions>
    <md-dialog-actions  ng-if="$ctrl.currentTab == 1" layout="row">
        <md-button class="md-primary"
                   ng-disabled="!(($ctrl.files.length > 0) && $ctrl.name)"
                   ng-click="$ctrl.uploadDirect()">Upload</md-button>
        <md-button class="md-primary" ng-click="$ctrl.cancel()">Cancel</md-button>
    </md-dialog-actions>
    <md-dialog-actions  ng-if="$ctrl.currentTab == 2" layout="row">
        <md-button class="md-primary"
                   ng-disabled="!$ctrl.globus_upload_ok()"
                   ng-click="$ctrl.uploadWithGlobus()">Start Upload</md-button>
        <md-button class="md-primary" ng-click="$ctrl.cancel()">Cancel</md-button>
    </md-dialog-actions>
</md-dialog>
