<md-dialog flex="50">
    <md-toolbar layout="row">
        <div layout-margin>
            ETL - Create Experiment from ETL spreadsheet
        </div>
    </md-toolbar>
    <md-dialog-content layout-margin>
        <md-tabs md-selected="$ctrl.currentTab" md-stretch-tabs md-dynamic-height flex="100" layout-margin>
            <md-tab>
                <md-tab-label>Using Project Files</md-tab-label>
                <md-tab-body>
                    <div ng-if="!$ctrl.excel_files.length">
                        Warning: There are no Excel files in this project. Upload files and data using the
                        'Globus Upload To Project' item in the left-side navigation bar.
                    </div>
                    <div ng-if="$ctrl.excel_files.length">
                        <div layout="column">
                            <p>To create new experiment in this project,
                                <b>{{$ctrl.project.name}}</b>,
                                select an Excel file from the project. For that ETL,
                                the data files, as specified in your spreadsheet,
                                will be used, from your Project, in (and relative to)
                                the project directory that contains the excel file.
                                (Note: * indicates required fields)
                            </p>
                        </div>
                        <form layout="column" class="dialog-form">
                            <md-input-container md-no-float>
                                <label>Select an Excel file for ETL</label>
                                <md-select ng-required="true" ng-model="$ctrl.excelFile">
                                    <md-option ng-value="choice"
                                               ng-repeat="choice in $ctrl.excel_files">
                                        {{::choice}}
                                    </md-option>
                                </md-select>
                            </md-input-container>
                            <md-input-container md-no-float>
                                <label>Experiment Name</label>
                                <input ng-required="true" ng-model="$ctrl.name" type="text" on-enter="ctrl.submit()">
                            </md-input-container>
                            <md-input-container md-no-float>
                                <label>Experiment Description</label>
                                <input ng-required="false" ng-model="$ctrl.description" type="text" on-enter="ctrl.submit()">
                            </md-input-container>
                        </form>
                    </div>
                </md-tab-body>
            </md-tab>
            <md-tab>
                <md-tab-label>Drag and Drop</md-tab-label>
                <md-tab-body>
                    <form layout="column" class="dialog-form">
                        <p> To create new experiment in the project <b>{{$ctrl.project.name}}</b>,
                            <b>without data files</b>, fill out the form below and drag/drop (or open)
                            the Excel spreadsheet from your machine. (Note: * indicates required fields)
                        </p>
                        <br />
                        <p> To create an experiment with the data files see the tab
                            'USING PROJECT FILES' and follow the instructions there.
                        </p>
                        <md-input-container md-no-float>
                            <label>Experiment Name</label>
                            <input ng-required="true" ng-model="$ctrl.name" type="text" on-enter="ctrl.submit()">
                        </md-input-container>
                        <md-input-container md-no-float>
                            <label>Experiment Description</label>
                            <input ng-required="false" ng-model="$ctrl.description" type="text" on-enter="ctrl.submit()">
                        </md-input-container>
                        <div ng-if="($ctrl.files.length > 0)">
                            Using the Excel Spreadsheet: <b><em>{{$ctrl.files[0].name}}</em></b>.
                        </div>
                        <div ng-if="($ctrl.files.length === 0)">
                            Drag an Excel Spreadsheet file into box (*), or...
                            <div ngf-select ngf-multiple="false" ngf-drop ngf-keep="'distinct'"
                                 ng-model="$ctrl.files" class="drop-box pointer text-uppercase">
                                click to select Excel file for upload (*)
                            </div>
                        </div>
                    </form>
                </md-tab-body>
            </md-tab>
        </md-tabs>
    </md-dialog-content>
    <md-dialog-actions  ng-if="$ctrl.currentTab == 0" layout="row">
        <md-button class="md-primary"
                   ng-disabled="!$ctrl.project_upload_ok()"
                   ng-click="$ctrl.etlInProject()">Run ETL</md-button>
        <md-button class="md-primary" ng-click="$ctrl.cancel()">Cancel</md-button>
    </md-dialog-actions>
    <md-dialog-actions  ng-if="$ctrl.currentTab == 1" layout="row">
        <md-button class="md-primary"
                   ng-disabled="!(($ctrl.files.length > 0) && $ctrl.name)"
                   ng-click="$ctrl.uploadDirect()">Upload</md-button>
        <md-button class="md-primary" ng-click="$ctrl.cancel()">Cancel</md-button>
    </md-dialog-actions>
</md-dialog>
