<md-dialog flex="60">
    <md-toolbar layout="row">
        <div layout-margin>
            Rename Project: {{$ctrl.project.name}}
        </div>
    </md-toolbar>
    <md-dialog-content layout-margin>
        <md-input-container class="md-block" style="margin-top:40px">
            <label>New Project Name</label>
            <input ng-model="$ctrl.newProjectName" on-enter="$ctrl.done()">
        </md-input-container>
    </md-dialog-content>
    <md-dialog-actions layout="row">
        <md-button class="md-warn" ng-click="$ctrl.cancel()">Cancel</md-button>
        <md-button class="md-primary" ng-click="$ctrl.done()">Rename</md-button>
    </md-dialog-actions>
</md-dialog>
