<md-dialog flex="80">
    <md-toolbar layout="row">
        <div layout-margin>
            Set DOI for {{$ctrl.dataset.title}}
        </div>
    </md-toolbar>
    <div layout-margin layout="column">
    <md-dialog-content>
        Adding a DOI to your publication indicates that you do not intend to change the
        content of this publish dataset, except for minor corrections.
        A dataset that has been published with a DOI can be withdrawn and deleted.
        In which case, the DOI will be marked as unavailable, and the Materials Commons
        dataset record will be deleted.
        Once published with a DOI, if you wish to delete a dataset, please contact the
        adminstrative staff at help@materialscommons.org. (* Indicates required fields)
    </md-dialog-content>
    </div>
    <form name="doiForm" novalidate>
        <md-input-container class="md-block">
            <label>Title</label>
            <input name="title"
                   ng-model="$ctrl.state.doi.title" required
                   ng-model-options="{updateOn: 'default blur', debounce:{default: 1000, blur: 0}}"
            >
            <div ng-messages="doiForm.title.$error">
                <div ng-message="required">Title is required!</div>
            </div>
        </md-input-container>
        <md-input-container class="md-block">
            <label>Author</label>
            <input name="author"
                   ng-model="$ctrl.state.doi.author" required
                   ng-model-options="{updateOn: 'default blur', debounce:{default: 1000, blur: 0}}"
            >
            <div ng-messages="doiForm.author.$error">
                <div ng-message="required">Author is required!</div>
            </div>
        </md-input-container>
        <md-input-container class="md-block">
            <label>Description</label>
            <textarea rows="3" cols="50"
                   ng-model="$ctrl.state.doi.description"
                   ng-model-options="{updateOn: 'default blur', debounce:{default: 1000, blur: 0}}"
            ></textarea>
        </md-input-container>
        <md-dialog-actions layout="row">
            <md-button class="md-warn" ng-click="$ctrl.cancel()">cancel</md-button>
            <md-button class="md-primary" ng-click="$ctrl.setDoi()" ng-disabled="doiForm.$invalid">generate DOI</md-button>
        </md-dialog-actions>
    </form>
</md-dialog>