<md-dialog flex="70">
    <md-toolbar layout="row">
        <div layout-margin>
            Switch to user
        </div>
    </md-toolbar>
    <md-dialog-content layout-margin>
        <md-input-container class="md-block padding-top-20">
            <label>User Email</label>
            <input ng-model="$ctrl.email" on-enter="$ctrl.done()">
        </md-input-container>
    </md-dialog-content>
    <md-dialog-actions layout="row">
        <md-button class="md-warn" ng-click="$ctrl.cancel()">cancel</md-button>
        <md-button class="md-primary" ng-click="$ctrl.done()">done</md-button>
    </md-dialog-actions>
</md-dialog>