<div class="row">
    <div class="form-group">
        <label for="comment">Comments ({{ctrl.comments.length}})</label>
        <hr style="margin-top: 5px;"/>
        <div ng-if="ctrl.user">
            <textarea ng-model="ctrl.comment" class="form-control" rows="5" id="comment"></textarea>
            <button ng-click="ctrl.addComment()" class="btn pull-right theme text-uppercase">Post</button>
        </div>
    </div>
</div>
<ul class="list-group">
    <li class="row list-group-item" ng-repeat="comment in ctrl.comments">
        <div class="col-sm-1">
            <i class="field-value fa fa-fw fa-circle fa-2x"></i>
        </div>
        <div class="col-sm-10">
            <b>{{comment.firstName}} {{comment.lastName}}</b>
            <div class="field-value">{{comment.message}}</div>
        </div>
    </li>
</ul>
