.btn-circle.btn-xl {
  width: 35px;
  height: 35px;
  padding: 10px 10px;
  font-size: 12px;
  line-height: 0.8;
  border-radius: 20px;
  background-color: $orange;
}

.btn-circle.btn-xl .fa.fa-thumbs-up {
  color: white;
}

.details {
  .view-mode {
    margin-top: -10px;
    margin-left: 15px;
  }

  .image-area {
    margin-top: 50px;
    margin-bottom: 80px;
    padding: 0px 10px 0px 10px;
    .thumbnail {
      height: 100px;
      width: 100px;
      .object-fit_fill {
        object-fit: fill
      }
    }
  }
  .list-group-item {
    border: none;
  }
  .list-area {
    padding: 0px 20px 0px 20px;
    .thumbnail {
      margin-top: 5px;
      height: 40px;
      margin-bottom: 0;
      width: 40px;
      .object-fit_fill {
        object-fit: fill
      }
    }
  }

  .top-seperator {
    border-top: 3px double;
  }
}

ul.dataset-paper-list {
  margin-left: 0;
  margin-bottom: 0;
}

.more-datasets {
  margin-top: 10px;
}

tags-input .tags {
  border: 2px solid $light-grey;
}




