<div class="row">
  <div class="col-sm-12">
    <div class="modal-header">
      <h3 class="modal-title">File <i ng-click="ctrl.cancel()" class="fa fa-fw fa-close pull-right"></i></h3>
    </div>
    <div class="modal-body">
      <div class="row">
        <display-image file="ctrl.file"></display-image>
      </div>
        <!--<uib-carousel active="active" interval="myInterval" no-wrap="noWrapSlides">-->
          <!--<uib-slide ng-repeat="file in ctrl.files">-->
            <!--&lt;!&ndash;<img ng-src="{{file.image}}" style="margin:auto;">&ndash;&gt;-->
            <!--<display-image file="file"></display-image>-->
            <!--<div class="carousel-caption">-->
              <!--<h4>File {{file.id}}</h4>-->
              <!--<p>{{file.name}}</p>-->
            <!--</div>-->
          <!--</uib-slide>-->
        <!--</uib-carousel>-->

    <div class="modal-footer">
      <button class="btn btn-primary" type="button" ng-click="ctrl.ok()">OK</button>
      <button class="btn btn-warning" type="button" ng-click="ctrl.cancel()">Cancel</button>
    </div>
  </div>

</div>
  </div>
