<div class="row">
    <div class="col-xs-12 info-box">
        <div class="col-xs-5">
            <h4 style="display: inline; padding-right: 5px;"> Welcome {{mcuser.fullname}}</h4>
            <a ng-click="editFullName = !editFullName">edit</a>

            <div ng-show="editFullName">
                <div class="form-inline">
                    <div class="form-group">
                        <label>FullName</label>
                        <input ng-model="mcuser.fullname" type="text" class="form-control" placeholder="First Name...">
                    </div>
                    <button type="submit" class="btn btn-default btn-sm" ng-click="updateName()">Update</button>
                </div>
            </div>
            <h6> You last logged in on {{mcuser.last_login | toDateString}}</h6>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-4">
        <div class="info-box">
            <div home-reviews project="project"></div>
        </div>
        <div class="info-box">
            <div home-provenance project="project"></div>
        </div>
    </div>
    <div class="col-xs-4">
        <div class=" info-box">
            <div home-files project="project"></div>
        </div>
        <div class="info-box">
            <div home-tasks project="project"></div>
        </div>
    </div>
    <div class="col-xs-4">
        <div class="info-box">
            <div home-samples project="project"></div>
        </div>
        <div class="info-box">
            <div home-notes project="project"></div>
        </div>
    </div>
</div>
