<div ng-controller="projectsOverviewPermissions">
    <div class="row">
        <div class="col-lg-offset-2 col-lg-8">
            <h4>Group Permissions</h4> <br>

            <table class="table table-boxed">
                <thead>
                <th>User</th>
                <th>Delete</th>
                </thead>
                <tbody>
                <tr ng-repeat="ac in project.users | orderBy: 'user_id'">
                    <td>{{ac.user_id}}</td>
                    <td ng-if="ac.user_id == signed_in_user"><button ng-click="deleteUser(ac.id)" class="btn btn-danger">Remove</button></td>
                    <td ng-if="ac.user_id !== signed_in_user">Not Authorized</td>
                </tr>
                </tbody>
            </table>
            <div class="row" ng-show="project.owner == signed_in_user">
                <div class="form-group">
                    <div class="col-lg-6">
                        <select ui-select2="select2IconOptions"
                                ng-multiple="false"
                                ng-options="user.email for user in all_users | orderBy:'email'"
                                class="form-control"  ng-model="bk.user">
                        </select>
                    </div>
                    <button class="btn btn-info" ng-click="addUser()" ng-disabled="!bk.user">Add</button>
                </div>
            </div>
        </div>

    </div>
</div>
