<h1>Upload/Download</h1>

<div class="row-fluid">
    <div class="span3">
        <div class="well">
            <legend><a href="#/subpages/uploadfile">Upload Files</a></legend>
            <p>Here you can upload new data files and associate process and outputs</p>
        </div>

    </div>

    <div class="span3">
        <div class="well">
            <legend><a href="#/subpages/uploaddirectory">Upload Directory</a></legend>
            <p>Upload a new directory</p>

        </div>
    </div>
    <div class="span3">
        <div class="well">
            <legend><a href="#/subpages/updownloadqueue">Upload/download Queue</a></legend>
            <p>Queue contains list of files/directories to be uploaded/downloaded</p>
        </div>
    </div>
</div>