<div ng-controller="UploadDirectoryController">
    <div class="row-fluid">

        <div class="span8 offset1">
            <table class="table table-striped mc-table-hover table-condensed mc-table">
                <thead>
                <tr>
                <th>Directory</th>
                <th>Datagroup</th>
                </thead>
                <tbody>
                <tr ng-repeat="entry in files">
                    <td>{{ entry }}</td>
                    <td>{{ datagroup }}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="row-fluid">
        <div class="offset1" style="margin-bottom:10px">
            <select class="span3" ng-model="datagroup"
                    ui-select2="{placeholder: 'Select user', allowClear: true, width:'element'}"
                    ng-multiple="false">
                <option></option>
                <option ng-repeat="dg in datagroups">{{ dg.name }}</option>
            </select>
        </div>
    </div>

    <div class="row-fluid">
        <div class="offset1">

            <form class="form-horizontal">
                <button type="submit" class="btn btn-primary pull-left" ng-click="upload()">Upload</button>
                <span class="btn btn-success fileinput-button" style="margin-left: 2px">
                    <i class="icon-plus icon-white"></i>
                    <input type="file" name="file" data-url={{ uploadurl }} multiple upload><span>Add Directories...</span>
                </span>
            </form>

            <div class="progress" ng-show="percentage">
            </div>
        </div>
    </div>
</div>