<div ng-controller="UploadFileController">
<div class="row-fluid">
    <div class="span3 offset1">
        <h5>Upload for project: {{project}}</h5>
    </div>
</div>

<div class="row-fluid">
    <div class="arrow_box_right span4 offset1"><h5>Inputs</h5></div>
    <div class="processbox span2"><h5>{{ state.attributes.process.name }}</h5></div>
    <div class="arrow_box_right span4"><h5>Outputs</h5></div>
</div>

<br>

<div>
    <div class="row-fluid">
        <div class="span4 offset1">
            <table class="table table-striped mc-table-hover table-condensed mc-table">
                <thead>
                <tr>
                    <th>Type</th>
                    <th>Item</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="condition in state.attributes.input_conditions">
                    <td>{{ condition.template_name }}</td>
                    <td>{{ condition.template_type }}</td>
                </tr>
                <tr ng-repeat="file in input_files">
                    <td>{{ file.type }}</td>
                    <td>{{ file.name }}</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="span4 offset2">
            <table class="table table-striped mc-table-hover table-condensed mc-table">
                <thead>
                <tr>
                    <th>Type</th>
                    <th>Item</th>
                    <th>Datadir</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="condition in output_conditions">
                    <td>condition</td>
                    <td>{{ condition.name }}</td>
                    <td>N/A</td>
                </tr>
                <tr ng-repeat="entry in output_files">
                    <td>file</td>
                    <td>{{ entry.file.name }}</td>
                    <td>{{ entry.datadir }}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<br>

<div class="row-fluid">
<div class="span10 offset1">
<div class="row-fluid">
    <div class="span12">
        <div class="btn-group">
            <button class="btn" ng-class="{'btn-primary':isCurrentStep('nav_choose_project')}"
                    ng-click="setCurrentStep('nav_choose_project')">Choose Project
            </button>
            <button class="btn" ng-class="{'btn-primary':isCurrentStep('nav_choose_process')}"
                    ng-click="setCurrentStep('nav_choose_process')">Choose Process
            </button>
            <button class="btn" ng-class="{'btn-primary':isCurrentStep('nav_choose_inputs')}"
                    ng-click="setCurrentStep('nav_choose_inputs')">Choose Inputs
            </button>
            <button class="btn" ng-class="{'btn-primary':isCurrentStep('nav_choose_outputs')}"
                    ng-click="setCurrentStep('nav_choose_outputs')">Choose Outputs
            </button>
            <button class="btn" ng-class="{'btn-primary':isCurrentStep('nav_upload')}"
                    ng-click="setCurrentStep('nav_upload')">Upload
            </button>
        </div>
    </div>
</div>

<br>

<!-- Choose Project Step -->

<div ng-show="isCurrentStep('nav_choose_project')" class="row-fluid">
    <div ng-controller="UploadWizardProjectStepController"ng-init="init()">
        <div class="span6 well">
            <h4>Projects</h4>

            <form>
                <select ng-model="selected_project"
                        ui-select2="{placeholder: 'Select project', allowClear: true, width:'element'}"
                        ng-multiple="false">
                    <option></option>
                    <option ng-repeat="project in projects">{{ project.name }}</option>
                </select>
            </form>
            <button ng-click="next()">Next</button>
        </div>
        <div class="span6 well">
            <label>Name:</label> {{projectname}}
            <label>Description</label> {{project.description}}
        </div>
    </div>
</div>

<!-- Choose Process Step -->

<div ng-show="isCurrentStep('nav_choose_process')" class="row-fluid">
    <div ng-controller="UploadWizardProcessStepController">
        <div class="span6 well">
            <h4>Process</h4>

            <form>
                <select ng-model="selected_process"
                        ui-select2="{placeholder: 'Select process', allowClear: true, width:'element'}"
                        ng-multiple="false">
                    <option></option>
                    <option ng-repeat="process in processes">{{ process.template_name }}</option>
                </select>
                <button ng-click="next()">Next</button>
            </form>
        </div>
        <div class="span6 well">
            <label>Name:</label> {{process.template_name}}
            <label>Description:</label> {{process.template_description}}
            <label>Required Conditions:</label>
            <ul>
                <li ng-repeat="condition in process.required_conditions">{{condition}}</li>
            </ul>
            <form>
                <div ng-repeat="property in process.model | removeProperties:uneditable_properties">
                    <label>{{property.name}}</label><input ng-model=property.value type="text">
                </div>
                <button ng-click="save()">Save</button>
                <button ng-click="next()">Next</button>
            </form>
        </div>
    </div>
</div>

<!-- Choose Inputs Step -->

<div ng-show="isSubStepOf('nav_choose_inputs')" class="row-fluid">

    <div class="row-fluid">
        <div class="span10 offset1">
            <div class="btn-group">
                <button ng-repeat="condition in state.attributes.process.required_conditions" class="btn"
                        ng-class="{'btn-primary':isCurrentStep(condition)}"
                        ng-click="setCurrentStep(condition)">{{condition}}
                </button>
                <button class="btn" ng-class="{'btn-primary':isCurrentStep('nav_input_files')}"
                        ng-click="setCurrentStep('nav_input_files')">Files
                </button>
            </div>
        </div>
    </div>

    <br>

    <div ng-show="isInputsCurrentStep(condition)" ng-repeat="condition in state.attributes.process.required_conditions"
         class="row-fluid">
        <div class="span6 well" ng-controller="UploadWizardConditionInputController" ng-init="init(condition)">
            <h4>{{condition_name}}</h4>

            <div class="row-fluid">
                <div class="span12 well">
                    <form>
                        <label>Name:</label> {{condition.template_name}}
                        <label>Description</label> {{condition.template_description}}
                        <div ng-repeat="property in condition.model">
                            <label>{{property.name}}</label><input ng-model=property.value type="text">
                        </div>
                        <button ng-click="save()">Save</button>
                        <button ng-click="next($index)">Next</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div ng-show="isInputsCurrentStep('nav_input_files')" class="row-fluid">
        <div class="span12 well" ng-controller="UploadWizardFileInputController">
            <h4>Files</h4>
            <div class="row-fluid">
                <div class="span10">
                    <h5>Choose file</h5>
                    <input type="text" width="50px" ng-model="searchText" placeholder="Search data"/>
                    <ngtree selected="chooseSelection(d)"  search-model="searchText" treeview-data="tree" unique-id="id" display-attr="displayname"></ngtree>
                </div>
            </div>

            <hr>

            <form>
                <button ng-click="addInputFile()">Add file</button>
                <button ng-click="done()">Done</button>
            </form>
        </div>
    </div>
</div>

<!-- Choose Outputs Step -->

<div ng-show="isCurrentStep('nav_choose_outputs')" class="row-fluid">
    <div class="row-fluid">
        <div class="span10 offset1">
            <div class="btn-group">
                <button class="btn" ng-class="{'btn-primary':isCurrentStep('nav_output_conditions')}"
                        ng-click="setCurrentStep('nav_output_conditions')">Conditions
                </button>
                <button class="btn" ng-class="{'btn-primary':isOutputsCurrentStep('nav_output_files')}"
                        ng-click="setCurrentStep('nav_output_files')">Files
                </button>
            </div>
        </div>
    </div>

    <br>

    <div ng-show="isOutputsCurrentStep('nav_output_conditions')" class="row-fluid">
        <div ng-controller="UploadWizardConditionOutputController">
            <div class="span6 well">
                <h4>Conditions</h4>

                <form>
                    <select ng-model="selected_condition"
                            ui-select2="{placeholder: 'Select condition', allowClear: true, width:'element'}"
                            ng-multiple="false">
                        <option></option>
                        <option ng-repeat="condition in conditions">{{ condition.template_name }}</option>
                    </select>
                    <button ng-click="next()">Next</button>
                </form>
            </div>
            <div class="span6 well">
                <h4>{{selected_condition}}</h4>

                <div class="row-fluid">
                    <div class="span12">
                        <form>
                            <label>Name:</label> {{condition.template_name}}
                            <label>Description</label> {{condition.template_description}}
                            <div ng-repeat="property in condition.model">
                                <label>{{property.name}}</label><input ng-model=property.value type="text">
                            </div>
                            <button ng-click="save()">Save</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div ng-show="isOutputsCurrentStep('nav_output_files')" class="row-fluid">
        <div class="span12 well" ng-controller="UploadWizardFileOutputController">
            <h4>Files</h4>

            <div class="row-fluid">
                <div class="span10">
                    <h5>Choose Datadir</h5>
                    <ngtree selected="chooseSelection(d)" search-model="searchText" treeview-data="tree" unique-id="id"
                            display-attr="displayname"></ngtree>
                </div>
            </div>

            <hr>

            <form>
                <span class="btn btn-success fileinput-button" style="margin-left: 2px">
                    <i class="icon-plus icon-white"></i>
                    <input type="file" name="file" ng-model="upFile"
                           onchange="angular.element(this).scope().addFile(this)"><span>Add files...</span>
                </span>
                <button ng-click="done()">Done</button>
            </form>
        </div>
    </div>
</div>

<!-- Upload data Step -->
<div ng-show="isCurrentStep('nav_upload')" class="row-fluid">
    <div class="span12 well">
        <form>
            <button ng-click="upload()">Upload</button>
        </form>
    </div>
</div>
</div>
</div>
</div>
