<div class="row-fluid">
    <div class="span9 offset1">
        <div class="row-fluid">
            <h5>First choose the project your are uploading to.</h5>
            <h6>Show Panel:<input type="checkbox" ng-model="show_project_panel"></h6>
        </div>
        <div class="row-fluid" ng-show="show_project_panel">
            <div class="span6 well">
                <h4>Projects</h4>

                <form>
                    <select class="span4" ng-model="selected_project"
                            ui-select2="{placeholder: 'Select project', allowClear: true, width:'element'}"
                            ng-multiple="false">
                        <option></option>
                        <option ng-repeat="project in projects">{{ project.name }}</option>
                    </select>
                </form>
                <button ng-click="useProject()">Use Project</button>
            </div>
            <div class="span6 well" ng-controller="ProjectDetailsController">
                Project details here.
            </div>
        </div>
    </div>
    <div class="row-fluid" ng-show="!show_project_panel">
        <div class="span9 offset1 well">Project Panel</div>
    </div>
</div>

<div class="row-fluid">
    <div class="span3 offset1">
        <h5>Upload for project: {{project}}</h5>
    </div>
</div>

<div class="row-fluid">
    <div class="arrow_box_right span4 offset1"><h5>Inputs</h5></div>
    <div class="processbox span2"><h5>{{ process }}</h5></div>
    <div class="arrow_box_right span4"><h5>Outputs</h5></div>
</div>

<br>

<div ng-controller="UploadProcessController">
    <div class="row-fluid">
        <div class="span4 offset1">
            <table class="table table-striped mc-table-hover table-condensed mc-table">
                <thead>
                <tr>
                    <th>Type</th>
                    <th>Item</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="entry in files">
                    <td>{{ entry.file.name }}</td>
                    <td>{{ entry.datagroup }}</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="span2 text-center">
            <label>Required Conditions</label>
            <ul>
                <li ng-repeat="condition in required_conditions">{{ condition }}</li>
            </ul>
        </div>
        <div class="span4">
            <table class="table table-striped mc-table-hover table-condensed mc-table">
                <thead>
                <tr>
                    <th>Type</th>
                    <th>Item</th>
                    <th>Datagroup</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="entry in files">
                    <td>{{ entry.type }}</td>
                    <td>{{ entry.file.name }}</td>
                    <td>{{ entry.datagroup }}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row-fluid">
        <div class="offset1">
            <button ng-click="submitUpload()">Submit</button>
        </div>
    </div>
</div>

<br>

<div class="row-fluid" ng-show="process_panel_active">
    <div class="span9 offset1">
        <div class="row-fluid">
            <h5>Next choose a process that describes how your files and other inputs were created.</h5>
            <h6>Show Panel:<input type="checkbox" ng-model="show_process_panel"></h6>
        </div>
        <div class="row-fluid" ng-show="show_process_panel">
            <div class="span6 well">
                <h4>Process</h4>

                <form>
                    <select ng-model="selected_process"
                            ui-select2="{placeholder: 'Select process', allowClear: true, width:'element'}"
                            ng-multiple="false">
                        <option></option>
                        <option ng-repeat="process in processes">{{ process.name }}</option>
                    </select>
                    <button ng-click="useProcess()">Use Process</button>
                </form>
            </div>
            <div class="span6 well" ng-controller="ProcessDetailsController">
                Process details here
            </div>
        </div>
    </div>
    <div class="row-fluid" ng-show="!show_process_panel">
        <div class="span9 offset1 well text-center">Process Panel</div>
    </div>
</div>

<div class="row-fluid" ng-show="inputs_panel_active">
    <div class="span9 offset1">
        <div class="row-fluid">
            <h5>Now choose the inputs to your process.</h5>
            <h6>Show Panel:<input type="checkbox" ng-model="show_inputs_panel"></h6>
        </div>
        <div class="row-fluid" ng-show="show_inputs_panel">
            <div class="span6 well">
                <h4>Inputs</h4>

                <form>
                    <select ng-model="tag_to_add"
                            ui-select2="{placeholder: 'Select condition', allowClear: true, width:'element'}"
                            ng-multiple="false">
                        <option></option>
                        <option ng-repeat="condition in conditions">{{ condition.name }}</option>
                    </select>
                    <button ng-click="addInputCondition()">Add Condition</button>
                    <hr>
                    <select ng-model="tag_to_add"
                            ui-select2="{placeholder: 'Select file', allowClear: true, width:'element'}"
                            ng-multiple="false">
                        <option></option>
                        <option ng-repeat="file in files">{{ file.name }}</option>
                    </select>
                    <button ng-click="addInputFile()">Add File</button>
                </form>
            </div>
            <div class="span6 well" ng-controller="InputDetailsController">
                Input details here
            </div>
        </div>
    </div>
    <div class="row-fluid" ng-show="!show_inputs_panel">
        <div class="span9 offset1 well text-center">Inputs Panel</div>
    </div>
</div>

<div class="row-fluid" ng-show="outputs_panel_active">
    <div class="span9 offset1">
        <div class="row-fluid">
            <h5>Finally choose the outputs from your process.</h5>
            <h6>Show Panel:<input type="checkbox" ng-model="show_outputs_panel"></h6>
        </div>
        <div class="row-fluid" ng-show="show_outputs_panel">
            <div class="span6 well">
                <h4>Outputs</h4>

                <form>
                    <select ng-model="tag_to_add"
                            ui-select2="{placeholder: 'Select condition', allowClear: true, width:'element'}"
                            ng-multiple="false">
                        <option></option>
                        <option ng-repeat="condition in conditions">{{ condition.name }}</option>
                    </select>
                    <button ng-click="addOutputCondition()">Add Condition</button>
                    <hr>
                    <select ng-model="datagroup"
                            ui-select2="{placeholder: 'Select datagroup', allowClear: true, width:'element'}"
                            ng-multiple="false">
                        <option></option>
                        <option ng-repeat="dg in datagroups">{{ dg.name }}</option>
                    </select>
                    <button ng-click="addOutputFile()">Add File</button>
                </form>
            </div>
            <div class="span6 well" ng-controller="OutputDetailsController">
                Output details here
            </div>
        </div>
    </div>
    <div class="row-fluid" ng-show="!show_outputs_panel">
        <div class="span9 offset1 well text-center">Outputs Panel</div>
    </div>
</div>