<div class="row">
    <form class="form-horizontal" role="form">
        <div class="form-group">
            <label class="col-sm-2 control-label">
                Name: <i class="fa fa-asterisk"></i>
            </label>
            <div class="col-sm-3">
                <input class="form-control"
                       ng-model="process.name"
                       placeholder="Name..."
                       ng-required="true"
                       type="text">
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label">Tags:</label>
            <div class="controls col-sm-3">
                <select ui-select2="select2IconOptions"
                        ng-multiple="false"
                        ng-model="tag"
                        ng-options="t.name for t in tags"
                        class="form-control">
                    <option></option>
                </select>

            </div>
        </div>

        <div class="form-group select2-above" style="">
            <div class="col-sm-offset-2">
                <button ng-click="addTag()" class="btn btn-success">Add Tag</button>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-offset-2">
                <display-tags tags="process.tags"></display-tags>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label">Description:</label>
            <div class="col-sm-3">
                <textarea class="form-control"
                          placeholder="Description..."
                          ng-model="process.description">
                </textarea>
            </div>
        </div>
    </form>
</div>
