<div class="col-lg-5 col-lg-offset-3" style="margin-bottom: 10px;">
    <div class="row">
        <form>
            <div class="checkbox checkbox-circle checkbox-inline checkbox-primary"
                 style="margin-top: 0px">
                <input type="checkbox"
                       ng-model="wizardState.showOverview"
                       id="cb1-create-provenance">
                <label for="cb1-create-provenance">
                    Show overview
                </label>
            </div>
            <div class="checkbox checkbox-circle checkbox-inline checkbox-primary"
                 style="margin-top: 0px">
                <input type="checkbox"
                       ng-model="wizardState.keepStepsOpen"
                       id="cb2-create-provenance">
                <label for="cb2-create-provenance">
                    Keep steps open
                </label>
            </div>
        </form>
    </div>
</div>
