<div class="col-xs-11 col-xs-offset-1">
    <div class="row">
        <form>
            <div class="checkbox checkbox-circle checkbox-inline checkbox-primary"
                 style="margin-top: 0px">
                <input type="checkbox"
                       ng-model="wizardState.showOverview"
                       id="cb1-create-provenance">
                <label for="cb1-create-provenance">
                    Show overview
                </label>
            </div>
            <div ng-if="false" class="checkbox checkbox-circle checkbox-inline checkbox-primary"
                 style="margin-top: 0px">
                <input type="checkbox"
                       ng-model="wizardState.keepStepsOpen"
                       id="cb2-create-provenance">
                <label for="cb2-create-provenance">
                    Keep steps open
                </label>
            </div>
        </form>

    </div>
</div>
