<div ng-show="template" class="col-xs-offset-3" style="margin-bottom: 40px;">
    <ul class="list-inline">
        <li>
            <div class="text-center">
                {{template.template_name}}
            </div>
            <a ng-click="gotoStep('process', 'process')">
                <div class="wizard-single-outer-circle"
                     ng-style="getStyle('process', 'process')">
                    <div class="wizard-single-inner-circle">
                    </div>
                </div>
            </a>
        </li>
        <li ng-show="showDone()">
            <div class="text-center">
                Done
            </div>
            <a ng-click="gotoStep('done', 'done')">
                <div class="wizard-single-outer-circle"
                     ng-style="getStyle('done', 'done')">
                    <div class="wizard-single-inner-circle">
                    </div>
                </div>
            </a>
        </li>
    </ul>
</div>

<div ng-class="{'col-lg-offset-1': offsetSteps()}">
    <div class="row bs-wizard" style="border-bottom:0;">

        <div class="col-xs-2 bs-wizard-step complete"
             ng-repeat="t in template.input_templates">
            <div class="text-center bs-wizard-stepnum">(I) {{t.template_name}}</div>
            <div class="progress">
                <div class="progress-bar">
                </div>
            </div>
            <a ng-click="gotoStep('inputs', t.id)"
               class="bs-wizard-dot"
               ng-style="getStyle('inputs', t.id)">
            </a>
            <div class="bs-wizard-info text-center"></div>
            <div ng-show="showOverview">
                <wizard-step-overview template="t"></wizard-step-overview>
            </div>
        </div>

        <div ng-if="template.required_input_files" class="col-xs-2 bs-wizard-step complete">
            <div class="text-center bs-wizard-stepnum">(I) Files</div>
            <div class="progress"><div class="progress-bar"></div></div>
            <a ng-click="gotoStep('inputs', 'files')"
               class="bs-wizard-dot"
               ng-style="getStyle('inputs', 'files')">
            </a>
            <div class="bs-wizard-info text-center"></div>
        </div>

        <div class="col-xs-2 bs-wizard-step complete"
             ng-repeat="t in template.output_templates">
            <div class="text-center bs-wizard-stepnum">(O) {{t.template_name}}</div>
            <div class="progress">
                <div class="progress-bar">
                </div>
            </div>
            <a ng-click="gotoStep('outputs', t.id)"
               class="bs-wizard-dot"
               ng-style="getStyle('outputs', t.id)">
            </a>
            <div class="bs-wizard-info text-center"></div>
            <div ng-show="showOverview">
                <wizard-step-overview template="t"></wizard-step-overview>
            </div>
        </div>

        <div ng-if="template.required_output_files" class="col-xs-2 bs-wizard-step complete">
            <div class="text-center bs-wizard-stepnum">(O) Files</div>
            <div class="progress"><div class="progress-bar"></div></div>
            <a ng-click="gotoStep('outputs', 'files')"
               class="bs-wizard-dot"
               ng-style="getStyle('outputs', 'files')">
            </a>
            <div class="bs-wizard-info text-center"></div>
        </div>
    </div>
</div>
