<div>
    <div class="row" style="margin-bottom: 20px;">
        <div class="col-lg-offset-5">
            <br>
            <button ng-click="nextStep()"
                    class="btn btn-primary">
                Next Step
            </button>
            <button ng-click="cancelStep()" class="btn btn-danger">
                Cancel
            </button>
        </div>
    </div>
    <div class="row">
        <process-details process="wizardState.currentDraft.process"></process-details>
        <process-runs run-dates="wizardState.currentDraft.process.run_dates"></process-runs>
    </div>
</div>
