<div ng-if="unfinishedSteps.length > 0">
    <div class="row">
        <div class="col-xs-offset-1">
            <div class="col-xs-10">
                <h4> The following steps are unfinished or contain errors:</h4>
                <div class="row">
                    <div class="col-xs-offset-1">
                        <ol>
                            <li ng-repeat="step in unfinishedSteps">
                                <a ng-click="gotoStep(step.stepType, step.step)">
                                    {{step.name}}
                                </a>
                            </li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div ng-if="unfinishedSteps.length === 0">
    <div class="row">
        <div class="col-xs-offset-1">
            <h4> All steps complete and no errors detected.</h4>
            <div wizard-review-content></div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xs-offset-2">
        <button ng-if="unfinishedSteps.length === 0"
                data-toggle="modal"
                data-target="#confirm-submit-provenance"
                class="btn btn-success">
            Submit
        </button>
        <button ng-click="saveDraft()"
                class="btn btn-info">
            Save As Draft
        </button>
        <button data-toggle="modal"
                data-target="#confirm-cancel-provenance"
                class="btn btn-danger">
            Cancel
        </button>
    </div>
</div>

<div class="modal fade" id="confirm-submit-provenance" tabindex="-1" role="dialog"
     aria-labelledby="confirmLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Submit provenance</h4>
            </div>
            <div class="modal-body">
                Once you submit the provenance you cannot change it. Do you wish to submit?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
                <button type="button" class="btn btn-primary" ng-click="submit()"
                        data-dismiss="modal">
                    Yes
                </button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="confirm-cancel-provenance" tabindex="-1" role="dialog"
     aria-labelledby="confirmCancelLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header modal-header-danger">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabelCancel">Cancel provenance</h4>
            </div>
            <div class="modal-body">
                Once you cancel provenance you will lose all your changes. If you wish
                to save your changes and come back later dismiss this dialog and save
                your provenance as a draft.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">
                    Dismiss - keeping changes
                </button>
                <button type="button" class="btn btn-danger" ng-click="cancel()"
                        data-dismiss="modal">
                    Yes - Loosing all changes
                </button>
            </div>
        </div>
    </div>
</div>
