<div class="row">
    <div class="col-xs-offset-4">
        <h4>Choose a sample</h4>
    </div>
</div>
<div class="row">
    <form class="form-horizontal">
        <div class="form-group">
            <label class="col-xs-2 control-label">Sample:</label>
            <div class="controls col-xs-3">
                <select ui-select2="{placeholder: 'Select sample', allowClear: true, width:'element'}"
                        ng-multiple="false"
                        ng-model="sample.sample"
                        ng-options="sample.name for sample in wizardState.project.samples track by sample.id"
                        class="form-control">
                    <option value=""></option>
                </select>
                <a ng-click="sample.showNote = !sample.showNote"><i class="fa fa-edit"></i></a>
            </div>
            <div class="controls col-xs-3">
                <a ng-click="createSample()">Create Sample</a>
            </div>
        </div>
        <div class="form-group">
            <div class="controls col-xs-offset-2 col-xs-8">
                <text-angular ng-show="sample.showNote" ng-model="sample.note"></text-angular>
                <div ng-show="!sample.showNote && sample.note">
                    <span>Note:</span>
                    <div class="well" ta-bind  ng-model="sample.note"></div>
                </div>
            </div>
        </div>
        <div class="form-group select2-above">
            <div class="col-xs-offset-2">
                <button ng-click="next()" class="btn btn-success">Next</button>
            </div>
        </div>
    </form>
</div>
