<form name="Form" class="form-horizontal">
    <div class="form-group">
        <label class="control-label col-xs-2">Select File (from project tree):</label>
        <div class="col-xs-8">
            <div ng-show="wizardState.currentDraft[step.stepType].files.files.length === 0">
                <span class="text-muted"> None</span>
            </div>
            <div class="row" ng-show="wizardState.currentDraft[step.stepType].files.files.length > 0">
                <br>
                <div ng-repeat="file in wizardState.currentDraft[step.stepType].files.files">
                    {{file.fullname}}
                    <button type="button"
                            class="close"
                            ng-click="removeFile($index)">
                        &times;
                    </button>
            </div>
        </div>
    </div>
</form>
