<div wizard-step-process
     ng-if="step.step == 'process' || showSteps"
     project="project">
</div>

<div wizard-step-sample
     ng-if="step.step == 'sample' || showSteps"
     project="project">
</div>

<div wizard-step-transform-sample
     ng-if="step.step == 'transform-sample' || showSteps"
     project="project">
</div>

<div wizard-step-files
     ng-if="step.step === 'file' || showSteps"
     project="project">
</div>

<div wizard-step-properties
     ng-if="showPropertiesStep() || showSteps"
     project="project">
</div>
