<div class="tab-pane" id="provenance" ng-controller="toolbarDataEditDisplayProvenance">
    <div class="row-fluid"><br>

        <div class="span8 offset1">
            <div class="fl">
                <a style="cursor: pointer" ng-click="show_process(output_process[0])">{{output_process[0].name}}</a>
            </div>
            <div class="fl">
                <i class="fa fa-long-arrow-right"></i>
                <a>{{doc.name}}</a>
                <i class="fa fa-long-arrow-right"></i>
            </div>
            <div class="fr">
                <div ng-if="input_processes.length!=0">
                    <select ng-model="model.selected_input_process"
                            ui-select2="{placeholder: 'Select user', allowClear: true, width:'element'}"
                            ng-multiple="false">
                        <option></option>
                        <option value={{process}} ng-repeat="process in input_processes">{{ process.name }}</option>
                    </select>
                </div>
            </div>
        </div>
    </div>

    <div class="row-fluid" ng-show="show_pr">
        <div class="span8">
            <form class="form-horizontal">
                <fieldset>
                    <legend>Process</legend>
                    <cgroup label="Name:">
                        <input class="input-xlarge" ng-model="process.name" type="text" ng-disabled="true">
                        <a ng-controller="toolbarDataEditProcess" ng-click="showProcessDetails(process.id)"
                           style="cursor:pointer">link</a>
                    </cgroup>
                    <cgroup label="Notes:">
                        <input class="input-xlarge" ng-repeat="note in process.notes"
                               ng-model="note" type="text" ng-disabled="true">
                    </cgroup>
                    <cgroup label="Description:">
                        <textarea ng-if="process.description != ''" class="span4" ng-model="process.description"
                                  rows="4" ng-disabled="true">
                        </textarea>
                    </cgroup>
                </fieldset>
            </form>
        </div>
        <div class="span4">
            <form class="form-horizontal">
                <fieldset>
                    <legend>Inputs</legend>
                    <cgroup label="Properties:">
                        <div ng-if="ip_conditions.length!=0">
                            <ul style="list-style-position: inside" ng-repeat="f in ip_conditions">
                                <a href="#modalCondition" data-toggle="modal"
                                   ng-click="get_mode_condition(f.right)">{{f.right.model.default[0].value}}</a>
                            </ul>
                        </div>
                        <div ng-if="ip_conditions.length==0">
                            no input properties.
                        </div>
                    </cgroup>
                    <cgroup label="Files:">
                        <div ng-if="input_files.length!=0">
                            <ul style="list-style-position: inside" ng-repeat="f in input_files">
                                <a href="#/mytools/data/edit/{{f.id}}">{{f.name}}</a>
                            </ul>
                        </div>
                        <div ng-if="input_files.length==0">
                            no input files.
                        </div>
                    </cgroup>
                    <legend>Outputs</legend>
                    <cgroup label="Properties:">
                        <div ng-if="op_conditions.length!=0">
                            <ul style="list-style-position: inside" ng-repeat="f in op_conditions">
                                <a href="#/mytools/data/edit/{{f.right.id}}">{{f.right.model.default[0].value}}</a>
                            </ul>
                        </div>
                        <div ng-if="op_conditions.length==0">
                            no output properties.
                        </div>
                    </cgroup>
                    <cgroup label="Files:">
                        <div ng-if="output_files.length!=0">
                            <ul style="list-style-position: inside" ng-repeat="f in output_files">
                                <a href="#/mytools/data/edit/{{f.id}}">{{f.name}}</a>
                            </ul>
                        </div>
                        <div ng-if="output_files.length==0">
                            no output files.
                        </div>

                    </cgroup>
                </fieldset>
            </form>
        </div>
    </div>
</div>