<div class="tab-pane" id="provenance" ng-controller="toolbarDataEditProvenance">
    <div class="row">
        <div class="col-lg-11">
            <div class="panel panel-default">
                <div class="panel panel-heading">

                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-3">
                            <div class="row" ng-repeat="i in inputs">
                                <div class="col-lg-3">
                                    <div class="input-circle"></div>
                                </div>
                                <div class="col-lg-9">
                                    <a ng-click="showProvDetails(i, 'input')">{{i.display_name}}...</a>
                                </div>
                            </div>

                        </div>
                        <div class="col-lg-3">
                            <div class="process-square">
                                process
                            </div>
                        </div>
                        <div class="col-lg-3" style="float: right">
                            <div class="row" ng-repeat="i in outputs">
                                <div class="col-lg-3">
                                    <div class="output-circle"></div>
                                </div>
                                <div class="col-lg-9">
                                    <a ng-click="showProvDetails(i, 'output')">{{i.display_name}}...</a>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-11">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-8">
                            <input type="checkbox">Keep
                            <div ng-show="sample">
                             <div sample-report sample="sample"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>