<div layout="row">
    <h3 class="md-title">
        <i class="fa fa-fw fa-folder-open"></i> {{$ctrl.dir.data.path}}
    </h3>
    <span flex="5"></span>
    <md-button ng-if="!$ctrl.createDirActive"
               class="md-primary"
               ng-click="$ctrl.createDirActive = true">
        create folder
    </md-button>
    <span flex="5"></span>
    <div ng-if="!$ctrl.createDirActive">
        <mc-flow-button dir="$ctrl.dir"></mc-flow-button>
    </div>
    <div ng-if="$ctrl.createDirActive">
        <md-input-container>
            <label>Directory</label>
            <input type="text" ng-model="$ctrl.dirPath" on-enter="$ctrl.createDir()">
            <md-button class="md-primary" ng-click="$ctrl.createDir()">Create</md-button>
            <md-button class="md-warn" ng-click="$ctrl.dirPath = ''; $ctrl.createDirActive = false">
                Cancel
            </md-button>
        </md-input-container>

    </div>
</div>