<div class="row">
    <div class="col-lg-12">
        <div class="col-lg-3 col-lg-offset-9">
            <div class="col-lg-6">
                <span class="badge">10</span> Reviews <i class="fa fa-comment"/>
            </div>
            <div class="col-lg-6">
                <span class="badge">5</span> Uploads <i class="fa fa-cloud-upload"/>
            </div>
        </div>
    </div>
</div>
<div class="row col-lg-12" ng-controller="Projects"><br>
    <div>
        <ul class="tabrow projects-header" ng-style="{'border-bottom-color': currentProjectColor}">
            <li data-toggle="tooltip" data-placement="top" title="{{p.name}}" ng-repeat="p in projects" ng-class="{active: project_id == p.id}"
                ng-style="isActiveProject($index) && getActiveStyle($index) || !isActiveProject($index) && getInactiveStyle($index)">
                <a ui-sref="projects.overview.files({id: p.id, draft_id: ''})" ng-click="setActiveIndex($index)"
                   ng-style="isActiveProject($index) && {color: 'white', 'font-weight': 'bold' } || !isActiveProject($index) && {color: inactiveColor}">
                    {{createName(p.name)}}
                </a>
            </li>
            <li style="background: #95a5a6">
                <a data-toggle="modal" data-target="#newProject"
                   ng-click="createProject()">
                    <i class="fa fa-plus"/>
                </a>
            </li>
        </ul>
        <div style="position: relative; height: 30px; border-bottom-left-radius: 4px; border-bottom-right-radius: 4px;" ng-style="{background: currentProjectColor}">
            <div class="col-lg-8 col-lg-offset-2">
                <div class="col-lg-12">
                    <div class="col-lg-3">
                        <a class="action-link" style="color: white; font-style: bold;"
                           ng-click="actionActivation('provenance')">
                            <i class="fa fa-code-fork"/> Create Provenance
                        </a>
                    </div>
                    <div class="col-lg-2">
                        <a class="action-link" style="color: white; font-style: bold;"
                           ng-click="actionActivation('sample')">
                            <i class="fa fa-cubes"/> Add Sample
                        </a>
                    </div>
                    <div class="col-lg-2">
                        <a class="action-link" style="color: white; font-style: bold"
                           ng-click="actionActivation('review')">
                            <i class="fa fa-comment"/> Add Review
                        </a>
                    </div>
                    <div class="col-lg-2">
                        <a class="action-link" style="color:white; font-style: bold"
                           ng-click="actionActivation('note')">
                            <i class="fa fa-edit"/> Add Note
                        </a>
                    </div>
                </div>
            </div>

        </div>
        <div class="modal fade" id="newProject" tabindex="-1" role="dialog" aria-labelledby="contributorsLabel"
             aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="myModalLabel">Create New Project</h4>
                    </div>
                    <div class="modal-body">
                        <label>Name:</label>
                        <input ng-model="bk.name" class="form-control">
                        <br><button ng-click="createProject()" class="btn btn-info" data-dismiss="modal">Create</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div ng-controller="_projectsAction">
    <div class="row">
        <div class="col-lg-12">
            <div ng-switch on="activeActionArea">
                <div ng-animate="'animate'" ng-switch-when="provenance">
                    <h1>Provenance</h1>
                    <div class="row bs-wizard" style="border-bottom:0;">

                        <div class="col-xs-3 bs-wizard-step complete">
                            <div class="text-center bs-wizard-stepnum">Step 1</div>
                            <div class="progress"><div class="progress-bar"></div></div>
                            <a href="#" class="bs-wizard-dot"
                               ng-style="{background: currentProjectColorLight, 'background-color': currentProjectColor}"></a>
                            <div class="bs-wizard-info text-center"></div>
                        </div>

                        <div class="col-xs-3 bs-wizard-step complete"><!-- complete -->
                            <div class="text-center bs-wizard-stepnum">Step 2</div>
                            <div class="progress"><div class="progress-bar"></div></div>
                            <a href="#" class="bs-wizard-dot"></a>
                            <div class="bs-wizard-info text-center"></div>
                        </div>

                        <div class="col-xs-3 bs-wizard-step active"><!-- complete -->
                            <div class="text-center bs-wizard-stepnum">Step 3</div>
                            <div class="progress"><div class="progress-bar"></div></div>
                            <a href="#" class="bs-wizard-dot"></a>
                            <div class="bs-wizard-info text-center"></div>
                        </div>

                        <div class="col-xs-3 bs-wizard-step disabled"><!-- active -->
                            <div class="text-center bs-wizard-stepnum">Step 4</div>
                            <div class="progress"><div class="progress-bar"></div></div>
                            <a href="#" class="bs-wizard-dot"></a>
                            <div class="bs-wizard-info text-center"></div>
                        </div>
                    </div>
                    <button ng-click="closeActionArea()">Close</button>
                </div>
                <div ng-animate="'animate'" ng-switch-when="sample">
                    <h1>Sample</h1>
                    <button ng-click="closeActionArea()">Close</button>
                </div>
                <div ng-animate="'animate'" ng-switch-when="review">
                    <h1>Review</h1>
                    <button ng-click="closeActionArea()">Close</button>
                </div>
                <div ng-animate="'animate'" ng-switch-when="note">
                    <h1>Note</h1>
                    <button ng-click="closeActionArea()">Close</button>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="tab-content" ui-view=''></div>
        </div>
    </div>
