<div ng-controller="account">
    <div class="row">
        <div class="col-lg-offset-1 col-sm-8 col-md-8">
            <form class="form-horizontal">
                <div class="form-group">
                    <label class="control-label" for="inputPassword">Password:</label>

                    <div class="controls">
                        <input class="form-control" id="inputPassword" placeholder="New Password..." ng-model="new_password" type="password">
                        <input class="form-control" placeholder="Verify Password..." ng-model="verify_new_password" type="password">
                    </div>
                </div>
                <div class="form-group">
                    <div class="controls">
                        <button ng-click="changePassword()" class="btn btn-default btn-danger">Change Password</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <hr>

    <div class="row">
        <div class="col-lg-offset-1 col-sm-8 col-md-8">
            <table class="pull-left">
                <tbody><tr>
                    <td><h4>API Key:</h4></td>
                    <td>
                        <button ng-click="showApiKey()" class="btn btn-default btn-info">{{ showHideButton }}</button>
                    </td>
                    <td>
                        <button ng-click="resetApiKey()" class="btn btn-default btn-danger">Reset API Key</button>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span ng-show="showKey">Your current apikey is: {{ apikey }}</span>
                    </td>
                </tr>
                </tbody></table>
        </div>
    </div>
</div>

<div class="row">
    <div ng-controller="accountGroups">
        <div class="col-lg-offset-2 col-sm-8 col-md-8">
            <div>
                <form class="form-inline">
                    <fieldset>
                        <legend>Groups</legend>
                        <button ng-click="createGroup()" class="btn btn-default btn-primary">Create Group</button>
                    </fieldset>
                </form>
                <table class="table table-striped mc-table">
                    <thead>
                    <tr><th>Group</th>
                        <th>Date created</th>
                        <th>Description</th>
                        <th>Owner</th>
                        <th></th>
                    </tr></thead>
                    <tbody>
                    <tr ng-repeat="i in user_groups">
                        <td><b>{{i.name}}</b></td>
                        <td>{{i.birthtime | toDateString}}</td>
                        <td>{{i.description}}</td>
                        <td>{{i.owner}}</td>
                        <td><a ui-sref="account.groupusers({id: i.id})">edit</a></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div ui-view=""></div>
</div>