<div ng-show="email_address" ng-controller="_indexNavigation">
    <nav class="navbar navbar-custom navbar-fixed-top">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand"
               ng-click="goHome()">
                MaterialsCommons
            </a>
        </div>

        <div class="collapse navbar-collapse">
            <ul ng-show="email_address" class="nav navbar-nav navbar-right">
                <li>
                    <a class="large-text pointer"
                       ng-click="toggleHelp()">
                        Help
                    </a>
                </li>
                <li class="dropdown divider">
                    <a class="dropdown-toggle pointer large-text" data-toggle="dropdown">
                        <i class="fa fa-fw fa-user space-right"></i>{{email_address}}
                        <span class="caret caret-light"></span>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                        <li>
                            <a ui-sref="account.password">
                                <i class="fa fa-fw fa-unlock-alt space-right"></i>
                                Change Password
                            </a>
                        </li>
                        <li>
                            <a ui-sref="account.settings">
                                <i class="fa fa-fw fa-user space-right"></i>
                                Account Settings
                            </a>
                        </li>

                        <li>
                            <a ui-sref="account.templates">
                                <i class="fa fa-fw fa-list-alt space-right"></i>
                                Templates
                            </a>
                        </li>
                        <li>
                            <a ui-sref="account.apikey">
                                <i class="fa fa-fw fa-key space-right"></i>
                                Apikey
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a ui-sref="logout">
                                <i class="fa fa-fw fa-sign-out space-right"></i>
                                Logout
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
            <input type="text"
                   style="margin-right: 6px"
                   class="col-xs-4 col-md-6 col-lg-6 navbar-right navbar-search"
                   placeholder="SEARCH PROJECT..."
                   ng-model="query"
                   on-enter="search()">
        </div>
    </nav>
</div>
