<div ng-if="isAuthenticated()" class="quickbar">
    <ul class="list-unstyled">
        <li>
            <i  ng-click="create('provenance')" class="fa fa-fw fa-code-fork fa-2x"></i></li>
        <li>
            <i ng-click="create('sample')"  class="fa fa-fw fa-cubes fa-2x"></i></li>
        <li>
            <i ng-click="create('note')" class="fa fa-fw fa-edit fa-2x"></i></li>
        <li>
            <i  ng-click="create('review')"class="fa fa-fw fa-comment fa-2x"></i></li>
        <li>
            <i ng-click="create('tag')" class="fa fa-fw fa-tag fa-2x"></i></li>
        <li>
            <i ng-click="create('task')"  class="fa fa-fw fa-check-square fa-2x"></i></li>
    </ul>
</div>