<div>
    <div class="list-group sidebar-list">
        <div class="list-group-item sidebar-action" style="padding-top: 8px; padding-bottom: 8px">
            <a style="color: white" ng-click="showProjects = !showProjects">
                <i class="fa fa-fw fa-briefcase"></i> Projects
                <i class="fa"
                   ng-class="{'fa-chevron-right': !showProjects, 'fa-chevron-down': showProjects}"></i>
                <span class="pull-right white">{{projects.length}}</span>
            </a>
            <div ng-show="showProjects" style="overflow: auto; max-height: 300px;">
                <a class="list-group-item"
                   data-toggle="modal"
                   data-target="#newProject">
                    <i class="fa fa-fw fa-plus"></i> New Project
                </a>
                <hr class="carved"/>
                <a class="list-group-item"
                   ng-repeat="p in projects"
                   ng-click="setProject(p)">
                    {{p.name}}
                </a>
            </div>
        </div>
    </div>
</div>
