<div layout="column" layout-margin flex>
    <div layout="row" flex layout-align="space-between center">
        <h2>Sample: {{$ctrl.state.sample.name}}</h2>
        <a class="md-subhead" ng-click="$ctrl.showJson()">show json</a>
    </div>
    <div layout="column" md-whiteframe="5" layout-margin>
        <h5 class="md-title">Details</h5>
        <div layout="row" flex="40" layout-margin>
            <dl>
                <dt>Created By</dt>
                <dd>{{$ctrl.state.sample.owner}}</dd>
                <dt>Created On</dt>
                <dd>{{$ctrl.state.sample.birthtime | date:'fullDate'}}</dd>
                <dt>Last Modified</dt>
                <dd>{{$ctrl.state.sample.mtime | date:'fullDate'}}</dd>
                <dt>Id</dt>
                <dd>{{$ctrl.state.sample.id}}</dd>
            </dl>
        </div>
    </div>

    <div layout="column" md-whiteframe="5" layout-margin>
        <h5 class="md-title">Timeline</h5>
        <div layout="row" layout-margin>
            <mc-sample-timeline sample="$ctrl.state.sample" flex="100"></mc-sample-timeline>
        </div>
    </div>

    <div layout="column" md-whiteframe="5" layout-margin>
        <h5 class="md-title">Files</h5>
        <div layout="row" layout-margin>
            <mc-sample-files-table files="$ctrl.state.sample.files" flex="100"></mc-sample-files-table>
        </div>
    </div>

    <div layout="column" md-whiteframe="5" layout-margin>
        <h5 class="md-title">Attributes</h5>
        <div layout="row" layout-margin>
            <mc-sample-attribute-sets attribute-sets="$ctrl.state.sample.attribute_sets"
                                      on-add-attribute="$ctrl.handleAddAttribute(attrSet)"
                                      on-set-as-best-measure="$ctrl.handleSetAsBestMeasure(attrId, mId)"
                                      flex="100"></mc-sample-attribute-sets>
        </div>
    </div>
</div>