<div ng-controller="toolbarMaterials">
    <div class="row-fluid">
        <form name="Material" class="form-horizontal">
            <legend>Create New Raw Material</legend>
            <div class="span12">
                <label class='control-label'>Classification : <i class="fa fa-asterisk" style="color: red"></i> </label>

                <div class='control-group'>
                    <select ng-model="model.classification" ng-change="setProperties()"
                            ng-options="temp.template_name for temp in material_templates">
                    </select>
                </div>
                <fieldset>
                    <div ng-show="model.classification" class="control-group">
                        <label class='control-label'>Name : <i class="fa fa-asterisk" style="color: red"></i> </label>

                        <div class='control-group'>
                            <input ng-model="doc.name" type="text" placeholder='name...' required>
                        </div>
                        <label class='control-label'>Alloy : <i class="fa fa-asterisk" style="color: red"></i> </label>

                        <div class='control-group'>
                            <input ng-model="doc.alloy" type="text" placeholder='alloy...' required>
                        </div>
                        <label class='control-label'>Notes : </label>

                        <div class='control-group'>
                            <textarea class="span6" rows="4" placeholder="Notes..." ng-model="bk.new_note"/>
                            <button ng-click="add_notes()" ng-disabled="!bk.new_note" class="btn btn-info">Add</button>
                        </div>
                        <div ng-show="doc.notes.length > 0">
                            <h5>Previous Notes:</h5>
                            <table class="table">
                                <thead>
                                <th>Message</th>
                                <th>Who</th>
                                <th>Date Created</th>
                                </thead>
                                <tbody>
                                <tr ng-repeat="note in doc.notes">
                                    <td>{{note.message}}</td>
                                    <td>{{note.who}}</td>
                                    <td>{{note.date}}</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div df-properties default-properties="doc.model.default_properties"></div>
                        <label class='control-label'>Treatments : </label>

                        <div class='control-group'>
                            <select ng-model="model.selected_treatment"
                                    ng-options="treat.template_name for treat in treatment_templates"
                                    ng-change="showForm()">
                            </select>
                        </div>
                        <label class='control-label'><strong>{{model.selected_treatment.template_name ||
                            model.tab_item}} </strong></label>

                        <div class='control-group'>
                            <div class="span10">
                                <div class="span6">
                                    <div ng-show="model.selected_treatment!==''">
                                        <div class="well">
                                            <div df-properties default-properties="default_properties"></div>
                                            <button ng-click="addTreatment()" class="btn btn-primary">Add</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="span2">
                                    <label>Treatments Order:</label>

                                    <div class="tabbable tabs-right">
                                        <ul class="nav nav-tabs" ng-repeat="each_item in doc.treatments_order">
                                            <li><a ng-click="showTab(each_item)"
                                                   data-toggle="tab"><strong>{{each_item}}</strong></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </fieldset>
            </div>
            <button ng-click="save(Material)" class="btn btn-primary">Create Material</button>
        </form>
    </div>

    <div class="row-fluid">
        <div class="span6">
            <legend>List of available materials:</legend>
            <paged data="materials_list" current-page="currentDataPage" page-size="20">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Composition</th>
                        <th>Date Created</th>
                        <th>Treatment Details</th>
                    </tr>
                    </thead>
                    <tbody>
                    <p ng-if="materials_list.length==0">
                        <b>No available materials in the database</b>
                    </p>

                    <p ng-if="materials_list.length!=0">
                        <tr ng-repeat="material in materials_list | orderBy:predicate:reverse | page:currentDataPage:20">
                            <td>{{material.name}}</td>
                            <td>{{material.alloy}}</td>
                            <td>{{material.birthtime | toDateString}}</td>
                            <td><a ng-click="showTreatmentDetails(material)">view</a></td>
                        </tr>
                    </p>
                    </tbody>
                </table>
            </paged>
        </div>
        <div class="span6">
            <form class="form-horizontal" ng-show="material">
                <div ng-if="material.treatments_order.length==0">
                    No Treatments applied to the material {{material.name}}
                </div>
                <div ng-if="material.treatments_order.length!==0">
                    <legend><u>{{material.name}} Treatment Details:</u></legend>
                    <div ng-repeat="key in material.treatments_order">
                        <legend>{{key}}:</legend>
                        <fieldset>
                            <div ng-repeat="item in material.treatments[key]">
                                <cgroup label="{{item.name}}">
                                    <input class="input-large" ng-model="item.value" type="text"
                                           ng-disabled="true">
                                </cgroup>
                            </div>
                        </fieldset>
                    </div>
                </div>
                <div ng-if="material.model.default_properties.length!=0">
                    <div ng-repeat="item in material.model.default_properties.default_properties">
                        <cgroup label="{{item.name}}:">
                            <input class="input-xlarge" ng-model="item.value" type="text" ng-disabled="true">
                        </cgroup>
                    </div>
                </div>
            </form>
        </div>

    </div>


</div>
