<!--<div class="block" ng-show="isCurrentStep('nav_choose_outputs')">-->
    <!--&lt;!&ndash;<form id="output-tab" class="form-inline span8">&ndash;&gt;-->
    <!--<div class="well" ng-controller="">-->
        <!--<h4>Outputs</h4>-->

        <!--<div ng-repeat="cond in state.attributes.process.required_output_conditions">-->
            <!--<div class="well" ng-controller="OutputStepController" ng-init="init(cond)">-->
                <!--<a style="cursor:pointer" ng-click="showDetails=!showDetails">{{condition_name}}</a>-->

                <!--<p style="float: right" ng-show="state.attributes.output_conditions[condition_name]">-->
                    <!--<button class="btn btn-success">Saved</button>-->
                <!--</p>-->
                <!--<br>-->
                                        <!--<span ng-show="showDetails">-->
                                               <!--<label>Pick one </label>-->
                                            <!--<select ng-model="use_condition">-->
                                                <!--<option ng-repeat="ec in existing_conditions" value="{{ec}}"-->
                                                        <!--ng-click="selected_condition(ec)"> {{ec.name}}-->
                                                <!--<option disabled> -------------------</option>-->

                                                <!--<option ng-click="clear_condition()" value="clear">Clear</option>-->

                                                <!--</option>-->
                                            <!--</select> <br>-->
                                            <!--<b style="color: lightseagreen"> OR you can create your own by filling out-->
                                                <!--the form below</b><br>-->
                                            <!--<br> <br>-->
                                            <!--<label style="color: red">Name: [required]</label><input-->
                                                <!--ng-model="condition.name" type="text"> <br>-->
                                            <!--<label>Description</label> <input ng-model="condition.description"-->
                                                                              <!--type="text">-->
                                            <!--<br>-->
                                            <!--{{condition.template_description}}<br><br>-->
                                         <!--<div ng-repeat="property in condition.model">-->

                                             <!--<label>{{property.name}}</label>-->
                                            <!--<span ng-if="property.value_choice.length!=0">-->
                                                <!--<select ng-model="property.value">-->

                                                    <!--<option ng-repeat="val in property.value_choice"> {{val}}-->
                                                    <!--</option>-->
                                                <!--</select>-->
                                            <!--</span>-->
                                            <!--<span ng-if="property.value_choice.length==0">-->
                                                <!--<input ng-model="property.value" type="text">-->
                                            <!--</span>-->

                                            <!--<span ng-if="property.unit_choice.length!=0">-->
                                                   <!--<label>Units:</label>-->
                                            <!--<select style="width:80px" ng-model="property.unit">-->
                                                <!--<option ng-repeat="unit in property.unit_choice"> {{unit}}-->
                                                <!--</option>-->
                                            <!--</select>-->
                                            <!--</span>-->
                                         <!--</div>-->
                                            <!--<br>-->
                                            <!--<div ng-show="condition.template_pick">-->
                                                <!--<div class="well">-->
                                                    <!--<b>From what material this sample was drawn?:<a-->
                                                            <!--href="#modalMaterial_op" data-toggle="modal">{{condition.material.name}}</a></b>-->

                                                    <!--<p style="float: right" ng-show="material_added">-->
                                                        <!--<button class="btn btn-success">Saved</button>-->
                                                    <!--</p>-->
                                                    <!--<br> <br>-->
                                                    <!--&lt;!&ndash; Modal &ndash;&gt;-->
                                                    <!--<div id="modalMaterial_op" class="modal hide fade" tabindex="-1"-->
                                                         <!--role="dialog"-->
                                                         <!--aria-labelledby="modalMaterial_opLabel" aria-hidden="true">-->
                                                        <!--<div class="modal-header">-->
                                                            <!--<button type="button" class="close" data-dismiss="modal"-->
                                                                    <!--aria-hidden="true">×-->
                                                            <!--</button>-->
                                                            <!--<h3 id="modalMaterial_opLabel">-->
                                                                <!--{{condition.material.name}}</h3>-->
                                                        <!--</div>-->
                                                        <!--<div class="modal-body">-->
                                                            <!--<div>-->
                                                                <!--<label>Name:</label><span>{{condition.material.name}}</span>-->
                                                                <!--<br>-->
                                                                <!--<label>Alloy:</label><span>{{condition.material.alloy_name}}</span>-->
                                                                <!--<br>-->

                                                                <!--<label>composition:</label>-->
                                                                <!--<span>{{condition.material.composition}}</span> <br>-->
                                                                <!--<label>Contact:</label>-->
                                                                <!--<span>{{condition.material.contact_email}}</span> <br>-->
                                                                <!--<label>Notes:</label>-->
                                                                <!--<span>{{condition.material.notes}}</span> <br>-->

                                                            <!--</div>-->
                                                        <!--</div>-->
                                                        <!--<div class="modal-footer">-->
                                                            <!--<button class="btn" data-dismiss="modal"-->
                                                                    <!--aria-hidden="true">Close-->
                                                            <!--</button>-->
                                                        <!--</div>-->
                                                    <!--</div>-->

                                                    <!--<input type="radio" ng-model="myradio" value="select">Use Existing-->
                                                    <!--Material<br>-->
                                                    <!--<input type="radio" ng-model="myradio" value="create">Create New-->
                                                    <!--Material-->

                                                    <!--<div ng-show="myradio=='select'">-->
                                                        <!--select existing material:-->
                                                        <!--<select ng-model="material_selected">-->
                                                            <!--<option disabled>pick a material:</option>-->
                                                            <!--<option ng-repeat="m in materials" value="{{m}}"-->
                                                                    <!--ng-click="material_select()">{{m.name}}-->
                                                            <!--</option>-->
                                                            <!--<option></option>-->
                                                            <!--<option ng-click="clear_material()" value="clear">clear-->
                                                            <!--</option>-->
                                                        <!--</select><br>-->
                                                    <!--</div>-->
                                                    <!--<div ng-show="myradio=='create'">-->
                                                        <!--<div class="well">-->
                                                            <!--<label>Name:</label> <span><input-->
                                                                <!--ng-model="condition.material.name"-->
                                                                <!--placeholder="Name your material"-->
                                                                <!--type="text"></span> <br>-->
                                                            <!--<label>Alloy:</label><span><input-->
                                                                <!--ng-model="condition.material.alloy_name"-->
                                                                <!--placeholder="alloy....."-->
                                                                <!--type="text"></span><br>-->
                                                            <!--<label>Composition</label><span><input-->
                                                                <!--ng-model="condition.material.composition"-->
                                                                <!--placeholder="material composition.."-->
                                                                <!--type="text"></span><br>-->
                                                            <!--<label>Contact: </label><span><input-->
                                                                <!--ng-model="condition.material.contact_email"-->
                                                                <!--placeholder="email.."-->
                                                                <!--type="text"></span><br>-->

                                                            <!--<label>Notes:</label><span><input-->
                                                                <!--ng-model="condition.material.notes"-->
                                                                <!--placeholder="Type your notes.."-->
                                                                <!--type="text"></span> <br>-->
                                                            <!--<br>-->
                                                            <!--<button ng-disabled="!condition.material.name"-->
                                                                    <!--ng-click="add_material_to_db()">Save Material-->
                                                            <!--</button>-->
                                                            <!--<button ng-click="clear_material()">clear</button>-->

                                                        <!--</div>-->

                                                    <!--</div>-->

                                                <!--</div>-->
                                            <!--</div>-->

                                            <!--<br>-->
                                            <!--<div class="well">-->
                                                <!--Add Custom Properties(sample):-->
                                                <!--<input ng-model="additional_prop" type="text">-->
                                                <!--<button ng-click="custom_property()">Add Property</button>-->
                                            <!--</div>-->
                                            <!--<br>-->
                                               <!--<button ng-click="save_condition()" ng-disabled="!condition.name">Save-->
                                               <!--</button>-->

                                        <!--</span>-->

            <!--</div>-->
        <!--</div>-->
        <!--<div ng-show="state.attributes.process.required_output_files=='yes'">-->
            <!--<div class="well" ng-controller="OutputStepController">-->
                <!--<a style="cursor:pointer" ng-click="showDetails=!showDetails">Output files</a><br>-->
                                <!--<span ng-show="showDetails">-->
                                        <!--<b>Select the files from project tree shown below</b><br>-->
                                        <!--<button ng-click="add_output_files()">Add Files</button>-->
                                <!--</span>-->

                <!--<li ng-repeat="item in state.attributes.checked_output_filenames">-->
                    <!--<i class="fa fa-check-square"></i>{{item.name}}-->
                    <!--<button type="button" class="close" ng-click="removeFile($index);">&times;</button>-->
                    <!--<br>-->
                <!--</li>-->
            <!--</div>-->
        <!--</div>-->

        <!--<div ng-controller="OutputStepController">-->
            <!--<div ng-show="warning"><br>-->
                <!--<b style="color:orange">WARNING: Required properties should atleast have a name.</b>-->
            <!--</div>-->
            <!--<div ng-hide="verified">-->
                <!--<button ng-click="verify_outputs()">Verify Outputs</button>-->

            <!--</div>-->
            <!--<div ng-show="verified">-->
                <!--<b>required outputs have been verified!</b>-->
                <!--<button class="btn btn-small btn-primary" ng-click="next_step()">Move to Next Step</button>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->

    <!--&lt;!&ndash;</form>&ndash;&gt;-->
<!--</div>-->