<div class="row-fluid" ng-controller="toolbarFileServicesProjects">
    <h4>Projects</h4>
    <table class="table table-striped table-condensed table-responsive mc-table-hover">
        <thead>
        <tr>
            <th>Name</th>
            <th>Path</th>
            <th>Status</th>
            <th>Changes</th>
            <th>Ignore</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="project in projects | orderBy:'Name'">
            <td>{{ project.Name }}</td>
            <td>{{ project.Path }}</td>
            <td>{{ project.Status }}</td>
            <td>
                <ul class="unstyled">
                    <li ng-repeat="(key, value) in project.Changes">
                        {{ value.Type }}: {{ value.Path }}
                    </li>
                </ul>
            </td>
            <td>
                <ul class="unstyled">
                    <li ng-repeat="item in project.Ignore">{{ item }}</li>
                </ul>
            </td>
        </tr>
        </tbody>
    </table>
</div>