<div class="row">
    <div class="panel card" style="border: 1px solid #d3d3d3; box-shadow: 5px 4px 5px #a1a1a1;">
        <div class="panel-heading" style="padding-top: 20px;">
            <img style="height: 35px;padding-bottom: 10px;"
                 src="assets/img/splash/file_icon.png">
            <span style="color: #9F88C1; font-size: 20px;padding-left: 15px;">FILES</span>
        </div>
        <div class="row">
            <div class="col-xs-offset-1">
                <input class="col-xs-11" type="text" placeholder="SEARCH FILES..."
                       ng-model="query" on-enter="search()">
            </div>
        </div>
        <div ng-if="showTree" class="panel-body home-panel-body no-max-height">
            <div style="padding: 20px;width: 100%; height: 100%;"
                 angular-grid="gridOptions"
                 class="ag-file-browser">
            </div>
        </div>
        <div ng-if="!showTree">
            Show search results here
            <div ng-repeat="hit in results.hits">
                {{hit._source.name}}
            </div>
        </div>
    </div>
</div>

