<div class="row">
    <div class="panel card" style="border: 1px solid #d3d3d3; box-shadow: 5px 4px 5px #a1a1a1;">
        <div class="panel-heading" style="padding-top: 20px;">
            <img style="height: 35px;padding-bottom: 10px;"
                 src="assets/img/splash/process-icon.png">
            <span style="color: #3A9EE3; font-size: 20px;padding-left: 15px;">PROCESS</span>
        </div>
        <div class="panel-body"
             ng-class="{'no-max-height': isExpanded()}">
            <div ng-if="project.processes.length!== 0" style="width: 100%;height:100%"
                 ag-grid="gridOptions"
                 class="ag-fresh ag-basic">
            </div>
            <div ng-if="project.processes.length === 0">
                <p style="padding-left: 20px;">No Processes.</p>
            </div>
        </div>
    </div>
</div>
