<div class="row">
    <div class="row">
        <div class="col-sm-6"><h3>All Tags</h3></div>
    </div>
    <div class="row">
        <hr/>
    </div>
    <div class="row">
        <tags-input ng-model="ctrl.tags" display-property="id" template="my-custom-template"
                    on-tag-clicked="ctrl.viewTagResults($tag)" placeholder="{{ctrl.tagPlaceholder}}"
                    disabled="true"></tags-input>
        <script type="text/ng-template" id="my-custom-template">
            <div class="tag-template">
                <div>{{data.id}} ({{data.count}})</div>
            </div>
        </script>
    </div>
    <div class="row">
        <ul>
            <div class="row form-horizontal" ng-repeat="tag in ctrl.tags">
                <li>
                    <h4>Tag: {{tag.id}}</h4>
                    <div ng-if="ctrl.datasetForTag(tag.id).wait"><i>Fetching Data</i></div>
                    <div ng-if="ctrl.datasetForTag(tag.id).data">
                        <i>Datasets</i>
                        <ul>
                            <div class="row form-horizontal" ng-repeat="dataset in ctrl.datasetForTag(tag.id).data">
                                <li>
                                    <mcpub-dataset-overview dataset="dataset"></mcpub-dataset-overview>
                                </li>
                            </div>
                        </ul>
                    </div>
                </li>
            </div>
        </ul>
    </div>
</div>
