<div class="row" ng-controller="projectsProvenance">
    <div style="padding-left:40px" class="col-lg-8">
        <div class="row">
            <h4>Create Provenance</h4>
            <ul class="nav nav-tabs">
                <li ng-class="{'active':isCurrentStep('process')}">
                    <a style="cursor:text " ng-hide="isFinishedStep('process')">Process</a>
                    <a style="cursor:pointer" ng-show="isFinishedStep('process')" ng-click="editStep('process')">Process
                        (edit)</a>
                </li>
                <li ng-class="{'active' : isCurrentStep('inputs')}">
                    <a style="cursor:text " ng-hide="isFinishedStep('inputs')">Inputs</a>
                    <a style="cursor:pointer" ng-show="isFinishedStep('inputs')" ng-click="editStep('inputs')">Inputs
                        (edit)</a>
                </li>
                <li ng-class="{'active' : isCurrentStep('outputs')}">
                    <a style="cursor:text " ng-hide="isFinishedStep('outputs')">Outputs</a>
                    <a style="cursor:pointer" ng-show="isFinishedStep('outputs')" ng-click="editStep('outputs')">Outputs
                        (edit)</a>
                </li>
                <li ng-class="{'active' : isCurrentStep('submit')}">
                    <a style="cursor:text " ng-hide="isFinishedStep('submit')">Submit</a>
                    <a style="cursor:pointer" ng-show="isFinishedStep('submit')" ng-click="editStep('submit')">Submit
                        (edit)</a>
                </li>
            </ul>
        </div>
        <div class="row">
            <div ui-view=""></div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="panel panel-default">
            <div class="panel-body">
                <h4 plus-minus-toggle="process">
                    <i class="fa fa-minus-square"></i>
                    Process ({{provenanceView.template.template_name}})
                </h4><br>

                <div id="process" class="row" ng-show="isFinishedStep('process')">
                    <div class="panel panel-default">
                        <div class="panel panel-body">
                            <display label="Name:"> {{provenanceView.name}}</display>
                            <display label="Description:">
                                {{provenanceView.description}}
                            </display>
                            <display label="Notes:">
                                <ul ng-repeat=" note in provenanceView.notes">
                                    <li style="word-break:break-all;">{{note.message}}</li>
                                </ul>
                            </display>
                            <display label="Runs:">
                                <div ng-if="provenanceView.template.template_pick=='experiment'">
                                    {{provenanceView.experiment_run_date}}
                                </div>
                                <div ng-if="provenanceView.template.template_pick=='computation'">
                                    <ul ng-repeat=" run in provenanceView.runs">
                                        <li style="word-break:break-all;">{{run.start_run}} - {{run.stop_run}}</li>
                                    </ul>
                                </div>
                            </display>
                            <div df-report default-properties="provenanceView.default_properties"></div>

                            <div ng-repeat="ad in provenanceView.added_properties">
                                <display label="{{ad.name}}"> {{ad.value}}</display>
                            </div>
                        </div>

                    </div>
                </div>
                <h4 plus-minus-toggle="inputs">
                    <i class="fa fa-minus-square"></i>
                    Inputs
                </h4><br>

                <div id="inputs" class="row" ng-show="isFinishedStep('inputs')">
                    <div class="panel panel-default">
                        <div class="panel panel-body">
                            <form class="form-horizontal" ng-repeat="(name, vals) in inputs">
                                <label><u>{{ name }}</u></label>

                                <div ng-if="name=='sample'">
                                    <div class="row">
                                        <display label="Name:"> {{vals.sample.name}}</display>
                                        <display label="Description:">
                                            {{vals.sample.description}}
                                        </display>
                                        <div  ng-repeat="(name, vals) in vals.sample.properties">
                                            <div ng-if="name==='composition'">
                                                <display label="{{name}}">
                                                    <ul ng-repeat="c in vals.value">
                                                        <li>{{c.element}} - {{c.value}} {{p.unit}}</li>
                                                    </ul>
                                                </display>
                                            </div>
                                            <div ng-if="name!=='composition'">
                                                <display label="{{name}}"> {{vals.value}}</display>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div ng-if="name!=='sample'">
                                    <div class="row">
                                        <div df-report default-properties="vals.default_properties"></div>
                                        <div ng-repeat="ad in vals.added_properties">
                                            <display label="{{ad.name}}"> {{ad.value}}</display>
                                        </div>
                                    </div>
                                </div>
                            </form>
                            <form ng-if="input_files.length != 0" class="form-horizontal">
                                <label><u>Input Files</u></label>
                                <display ng-repeat="file in input_files" label="File:">
                                    {{file.name}}
                                </display>
                            </form>
                        </div>

                    </div>
                </div>
                <h4 plus-minus-toggle="outputs">
                    <i class="fa fa-minus-square"></i>
                    Outputs
                </h4>

                <div id="outputs" class="row" ng-show="isFinishedStep('outputs')">
                    <div class="panel panel-default">
                        <div class="panel panel-body">
                            <form class="form-horizontal" ng-repeat="(name, vals) in outputs">
                                <label><u>{{ name }}</u></label>

                                <div ng-if="name=='transformed-sample'">
                                    <div class="row">
                                        <display label="Name:"> {{vals.sample.name}}</display>
                                        <display label="Description:">
                                            {{vals.sample.description}}
                                        </display>
                                        <div df-report default-properties="vals.sample.properties"></div>
                                    </div>
                                </div>
                                <div ng-if="name!=='transformed-sample'">
                                    <div class="row">
                                        <div df-report default-properties="vals.default_properties"></div>
                                        <div ng-repeat="ad in vals.added_properties">
                                            <display label="{{ad.name}}"> {{ad.value}}</display>
                                        </div>
                                    </div>
                                </div>
                            </form>
                            <form ng-if="output_files.length != 0" class="form-horizontal">
                                <label><u>Output Files</u></label>
                                <display ng-repeat="file in output_files" label="File:">
                                    {{file.name}}
                                </display>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
