<div layout="column" style="margin-right:15px">
    <div flex-offset="70">
        <mc-new-process-menu ng-if="!$ctrl.task.template"
                             button-name="NEW PROCESS"
                             button-class="md-primary"
                             on-selected="$ctrl.addProcess(templateId, processId)">
        </mc-new-process-menu>
    </div>
    <div id="processesGraph">
    </div>
    <md-tabs flex-offset="70" md-selected="$ctrl.currentTab" md-dynamic-height md-border-bottom>
        <md-tab>
            <md-tab-label>
                <span><i class="fa fa-fw fa-desktop"></i>Display</span>
            </md-tab-label>
            <md-tab-body>
                <md-content style="max-height: 70vh">
                    <h3 class="md-title">Show</h3>
                    <md-radio-group ng-model="$ctrl.displayGraph" layout="column" ng-change="$ctrl.showSelectedGraph()">
                        <md-radio-button value="all_processes">All Processes</md-radio-button>
                        <md-radio-button value="only_transformations">Only Transformation Processes</md-radio-button>
                        <md-radio-button value="sample_transformations">Sample Transformations</md-radio-button>
                    </md-radio-group>
                    <md-list ng-if="false">
                        <md-list-item ng-repeat="sample in $ctrl.samples">
                            <md-checkbox ng-model="sample.selected"
                                         ng-change="$ctrl.filterOnSample(sample)"></md-checkbox>
                            <p>{{::sample.name}} (<i class="fa fa-fw fa-code-fork"></i>{{::sample.processes.length}})
                            </p>
                        </md-list-item>
                    </md-list>
                </md-content>
            </md-tab-body>
        </md-tab>
        <md-tab>
            <md-tab-label>
                <span><i class="fa fa-fw fa-pencil"></i>edit</span>
            </md-tab-label>
            <md-tab-body>
                <md-content style="max-height: 70vh" class="margin-left-15">
                    <h3 class="md-title">Samples</h3>
                    <md-button class="md-primary">Create Samples</md-button>
                    <h3 class="md-title">Add To Workflow</h3>
                    <mc-workflow-processes></mc-workflow-processes>
                </md-content>
            </md-tab-body>
        </md-tab>
        <md-tab>
            <md-tab-label>
                <span><i class="fa fa-fw fa-gears"></i>details</span>
            </md-tab-label>
            <md-tab-body>
                <div ng-show="!$ctrl.selectedProcess">
                    No process selected
                </div>
                <div ng-show="$ctrl.selectedProcess">
                    <md-content style="max-height: 70vh">
                        <mc-process-template process="$ctrl.selectedProcess"
                                             on-change="$ctrl.onChange()">
                        </mc-process-template>
                    </md-content>
                </div>
            </md-tab-body>
        </md-tab>
    </md-tabs>
</div>

</div>