<div class="row" ng-controller="provenance">
    <div style="padding-left:40px" class="col-lg-8" >
        <div class="row">
            <h4>Create Provenance</h4>
            <ul class="nav nav-tabs">
                <li ng-class="{'active':isCurrentStep('process')}">
                    <a style="cursor:text " ng-hide="isFinishedStep('process')">Process</a>
                    <a style="cursor:pointer" ng-show="isFinishedStep('process')" ng-click="editStep('process')">Process
                        (edit)</a>
                </li>
                <li ng-class="{'active' : isCurrentStep('inputs')}">
                    <a style="cursor:text " ng-hide="isFinishedStep('inputs')">Inputs</a>
                    <a style="cursor:pointer" ng-show="isFinishedStep('inputs')" ng-click="editStep('inputs')">Inputs
                        (edit)</a>
                </li>
                <li ng-class="{'active' : isCurrentStep('outputs')}">
                    <a style="cursor:text " ng-hide="isFinishedStep('outputs')">Outputs</a>
                    <a style="cursor:pointer" ng-show="isFinishedStep('outputs')" ng-click="editStep('outputs')">Outputs
                        (edit)</a>
                </li>
                <li ng-class="{'active' : isCurrentStep('submit')}">
                    <a style="cursor:text " ng-hide="isFinishedStep('submit')">Submit</a>
                    <a style="cursor:pointer" ng-show="isFinishedStep('submit')" ng-click="editStep('submit')">Submit
                        (edit)</a>
                </li>
            </ul>
        </div>
        <div class="row">
            <div ui-view=""></div>
        </div>

    </div>
    <div class="col-lg-4">
        <div class="panel panel-default">
            <div class="panel-body">
                <h4 plus-minus-toggle="process">
                    <i class="fa fa-minus-square"></i>
                    Process
                </h4><br>
                <div id="process" class="row" ng-show="isFinishedStep('process')">
                      <div class="panel panel-default">
                        <div class="panel panel-body">
                            <div upperlevel-process doc="provenanceView" bk="bk" edit="true"></div>
                            <div df-properties default-properties="provenanceView.default_properties"
                                 edit="true"></div>
                            <div ad-properties doc="provenanceView" edit="true" bk="bk"></div>
                        </div>
                      </div>
                </div>
                <h4 plus-minus-toggle="inputs">
                    <i class="fa fa-minus-square"></i>
                    Inputs
                </h4><br>
                <h4 plus-minus-toggle="outputs">
                    <i class="fa fa-minus-square"></i>
                    Outputs
                </h4>
            </div>
        </div>
    </div>
</div>

