<div class="row" ng-controller="LoginController as login">
    <div class="col-lg-offset-2 col-sm-6 col-md-6">
        <form class="form-horizontal">
            <fieldset>
                <legend>Materials Commons Login</legend>
                <div class="form-group">
                    <label class="control-label">Email:</label>

                    <div class="controls">
                        <input ng-model="login.email" name="email" required="" class="form-control" placeholder="Email..." type="email">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label">Password:</label>
                    <div class="controls">
                        <input ng-model="login.password" required="" class="form-control" placeholder="Password..." type="password">
                    </div>
                </div>

                <div class="form-group">
                    <div class="controls">
                        <button class="btn btn-default btn-primary btn-lg" ng-click="login.login()">Login</button>
                        <button class="btn btn-default btn-danger btn-lg" ng-click="login.cancel()">Cancel</button>
                    </div>
                </div>

            </fieldset>
        </form>
        <div ng-show="form.uemail.$error.email" class="alert alert-error alert-warning">
            <strong>Error:</strong> Invalid email address
        </div>
    </div>
</div>
