<div ng-controller="toolbarDrafts">
    <h1>Provenance Drafts</h1>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Name</th>
            <th>Date</th>
            <th>Description</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="draft in drafts | filter:query | orderBy:'name'">
            <td><a style="cursor: pointer"
                   ui-sref="toolbar.projectspage({id: draft.attributes.project_id, draft_id: draft.id})">
                {{draft.name}}</a>
            </td>
            <td>{{draft.birthtime | toDateString}}</td>
            <td>{{draft.description}}</td>
            <td>
                <div class="btn-group">
                    <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                        Action
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a ng-click="gotoDraft(draft)">Goto</a></li>
                        <li><a ng-click="deleteDraft(draft)">Delete</a></li>
                        <li><a data-toggle="modal"
                               data-target="#toolbarDraftsReviewModal"
                               ng-click="markForReview(draft)">Mark For Review</a>
                        </li>
                    </ul>
                </div>
            </td>
        </tr>
        </tbody>
    </table>

    <div id="toolbarDraftsReviewModal" class="modal hide fade">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="closeReviews()">×</button>
            <h3>I'm a modal!</h3>
        </div>
        <div class="modal-body">
            {{ draft }}
        </div>

        <div class="modal-footer">
            <button class="btn" data-dismiss="modal" aria-hidden="true" ng-click="closeReviews()">Close</button>
            <button class="btn btn-primary" ng-click="closeReviews()">Save changes</button>
        </div>
    </div>
</div>