<div ng-controller="toolbarDrafts">
    <h1>Provenance Drafts</h1>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Name</th>
            <th>Date</th>
            <th>Description</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="draft in drafts | filter:query | orderBy:'name'">
            <td><a style="cursor: pointer"
                   ui-sref="toolbar.projectspage({id: draft.attributes.project_id, draft_id: draft.id})">
                {{draft.name}}</a>
            </td>
            <td>{{draft.birthtime | toDateString}}</td>
            <td>{{draft.description}}
                <button type="button" class="close" ng-click="delete(draft.id);">&times;</button>
            </td>
        </tr>
        </tbody>
    </table>
</div>