<div ng-controller="toolbarDrafts">
    <h1>Provenance Drafts</h1>
    <table class="table table-striped mc-table-hover table-condensed mc-table">
        <thead>
        <tr>
            <th>Name</th>
            <th>Date</th>
            <th>Description</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="draft in drafts | filter:query | orderBy:'attributes.process.default_properties[0].value'">

            <td><a style="cursor: pointer"
                   ui-sref="toolbar.projectspage({id: draft.attributes.project_id, draft_id: draft.id})">
                {{draft.attributes.process.default_properties[0].value}}</a>
            </td>
            <td>{{draft.birthtime | toDateString}}</td>
            <td>{{draft.attributes.process.description}}</td>
            <td>
                <div class="btn-group">
                    <a class="btn btn-info dropdown-toggle" data-toggle="dropdown" href="#">
                        Action
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a ng-click="gotoDraft(draft)">Goto</a></li>
                        <li><a ng-click="deleteDraft(draft)">Delete</a></li>
                        <li><a data-toggle="modal"
                               data-target="#toolbarDraftsReviewModal"
                               ng-click="markForReview(draft)">Mark For Review</a>
                        </li>
                        <li><a ng-click="cloneProvenance(draft)">Clone</a></li>
                    </ul>
                </div>
            </td>
        </tr>
        </tbody>
    </table>

    <div id="toolbarDraftsReviewModal" class="modal hide fade in" modal-dismiss ng-controller="_toolbarDraftsReviewModal">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="closeReviews()">×</button>
            <h3>Create Review</h3>
        </div>
        <div class="modal-body form-horizontal">
            <form>
                <fieldset>
                    <legend>Review</legend>
                    <label>Mark for follow up</label>
            <input type="text" ng-model="reviewNoteSelf"
                   ui-keypress="{13: 'addReviewNoteKeypress($event)'}"
                   placeholder="Note...">
                    <span class="help-block">Request review</span>
                    <input type="text" ng-model="reviewNoteOther" placeholder="Note...">
                    <select ng-model="userForReview"
                            ui-select2="{placeholder: 'Select user', allowClear: true, width:'element'}"
                            ng-multiple="false">
                        <option></option>
                        <option ng-repeat="user in users">{{ user }}</option>
                    </select>
                </fieldset>
            </form>
        </div>

        <div class="modal-footer">
            <button class="btn btn-primary" data-dismiss="modal" aria-hidden="true" ng-click="finish()">Finish</button>
        </div>
    </div>
</div>