<div class="span10 offset1">
    <div class="row">
        <ul id="my-lab-tabs" class="nav nav-tabs">
            <li id="my-experiments-tab">
                <a href="#/mylab/myexperiments/experiment-list/">My Experiments</a>
            </li>
            <li id="my-data-tab">
                <a href="#/mylab/mydata/data-list/">My Data</a>
            </li>
            <li id="my-references-tab">
                <a href="#/mylab/myreferences/reference-list/">My References</a>
            </li>
        </ul>
        <div ng-include src="template"></div>
    </div>

</div>