<div class="span10 offset2" ng-controller="MyLabTabController">
    <div class="row">
        <ul class="nav nav-tabs">
            <li class="active">
                <a href="#/materialscommons/mylab/tab/myexperiments">My Experiments</a>
            </li>
            <li>
                <a href="#/materialscommons/mylab/tab/mydata">My Data</a>
            </li>
            <li>
                <a href="#/materialscommons/mylab/tab/myreferences">My References</a>
            </li>
        </ul>
        <div ng-include src="template"></div>
    </div>

</div>