<div layout="row">
    <div flex="70">
        <md-content style="max-height:80vh; min-height: 40vh">
            <mc-template-builder-properties properties="$ctrl.template.measurements"
                                            message="Drag and drop the sample attributes to measure into this space.">
            </mc-template-builder-properties>
        </md-content>
    </div>
    <div flex="30" layout-margin>
        <h3 class="md-subhead">Outline</h3>
        <md-content style="max-height:80vh; min-height: 40vh">
            <ul dnd-list="$ctrl.template.measurements">
                <li ng-repeat="m in $ctrl.template.measurements" class="cursor-grab"
                    dnd-moved="$ctrl.template.measurements.splice($index, 1)"
                    dnd-effect-allowed="move"
                    dnd-draggable="m">
                    {{m.name}}/{{m.otype}}
                </li>
            </ul>
        </md-content>
    </div>
</div>