<div layout="row" flex="100">
    <mc-template-builder-elements elements="$ctrl.whichElements" flex="25" layout-margin></mc-template-builder-elements>
    <md-tabs md-selected="$ctrl.currentTab" md-stretch-tabs flex="100" layout-margin>
        <md-tab>
            <md-tab-label>Description</md-tab-label>
            <md-tab-body>
                <mc-template-builder-description template="$ctrl.template"></mc-template-builder-description>
            </md-tab-body>
        </md-tab>
        <md-tab>
            <md-tab-label>Setup</md-tab-label>
            <md-tab-body>
                <mc-template-builder-setup template="$ctrl.template"></mc-template-builder-setup>
            </md-tab-body>
        </md-tab>
        <md-tab>
            <md-tab-label>Measurements</md-tab-label>
            <md-tab-body>
                <mc-template-builder-measurements template="$ctrl.template"></mc-template-builder-measurements>
            </md-tab-body>
        </md-tab>
        <md-tab>
            <md-tab-label>Review</md-tab-label>
            <md-tab-body>
                <mc-template-builder-review template="$ctrl.template"></mc-template-builder-review>
            </md-tab-body>
        </md-tab>
    </md-tabs>
</div>