<div layout="column" ng-if="!$ctrl.templateLoaded" layout-align="center center">
    <div layout="row" layout-align="center center">
        <md-button class="md-primary" ng-click="$ctrl.createNew()">create new template</md-button>
        <md-button class="md-primary" ng-click="$ctrl.editExisting()">edit existing template</md-button>
    </div>
</div>
<div layout="row" flex="100" ng-if="$ctrl.templateLoaded">
    <div layout="column" flex="25" layout-margin>
        <div layout="row">
            <md-button class="md-primary" ng-click="$ctrl.done()">done</md-button>
            <md-button class="md-warn" ng-click="$ctrl.cancel()">cancel</md-button>
        </div>
        <mc-template-builder-elements ng-if="$ctrl.currentTab === 1 || $ctrl.currentTab === 2"
                                      elements="$ctrl.whichElements" xflex="25" xlayout-margin>
        </mc-template-builder-elements>
        <span xflex=25 xlayout-margin ng-if="$ctrl.currentTab === 0 || $ctrl.currentTab === 3"></span>
    </div>
    <md-tabs md-selected="$ctrl.currentTab" md-stretch-tabs md-dynamic-height flex="100" layout-margin>
        <md-tab>
            <md-tab-label>Description</md-tab-label>
            <md-tab-body>
                <mc-template-builder-description template="$ctrl.template"></mc-template-builder-description>
            </md-tab-body>
        </md-tab>
        <md-tab ng-click="$ctrl.whichElements = 'setup'">
            <md-tab-label>Setup</md-tab-label>
            <md-tab-body>
                <md-content style="max-height:80vh; min-height: 40vh">
                    <mc-template-builder-setup template="$ctrl.template"></mc-template-builder-setup>
                </md-content>
            </md-tab-body>
        </md-tab>
        <md-tab ng-click="$ctrl.whichElements = 'measurements'">
            <md-tab-label>Sample Attributes</md-tab-label>
            <md-tab-body>
                <md-content style="max-height:80vh; min-height: 40vh">
                    <mc-template-builder-measurements template="$ctrl.template"></mc-template-builder-measurements>
                </md-content>
            </md-tab-body>
        </md-tab>
        <md-tab>
            <md-tab-label>Review</md-tab-label>
            <md-tab-body>
                <mc-template-builder-review template="$ctrl.template"></mc-template-builder-review>
            </md-tab-body>
        </md-tab>
    </md-tabs>
</div>