<div>
    <label>Drop Template Measurements Here</label>
    <ul dnd-list="$ctrl.measurements" class="elementsList">
        <li ng-repeat="m in $ctrl.measurements"
            dnd-moved="$ctrl.measurements.splice($index, 1)"
            dnd-effect-allowed="move"
            dnd-draggable="m">
            <div layout="column">
                <label>{{m.id}}</label>
                <md-input-container>
                    <label>Name</label>
                    <input ng-model="m.name">
                </md-input-container>
                <ul>
                    <li ng-repeat="u in m.units">{{u}}</li>
                </ul>
            </div>
        </li>
    </ul>
</div>