<div class="mc-template">
    <p class="md-subhead">{{$ctrl.message}}</p>
    <ul dnd-list="$ctrl.properties" ng-class="{'dnd-list-empty': !$ctrl.properties.length}">
        <li ng-repeat="p in $ctrl.properties"
            dnd-moved="$ctrl.properties.splice($index, 1)"
            dnd-effect-allowed="move"
            dnd-draggable="p">
            <div dnd-nodrag>
                <div layout="row" layout-align="space-between center">
                    <div dnd-handle class="cursor-grab"><i class="fa fa-fw fa-bars"></i></div>
                    <div>
                        <label>Type</label> {{p.otype}}
                    </div>
                    <div layout="row" ng-hide="p.otype === 'selection' || p.otype === 'date'">
                        <md-button class="md-primary" ng-show="!p.units.length" ng-click="$ctrl.addUnits(p)">
                            add units
                        </md-button>
                        <md-button class="md-warn" ng-show="p.units.length"
                                   ng-click="p.units.length = 0">
                            clear units
                        </md-button>
                    </div>
                    <a ng-click="$ctrl.properties.splice($index, 1)" class="md-warn"><i class="fa fa-fw fa-remove"></i></a>
                </div>
                <div layout="row" flex="100" layout-align="start center">
                    <label>Name</label>
                    <input ng-model="p.name" class="mc-input-as-line" flex="80"
                           ng-change="$ctrl.updateAttribute(p)" placeholder="Name...">
                </div>
                <div layout="row" class="margin-top-10">
                    <div ng-show="p.units.length || p.hasUnitGroup" layout="row">
                        <label>Units</label>
                        <md-chips ng-model="p.units" md-on-remove="$ctrl.checkIfEmpty(p)"></md-chips>
                    </div>
                    <div ng-show="p.otype === 'selection'" layout="column" flex=="40">
                        <label>Select choices</label>
                        <div layout="row" ng-repeat="choice in p.choices">
                            <input class="mc-input-as-line margin-left-15" ng-model="choice.name"
                                   ng-change="$ctrl.updateChoice(choice)" flex="70">
                            <a ng-click="p.choices.splice($index, 1)" class="md-warn"><i class="fa fa-fw fa-remove"></i></a>
                        </div>
                        <div layout="row">
                            <input class="mc-input-as-line margin-left-15" placeholder="Add selection choice..."
                                   ng-model="p.newChoice"
                                   on-enter="$ctrl.addChoice(p)" flex="70">
                        </div>
                    </div>
                </div>
            </div>
        </li>
    </ul>
</div>