<div>
    <label>Drop Template Setup Properties Here</label>
    <ul dnd-list="$ctrl.setup[0].properties" ng-class="{'dnd-list-empty': !$ctrl.setup[0].properties.length}">
        <li ng-repeat="p in $ctrl.setup[0].properties"
            dnd-moved="$ctrl.setup[0].properties.splice($index, 1)"
            dnd-effect-allowed="move"
            dnd-draggable="p">
            <div dnd-nodrag>
                <div dnd-handle class="cursor-grab"><i class="fa fa-fw fa-bars"></i></div>
                <div layout="column" class="margin-top-10">
                    <md-input-container>
                        <label>Name</label>
                        <input ng-model="p.name">
                    </md-input-container>
                    <div layout="row">
                        <md-button class="md-primary" ng-if="m.units.length" ng-click="$ctrl.editUnits()">
                            edit units
                        </md-button>
                        <md-button class="md-primary" ng-if="!m.units.length" ng-click="$ctrl.addUnits()">
                            add units
                        </md-button>
                    </div>
                    <ul>
                        <li ng-repeat="u in p.units">{{u}}</li>
                    </ul>
                </div>
            </div>
        </li>
    </ul>
</div>