<md-content style="max-height:80vh; min-height: 40vh" class="mc-template">
    <label>Drag elements from list</label>
    <ul ng-show="$ctrl.elements === 'measurements'" dnd-list="$ctrl.measurements" dnd-disable-if="true">
        <li ng-repeat="m in $ctrl.measurements | orderBy:'name'" dnd-draggable="m" class="cursor-grab">
            <label>Name</label>{{m.name}}
            <label>Type</label>{{m.otype}}
        </li>
    </ul>
    <ul ng-show="$ctrl.elements === 'setup'" dnd-list="$ctrl.setup[0].properties" dnd-disable-if="true">
        <li ng-repeat="p in $ctrl.setup[0].properties | orderBy:'name'" dnd-draggable="p" class="cursor-grab">
            <label>Name</label>{{p.name}}
            <label>Type</label>{{p.otype}}
        </li>
    </ul>
</md-content>