<md-dialog flex="60">
    <md-toolbar layout="row">
        <div layout-margin>
            <i class="fa fa-fw fa-folder-open"></i>To download '{{$ctrl.path}}' using Globus
            <md-button class="md-warn" ng-click="$ctrl.helpDialog()">Help</md-button>
        </div>
    </md-toolbar>
    <md-dialog-content layout-margin>
        <md-input-container class="md-block" style="margin-top:40px">
            <label>Globus use name</label>
            <input ng-model="$ctrl.globusUser" on-enter="$ctrl.done()">
        </md-input-container>
    </md-dialog-content>
    <md-dialog-actions layout="row">
        <md-button class="md-warn" ng-click="$ctrl.cancel()">Cancel</md-button>
        <md-button class="md-primary" ng-click="$ctrl.done()">Create Temporary Materials Commons Shared Endpoint</md-button>
    </md-dialog-actions>
</md-dialog>