<h1>Templates</h1>

<div class="row-fluid">
    <div class="span3">
        <div class="well">
            <legend><a href="#/subpages/createtemplate">Create Template</a></legend>
            <p>Template to create customized process attributes/material attributes</p>
        </div>
    </div>

    <div class="span3">
        <div class="well">
            <legend><a href="#/subpages/listtemplate">List templates</a></legend>
            <p>Provides a list of templates created in the system</p>
        </div>
    </div>

    <!--<div class="span3">-->
        <!--<div class="well">-->
            <!--<legend><a href="#/subpages/list-all-conditions-tab">List all conditions</a></legend>-->
            <!--<p>Provides a list of conditions created in the system</p>-->
        <!--</div>-->
    <!--</div>-->
</div>