<div ng-controller="ListConditionControllers">

<div class="span8">
    <div >
        <h4>Recently Created Templates</h4>
        <paged data="templates" current-page="currentDataPage" page-size="10">

        <table class="table table-striped">
            <thead>
            <tr>
            <th>Template Name</th>
            <th>Template Type</th>
            <th>Owner</th>
            <th>Created Date</th>
            <th>Properties</th>
            </thead>
            <tbody>
            <tr ng-repeat="t in templates | page:currentDataPage:10 " ng-click="display_template(t)" style="cursor:pointer">
                <td>{{ t.template_name }}</td>
                <td>{{ t.template_type }}</td>
                <td>{{ t.owner }}</td>
                <td>{{ t.template_birthtime | toDateString }}</td>
                <td>
                     <span style="margin-left: 5px" ng-repeat="p in t.model">
                        {{ p.name}}{{$last ? '': ','}}
                    </span>
                </td>
            </tr>
            </tbody>
        </table>
            </paged>
    </div>
</div>
</div>


