<div class="row-fluid">
    <div class="span8 offset2">
        <h3>Template :  {{created_template.template_name}}</h3>

            <div class="span5">
                <div class="well">
                    <table>
                        <b>Name: </b>{{created_template.template_name}}  <br>
                        <b>Owner:</b> {{created_template.owner}}  <br>
                        <b>Created At:</b>  {{created_template.template_birthtime | toDateString}} <br>
                        <b>Description</b>  {{created_template.template_description}} <br>
                        <b>Type:</b> {{created_template.template_type}}  <br>
                        <b>Properties:</b> <ul ng-repeat="p in properties"><li>{{p}} : <ul class="line"></ul> </ul>

                    </table>
                </div>
            </div>
        </div>
</div>

