<div layout="row" layout-align="center center" class="md-mc-primary-color-hue-2-bg">
    <div flex="60">
        <md-tabs md-selected="$ctrl.currentTab" class="md-primary md-hue-2" md-dynamic-height md-border-bottom>
            <md-tab ui-sref="project.home">
                <md-tab-label>
                    <span><i class="fa fa-fw fa-home"></i>Home</span>
                </md-tab-label>
            </md-tab>
            <md-tab ui-sref="project.experiments">
                <md-tab-label>
                    <span><i class="fa fa-fw fa-flask"></i>Experiments</span>
                </md-tab-label>
            </md-tab>
            <!--<md-tab ng-if="false" ui-sref="project.processes">-->
            <!--<md-tab-label>-->
            <!--<span><i class="fa fa-fw fa-code-fork"></i>Processes</span>-->
            <!--</md-tab-label>-->
            <!--</md-tab>-->
            <md-tab ui-sref="project.samples">
                <md-tab-label>
                    <span><i class="fa fa-fw fa-cubes"></i>Samples</span>
                </md-tab-label>
            </md-tab>
            <md-tab ui-sref="project.files">
                <md-tab-label>
                    <span><i class="fa fa-fw fa-files-o"></i>Files</span>
                </md-tab-label>
            </md-tab>
            <md-tab ng-if="false" ui-sref="project.reports">
                <md-tab-label>
                    <span><i class="fa fa-fw fa-bar-chart"></i>Reports</span>
                </md-tab-label>
            </md-tab>
            <md-tab ng-if="false" ui-sref="project.tools">
                <md-tab-label>
                    <span><i class="fa fa-fw fa-wrench"></i>Tools</span>
                </md-tab-label>
            </md-tab>
            <!--<md-tab ui-sref="project.reviews">-->
            <!--<md-tab-label>-->
            <!--<span><i class="fa fa-fw fa-comment"></i>Reviews</span>-->
            <!--</md-tab-label>-->
            <!--</md-tab>-->
            <md-tab ui-sref="project.settings">
                <md-tab-label>
                    <span><i class="fa fa-fw fa-gears"></i>Settings</span>
                </md-tab-label>
            </md-tab>
            <!--<md-tab ui-sref="project.datasets.list" ng-if="$ctrl.isBetaUser">-->
            <!--<md-tab-label>-->
            <!--<span><i class="fa fa-fw fa-database"></i>Datasets</span>-->
            <!--</md-tab-label>-->
            <!--</md-tab>-->
        </md-tabs>
    </div>
    <span flex></span>
    <div class="row" layout-margin>
        <a ng-if="false" class="md-title text-white" style="color: white" tooltip="{{$ctrl.project.name}}"
           ng-show="!$ctrl.editField"
           ng-click="$ctrl.editField = true">
            {{$ctrl.project.name | truncate:30:'...'}}
        </a>
        <input ng-if="false" ng-show="$ctrl.editField" ng-model="$ctrl.project.name"
               ng-mouseleave="$ctrl.editField = false"
               class="mc-input-as-line md-title text-white">
        <a class="md-title" style="color: white" ui-sref="project.home" tooltip="{{::$ctrl.project.name}}">
            {{$ctrl.project.name | truncate:30:'...'}}
        </a>
        <a style="color:white;" ui-sref="projects.list">switch</a>
    </div>
    <span flex></span>
    <a ng-if="false" class="text-white" style="color:white" ng-click="$ctrl.toggleQuickbar()">QUICKBAR</a>
    <span flex></span>
    <a class="text-white" href="https://github.com/materials-commons/materialscommons.org/wiki/Help"
       target="_blank"><span class="fa fa-question-circle"></span></a>
    <span flex></span>
    <a class="always-white" href="mailto:help@materialscommons.org">Report Issue</a>
    <span flex></span>
</div>
<mc-project-quickbar show-quickbar="$ctrl.showQuickbar"
                     project-samples="$ctrl.projectSamples"
                     experiment-samples="$ctrl.experimentSamples"
                     dataset-samples="$ctrl.datasetSamples">
</mc-project-quickbar>