<div class="row"><br>
    <div class="col-sm-offset-2 col-sm-6">
        <h3 class="h3custom">Collaborators for project {{access.project.name}}</h3> <br>

        <table class="table table-striped">
            <thead>
            <tr>
                <th>Users</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="user in access.project.users | orderBy: 'user_id'">
                <td>{{user.user_id}}</td>
                <td ng-if="access.isOwner(access.signedInUser)">
                    <div ng-if="access.signedInUser === user.user_id">
                         Owner
                    </div>
                    <div ng-if="access.signedInUser !== user.user_id">
                        <button ng-click="access.deleteUser(user.id)" class="btn btn-danger">Remove</button>
                    </div>
                </td>
                <td ng-if="!access.isOwner(access.signedInUser)">Not Authorized</td>
            </tr>
            </tbody>
        </table>
        <div class="row" ng-show="access.isOwner(access.signedInUser)">
            <div class="form-group">
                <div class="col-lg-6">
                    <select ui-select2
                            ng-multiple="false"
                            ng-options="user.email for user in access.allUsers | orderBy:'email'"
                            class="form-control" ng-model="access.user">
                    </select>
                </div>
                <button class="btn btn-info" ng-click="access.addUser()" ng-disabled="!access.user">Add</button>
            </div>
        </div>
    </div>
</div>
