
<div class="row">
    <div class="row">
        <div class="col-sm-offset-2 col-sm-8" style="overflow-x: auto;">
            <p class="text-center"><strong>All Processes</strong></p>
            <ul class="list-inline">
                <li ng-repeat="p in processes">
                    <a class="show-process"
                       ng-class="{active: isActive($index)}"
                       ng-click="openProcess($index)">{{p.name}}</a>
                </li>
            </ul>
        </div>

    </div>
    <hr>
    <div class="row">
        <div class="row" style="width: 800px; height : 400px;">
            <vis-network ng-model="constructed_process.network_data" options="constructed_process.network_options" on-select="onNodeSelect" >
            </vis-network>
        </div>
        <div class="row">
            <div process-info process="process"></div>
        </div>
    </div>
</div>

<div ng-if="datafile" class="modal fade" id="imageExpand" tabindex="-1" role="dialog" aria-labelledby="imageExpandLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">{{datafile.other.name}}</h4>
            </div>
            <div class="modal-body">
                <img style="width:500px; height:500px;"
                     ng-src="datafiles/static/{{datafile.id}}?apikey={{apikey}}" alt="Cannot Display">
            </div>
        </div>
    </div>
</div>

