<div  ng-if="processes.length ==0">
    <p class="text-center">No processes created under project {{project.name}}</p>
</div>
<div ng-if="processes.length !==0" class="row">
    <div class="row">
        <div class="col-sm-offset-2 col-sm-8" style="overflow-x: auto;">
            <overview-process-list></overview-process-list>
        </div>

    </div>
    <hr>
    <div class="row" style="float:right">
        <div class="circle-indication"></div>
        <p>process</p>
        <div class="triangle-indication"></div>
        <p>inputs/outputs</p>
    </div>
    <div class="row">
        <div class="row" style="width: 800px; height : 500px;">
            <vis-network ng-model="constructed_process.network_data" options="constructed_process.network_options" on-select="onNodeSelect" >
            </vis-network>
        </div>
        <div class="col-sm-2">
            <strong>Downstream Processes</strong>
            <div class="row" ng-repeat="(pid, process) in process.downstream">
                <button type="button" class="btn btn-success btn-xs"
                        custom-pop-over
                        items="process.items"
                        title="Sends">
                    {{process.name}}
                </button>
            </div>
        </div>

        <div class="col-sm-8 no-padding-left no-padding-right">
            <overview-show-process-details></overview-show-process-details>
        </div>

        <div class="col-sm-2">
            <strong>Upstream Processes</strong>
            <div class="row" ng-repeat="(pid, process) in process.upstream">
                <button type="button" class="btn btn-success btn-xs"
                        custom-pop-over
                        items="process.items"
                        title="Receives">
                    {{process.name}}
                </button>
            </div>
        </div>

    </div>
</div>

