<div ng-if="doc.added_properties.length!=0">
    <label><b>Additional/Custom Properties:</b></label>
    <div ng-repeat="pv in doc.added_properties">
        <div class="control-group">
            <label class="control-label">{{pv.name}}
                <p ng-if="pv.required==true">
                    <i class="fa fa-asterisk" style="color: red"></i>
                </p>
            </label>

            <div class="controls">
                <div ng-if="pv.value_choice.length!=0">
                    <select ng-model="pv.value" ng-disabled="edit">
                        <option ng-repeat="val in pv.value_choice">{{val}}
                        </option>
                    </select>
                    <span ng-if='pv.unit_choice.length!=0'>
                        <select class="unit-select" ng-model='pv.unit' ng-disabled="edit">
                            <option value="" disabled selected>Unit...</option>
                            <option ng-repeat='each in pv.unit_choice'>{{each}}</option>
                        </select>
                    </span>
                </div>
                <div ng-if="pv.value_choice.length==0">
                    <div ng-if="pv.type==='text'">
                        <div ng-if="pv.required===false">
                            <input type='text' ng-model='pv.value'
                                   placeholder='{{pv.name}}...' ng-disabled="edit">
                            <span  ng-if='pv.unit_choice.length!=0'>
                        <select  class="unit-select" ng-model='pv.unit' ng-disabled="edit">
                            <option value="" disabled selected>Unit...</option>
                            <option ng-repeat='each in pv.unit_choice'>{{each}}</option>
                        </select>
                    </span>
                        </div>
                        <div ng-if="pv.required===true">
                            <input type='text' ng-model='pv.value'
                                   placeholder='{{pv.name}}...' ng-disabled="edit" required>
                            <span  ng-if='pv.unit_choice.length!=0'>
                        <select class="unit-select"  ng-model='pv.unit' ng-disabled="edit">
                            <option value="" disabled selected>Unit...</option>
                            <option ng-repeat='each in pv.unit_choice'>{{each}}</option>
                        </select>
                    </span>
                        </div>
                    </div>
                    <div ng-if="pv.type!=='text'">
                        <div ng-if="pv.required===false">
                            <input type='text' name="{{pv.type}}Blur" ng-model='pv.value'
                                   validator='{{pv.type}}'
                                   placeholder='{{pv.name}}...' valid-method="blur" ng-disabled="edit">
                            <span ng-if='pv.unit_choice.length!=0'>
                        <select  class="unit-select" ng-model='pv.unit' ng-disabled="edit">
                            <option value="" disabled selected>Unit...</option>
                            <option ng-repeat='each in pv.unit_choice'>{{each}}</option>
                        </select>
                    </span>
                        </div>
                        <div ng-if="pv.required===true">
                            <input type='text' name="{{pv.type}}Blur" ng-model='pv.value'
                                   validator='{{pv.type}}'
                                   placeholder='{{pv.name}}...' valid-method="blur" ng-disabled="edit" required>
                            <span  ng-if='pv.unit_choice.length!=0'>
                        <select class="unit-select" ng-model='pv.unit' ng-disabled="edit">
                            <option value="" disabled selected>Unit...</option>
                            <option ng-repeat='each in pv.unit_choice'>{{each}}</option>
                        </select>
                    </span>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<div ng-if="edit===false">

    <div ng-show="additionalProperties.length > 0">
        <cgroup label="Additional Properties">
            <select ng-model="bk.additional_property">
                <option ng-repeat="property in additionalProperties"
                        value="{{property}}">
                    {{property.name}}
                </option>
            </select>
            <button ng-click="addAdditionalProperty()" class="btn btn-info">Add</button>
        </cgroup>
    </div>
    <cgroup label="Custom Property:">
        <input ng-model="bk.customPropertyName" placeholder="Name..." type="text">
        <input ng-model="bk.customPropertyValue" placeholder="Value..." type="text">
    </cgroup>
    <cgroup>
        <button ng-click="addCustomProperty()" class="btn btn-info">Add</button>
    </cgroup>
</div>
