<fieldset>
<div class='control-group' ng-repeat='df in defaultProperties'>
    <label class='control-label'>{{df.name}}:
        <p ng-if="df.required==true">
            <i class="fa fa-asterisk" style="color: red"></i>
        </p>
    </label>

    <div class='controls'>
        <div ng-if='df.value_choice.length!=0'>
            <select ng-model='df.value'>
                <option ng-repeat='each in df.value_choice'>{{each}}</option>
            </select>
        </div>
        <div ng-if='df.value_choice.length==0'>
            <div ng-if="df.type==='text'">
                <!-- if i do not implement this then it is the case that every field has to be filled in  -->
                <div ng-if="df.required===false">
                    <input type='text' ng-model='df.value'
                           placeholder='{{df.name}}...'>
                </div>
                <div ng-if="df.required===true">
                    <input type='text' ng-model='df.value'
                           placeholder='{{df.name}}...' required>
                </div>
            </div>
            <div ng-if="df.type!=='text'">
                <div ng-if="df.required===false">
                    <input type='text' name="{{df.type}}Blur" ng-model='df.value' validator='{{df.type}}'
                           placeholder='{{df.name}}...' valid-method="blur">
                </div>
                <div ng-if="df.required===true">
                    <input type='text' name="{{df.type}}Blur" ng-model='df.value' validator='{{df.type}}'
                           placeholder='{{df.name}}...' valid-method="blur" required>
                </div>
            </div>
        </div>
        <div ng-if='df.unit_choice.length!=0'>
            <select ng-model='df.unit'>
                <option ng-repeat='each in df.unit_choice'>{{each}}</option>
            </select>
        </div>
    </div>
</div>
</fieldset>
