<div ng-if="defaultProperties.length!=0">
    <div class="form-group" ng-repeat="df in defaultProperties">
        <label class="col-sm-4 control-label">{{df.name}}:
            <span ng-if="df.required==true">
                <i class="fa fa-asterisk"></i>
            </span>
        </label>

        <div ng-switch="" on="df.type">
            <!-------------------------------- text --------------------------------->
            <div ng-switch-when="text">
                <div ng-if="df.required===false">
                    <div class="col-sm-4">
                        <input class="form-control" ng-model="df.value" placeholder="{{df.name}}..." ng-disabled="edit"
                               type="text">
                    </div>
                    <div class="col-sm-2" ng-if="df.unit_choice.length!=0">
                        <select class="form-control" ng-model="df.unit" ng-disabled="edit">
                            <option value="" disabled="" selected="">Unit...</option>
                            <option ng-repeat="each in df.unit_choice">{{each}}</option>
                        </select>
                    </div>
                </div>
                <div ng-if="df.required===true">
                    <div class="col-sm-4">
                    <input class="form-control" ng-model="df.value" placeholder="{{df.name}}..." ng-disabled="edit"
                           required="" type="text">
                        </div>
                    <div class="col-sm-2" ng-if="df.unit_choice.length!=0">
                        <select class="form-control" ng-model="df.unit" ng-disabled="edit">
                            <option value="" disabled="" selected="">Unit...</option>
                            <option ng-repeat="each in df.unit_choice">{{each}}</option>
                        </select>
                    </div>
                </div>
            </div>
            <!-------------------------------- int --------------------------------->
            <div ng-switch-when="int">
                <div ng-if="df.required===false">
                    <div class="col-sm-4">
                        <input class="form-control" name="{{df.type}}Blur" ng-model="df.value" validator="{{df.type}}"
                               placeholder="{{df.name}}..." valid-method="blur" ng-disabled="edit" type="text">
                    </div>
                    <div class="col-sm-2" ng-if="df.unit_choice.length!=0">
                        <select class="form-control" ng-model="df.unit" ng-disabled="edit">
                            <option value="" disabled="" selected="">Unit...</option>
                            <option ng-repeat="each in df.unit_choice">{{each}}</option>
                        </select>
                    </div>
                </div>
                <div ng-if="df.required===true">
                    <div class="col-sm-4">
                        <input class="form-control" name="{{df.type}}Blur" ng-model="df.value" validator="{{df.type}}"
                           placeholder="{{df.name}}..." valid-method="blur" ng-disabled="edit" required="" type="text">
                        </div>
                    <div class="col-sm-2" ng-if="df.unit_choice.length!=0">
                        <select class="form-control" ng-model="df.unit" ng-disabled="edit">
                            <option value="" disabled="" selected="">Unit...</option>
                            <option ng-repeat="each in df.unit_choice">{{each}}</option>
                        </select>
                    </div>
                </div>
            </div>
            <!-------------------------------- float --------------------------------->
            <div ng-switch-when="float">
                <div ng-if="df.required===false">
                    <div class="col-sm-4">
                        <input class="form-control" name="{{df.type}}Blur" ng-model="df.value" validator="{{df.type}}"
                               placeholder="{{df.name}}..." valid-method="blur" ng-disabled="edit" type="text">
                    </div>
                    <div class="col-sm-2" ng-if="df.unit_choice.length!=0">
                        <select class="form-control" ng-model="df.unit" ng-disabled="edit">
                            <option value="" disabled="" selected="">Unit...</option>
                            <option ng-repeat="each in df.unit_choice">{{each}}</option>
                        </select>
                    </div>
                </div>
                <div ng-if="df.required===true">
                    <div class="col-sm-4">
                        <input class="form-control" name="{{df.type}}Blur" ng-model="df.value" validator="{{df.type}}"
                               placeholder="{{df.name}}..." valid-method="blur" ng-disabled="edit" required="" type="text">
                    </div>
                    <div class="col-sm-2" ng-if="df.unit_choice.length!=0">
                        <select class="form-control" ng-model="df.unit" ng-disabled="edit">
                            <option value="" disabled="" selected="">Unit...</option>
                            <option ng-repeat="each in df.unit_choice">{{each}}</option>
                        </select>
                    </div>
                </div>
            </div>
            <!-------------------------------- number --------------------------------->
            <div ng-switch-when="number">
                <div ng-if="df.required===false">
                    <div class="col-sm-4">
                        <input class="form-control" name="{{df.type}}Blur" ng-model="df.value" validator="{{df.type}}"
                               placeholder="{{df.name}}..." valid-method="blur" ng-disabled="edit" type="text">
                    </div>
                    <div class="col-sm-2" ng-if="df.unit_choice.length!=0">
                        <select class="form-control" ng-model="df.unit" ng-disabled="edit">
                            <option value="" disabled="" selected="">Unit...</option>
                            <option ng-repeat="each in df.unit_choice">{{each}}</option>
                        </select>
                    </div>
                </div>
                <div ng-if="df.required===true">
                    <div class="col-sm-4">
                        <input class="form-control" name="{{df.type}}Blur" ng-model="df.value" validator="{{df.type}}"
                               placeholder="{{df.name}}..." valid-method="blur" ng-disabled="edit" required="" type="text">
                    </div>
                    <div class="col-sm-2" ng-if="df.unit_choice.length!=0">
                        <select class="form-control" ng-model="df.unit" ng-disabled="edit">
                            <option value="" disabled="" selected="">Unit...</option>
                            <option ng-repeat="each in df.unit_choice">{{each}}</option>
                        </select>
                    </div>
                </div>
            </div>
            <!-------------------------------- url --------------------------------->
            <div ng-switch-when="url">
                <div class="col-sm-6" ng-if="df.required===false">
                    <input class="form-control" name="{{df.type}}Blur" ng-model="df.value" validator="{{df.type}}"
                           placeholder="{{df.name}}..." valid-method="blur" ng-disabled="edit" type="text">
                </div>
            </div>
            <!-------------------------------- email --------------------------------->
            <div ng-switch-when="email">
                <div class="col-sm-6" ng-if="df.required===false">
                    <input class="form-control" name="{{df.type}}Blur" ng-model="df.value" validator="{{df.type}}"
                           placeholder="{{df.name}}..." ng-disabled="edit" valid-method="blur" type="text">
                </div>
                <div ng-if="df.required===true">
                    <input class="col-sm-3" class="form-control" name="{{df.type}}Blur" ng-model="df.value" validator="{{df.type}}"
                           placeholder="{{df.name}}..." valid-method="blur" ng-disabled="edit" required="" type="text">
                </div>
            </div>
            <!-------------------------------- select --------------------------------->
            <div ng-switch-when="select">
                <div class="col-sm-4" ng-if="df.value_choice.length!==0">
                    <select class="form-control" ng-model="df.value"
                            ng-options="each.name for each in df.value_choice"
                            ng-disabled="edit">
                    </select>
                    <div class="col-sm-2" ng-if="df.unit_choice.length!=0">
                        <select class="form-control" ng-model="df.unit" ng-disabled="edit">
                            <option value="" disabled="" selected="">Unit...</option>
                            <option ng-repeat="each in df.unit_choice">{{each}}</option>
                        </select>
                    </div>
                </div>
            </div>
            <!-------------------------------- machines --------------------------------->
            <div ng-switch-when="machines">
                <div class="col-sm-4">
                <select ng-model="m.machine"
                        ng-options="mach.name for mach in machinesList"
                        ng-disabled="edit">
                </select>
                </div>
            </div>
            <!-------------------------------- composition --------------------------------->
            <div ng-switch-when="composition">
                <button ng-click="custom=!custom">+</button>
                <div ng-show="custom">
                    <div periodic-table doc="df"></div>
                </div>
            </div>
        </div>
    </div>
</div>
