<div>
    <div class="panel panel-primary">
        <div class="panel-heading files-color home-panel-heading">
            <i class="fa fa-fw fa-files-o bold"></i>
            <span>Files ({{matchingFiles.length}})</span>
            <a ng-click="filesExpanded = !filesExpanded"
               class="pull-right bar-control">
                <i class="fa"
                   ng-class="{'fa-expand': !filesExpanded, 'fa-compress': filesExpanded}"></i>
            </a>
            <input type="text" ng-model="searchInput"
                   placeholder="Search files..." class="pull-right col-xs-4">
            <span class="add-item pull-right">
                <a tooltip="Add File">
                    <i class="fa fa-plus"></i>
                </a>
            </span>
        </div>
        <div class="panel-body home-panel-body no-max-height">
            <ul class="list-unstyled">
                <li class="file-item"
                    ui-draggable="true"
                    drag="file"
                    ng-repeat="file in files | orderBy:'name' | limitTo:500 as matchingFiles track by file.id">
                    <div>
                        <directory-tree-display-entry file="file"></directory-tree-display-entry>
                        <div ng-if="showDetails(file)">
                            <div class="row">
                                <div ng-if="file.type === 'datadir'">
                                    <directory-tree-dir file="file"></directory-tree-dir>
                                </div>

                                <div ng-if="file.type === 'datafile'">
                                    <directory-tree-file file="file"></directory-tree-file>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li ng-show="matchingFiles.length === 0" class="home-item">
                    <div>
                        No matches.
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
