<div>
    <ul class="list-unstyled">
        <li class="file-item"
            style="border-top: none; border-bottom: none;"
            ui-draggable="true"
            drag="f"
            ng-repeat="f in file.children | orderBy:'name' track by f.id">
            <div>
                <directory-tree-display-entry file="f"></directory-tree-display-entry>
                <div ng-if="showDetails(f)" style="padding-left: 0px; padding-right: 0px;">
                    <div class="row" style="padding-left: 0px; padding-right: 0px;">
                        <div ng-if="f.type === 'datadir'">
                            <directory-tree-dir file="f"></directory-tree-dir>
                        </div>

                        <div ng-if="f.type === 'datafile'">
                            <directory-tree-file file="f"></directory-tree-file>
                        </div>
                    </div>
                </div>
            </div>
        </li>
    </ul>
</div>
