<div>
    <div class="panel panel-primary">
        <div class="panel-heading files-color home-panel-heading">
            <i class="fa fa-fw fa-files-o bold"></i>
            <span>Files ({{matchingFiles.length}})</span>
            <a ng-click="filesExpanded = !filesExpanded"
               class="pull-right bar-control">
                <i class="fa"
                   ng-class="{'fa-expand': !filesExpanded, 'fa-compress': filesExpanded}"></i>
            </a>
            <input type="text" ng-model="searchInput"
                   placeholder="Search files..." class="pull-right col-xs-4">
            <span class="add-item pull-right">
                <a tooltip="Add File">
                    <i class="fa fa-plus"></i>
                </a>
            </span>
        </div>
        <div class="panel-body home-panel-body no-max-height">
            <ul class="list-unstyled">
                <li class="file-item"
                    ui-draggable="true"
                    drag="file"
                    ng-repeat="file in files | orderBy:'name' | limitTo:500 as matchingFiles track by file.id">
                    <div>
                        <div ng-click="toggleDetails(file)"
                             style="cursor: pointer;">
                            <i class="fa fa-fw"
                               ng-class="{'fa-caret-right': file.type === 'datadir' && !showDetails(file), 'fa-caret-down': file.type === 'datadir' && showDetails(file)}"></i>
                            <i class="fa fa-fw fa-folder" style="color: #256188"
                               ng-class="{'fa-folder': file.type === 'datadir', 'fa-file': file.type === 'datafile'}"></i>
                            <span style="color: #389dc1">{{::file.displayname}}</span>
                        </div>

                        <span class="label label-info" ng-repeat="tag in ::tags(file)" style="margin-right: 5px">
                            <i class="fa"
                               ng-class="'fa-' + tag.icon"
                               style="color: {{tag.color}}">
                            </i>
                            {{::tag.name}}
                        </span>

                        <p style="padding-left: 15px;">
                            <small class="text-muted" style="margin-right: 10px;"> {{::file.size | bytes}}</small>
                            <small class="text-muted">{{::file.birthtime | toDateString}}</small>
                            <small class="text-muted" style="margin-left: 10px">{{::file.fullname}}</small>
                        </p>
                        <div ng-if="showDetails(file)">
                            <div class="row">
                                <div ng-if="file.type === 'datadir'">
                                    <directory-tree-dir file="file"></directory-tree-dir>
                                </div>

                                <div ng-if="file.type === 'datafile'">
                                    <directory-tree-file file="file"></directory-tree-file>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li ng-show="matchingFiles.length === 0" class="home-item">
                    <div>
                        No matches.
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
