<div class="col-xs-12" ng-switch="fileType" style="padding-left: 0px; padding-right: 0px;">
    <div ng-switch-when="image">
        <img class="img-responsive" ng-src="{{fileSrc(file)}}">
    </div>
    <div ng-switch-when="pdf">
        <div class="embed-responsive embed-responsive-4by3">
            <embed class="col-xs-8 embed-responsive-item"
                   ng-src="{{fileSrc(file)}}"></embed>
        </div>
    </div>
    <div ng-switch-default style="padding-left: 0px; padding-right: 0px;">
        <div ng-if="file.size <= 10000" hljs
             include="fileSrc(file)" style="padding-left: 0px; padding-right: 0px;"></div>
        <code ng-if="file.size > 10000 && file.size <= 2000000"
              style="white-space:pre-line" ng-include="fileSrc(file)"></code>
        <div ng-if="file.size > 2000000">File too big to display</div>
    </div>
</div>
