<div ng-switch="view.fileType">
    <div ng-switch-when="image">
        <a><img ng-click="view.showImage(view.file)" class="col-xs-3 no-padding img-responsive center-block"
                                                           ng-src="{{view.fileSrc}}"> </a>
    </div>
    <div ng-switch-when="pdf">
        <div class="embed-responsive embed-responsive-4by3">
            <embed class="col-xs-8 embed-responsive-item"
                   ng-src="{{view.fileSrc}}">
            </embed>
        </div>
    </div>
    <div ng-switch-when="xls">
        <span><i class="fa fa-fw fa-file-excel-o"></i>Download the excel file</span>
    </div>
    <div ng-switch-when="binary">
        <span><i class="fa fa-fw fa-file-o"></i>Binary file cannot be displayed</span>
    </div>
    <div ng-switch-default>
        <div ng-click="view.showImage(view.file)" class="snippet" ng-if="view.file.size <= 10000"
             hljs include="view.fileSrc">
        </div>
        <code ng-click="view.showImage(view.file)" class="snippet" ng-if="view.file.size > 10000 && view.file.size <= 2000000"
              style="white-space: pre-line" ng-include="view.fileSrc">
        </code>

        <div ng-if="view.file.size > 2000000">
            <span class="fa-stack fa-lg">
                <i class="fa fa-file fa-stack-1x"></i>
                <i class="fa fa-ban fa-stack-2x text-danger"></i>
            </span>
            File too big to display
        </div>
    </div>
</div>

<!--<div id="myModal" class="modal fade" tabindex="-1" role="dialog">-->
    <!--<div class="modal-dialog modal-lg">-->
        <!--<div class="modal-content">-->
            <!--<div class="modal-header">-->
                <!--<button type="button" class="close" data-dismiss="modal">×</button>-->
                <!--<h3 class="modal-title">{{view.file.name}}</h3>-->
            <!--</div>-->
            <!--<div class="modal-body">-->
                <!--<img class="no-padding img-responsive center-block"-->
                     <!--ng-src="{{view.fileSrc}}">-->
            <!--</div>-->
            <!--<div class="modal-footer">-->
                <!--<button class="btn btn-default" data-dismiss="modal">Close</button>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->