<form name="Form" class="form-horizontal">
    <div class="form-group">
        <label class="control-label col-xs-2">Title:</label>
        <div class="col-xs-4">
            <input class="form-control" ng-model="note.title">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-2">Note:</label>

        <div class="col-xs-8">
            <text-angular ta-toolbar="[['h2','h5', 'h6','quote'],
                              ['bold','italics','underline'],
                              ['justifyLeft','justifyCenter','justifyRight'], ['insertLink', 'insertImage']]"
                          ng-model="note.note">
            </text-angular>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-2"></label>
        <button validation-submit="Form" ng-click="save({note: note})"
                class="btn btn-xs btn-mini btn-primary">
            Save
        </button>
        <button class="btn btn-xs btn-mini btn-danger" ng-click="cancel({note: note})">Cancel</button>
    </div>
</form>
