<div class="form-group" ng-repeat="p in allProperties">
    <label class="col-sm-2 control-label">{{p.name}}</label>

    <div class="col-sm-4" ng-if="p.type === 'select'">
        <input class="input-small form-control" ng-model="p.value_name" ng-disabled="true" type="text">
    </div>
    <div class="col-sm-4" ng-if="p.type !== 'select'">
        <input class="input-small form-control" ng-model="p.value" ng-disabled="true" type="text">
    </div>
    <div class="col-sm-4">
        {{p.unit}}
    </div>
</div>
