<div class="row-fluid">
    <div class="span8">
        <div class="well">
            <div ng-if="doc.template_pick=='material'">
                <ng-include src="'application/directives/templates/mc-attributes-form/material.html'"></ng-include>
            </div>
            <form class="form-horizontal">
                <div df-properties default-properties="defaultProperties"></div>
                <hr align="left">

                <div ng-repeat="pv in additionalProperties">
                    <div class="control-group">
                        <label class="control-label">{{pv.name}}</label>

                        <div class="controls">
                            <span ng-if="pv.value_choice.length!=0">
                                 <select ng-model="pv.value">

                                     <option ng-repeat="val in pv.value_choice"> {{val}}
                                     </option>
                                 </select>
                            </span>
                            <span ng-if="pv.value_choice.length==0">
                                <input type="text" ng-model="pv.value">
                            </span>
                            <span ng-if="pv.unit_choice.length!=0">
                                <select style="width:80px" ng-model="pv.unit">
                                    <option ng-repeat="unit in pv.unit_choice"> {{unit}}
                                    </option>
                                </select>
                            </span>

                        </div>
                    </div>
                </div>


                <div class="control-group">
                    <label class="control-label">Additional Properties:</label>

                    <div class="controls">
                        <select ng-model="p_name">
                            <option ng-repeat="property in additionalProperties"
                                    value="{{property}}">
                                {{property.name}}
                            </option>
                        </select>
                        <button ng-click="addProperty()" class="btn">add</button>
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label">Add Custom Properties:</label>

                    <div class="controls">
                        <input ng-model="customProperty" placeholder="Custom property..."
                               type="text">
                        <button ng-click="addCustomProperty()" class="btn">add</button>
                    </div>
                </div>

                <button ng-disabled="!defaultProperties[0].value" ng-click="done()" class="btn btn-primary">{{ doneName }}
                </button>
            </form>

        </div>
    </div>
</div>