<div class="tree-row">
    <div ui-draggable="true" drag="item">
        <span ng-click="item.showDetails = !item.showDetails"
              style="cursor: pointer;">
            <i class="fa fa-fw"
               ng-class="{'fa-caret-right': item.type === 'datadir' && !item.showDetails, 'fa-caret-down': item.type === 'datadir' && item.showDetails}"></i>
            <i class="fa fa-fw fa-folder" style="color: #256188"
               ng-class="{'fa-folder': item.type === 'datadir', 'fa-file': item.type === 'datafile'}"></i>
            <span ng-if="item.type !== 'datafile'" data-toggle="tooltip" data-placement="top" title="{{item.fullname}}"
                  style="color: #389dc1"
                  ui-draggable="true" drag="item">{{::item.displayname}}</span>
            <span ng-if="item.type === 'datafile'"  title="{{item.fullname}}"
                  style="color: #389dc1"    ng-click="openFile(item)"
                  ui-draggable="true" drag="item">{{::item.displayname}}</span>
        </span>
        <span class="pull-right">
            <span ng-if="item.type === 'datafile'">
                <a ng-if="showSideboard"
                   ng-click="addToSideboard(item, $event)"
                   id="{{item.id}}">
                    <i class="fa fa-fw fa-clipboard inactive"></i>
                </a>

                <a title="{{tooltip}}"
                   ng-href="{{downloadSrc(item)}}"
                   download="{{item.name}}">
                    <i class="fa fa-fw" ng-class="faClass"></i>
                </a>
                <a ng-if="!showSideboard"
                   ng-click="addToSideboard(item, $event)">
                    <i class="fa fa-fw fa-close mc-danger"></i>
                </a>
            </span>
            <span style="padding-rightx: 13px;">
                <a title="New Folder" ng-click="item.addFolder = !item.addFolder">
                    <i ng-if="item.type === 'datadir'"
                       class="fa fa-fw fa-plus"></i>
                </a>
                <mc-flow-button dir="item" ng-if="item.type === 'datadir'"></mc-flow-button>
            </span>

        </span>

        <div class="row" ng-if="item.addFolder">
            <input type="text"
                   placeholder="Folder Name..."
                   on-enter="newFolder(item, name)"
                   ng-model="name">
            <button ng-click="newFolder(item, name);"
                    class="btn btn-xs btn-mini btn-success">
                add
            </button>
            <button ng-click="item.addFolder = false;"
                    class="btn btn-xs btn-mini btn-danger">
                cancel
            </button>
        </div>
    </div>
    <p>
        <span class="label label-info" ng-repeat="tag in ::item.tags" style="margin-right: 5px">
            <i class="fa"
               ng-class="'fa-' + tag.icon"
               style="color: {{tag.color}}">
            </i>
            {{::tag.name}}
        </span>
    </p>

    <p style="padding-left: 15px;" ng-if="item.type === 'datafile'">
        <button ng-if="isActive('files','addToReview')"
                class="btn btn-xs btn-mini btn-success"
                ng-click="addItem('review', item)">Add to review
        </button>
        <button ng-if="isActive('files', 'addToProv')"
                class="btn btn-xs btn-mini btn-success"
                ng-click="addItem('process', item)">Add to process
        </button>
    </p>
    <p ui-draggable="true" drag="item" style="padding-left: 15px;">
        <small ng-if="item.type === 'datafile'" class="text-muted" style="margin-right: 10px;">
            {{::item.size | bytes}}
        </small>
        <small class="text-muted" style="margin-right: 10px">
            {{::item.birthtime | toDateString}}
        </small>
    </p>
</div>
