<div>
    <ul class="list-unstyled">
        <li class="file-item"
            style="border-top: none; border-bottom: none;"
            ui-draggable="true"
            drag="child"
            ng-repeat="child in item.children | orderBy:'name' track by child.id">
            <div>
                <mc-tree-header item="child"></mc-tree-header>
                <div ng-if="child.showDetails" style="padding-left: 0px; padding-right: 0px;">
                    <div class="row" style="padding-left: 0px; padding-right: 0px;">
                        <div ng-if="child.type === 'datadir'">
                            <mc-tree-dir item="child"></mc-tree-dir>
                        </div>

                        <div ng-if="child.type === 'datafile'">
                            <mc-tree-leaf item="child"></mc-tree-leaf>
                        </div>
                    </div>
                </div>
            </div>
        </li>
    </ul>
</div>
