<div class="tree-row">
    <span ng-click="item.showDetails = !item.showDetails"
          style="cursor: pointer;">
        <i class="fa fa-fw"
           ng-class="{'fa-caret-right': item.type === 'datadir' && !item.showDetails, 'fa-caret-down': item.type === 'datadir' && item.showDetails}"></i>
        <i class="fa fa-fw fa-folder" style="color: #256188"
           ng-class="{'fa-folder': item.type === 'datadir', 'fa-file': item.type === 'datafile'}"></i>
        <span style="color: #389dc1" ui-draggable="true" drag="item" >{{::item.displayname}}</span>
    </span>
    <span class="pull-right" style="padding-right: 15px;">
        <span  ng-if="item.type === 'datafile'">
            <a  ng-if="showSideboard"
               ng-click="addToSideboard(item, $event)">
                <i class="fa fa-fw fa-clipboard inactive" id="{{item.id}}"></i>
            </a>

            <a title="{{tooltip}}"
               ng-href="{{downloadSrc(item)}}"
               download="{{item.name}}">
                <i class="fa fa-fw" ng-class="faClass"></i>
            </a>
            <a ng-if="!showSideboard"
               ng-click="addToSideboard(item, $event)">
                <i class="fa fa-fw fa-close mc-danger"></i>
            </a>
        </span>
        <mc-flow-button dir="item" ng-if="item.type === 'datadir'"></mc-flow-button>
    </span>

    <p>
        <span class="label label-info" ng-repeat="tag in ::item.tags" style="margin-right: 5px">
            <i class="fa"
               ng-class="'fa-' + tag.icon"
               style="color: {{tag.color}}">
            </i>
            {{::tag.name}}
        </span>
    </p>
    <p ui-draggable="true" drag="item"  style="padding-left: 15px;">
        <small ng-if="item.type === 'datafile'" class="text-muted" style="margin-right: 10px;">
            {{::item.size | bytes}}
        </small>
        <small class="text-muted" style="margin-right: 10px">
            {{::item.birthtime | toDateString}}
        </small>
        <small class="text-muted">
            {{::item.fullname}}
        </small>
    </p>
    <p>
        <button ng-if="isActive('files','addToReview')" class="btn btn-xs btn-mini btn-success" ng-click="addItem('review')">Add to review</button>
        <!--<button ng-if="isActive('samples','addToProvenance')" class="btn btn-xs btn-mini btn-success" ng-click="addItem('provenance')">Add to Provenance</button>-->
        <!--<button ng-if="isActive('samples','addToNote')" class="btn btn-xs btn-mini btn-success" ng-click="addItem('note')">Add to Note</button>-->
    </p>
</div>
