<div ng-show="treeOverview || treeActive">
    <div class="row">
        <a ng-click="backToFolder(trailitem)" ng-repeat="trailitem in trail">
            <i class="fa fa-folder trailspace"/><span>{{trailitem.displayname}} / </span>
        </a><br>
    </div>
    <div class="panel panel-default">
        <div ng-hide="checkBox" class="panel-heading file-heading">
            <span>Last update:....</span>
            <!-- Comment out because this will be added back in short term -->
            <!-- <a style="padding-right: 15px;color: black" class="pull-right"><i style="padding-right: 2px;" class="fa fa-bar-chart-o"></i>Compare </a>
            <a style="padding-right: 15px;color: black" class="pull-right"><i  style="padding-right: 2px;" class="fa fa-download"></i>Download </a>
            <a style="padding-right: 15px;color: black" class="pull-right"><i  style="padding-right: 2px;" class="fa fa-upload"></i>Upload </a> -->
            <a ui-sref="projects.provenance" class="pull-right prov-link action-link"><i class="fa fa-code-fork space-right"/>Add Provenance</a>
        </div>
        <!-- <div class="panel-body" style="padding: 5px;background-color: #389DC1">
        <div class="dropdown">
        <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
        View by <span class="caret"/>
        </button>
        <ul class="dropdown-menu" role="menu">
        <li><i class="fa fa-folder-open"> Directories</i></li>
        <li><i class="fa fa-suitecase"> Dataset abc</i></li>
        <li><i class="fa fa-suitecase"> Dataset def</i></li>
        </ul>
        </div>
        </div> -->
    </div>
    <div ng-show="loaded===false">
        <div class="row col-lg-offset-5">
            <p><i class="fa fa-spinner fa-spin fa-4x"></i> Loading...</p>
        </div>
    </div>
    <div ng-show="loaded===true">
        <table class="table  table-file-directory ">
            <tbody>
            <tr ng-repeat="entry in dir|orderBy:'displayname'" data-tt-id="{{t.c_id}}"
                data-tt-parent-id="{{t.parent_id}}"
                data-drop="true" data-jqyoui-options ng-model="list2" jqyoui-droppable>
                <td ng-show="checkBox" ng-if="entry.type==='datafile'">
                    <input ng-model="entry.selected" ng-click="fileSelected(entry)"
                           ng-change="entry.selected = !entry.selected" type="checkbox">
                    <a ng-click="populatePath(entry)"><i class="fa fa-file space-right"/>{{entry.displayname}}</a>
                </td>
                <td ng-if="entry.type=='datadir'">
                    <a ng-click="openFolder(entry)"><i class="fa fa-folder space-right"/>{{entry.displayname}}
                    </a>
                </td>
                <td ng-show="!checkBox" ng-if="entry.type=='datafile'">
                    <a ng-click="populatePath(entry)"><i class="fa fa-file space-right"/>{{entry.displayname}}</a>
                </td>
                <td ng-if="entry.type=='datafile'">{{entry.size}}</td>
                <td ng-if="entry.type=='datadir'">-</td>
                <td>{{entry.owner}}</td>
                <td>
                    <div class="dropdown">
                        <a role="button" data-toggle="dropdown"><i class="fa fa-gear"></i></a>
                        <ul class="dropdown-menu" role="menu">
                            <li ng-repeat="t in user_tags">
                                <span><i class="fa fa-tag space-right" style="color: {{t.color}}"></i><a
                                        ng-click="addTag(entry, t)" role="menuItem">{{t.name}}</a></span>
                            </li>
                        </ul>
                    </div>
                </td>
                <td class="tag-width" ng-repeat="t in entry.tags[user]">
                          <i tooltip="{{t.name}}" class="fa fa-tag" style="color: {{t.color}}"></i>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div ui-view=''></div>
</div>
