<h4 plus-minus-toggle="slidesample">
    <i class="fa fa-minus-square"></i>
    Sample
</h4>
<section id="slidesample">
    <display label="Name:"> {{sample.name}}</display>
    <display label="Description:">
        {{sample.description}}
    </display>
    <div ng-repeat="(name, vals) in sample.properties">
        <div ng-if="name==='composition'">
            <display label="{{name}}">
                <ul ng-repeat="c in vals.value">
                    <li>{{c.element}} - {{c.value}} {{p.unit}}</li>
                </ul>
            </display>
        </div>
        <div ng-if="name!=='composition'">
            <display label="{{name}}"> {{vals.value}}</display>
        </div>
    </div>
    <br>
</section>
