<cgrouprequired label="Name:">
    <input ng-model="doc.name" type="text" placeholder='name...' ng-disabled="edit" required>
</cgrouprequired>

<div ng-if="edit===false">
    <cgroup label="Notes:">
        <textarea class="span8" rows="4" placeholder="Notes..." ng-model="bk.new_note"/>
    </cgroup>
    <cgroup>
        <button ng-click="add_notes()" class="btn btn-info">Add</button>
    </cgroup>
</div>

<div ng-show="doc.notes.length > 0">
    <h5>Previous Notes:</h5>
    <table class="table">
        <thead>
        <th>Message</th>
        <th>Who</th>
        <th>Date Created</th>
        </thead>
        <tbody>
        <tr ng-repeat="note in doc.notes">
            <td>{{note.message}}</td>
            <td>{{note.who}}</td>
            <td>{{note.date}}</td>
        </tr>
        </tbody>
    </table>
</div>