<div class="row">
    <h4>{{property.name}} : </h4>
    <hr/>
    <div class="row">
        Unit:
        <input type="radio"
               value="at%" ng-model="property.unit"/>
        atomic %
        <input type="radio"
               value="wt%" ng-model="property.unit"/>
        weight %
    </div>
    <div class="row">
        <div class="col-xs-8">
            Choose Elements :
            <select  ng-change="addElement()" style="margin-bottom: 5px;" class="form-control"
                     ng-multiple="false"
                     ng-model="property.element">
                <option value=""></option>
                <option ng-repeat="ele in elements" value="{{ele.name}}" >
                    {{ele.name}} - {{ele.full_name}}
                </option>
            </select>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-6">
            <strong>Elements </strong> <br>
            <strong> (one entry per line) </strong><br>
            <textarea ng-model="property.value.elements" class="col-xs-10" rows="20"></textarea>
        </div>
        <div class="col-xs-6">
            <strong>Values</strong> <br>
            <strong>(one entry per line) </strong><br>
            <textarea ng-model="property.value.values" class="col-xs-10" rows="20"></textarea>
        </div>
    </div>
</div>

