<div>
    <h4>{{property.name}} : {{property.description}}</h4>
    <hr/>
    <div>
        <div class="col-xs-6">
            <strong>Categories</strong><br>
            <strong> (one entry per line) </strong><br>
            <textarea ng-model="property.value.categories" class="col-xs-10" rows="20"></textarea>
        </div>
        <div class="col-xs-6">
            <strong>Values</strong> <br>
            <strong> (one entry per line) </strong><br>
            <textarea ng-model="property.value.values" class="col-xs-10" rows="20"></textarea>
        </div>

    </div>
</div>