<div ng-controller="projectsProvenanceIOSteps">
    <div class="col-sm-8 col-md-8 row">
        <ul class="nav nav-tabs">
            <li ng-class="{'active' : isActiveStep(step)}" ng-repeat="step in steps">
                <a ng-click="showStep(step)">{{ step.name }}</a>
            </li>
        </ul>
        <form name="Form" class="form-horizontal">
            <div ui-view=""></div>
            <div class="row">
                <div class="col-sm-4 col-md-4">
                    <button ng-click="nextStep(Form)" class="btn btn-default btn-primary">Next</button>
                    <button ng-click="saveDraft(Form)" class="btn btn-default btn-success">Save Draft</button>
                </div>
                <div ng-show="message" class="col-sm-4 col-md-4">
                    <div class="alert alert-dismissable alert-info">
                        <button type="button" class="close" data-dismiss="alert">×</button>
                        {{message}}
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>