<div layout="column">
    <div layout="row">
        <md-button class="md-primary" ng-click="$ctrl.selectFiles()">
            <i class="fa fa-fw fa-plus"></i>
            files
        </md-button>
        <md-button class="md-primary" ng-click="$ctrl.selectSamples()">
            <i class="fa fa-fw fa-plus"></i>
            samples
        </md-button>
    </div>
    <div layout="column" flex="45">
        <process-settings2 settings="$ctrl.process.setup[0].properties"
                           attribute="$ctrl.process.setup[0].attribute"
                           template-id="$ctrl.process.template_id"
                           process-id="$ctrl.process.id">
        </process-settings2>
    </div>

    <mc-process-template-samples-list input-samples="$ctrl.process.input_samples"
                                      output-samples="$ctrl.process.output_samples">
    </mc-process-template-samples-list>

    <mc-process-template-files-list process="$ctrl.process">
    </mc-process-template-files-list>
</div>