<div layout="column" layout-margin layout-fill layout-wrap>
    <md-input-container class="md-block">
        <label>Process Name</label>
        <input type="text" name="stringInput"
               aria-label="Enter process name"
               ng-model-options="{updateOn: 'default blur', debounce:{default: 1000, blur: 0}}"
               ng-change="$ctrl.updateProcessName()"
               ng-model="$ctrl.process.name">
    </md-input-container>

    <label>Notes</label>
    <div md-whiteframe layout-margin>
        <div ckeditor="editorOptions"
             ng-model="$ctrl.process.description"
             ng-model-options="{updateOn: 'default blur', debounce:{default: 1000, blur: 0}}"
             ng-change="$ctrl.updateProcessDescription()"
             contenteditable="true">
            {{$ctrl.process.description}}
        </div>
    </div>

    <mc-process-template-create-samples ng-if="$ctrl.process.category === 'create_sample'"
                                        process="$ctrl.process"
                                        on-change="$ctrl.onChange()"></mc-process-template-create-samples>

    <mc-process-template-sectioning ng-if="$ctrl.process.template_name === 'Sectioning'"
                                    process="$ctrl.process"
                                    on-change="$ctrl.onChange()">
    </mc-process-template-sectioning>


    <mc-process-template-other
            ng-if="$ctrl.process.category !== 'create_sample' && $ctrl.process.template_name !== 'Sectioning'"
            process="$ctrl.process"
            on-change="$ctrl.onChange()">
    </mc-process-template-other>
</div>
