<md-tabs md-selected="$ctrl.currentTab" md-dynamic-height md-border-bottom>
    <md-tab>
        <md-tab-label>Setup</md-tab-label>
        <md-tab-body>
            <div layout="column" class="margin-top-10">
                <process-settings2 settings="$ctrl.process.setup[0].properties"
                                   attribute="$ctrl.process.setup[0].attribute"
                                   process-id="$ctrl.process.id"
                                   template-id="$ctrl.process.template_id">
                </process-settings2>
            </div>
        </md-tab-body>
    </md-tab>

    <md-tab>
        <md-tab-label>Samples</md-tab-label>
        <md-tab-body>
            <md-button class="md-primary" ng-click="$ctrl.selectSamples()"
                       ng-disabled="$ctrl.process.input_samples.length === 1">
                <i class="fa fa-fw fa-plus"></i>
                Set input sample
            </md-button>
            <mc-process-template-samples-list process="$ctrl.process"></mc-process-template-samples-list>
        </md-tab-body>

    </md-tab>

    <md-tab>
        <md-tab-label>Sections</md-tab-label>
        <md-tab-body>
            <div layout="column">
                <div layout="row" layout-align="start center">
                    <h4 class="md-title">Sections ({{$ctrl.filterOutputSamples().length}})</h4>
                    <md-button class="md-primary" ng-disabled="!$ctrl.process.input_samples.length"
                               ng-click="$ctrl.addSample()">
                        Add Section
                    </md-button>
                    <md-button class="md-primary" ng-disabled="!$ctrl.process.input_samples.length"
                               ng-click="$ctrl.addMultipleSamples()">
                        Add Multiple Sections
                    </md-button>
                </div>
                <p>
                    The names of the sections that you are creating will appear below. All sections will share the same
                    setup
                    properties.
                </p>
                <md-content style="maxx-height:20vh; minx-height:5vh">
                    <div ng-repeat="sample in $ctrl.filterOutputSamples()">
                        <div layout="row">
                            <label>{{::$index+1}}.</label>
                            <input type="text" class="mc-input-as-line"
                                   flex="85" ng-model="sample.name"
                                   ng-model-options="{updateOn: 'default blur', debounce:{default: 1000, blur: 0}}"
                                   ng-change="$ctrl.updateSampleName(sample)"
                                   on-enter="$ctrl.addSample()"
                                   placeholder="Untitled Sample..." id="{{::sample.id}}">
                            <a class="mc-error-color margin-top-10" ng-click="$ctrl.remove($index)">
                                <i class="fa fa-fw fa-remove"></i>
                            </a>
                        </div>
                    </div>
                </md-content>
            </div>
        </md-tab-body>
    </md-tab>

    <md-tab>
        <md-tab-label>Files</md-tab-label>
        <md-tab-body>
            <div layout="row">
                <md-button class="md-primary" ng-click="$ctrl.selectFiles()">
                    <i class="fa fa-fw fa-plus"></i>
                    files
                </md-button>
            </div>
            <mc-process-template-files-list process="$ctrl.process"></mc-process-template-files-list>
        </md-tab-body>
    </md-tab>

    <md-tab>
        <md-tab-label>Composition</md-tab-label>
        <md-tab-body>
            <div layout="column" class="margin-top-10">
                <process-measurements measurements="$ctrl.process.measurements"
                                      samples="$ctrl.process.output_samples"
                                      process-id="$ctrl.process.id"
                                      template="$ctrl.process">
                </process-measurements>
            </div>
        </md-tab-body>
    </md-tab>

</md-tabs>