<div layout="column" flex="100">
    <md-toolbar style="background-color:white" flex="100">
        <div layout="row" layout-align="start center"
             style="background-color:#e9e9e9; padding-left:8px; padding-right:8px">
            <md-input-container md-no-float style="margin-top: 5px; margin-bottom:5px">
                <input type="text" ng-model="$ctrl.query" placeholder="SEARCH...">
                <md-icon md-font-icon="fa-search" class="fa"
                         style="display:inline-block; color:grey; bottom: 23px"></md-icon>
            </md-input-container>
            <span flex></span>
            <a ng-click="$ctrl.showTableView = true" ng-if="false"
               ng-style="!$ctrl.showTableView && {'color': 'black'}">
                <i class="fa fa-fw fa-th-list" style="margin-bottom: 15px"></i>
            </a>
            <a ng-click="$ctrl.showTableView = false" ng-if="false"
               ng-style="$ctrl.showTableView && {'color': 'black'}">
                <i class="fa fa-fw fa-th" style="margin-bottom: 15px"></i>
            </a>
        </div>
        <div layout="row" layout-align="space-between center"
             style="color: black;background-color:#f4f5f7; padding-left:8px;padding-right:8px">
            <h3 class="md-title" style="color:black">SAMPLES</h3>
            <md-button ng-if="$ctrl.experimentId" class="md-primary md-raised" ng-click="$ctrl.newSamples()">
                <i class="fa fa-fw fa-plus"></i> New Samples
            </md-button>
        </div>
    </md-toolbar>
    <div layout="row" layout-align="center stretch">
        <md-content flex layout="column">
            <div ng-if="$ctrl.showTableView">
                <mc-project-samples-table samples="$ctrl.samples"
                                          filter-by="$ctrl.query">
                </mc-project-samples-table>
            </div>
            <div ng-if="!$ctrl.showTableView">
                Show card view
            </div>
        </md-content>
    </div>
</div>
