<div>
    <md-table-container>
        <table md-table>
            <thead md-head md-order="$ctrl.sortOrder">
            <tr md-row>
                <th md-column md-order-by="name">Sample</th>
                <!--<th md-column>Description</th>-->
                <!--<th md-column>Composition</th>-->
                <th md-column md-order-by="mtime.epoch_time">Modified</th>
                <th md-column md-order-by="files.length"># Files</th>
                <th md-column md-order-by="processes.length"># Processes</th>
            </tr>
            </thead>
            <tbody md-body>
            <tr md-row class="md-row-hover pointer"
                ng-repeat="sample in $ctrl.samples | filter:$ctrl.filterBy | orderBy:$ctrl.sortOrder">
                <td md-cell>
                    <a class="md-primary" ng-click="$ctrl.showSample(sample)">{{sample.name}}</a>
                </td>
                <!--<td md-cell style="width: 20%">-->
                    <!--{{sample.description}}-->
                <!--</td>-->
                <!--<td md-cell>-->
                    <!--Unknown-->
                <!--</td>-->
                <td md-cell>
                    {{sample.mtime | toDate}}
                </td>
                <td md-cell>
                    {{sample.files.length}}
                </td>
                <td md-cell>
                    {{sample.processes.length}}
                </td>
            </tr>
            </tbody>
        </table>
    </md-table-container>
</div>