<div layout="row" flex="100" style="height:110vh">
    <div layout="column" flex>
        <div ng-if="!$ctrl.sharingOn" layout="row">
            <md-button class="md-primary md-raised" ng-click="$ctrl.toggleSidenav()">create project</md-button>
            <md-button class="md-primary md-raised" ng-click="$ctrl.sharingOn = true">share</md-button>
        </div>
        <div ng-if="$ctrl.sharingOn" layout="row">
            <md-button class="md-primary md-raised" ng-click="$ctrl.gotoSharing()">done</md-button>
            <md-button class="md-warn md-raised" ng-click="$ctrl.cancelSharing()">cancel</md-button>
        </div>
        <div ng-if="$ctrl.sharingOn" layout="row" layout-margin>
            <p class="md-headline">Select {{$ctrl.maxSharedProjects}} projects. Click done when you have chosen the
                projects you want to
                share between.</p>
        </div>
        <div layout="row" flex style="max-height: 80vh">
            <md-content layout="row" layout-wrap layout-align="start stretch" flex>
                <div flex="25" flex-md="33" flex-sm="60"
                     ng-repeat="project in $ctrl.projects | orderBy:'name'">
                    <md-card class="md-primary project-card"
                             ng-class="{'project-selected': $ctrl.sharingOn && project.selected}">
                        <md-card-header ng-click="$ctrl.openProject(project)"
                                        class="cursor-pointer md-mc-project-card-header">
                            <md-card-avatar>
                            <span class="fa-stack fa-lg">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-bars fa-stack-1x fa-inverse"></i>
                            </span>
                            </md-card-avatar>
                            <md-card-header-text>
                                <span class="md-title">{{project.name | truncate:40:'...'}}</span>
                                <span class="md-subhead">{{project.owner | truncate:40:'...'}}</span>
                            </md-card-header-text>
                        </md-card-header>
                        <img ng-if="project.image" ng-src="{{project.image}}" class="md-card-image">
                        <md-card-actions layout="row" layout-align="start center">
                            <md-button class="md-primary" ui-sref="project.settings({project_id: project.id})">
                                Manage Access
                            </md-button>
                            <span flex></span>
                        <span class="md-subhead" layout="row" flex="60" layout-align="space-between center">
                            <span><i class="fa fa-fw fa-code-fork"></i>{{project.processes.length | number}}</span>
                            <span><i class="fa fa-fw fa-cubes"></i>{{project.samples.length | number}}</span>
                            <span><i class="fa fa-fw fa-files-o"></i>{{project.file_count | number}}</span>
                        </span>
                        </md-card-actions>
                    </md-card>
                </div>
            </md-content>
        </div>
        <md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="createProject">
            <md-content layout-padding>
                <form>
                    <md-input-container md-no-float>
                        <label for="projectName">Project Name</label>
                        <input type="text" id="projectName" md-autofocus ng-model="$ctrl.newProjectName">
                    </md-input-container>
                    <md-input-container md-no-float>
                        <label for="projectDescription">Project Description</label>
                        <textarea rows=10 id="projectDescription" ng-model="$ctrl.newProjectDescription"></textarea>
                        <md-button class="md-primary" ng-click="$ctrl.create()">create</md-button>
                        <md-button class="md-warn" ng-click="$ctrl.cancel()">cancel</md-button>
                    </md-input-container>
                </form>
            </md-content>
        </md-sidenav>
    </div>
</div>