<div ng-controller="provenanceProcess">
    <form class="form-horizontal">
        <div class="row-fluid">
            <fieldset>
                <legend>Process</legend>
                <label>Process Type: </label>
                <select ng-model="bk.process_type"
                        ng-options="p.template_name for p in process_templates|orderBy:'template_name'">
                    <option value="">Select Process Type:</option>
                </select>
                <label>Process: {{ process.template.template_name }}</label>
            </fieldset>
        </div>
        <div class="row-fluid">
            <div ng-show="bk.process_type">
                <hr>
                <fieldset>
                    <legend>Default Properties</legend>
                    <div df-properties default-properties="process.default_properties"></div>
                    <cgroup label="Machine:">
                        <select ng-model="process.machine"
                                ng-options="mach.name for mach in machines_list">
                        </select>
                    </cgroup>
                    <cgroup label="Notes:">
                        <textarea class="span8" rows="4" placeholder="Notes..." ng-model="bk.new_note"/>
                    </cgroup>
                    <cgroup>
                        <button ng-click="add_notes()" ng-disabled="!bk.new_note" class="btn btn-info">Add</button>
                    </cgroup>
                    <div ng-show="process.notes.length > 0">
                        <h5>Previous Notes:</h5>
                        <table class="table">
                            <thead>
                            <th>Message</th>
                            <th>Who</th>
                            <th>Date Created</th>
                            </thead>
                            <tbody>
                            <tr ng-repeat="note in process.notes">
                                <td>{{note.message}}</td>
                                <td>{{note.who}}</td>
                                <td>{{note.date}}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>

                    <div ng-if="process.template.template_pick=='experiment'">
                        <cgroup label="Run Date">
                            <datepicker ng-model='process.experiment_run_date'></datepicker>
                        </cgroup>

                    </div>
                    <div ng-if="process.template.template_pick=='computation'">
                        <cgroup label="Start:">
                            <datepicker ng-model='bk.start_run'></datepicker>
                        </cgroup>
                        <cgroup label="Stop:">
                            <datepicker ng-model='bk.stop_run'></datepicker>
                        </cgroup>
                        <cgroup label="Errors:">
                            <textarea class="span8" rows="4" placeholder="Errors..."
                                      ng-model="bk.new_err_msg"></textarea>
                        </cgroup>
                        <cgroup>
                            <button ng-click="add_run()" ng-disabled="!bk.start_run" class="btn btn-info">Add</button>
                        </cgroup>
                        <div ng-show="process.runs.length > 0">
                            <h5>Previous Runs:</h5>
                            <table class="table">
                                <thead>
                                <th>Start</th>
                                <th>End</th>
                                <th>Error Message</th>
                                </thead>
                                <tbody>
                                <tr ng-repeat="run in process.runs">
                                    <td>{{run.started | date:'medium'}}</td>
                                    <td>{{run.stopped | date:'medium'}}</td>
                                    <td>{{run.error_messages}}
                                        <button type="button" class="close"
                                                ng-click="remove_run($index);">&times;</button>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </fieldset>

                <hr align="left">
                <fieldset>
                    <legend>Added Properties:</legend>
                    <div ad-properties added-properties="process.model.added_properties"></div>

                    <div ng-show="process.template.additional_properties.length > 0" class="control-group">
                        <label class="control-label">Additional Properties:</label>

                        <div class="controls">
                            <select ng-model="additionalProperty">
                                <option ng-repeat="property in process.template.additional_properties"
                                        value="{{property}}">
                                    {{property.name}}
                                </option>
                            </select>
                            <button ng-click="addAdditionalProperty()" class="btn btn-info">Add</button>
                        </div>
                    </div>

                    <div class="control-group">
                        <label class="control-label">Custom Properties:</label>

                        <div class="controls">
                            <input ng-model="customPropertyName" placeholder="Name..." type="text">
                            <input ng-model="customPropertyValue" placeholder="Value..." type="text">
                            <button ng-click="addCustomProperty()" class="btn btn-info">Add</button>
                        </div>
                    </div>
                </fieldset>
            </div>
        </div>
        <div class="row-fluid">
            <div class="span4">
                <button ng-click="next()" ng-disabled="!process.name" class="btn btn-primary">Next</button>
                <button ng-click="saveDraft()" class="btn btn-success">Save Draft</button>
            </div>
            <div ng-show="message" class="span4">
                <div class="alert alert-dismissable alert-info">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    {{message}}
                </div>
            </div>

        </div>
    </form>

</div>
