<div ng-controller="provenanceProcess">
    <form name="Form" class="form-horizontal">
        <div class="row-fluid">
                <legend>Process</legend>
                <cgroup label="Process Type:">
                    <select ng-model="bk.process_type"
                            ng-options="p.template_name for p in process_templates|orderBy:'template_name'">
                        <option value="">Select Process Type:</option>
                    </select>
                </cgroup>
                <label>Selected Process: {{ process.template.template_name }}</label>
        </div>
        <div class="row-fluid">
            <div ng-show="bk.process_type">
                <hr>
                <div process-view process="process" addnotes-fn="add_notes()" addruns-fn="add_run()"  bk="bk" edit="false"></div>
                    <!--<cgroup label="Machine:">-->
                        <!--<select ng-model="process.machine"-->
                                <!--ng-options="mach.name for mach in machines_list">-->
                        <!--</select>-->
                    <!--</cgroup>-->
                <hr align="left">
                <fieldset>
                    <legend>Added Properties</legend>
                    <div ad-properties added-properties="process.added_properties"></div>

                    <div ng-show="process.template.additional_properties.length > 0" class="control-group">
                        <label class="control-label">Additional Properties:</label>
                        <div class="controls">
                            <select ng-model="additionalProperty">
                                <option ng-repeat="property in process.template.additional_properties"
                                        value="{{property}}">
                                    {{property.name}}
                                </option>
                            </select>
                            <button ng-click="addAdditionalProperty()" class="btn btn-info">Add</button>
                        </div>
                    </div>

                    <div class="control-group">
                        <label class="control-label">Custom Properties:</label>

                        <div class="controls">
                            <input ng-model="customPropertyName" placeholder="Name..." type="text">
                            <input ng-model="customPropertyValue" placeholder="Value..." type="text">
                            <button ng-click="addCustomProperty()" class="btn btn-info">Add</button>
                        </div>
                    </div>
                </fieldset>
            </div>
        </div>
        <div class="row-fluid">
            <div class="span4">
                <button ng-click="next(Form)" class="btn btn-primary">Next</button>
                <button ng-click="saveDraft(Form)" class="btn btn-success">Save Draft</button>
            </div>
            <div ng-show="message" class="span4">
                <div class="alert alert-dismissable alert-info">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    {{message}}
                </div>
            </div>

        </div>
    </form>

</div>
