<div ng-controller="provenanceProcess">
    <form name="Form" class="form-horizontal">
        <div class="row">
            <legend>Process</legend>
            <cgroup label="Process Type:">
                <select class="form-control" ng-model="bk.process_type" ng-options="p.template_name for p in process_templates|orderBy:'template_name'">
                    <option value="">Select Process Type:</option>
                </select>
            </cgroup>
        </div>
        <div class="row">
            <div ng-show="bk.process_type">
                <div upperlevel-process="" doc="doc" bk="bk" edit="false"></div>
                <div df-properties="" default-properties="doc.default_properties" machines-list="machines_list"></div>
                <div ad-properties="" doc="doc" additional-properties="doc.template.additional_properties" edit="false" bk="bk"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4 col-md-4">
                <button ng-click="next(Form)" class="btn btn-default btn-primary">Next</button>
                <button ng-click="saveDraft(Form)" class="btn btn-default btn-success">Save Draft</button>
            </div>
            <div ng-show="message" class="col-sm-4 col-md-4">
                <div class="alert alert-dismissable alert-info">
                    <button type="button" class="close" data-dismiss="alert">×</button>
                    {{message}}
                </div>
            </div>
        </div>
    </form>
</div>