<div class="jumbotron custom">
    <div class="container">
        <div class="row">
            <div class="col-xs-8 col-sm-offset-1">
                <p class="title">Search for public data</p>
                <mcpub-searchbar></mcpub-searchbar>
            </div>
        </div>
    </div><!-- /container -->
</div><!-- /Jumbotron -->

<div class="container">
    <div class="row">
        <div class="col-sm-9" style="margin-bottom: 20px;">
            <h4>Welcome to <strong>Materials Commons Data</strong>, a platform for sharing research data.</h4>
        </div>
        <div class="col-sm-9" style="border-right: 1px solid #cfcfcf;">
            <home-tab-directive></home-tab-directive>
        </div>
        <div class="col-sm-3">
            <div class="row">
                <div class="col-sm-12">
                    <h4 class="text-uppercase title">Popular Tags</h4>
                    <tags-input ng-model="home.tags"
                                display-property="id"
                                key-property="id"
                                template="my-custom-template"
                                replace-spaces-with-dashes="false"
                                placeholder="{{home.tagPlaceholder}}"
                                disabled="true"
                                on-tag-clicked="home.viewTagResults($tag)">
                    </tags-input>
                    <script type="text/ng-template" id="my-custom-template">
                        <div class="tag-template">
                            <div>{{data.id}} ({{data.count}})</div>
                        </div>
                    </script>
                </div>
            </div>
            <br><br>
            <div class="row">
                <div class="col-sm-12">
                    <h4 class="text-uppercase title">Browse</h4>
                    <ul class="list-group browse">
                        <li class="list-group-item borderless"><a
                                ui-sref="browse.datasets">Datasets </a><span
                                class="badge pull-right theme">{{home.count_datasets}}</span></li>
                        <li ng-if="false" class="list-group-item borderless"><a
                                ui-sref="browse.authors">Authors </a><span
                                class="badge">{{home.count_authors}}</span></li>
                        <li ng-if="false" class="list-group-item borderless"><a
                                ui-sref="browse.processtypes">Process Types</a>
                            <span class="badge">{{}}</span></li>
                        <li class="list-group-item borderless"><a
                                ui-sref="browse.tags">Tags </a>
                            <span class="badge">{{home.count_tags}}</span></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
