label{
  font-weight: normal;
  margin-bottom: 0px;
}

.text-light{
  color: grey;
}

.jumbotron.custom{
  background-color: $orange;
  //margin-top: 50px;
}

.nav.nav-tabs{
  li{
    a{
      color: $orange;
      font-weight: bold;
    }
  }
}

.theme{
  color: $orange;
}

hr{
  border-color: $divider;
  margin-top: 10px;
}

.form-group{
  margin-bottom: 5px;
}


a:hover{
  cursor: pointer;
}





