<div layout="column" layout-margin>
    <div ng-if="ctrl.selectedProcess !== null" layout="row" layout-align="start space-around" flex>
        <span class="md-subhead padding-right-30" ng-if="ctrl.processFilter !== null">
            Showing samples from selected process ({{ctrl.selectedProcess.name}})
        </span>
        <span class="md-subhead padding-right-30" ng-if="ctrl.processFilter === null">
            Showing all samples in project
        </span>
        <md-checkbox aria-label="Show all processes" ng-model="ctrl.showAllProcesses" ng-change="ctrl.toggleAllSamples()">
            Show all samples in project
        </md-checkbox>
    </div>
    <input type="text" placeholder="Filter samples..."
           class="mc-input-as-line" ng-model="ctrl.filterBy">
    <md-table-container ng-if="ctrl.samples.length">
        <table md-table ng-model="ctrl.selected">
            <thead md-head>
            <tr md-row>
                <th md-column>Sample</th>
                <th md-column>Transforming Process</th>
                <th md-column>Process Template</th>
                <th md-column>Create On</th>
            </tr>
            </thead>
            <tbody md-body>
            <tr md-row
                ng-repeat-start="sample in ctrl.samples | filter:ctrl.processFilter | filter:ctrl.filterBy | orderBy:'name'">
                <td md-cell>
                    {{sample.name}}
                </td>
                <td md-cell></td>
                <td md-cell></td>
                <td md-cell></td>
            </tr>
            <tr md-row ng-repeat-end
                ng-repeat="sampleps in sample.versions | orderBy:'birthtime'">
                <td md-cell>
                </td>
                <td md-cell>
                    <md-checkbox ng-model="sampleps.selected" aria-label="selected"
                                 aria-label="Select sample from process"
                                 ng-change="ctrl.onChange(sampleps.selected)">
                    </md-checkbox>
                    <md-button class="md-primary" ng-click="ctrl.showProcess(sampleps)">{{sampleps.name}}</md-button>
                </td>
                <td md-cell>{{sampleps.template_name}}</td>
                <td md-cell>{{sampleps.birthtime | toDateString}}</td>
            </tr>
            </tbody>
        </table>
    </md-table-container>
    <span ng-if="!ctrl.samples.length">No samples</span>
</div>
