<md-dialog flex>
    <md-toolbar layout="row">
        <div layout-margin>
            <h3>Select Items</h3>
        </div>
    </md-toolbar>
    <md-dialog-content layout-margin>
        <md-tabs md-selected="$ctrl.currentTab" class="" md-dynamic-height md-border-bottom>
            <md-tab ng-repeat="tab in $ctrl.tabs" ng-click="$ctrl.setActive(tab.name)">
                <md-tab-label>
                    <i class="fa fa-fw" ng-class="tab.icon"></i> {{tab.name}}
                </md-tab-label>
                <md-tab-body>
                    <div ng-if="$ctrl.isActive('samples')">
                        <select-items-samples samples="$ctrl.samples" options="$ctrl.options"></select-items-samples>
                    </div>
                    <div ng-if="$ctrl.isActive('processes')">
                        <select-items-processes processes="$ctrl.processes"></select-items-processes>
                    </div>
                    <div ng-if="$ctrl.isActive('file tree')">
                        <mc-files-select project="$ctrl.project"></mc-files-select>
                    </div>
                    <div ng-if="$ctrl.isActive('file table')">
                        <mc-files-table-select files="$ctrl.files"></mc-files-table-select>
                    </div>
                    <div ng-if="$ctrl.isActive('Upload Files')">
                        <mc-process-file-upload
                                on-upload-complete="$ctrl.uploadComplete(fileIds)"></mc-process-file-upload>
                    </div>
                </md-tab-body>
            </md-tab>
        </md-tabs>
    </md-dialog-content>
    <md-dialog-actions layout="row">
        <md-button class="md-warn md-raised" ng-click="$ctrl.cancel()">Cancel</md-button>
        <md-button class="md-primary md-raised" ng-click="$ctrl.ok()">OK</md-button>
    </md-dialog-actions>
</md-dialog>