<div layout="column" flex="100" layout-margin>
    <p class="md-headline">
        Select your default project. This is the project that the system will open
        when you login. If the project has experiments you can also select a default experiment
        in that project to open.
    </p>
    <div layout="row" layout-align="start center">
        <label flex="20" style="margin-right: 15px">Default Project</label>
        <md-select ng-model="$ctrl.defaultProject" flex="30"
                   ng-change="$ctrl.updateDefaultProjectSettings()"
                   aria-label="projects">
            <md-option ng-repeat="project in $ctrl.projects" ng-value="project">
                {{project.name}}
            </md-option>
        </md-select>
    </div>
    <div layout="row" layout-align="start center" ng-show="$ctrl.defaultProject !== '' && $ctrl.defaultProject.experiments.length">
        <label flex="20" style="margin-right: 15px">Default Experiment</label>
        <md-select ng-model="$ctrl.defaultExperiment" flex="30"
                   ng-change="$ctrl.updateDefaultProjectSettings()"
                   aria-label="experiments">
            <md-option ng-repeat="experiment in $ctrl.defaultProject.experiments" ng-value="experiment">
                {{experiment.name}}
            </md-option>
        </md-select>
    </div>
</div>