<div ng-controller="projectsDataEditNotes">

    <div class="row">
        <h4>Note</h4>
        <text-angular ta-toolbar="[['h1','h2','h3', 'h4', 'h5', 'h6','p', 'quote'],
        ['bold','italics','underline','ul','ol'],['undo', 'redo','clear'],
        ['justifyLeft','justifyCenter','justifyRight'], ['insertLink', 'insertImage']]"
                      ng-model="model.new_note"></text-angular>
        <br>
        <button ng-click="add_notes()" class="btn btn-default btn-primary">Enter</button>
    </div>
    <div class="row">
        <div>
            <h4>Previous notes:</h4>

            <div ng-repeat="n in doc.notes | orderBy: date">
                <div ta-bind ng-model="n.message"></div>
                <div style="font-size: 12px;">
                    {{n.date}} ---{{n.who}}
                </div>
                <hr/>
            </div>
        </div>
    </div>

</div>
