<div layout="column" style="padding-top: 40px">
    <md-input-container>
        <label>Directory to upload to</label>
        <md-select ng-model="$ctrl.dir.data"
                   aria-label="dirs">
            <md-option ng-repeat="dir in $ctrl.dirs"
                       ng-value="dir">
                {{dir.name}}
            </md-option>
        </md-select>
    </md-input-container>
    <mc-flow-button dir="$ctrl.dir"></mc-flow-button>
    <div ng-if="$ctrl.hasUploads()">
        <mc-file-uploads reset-files="false"></mc-file-uploads>
    </div>
</div>