<div layout="column" style="padding-top: 40px">
    <md-input-container>
        <label>Directory to upload to</label>
        <md-select ng-model="$ctrl.dir.data"
                   aria-label="dirs">
            <md-option ng-repeat="dir in $ctrl.dirs"
                       ng-value="dir">
                {{dir.name}}
            </md-option>
        </md-select>
    </md-input-container>
    <mc-file-uploader project-id="$ctrl.projectId"
                      directory-id="$ctrl.dir.data.id"
                      path="$ctrl.dir.data.name"
                      on-upload-complete="$ctrl.uploadComplete(files)">
    </mc-file-uploader>
</div>