<div layout="column">
    <div layout="row" layout-align="space-between center">
        <h3 class="md-title">
            Sample: {{$ctrl.sample.name}}

        </h3>
        <a class="md-subhead" ng-click="$ctrl.showJson()">show json</a>
    </div>

    <div layout="column">
        <md-content>
            <mc-files-table files="$ctrl.sample.files"></mc-files-table>
            <h3 class="md-subhead">Process Timeline</h3>
            <timeline>
                <timeline-event ng-repeat="process in $ctrl.sample.processesInTimeline"
                                ng-click="$ctrl.showProcess(process)"
                                class="pointer">
                    <timeline-badge class="mc-md-primary-bg fa fa-2x fa-code-fork timeline-hidden"
                                    style="padding-top: 10px"
                                    side="right"></timeline-badge>
                    <timeline-panel>
                        <timeline-heading>
                            <h4 class="md-subhead">{{process.name}}</h4>
                            <span class="mc-md-primary-color">{{process.birthtime | toDate}}</span>
                            <p>{{process.description}}</p>
                        </timeline-heading>
                    </timeline-panel>
                </timeline-event>
            </timeline>
        </md-content>
    </div>
</div>
