<section>
    <div class="row">
        <a class="col-xs-offset-1" ng-click="ctrl.showGuide = !ctrl.showGuide">
            <span ng-if="!ctrl.showGuide">Show Guide</span>
            <span ng-if="ctrl.showGuide">Hide Guide</span>
        </a>
        <div ng-if="ctrl.showGuide" class="col-xs-offset-1">
            <div class="row">
                <ul class="list-inline">
                    <li class="element-chosen">Element Chosen</li>
                    <li class="element-other-nonmetal">Other nonmetals</li>
                    <li class="element-alkali-metal">Alkali metals</li>
                    <li class="element-alkaline-earth-metal">Alkaline earth metals</li>
                </ul>
            </div>
            <div class="row">
                <ul class="list-inline">
                    <li class="element-noble-gas">Noble gases</li>
                    <li class="element-metalloid">Metalloids</li>
                    <li class="element-halogen">Halogens</li>
                    <li class="element-transition-metal">Transition metals</li>
                </ul>
            </div>
            <div class="row">
                <ul class="list-inline">
                    <li class="element-post-transition-metal">Post-transition metals</li>
                    <li class="element-lanthanoid">Lanthanoids</li>
                    <li class="element-actinoid">Actinoids</li>
                </ul>
            </div>
        </div>
        <div ng-if="!ctrl.composition.value.length" class="col-xs-offset-2">
            <h4>Choose base element</h4>
        </div>
    </div>
    <div class="row">
        <div id="container">
            <div class="panelOne">
                <div class="box"
                     ng-class="ctrl.getElementColor(p)"
                     ng-click="ctrl.addElement(p)"
                     ng-repeat="p in ::ctrl.panel_one_elements">
                    {{::p.e}}
                </div>
            </div>
            <div class="panelTwo">
                <div class="box"
                     ng-class="ctrl.getElementColor(p)"
                     ng-click="ctrl.addElement(p)"
                     ng-repeat="p in ::ctrl.panel_two_elements">
                    {{::p.e}}
                </div>
            </div>
            <div class="panelThree">
                <div class="box"
                     ng-class="ctrl.getElementColor(p)"
                     ng-click="ctrl.addElement(p)"
                     ng-repeat="p in ::ctrl.panel_three_elements">
                    {{::p.e}}
                </div>
            </div>
            <div class="panelThree">
                <div class="box"
                     ng-class="ctrl.getElementColor(p)"
                     ng-click="ctrl.addElement(p)"
                     ng-repeat="p in ::ctrl.panel_three_1_elements">
                    {{::p.e}}
                </div>
            </div>
            <div class="panelThree">
                <div class="box"
                     ng-class="ctrl.getElementColor(p)"
                     ng-click="ctrl.addElement(p)"
                     ng-repeat="p in ::ctrl.panel_three_2_elements">
                    {{::p.e}}
                </div>
            </div>
            <div class="panelThree">
                <div class="box"
                     ng-class="ctrl.getElementColor(p)"
                     ng-click="ctrl.addElement(p)"
                     ng-repeat="p in ::ctrl.panel_three_3_elements">
                    {{::p.e}}
                </div>
            </div>
            <div class="panelThree">
                <div class="box"
                     ng-class="ctrl.getElementColor(p)"
                     ng-click="ctrl.addElement(p)"
                     ng-repeat="p in ::ctrl.panel_three_4_elements">
                    {{::p.e}}
                </div>
            </div>
            <div class="panelThree">
                <div class="box"
                     ng-class="ctrl.getElementColor(p)"
                     ng-click="ctrl.addElement(p)"
                     ng-repeat="p in ::ctrl.panel_three_5_elements">
                    {{::p.e}}
                </div>
            </div>
            <div class="panelThree">
                <div class="box"
                     ng-class="ctrl.getElementColor(p)"
                     ng-click="ctrl.addElement(p)"
                     ng-repeat="p in ::ctrl.panel_three_6_elements">
                    {{::p.e}}
                </div>
            </div>
            <div class="panelThree">
                <div class="box"
                     ng-class="ctrl.getElementColor(p)"
                     ng-click="ctrl.addElement(p)"
                     ng-repeat="p in ::ctrl.panel_three_7_elements">
                    {{::p.e}}
                </div>
            </div>
            <div class="panelThree">
                <div class="box"
                     ng-class="ctrl.getElementColor(p)"
                     ng-click="ctrl.addElement(p)"
                     ng-repeat="p in ::ctrl.panel_three_8_elements">
                    {{::p.e}}
                </div>
            </div>
            <div class="panelThree">
                <div class="box"
                     ng-class="ctrl.getElementColor(p)"
                     ng-click="ctrl.addElement(p)"
                     ng-repeat="p in ::ctrl.panel_three_9_elements">
                    {{::p.e}}
                </div>
            </div>
            <div class="panelTwo">
                <div class="box"
                     ng-class="ctrl.getElementColor(p)"
                     ng-click="ctrl.addElement(p)"
                     ng-repeat="p in ::ctrl.panel_two_1_elements">
                    {{::p.e}}
                </div>
            </div>
            <div class="panelTwo">
                <div class="box"
                     ng-class="ctrl.getElementColor(p)"
                     ng-click="ctrl.addElement(p)"
                     ng-repeat="p in ::ctrl.panel_two_2_elements">
                    {{::p.e}}
                </div>
            </div>
            <div class="panelTwo">
                <div class="box"
                     ng-class="ctrl.getElementColor(p)"
                     ng-click="ctrl.addElement(p)"
                     ng-repeat="p in ::ctrl.panel_two_3_elements">
                    {{::p.e}}
                </div>
            </div>
            <div class="panelTwo">
                <div class="box"
                     ng-class="ctrl.getElementColor(p)"
                     ng-click="ctrl.addElement(p)"
                     ng-repeat="p in ::ctrl.panel_two_4_elements">
                    {{::p.e}}
                </div>
            </div>
            <div class="panelTwo">
                <div class="box"
                     ng-class="ctrl.getElementColor(p)"
                     ng-click="ctrl.addElement(p)"
                     ng-repeat="p in ::ctrl.panel_two_5_elements">
                    {{::p.e}}
                </div>
            </div>
            <div class="panelOne">
                <div class="box"
                     ng-class="ctrl.getElementColor(p)"
                     ng-click="ctrl.addElement(p)"
                     ng-repeat="p in ::ctrl.panel_one_1_elements">
                    {{::p.e}}
                </div>
            </div>
        </div>
        <div id="clear"></div>
        <div class="lowerContainer">
            <div class="bottom">
                <div class="box"
                     ng-class="ctrl.getElementColor(p)"
                     ng-click="ctrl.addElement(p)"
                     ng-repeat="p in ::ctrl.bottom_1_elements">
                    {{::p.e}}
                </div>
            </div>
            <div class="bottom">
                <div class="box"
                     ng-class="ctrl.getElementColor(p)"
                     ng-click="ctrl.addElement(p)"
                     ng-repeat="p in ::ctrl.bottom_2_elements">
                    {{::p.e}}
                </div>
            </div>
            <div class="bottom">
                <div class="box"
                     ng-class="ctrl.getElementColor(p)"
                     ng-click="ctrl.addElement(p)"
                     ng-repeat="p in ::ctrl.bottom_3_elements">
                    {{::p.e}}
                </div>
            </div>
            <div class="bottom">
                <div class="box"
                     ng-class="ctrl.getElementColor(p)"
                     ng-click="ctrl.addElement(p)"
                     ng-repeat="p in ::ctrl.bottom_4_elements">
                    {{::p.e}}
                </div>
            </div>
            <div class="bottom">
                <div class="box"
                     ng-class="ctrl.getElementColor(p)"
                     ng-click="ctrl.addElement(p)"
                     ng-repeat="p in ::ctrl.bottom_5_elements">
                    {{::p.e}}
                </div>
            </div>
            <div class="bottom">
                <div class="box"
                     ng-class="ctrl.getElementColor(p)"
                     ng-click="ctrl.addElement(p)"
                     ng-repeat="p in ::ctrl.bottom_6_elements">
                    {{::p.e}}
                </div>
            </div>
            <div class="bottom">
                <div class="box"
                     ng-class="ctrl.getElementColor(p)"
                     ng-click="ctrl.addElement(p)"
                     ng-repeat="p in ::ctrl.bottom_7_elements">
                    {{::p.e}}
                </div>
            </div>
            <div class="bottom">
                <div class="box"
                     ng-class="ctrl.getElementColor(p)"
                     ng-click="ctrl.addElement(p)"
                     ng-repeat="p in ::ctrl.bottom_8_elements">
                    {{::p.e}}
                </div>
            </div>
            <div class="bottom">
                <div class="box"
                     ng-class="ctrl.getElementColor(p)"
                     ng-click="ctrl.addElement(p)"
                     ng-repeat="p in ::ctrl.bottom_9_elements">
                    {{::p.e}}
                </div>
            </div>
            <div class="bottom">
                <div class="box"
                     ng-class="ctrl.getElementColor(p)"
                     ng-click="ctrl.addElement(p)"
                     ng-repeat="p in ::ctrl.bottom_10_elements">
                    {{::p.e}}
                </div>
            </div>
            <div class="bottom">
                <div class="box"
                     ng-class="ctrl.getElementColor(p)"
                     ng-click="ctrl.addElement(p)"
                     ng-repeat="p in ::ctrl.bottom_11_elements">
                    {{::p.e}}
                </div>
            </div>
            <div class="bottom">
                <div class="box"
                     ng-class="ctrl.getElementColor(p)"
                     ng-click="ctrl.addElement(p)"
                     ng-repeat="p in ::ctrl.bottom_12_elements">
                    {{::p.e}}
                </div>
            </div>
            <div class="bottom">
                <div class="box"
                     ng-class="ctrl.getElementColor(p)"
                     ng-click="ctrl.addElement(p)"
                     ng-repeat="p in ::ctrl.bottom_13_elements">
                    {{::p.e}}
                </div>
            </div>
            <div class="bottom">
                <div class="box"
                     ng-class="ctrl.getElementColor(p)"
                     ng-click="ctrl.addElement(p)"
                     ng-repeat="p in ::ctrl.bottom_14_elements">
                    {{::p.e}}
                </div>
            </div>
            <div class="bottom">
                <div class="box"
                     ng-class="ctrl.getElementColor(p)"
                     ng-click="ctrl.addElement(p)"
                     ng-repeat="p in ::ctrl.bottom_15_elements">
                    {{::p.e}}
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-offset-1">
            Choose element or enter in below
            <ul class="list-inline">
                <li>
                    <input id="elementName"
                           type="text" ng-model="ctrl.elementName"
                           class="form-control"
                           placeholder="Element..."
                           ng-change="ctrl.lookForMatches()"
                           ng-focus="ctrl.elementName === ''"
                           on-enter="ctrl.addElementFromInput()"
                           ng-model-options="{ updateOn: 'default blur', debounce: { default: 200, blur: 0} }">
                </li>
                <li>
                    <div class="col-xs-8">
                        <label class="col-xs-2 control-label" style="margin-bottom:0">{{ctrl.composition.unit}}</label>
                        <div class="col-xs-6">
                            <input name="number" ng-model="ctrl.elementPercentage" placeholder="percentage..."
                                   on-enter="ctrl.addElementFromInput()"
                                   class="form-control col-xs-8" type="number" step="any">
                        </div>
                    </div>
                </li>
                <li>
                    <md-button class="md-primary md-raised"
                            ng-click="ctrl.addElementFromInput()">
                        Add
                    </md-button>
                </li>
            </ul>
        </div>
    </div>
    <table class="table table_small">
        <thead>
        <th>Element</th>
        <th>
            <ul class="list-inline">
                <li><input type="radio" value="at%" ng-model="ctrl.composition.unit"/> atomic %</li>
                <li><input type="radio" value="wt%" ng-model="ctrl.composition.unit"/> weight %</li>
            </ul>
        </th>

        </thead>
        <tbody>
        <tr ng-if="!ctrl.composition.value.length">
            <td>Choose base element</td>
            <td></td>
            <td></td>
        </tr>
        <tr ng-if="ctrl.composition.value.length">
            <td>{{::ctrl.composition.value[0].element}}</td>
            <td>Balance ({{ctrl.showRemaining()}}%)</td>
            <td><a class="close" ng-click="ctrl.removeElement(0)">x</a></td>
        </tr>
        <tr ng-repeat="e in ctrl.composition.value">
            <td ng-if="$index !== 0">{{::e.element}}</td>
            <td ng-if="$index !== 0">
                <input name="number" ng-model="e.value" placeholder="percentage..."
                       class="form-control" type="number" step=="any" style="width:40%">
            </td>
            <td ng-if="$index !== 0"><a class="close" ng-click="ctrl.removeElement($index)">x</a></td>
        </tr>
        </tbody>
    </table>
</section>
