<h1>My Lab DataGroups</h1>
        <div class="container-fluid">
            <div class="row-fluid">
                <div class="span2">
                    <select ng-model="lab" class="selectpicker" id="group">
                        <option></option>
                        <option value="allisonlab">Allison Lab</option>
                        <option value="marquislab">Marquis Lab</option>
                    </select>
                    <br> </br>
                    <button class="btn btn-small btn-primary" type="button" ng-click="get_lab_data(lab)">Get Lab Data</button>
                </div>
                <div class="span8" >
                    <!--Body content-->
                    <table class="table table-striped  table-condensed mc-table">
                        <thead>
                        <th style="width:15%;"><font color="white">Name</font></a></th>
                        <th style="width:12%;"><font color="white"> Updated At</font></a></th>
                        <th style="width:40%;"><a><font color="white"> Data</font></a></th>
                        <th style="width:18%;"><a><font color="white"> User</font></a></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="row in lab_data.data.rows ">
                            <td><a href="#/data/data/{{row.value._id}}">{{row.value.name}}</a></td>
                            <td>{{get_utc_obj(row.value.dateAdded).toDateString()}}</td>
                            <td>
                                <div ng-controller="DataGroupController" ng-show="row.value.data.length > 0">
                                    <accordion>
                                        <accordion-group heading="Data">
                                            <li ng-repeat="id in row.value.data">
                                                <div ng-init="data_item=getData(id)">
                                                    <u>Name</u> :{{data_item.name}}
                                                    <u>Type</u> : {{data_item.type}}
                                                    <br><a  href="#/data/edit/{{data_item._id}}">Edit data</a> &nbsp;&nbsp;&nbsp;
                                                    <a>Download files</a>
                                                </div>
                                            </li>

                                        </accordion-group>
                                    </accordion>
                                </div>
                            </td>

                            <td>{{row.value.users[0]}}</td>

                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>

        </div>


