<div class="span12 offset1">
    <h1>My Data </h1>

    <div class="row-fluid">
        Filter by: <input ng-model="query">
    </div>
    <div class="row-fluid">
        <table class="table table-striped mc-table-hover table-condensed mc-table">
            <thead>
            <tr>
                <th>Name</th>
                <th>DataGroup</th>
                <th>Created At</th>
                <th>Tags</th>
                <th>Meta Tags</th>
            </tr>
            </thead>
            <tbody>

            <tr ng-repeat="row in data_by_user.data.rows | filter:query"
                style="cursor:pointer" >
                <td><a href="#/data/edit/{{row.value._id}}">{{row.value.name}}</a></td>
                <td ng-controller="DataGroupController">
                    <ul ng-repeat="each_parent_id in row.value.dataGroups">
                        <div ng-init="data_item=getData(row.value.dataGroups)">
                            <button type="button" class="btn" data-unique="1" data-placement="right" data-title="DataGroup Report" bs-popover="'partials/datagroups/display_parent.html'" data-hide="each_parent_id">{{data_item.name}}</button>
                        </div>
                    </ul>
                </td>
                <td>{{get_utc_obj(row.value.dateAdded).toDateString()}}</td>
                <td>
                    <ul style="list-style-type:none">
                        <li ng-repeat="tag in row.value.tags" ng-click="editData(row.value);"><span class="label label-info">{{ tag }}</span></li>
                    </ul>
                </td>

                <td>
                    <ul>
                        <li ng-repeat="metatag in row.value.metaTags | limitTo:10">
                            {{ metatag.name }}:{{ metatag.value }}

                        </li>
                        <div ng-show="row.value.metaTags.length > 10">
                            <accordion>
                                <accordion-group heading="... more">

                                    <li ng-repeat="metatag in row.value.metaTags">
                                        {{metatag.name}}
                                        {{metatag.value}}

                                    </li>

                                </accordion-group>
                            </accordion>
                        </div>
                    </ul>

                <td>

                </td>
                </td>
            </tr>
            </tbody>

        </table>

    </div>

</div>