<div ng-controller="toolbarObjects">
    <button class="btn btn-default btn-primary" ng-click="toggleCustom = !toggleCustom">New</button>
    <div ng-init="toggleCustom = false" ng-show="toggleCustom">
        <form name="Sample" class="row form-horizontal">
            <legend>Create New Object</legend>
            <div class="col-sm-5">
                <cgroup label="Classification:">
                    <select class="form-control" ng-model="bk.classification" ng-change="setProperties()"
                            ng-options="temp.template_name for temp in sample_templates | orderBy:'template_name'">
                    </select>
                </cgroup>
                <div ng-show="bk.classification">
                    <div upperlevel-object="" bk="bk" doc="doc" edit="false"></div>
                    <div df-properties="" default-properties="doc.default_properties"></div>
                </div>
            </div>
            <div ng-show="bk.classification">
                <div class="col-sm-5">
                    <cgroup label="Treatments:">
                        <select class="form-control" ng-model="bk.selected_treatment"
                                ng-options="treat.template_name for treat in treatment_templates"
                                ng-change="showForm()">
                        </select>
                    </cgroup>
                    <label class='control-label'><strong>{{bk.selected_treatment.template_name ||
                        bk.tab_item}} </strong></label>

                    <div ng-show="bk.selected_treatment!==''">
                            <div df-properties default-properties="default_properties"></div>
                            <button ng-click="addTreatment()" class="btn btn-primary">Add</button>
                    </div>
                </div>
                <div class="col-sm-2">
                    <label>Treatments Order:</label>
                    <tabset vertical="true" type="pills">
                        <tab ng-repeat="treatment in doc.treatments" ng-click="showTab(treatment, $index)"
                             heading="{{treatment.template_name}}">
                        </tab>
                    </tabset>
                </div>
            </div>
        </form>
        <div class="row">
            <button ng-click="save(Sample)" class="btn btn-default btn-primary">Save</button>
            <button ng-click="clear()" class="btn btn-default btn-danger">Clear</button>
            <div saved-notification="" message="message"></div>
        </div>

    </div>

    <div class="row">
        <div class="col-sm-6 col-md-6">
            <legend>List of available objects:</legend>
            <paged data="samples_list" current-page="currentDataPage" page-size="10">
                <p ng-if="samples_list.length==0">
                    <b>No available objects in the database</b>
                </p>

                <p ng-if="samples_list.length!=0">
                </p>

                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Composition</th>
                        <th>Availability</th>
                        <th>Date Created</th>
                        <th>Details and Processes</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="sample in samples_list | orderBy:predicate:reverse | page:currentDataPage:10">
                        <td>{{sample.name}}</td>
                        <td>
                            <ul ng-repeat="c in sample.properties.composition.value">
                                <li>{{c.element}} - {{c.value}} % {{sample.properties.composition.unit}}</li>
                            </ul>
                        </td>
                        <td ng-if="sample.available===true">
                            <i class="fa fa-check available"></i>
                        </td>
                        <td ng-if="sample.available===false">
                            <i class="fa fa-times notavailable"></i>
                        </td>
                        <td>{{sample.birthtime | toDateString}}</td>
                        <td><a ng-click="showTreatmentDetails_and_processes(sample)">view</a></td>
                    </tr>
                    </tbody>
                </table>
            </paged>
        </div>
        <div class="col-sm-6 col-md-6">
            <form class="form-horizontal" ng-show="sample">
                <legend>Details</legend>
                <div upperlevel-object="" doc="sample" edit="true"></div>
                <div iterate-properties="" all-properties="sample.properties"  edit="true"></div>
                <div>
                    <cgroup label="Owner">
                        <input class="form-control" class="input-large" ng-model="sample.owner" type="text"
                               ng-disabled="true">
                    </cgroup>
                </div>
                <legend>Treatments</legend>
                <div ng-if="sample.treatments.length==0">
                    <p class="muted">No treatments applied to the material {{sample.name}}</p>
                </div>
                <div ng-if="sample.treatments.length!==0">
                    <div ng-repeat="treatment in sample.treatments">
                        <i>{{treatment.template}}:</i>
                            <div class="form-group" ng-repeat="property in treatment.properties">
                                <cgroup label="{{property.name}}">
                                    <div class="col-sm-6" ng-if="p.type === 'select'">
                                        <input class="form-control" ng-model="property.value_name" ng-disabled="true"
                                               type="text">
                                    </div>
                                    <div class="col-sm-6" ng-if="p.type !== 'select'">
                                        <input class="form-control" ng-model="property.value" ng-disabled="true" type="text">
                                    </div>
                                    <div class="col-sm-2">
                                        {{ property.unit }}
                                    </div>

                                </cgroup>
                            </div>
                    </div>
                </div>
                <legend>Processes</legend>
                <div ng-if="processes_list.length === 0">
                    <p class="text-muted">object {{sample.name}} has not been used in any process</p>
                </div>
                <div ng-if="processes_list.length !== 0">
                    <ul ng-repeat="process in processes_list">
                        <li><a ui-sref="toolbar.process({id: process.right.id})">{{process.right.name}}</a></li>
                    </ul>
                </div>
            </form>
        </div>
    </div>
</div>