<div ng-controller="MyDataAddController">
    <div class="row">
        <div class="offset0">

            <form class="form-horizontal">
                <label>What type of data are you adding? </label>

                <select class="span3" ng-model="dtype"
                        ui-select2="{placeholder: 'Select data type', allowClear: true, width:'element'}"
                        ng-multiple="false">
                    <option></option>
                    <option value="microstructure">Microstructure</option>
                    <option value="mechanical">Mechanical</option>
                    <option value="simulation">Simulation</option>
                    <option value="computational">Computational</option>
                </select>


                <label ng-show="dtype">How was the {{dtype}} data collected?</label>

                <div ng-show="dtype == 'microstructure'">
                    <select class="span3" ng-model="mtype"
                            ui-select2="{placeholder: 'Select equipment used', allowClear: true, width:'element'}"
                            ng-multiple="false">
                        <option></option>
                        <option value="APT">APT</option>
                        <option value="TEM">TEM</option>
                        <option value="XRD">XRD</option>
                        <option value="SEM">SEM</option>
                        <option value="OIM">OIM</option>
                        <option value="Optical">Optical</option>
                    </select>

                    <span ng-show="mtype == 'APT'" ng-controller="APTController">
                        <p></p>
                        <textarea ng-model="description" placeholder="Description" rows="3" class="span4"></textarea>
                        <p></p>
                        <input type="text" placeholder="Run ID" ng-model="runid">

                        <label>What was the mode of collection?</label>
                        <select class="span3" ng-model="mode"
                                ui-select2="{placeholder: 'Select collection mode', allowClear: true, width:'element'}"
                                ng-multiple="false">
                            <option></option>
                            <option value="Laser">Laser</option>
                            <option value="Voltage">Voltage</option>
                        </select>

                        <p></p>
                        <input type="text" placeholder="Primary Element" ng-model="primary_element">

                        <p></p>
                        <input type="date" placeholder="Date collected" ng-model="apt_date">

                        <p></p>
                        <label>What was the preparation method?</label>
                        <select class="span3" ng-model="preparation_method"
                                ui-select2="{placeholder: 'Select prep method', allowClear: true, width:'element'}"
                                ng-multiple="false">
                            <option></option>
                            <option value="FIB Liftout">FIB Liftout</option>
                            <option value="Electropolish">Electropolish</option>
                            <option value="Other">Other</option>
                        </select>
                        <input ng-show="preparation_method == 'Other'" type="text"
                               placeholder="Preparation Method" ng-model="other_prep_method">
                        <p></p>
                        <button ng-click="save()">Save</button>
                    </span>

                </div>

                <p ng-show="dtype == 'mechanical'">Mechanical chosen</p>

                <p ng-show="dtype == 'simulation'">Simulation chosen</p>

                <p ng-show="dtype == 'computational'">Computational chosen</p>

            </form>
        </div>
    </div>
</div>