<div ng-controller="MyDataListController">

    <h3>MyData</h3>

    <div class="row">
        <div class="offset1">
            <div class="well">
                <table id="experimentProperties" class="table table-striped mc-table-hover table-condensed mc-table">
                    <thead>
                    <tr>
                        <th>Type</th>
                        <th>Description</th>
                        <th>How</th>
                        <th>Last Updated</th>
                        <th>Attachments</th>
                    </tr>
                    </thead>
                    <tbody id="experimentPropertyEntries">
                    <tr ng-repeat="property in experiment.properties" ng-click="editProperty($index);"
                        style="cursor:pointer">
                        <td class="mc-prop-type">{{property.type}}</td>
                        <td class="mc-prop-description">{{property.description}}</td>
                        <td class="mc-prop-how">{{property.mtype}}</td>
                        <td class="mc-prop-date">{{property.date}}</td>
                        <td><span class="badge badge-info">{{property.attachments.length}}</span>
                            <button type="button" class="close" ng-click="removeProperty($index);">&times;</button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <form class="form-inline">
                <button class="btn btn-small btn-success" ng-click="saveExperiment()" id="save-button">
                    {{saveButtonText}}
                </button>
                <button ng-show="pageTypeMessage=='View/Edit'" class="btn btn-small btn-danger"
                        ng-click="deleteExperiment()">Delete
                </button>
                <a class="btn btn-warning btn-small" href="#/mylab/myexperiments/experiment-list/">Cancel</a>
            </form>
        </div>
    </div>


    <form>
        <label>What type of data are you adding? </label>

        <select class="span3" ui-select2="{placeholder: 'Select data type', allowClear: true, width:'element'}">
            <option></option>
            <option>Microstructure</option>
            <option>Mechanical</option>
            <option>Simulation</option>
            <option>Computational</option>
        </select>
    </form>

</div>
