<div ng-controller="MyDataListController">
    <div class="row">
        <div class="offset0">
            <h3>MyData</h3>
            <div class="well">
                <table id="mydata-table" class="table table-striped mc-table-hover table-condensed mc-table">
                    <thead>
                    <tr>
                        <th>Type</th>
                        <th>Description</th>
                        <th>How</th>
                        <th>Last Updated</th>
                        <th>Attachments</th>
                    </tr>
                    </thead>
                    <tbody id="mydata-entries">
                    <tr ng-repeat="row in mcdb.rows" ng-click="editData($index);"
                        style="cursor:pointer">
                        <td class="mc-prop-type">{{row.value.dtype}}</td>
                        <td class="mc-prop-description">{{row.value.description}}</td>
                        <td class="mc-prop-how">{{row.value.mtype}}</td>
                        <td class="mc-prop-date">{{row.value.date}}</td>
                        <td><span class="badge badge-info">{{row.value.attachments.length}}</span>
                            <button type="button" class="close" ng-click="removeData($index);">&times;</button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>


    <form>
        <label>What type of data are you adding? </label>

        <select class="span3" ui-select2="{placeholder: 'Select data type', allowClear: true, width:'element'}">
            <option></option>
            <option>Microstructure</option>
            <option>Mechanical</option>
            <option>Simulation</option>
            <option>Computational</option>
        </select>
    </form>

</div>
