<div class="span10 offset1">
    <h4>List of Users in {{ug_name}}</h4>

    <div class="row-fluid">
        <div class="well">
            <paged data="users_by_usergroup" current-page="currentUsersPage" page-size="10">
                <table class="table table-striped mc-table-hover table-condensed mc-table">
                    <thead>
                    <tr>
                        <th>User</th>
                        <th ng-show="owner==signed_in_user"></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="i in users_by_usergroup | page:currentUsersPage:10">
                        <td>{{i}}</td>
                        <td ng-show="owner==signed_in_user">
                            <button class="btn" ng-click="delete_user_from_usergroup($index)">Delete</button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </paged>
        </div>


        <div ng-show="owner==signed_in_user">
            <select class="span3" ng-model="user_name"
                    ui-select2="{placeholder: 'Select user', allowClear: true, width:'element'}"
                    ng-multiple="false">
                <option></option>
                <option ng-repeat="user in all_users">{{ user.email }}</option>
            </select>
            <button class="btn" ng-click="add_user_to_usergroup()">Add User</button>
        </div>
    </div>
</div>