<h1 class="h1 custom">Usergroups</h1>
<br>
<div class="row-fluid">
    <div class="span3">
        <div class="well">
            <legend><a href="#/subpage-template/create-usergroup-tab">Create UG</a></legend>
            <p>Create a new usergroup and add people into it</p>
        </div>

    </div>

    <div class="span3">
        <div class="well">
            <legend><a href="#/subpage-template/my-usergoups-tab">My Usergroups</a></legend>
            <p>List of usergroups you belong to </p>
        </div>

    </div>

    <div class="span3">
        <div class="well">
            <legend><a href="#/subpage-template/all-usergroups-tab">All Usergoups</a></legend>
            <p>List of all usergroups in the system</p>
        </div>
    </div>
</div>