
<div class="row-fluid">
    <div class="span5 offset2">
        <div class="well" ng-controller="CreateUserGroupController">
            <h4>Create UserGroup</h4>
            <label>Name: </label><span><input ng-model="name" placeholder="name your group..." ></span> <br>
            <label>Access:</label>
            <span>
                <select ng-model="access">
                    <option value="private">Private</option>
                    <option value="public">Public</option>
                </select>
            </span><br>
            <label>Description:</label>
                <textarea class="input-xlarge" placeholder="Describe here...."
                      ng-model="desc" /> <br>
            <button class="btn btn-success" type="button" ng-click="create_usergroup()"> Create Group</button>


        </div>

    </div>

</div>





