<div class="span10 offset1">
    <h4>UserGroups List</h4>
    <div class="row-fluid">
        <div class="well">
            <select ng-model="ug" ng-options="group.name for group in all_user_groups">

            </select>
            <td ng-show="ug">
                <a href="#/usergroups/list_users/{{ug.name}}/">view</a>

            </td>
        </div>
    </div>
</div>
insert(

{'access': 'private',
"datadirs": ['mcfada@umich.edu$Mg-Al_Location1'],

"description": "4_6_13_toothsite1.jpg",

"item_type": "datafile" ,
"location": "Mg-Al/Location1" ,
"machine": "" ,
"marked_for_review": false ,
"mediatype": "image/jpeg" ,"metatags": [],
"mytags": [ ],
"name": "4_6_13_toothsite1.jpg" ,
"notes": [ ],
"owner": "mcfada@umich.edu",
"process": "" ,
"reviews": [ ],
"size": 7253 ,
"tags": []

})

5099ff91-f488-443f-81e5-5d02f2a5951b

17bd8521-0a82-4713-9f55-feb2ffe95ca0