<div ng-controller="CreateUserGroupController">
    <div class="span10 offset1">
        <h4>Create New UserGroup</h4>
        <table>
            <tr>
                <td>Name</td>
                <td><input ng-model="name" placeholder="group name"></td>
                <td>Access</td>
                <td>
                    <select ng-model="access">
                        <option value="private">Private</option>
                        <option value="public">Public</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>Description</td>
                <textarea class="input-xlarge" placeholder="Describe here...."
                          ng-model="desc"/> <br>
            </tr>
        </table>
        <br>
        <button class="btn btn-success" type="button" ng-click="create_usergroup()"> Create Group</button>
    </div>

</div>

<div class="row-fluid">
    <div class="span">

    </div>

</div>





