body {
    padding-top: 60px;
    /*background-color:#626262;*/
    /*padding-bottom: 40px;*/
    /*background:#9CBAC9;*/

        /*#C5C1AA;*/

        /*#8C9896;*/
        /*#768582; */
     /*url(../img/fading_background_17.png) repeat-x;*/
    background: url(../img/background/noisy-texture-grey.png) repeat;
    color:#F5F5F5;
}

.mc-logo {
    /*color: #53868B;*/
    color: #191970;
    /*text-shadow: 1px 0 #F5F5F5;*/
}

.mc-border {
    border-style: solid;
    border-width:3px;
    padding: 2px;
    margin: 2px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    background-color: #F5F5F5;
    -webkit-box-shadow: rgba(0,0,0,0.7) 3px 3px 3px;
    -moz-box-shadow: rgba(0,0,0,0.7) 3px 3px 3px;
}

.mc-active {
    -webkit-box-shadow: inset 1px 1px 1px rgba(0,0,0,0.7);
    -moz-box-shadow: inset 1px 1px 1px #FFFF00;
    box-shadow: inset 3px 3px 5px rgba(0,0,0,0.7),  3px 3px 5px rgba(0,0,0,0.7);
    /*-webkit-box-shadow: rgba(0,0,0,0.7) 3px 3px 3px;*/
    /*-moz-box-shadow: rgba(0,0,0,0.7) 3px 3px 3px;*/
}

.container-narrow {
    margin: 0 auto;
    max-width: 700px;
}

.mc-tools-sidebar {

}

.mc-tools-sidenav {
    position: fixed;
    top: 60px;
    left: 2px;
    margin: 0 0 -1px;
    background: #F5F5F5;
    list-style-type: none;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}

.mc-tools-sidenav > li > a {
    display:block;
    font-weight: bold;
    color:  black;
    width: 170px;
    margin: 0 0 -1px;
    padding: 8px 14px;
    border: 1px solid  #e5e5e5;
    text-decoration: none;
}

.mc-tools-sidenav > li:first-child > a {
    -webkit-border-radius: 6px 6px 0 0;
    -moz-border-radius: 6px 6px 0 0;
    border-radius: 6px 6px 0 0;
}

.mc-tools-sidenav > li:last-child > a {
    -webkit-border-radius: 0 0 6px 6px;
    -moz-border-radius: 0 0 6px 6px;
    border-radius: 0 0 6px 6px;
}

.mc-tools-sidenav > li > a:hover {
    background-color: #A3B8C2;
}

div.node.level0 {
    background-color: #c3eafb;
    border-radius: 5px;
    width: 150px;
    border: 2px solid #b5d9ea;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -webkit-box-shadow: rgba(0,0,0,0.5) 2px 2px 2px;
    -moz-box-shadow: rgba(0,0,0,0.5) 2px 2px 2px;
}

div.node.level1 {
    background-color:#cee3ac;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -webkit-box-shadow: rgba(0,0,0,0.5) 2px 2px 2px;
    -moz-box-shadow: rgba(0,0,0,0.5) 2px 2px 2px;
    width: 100px;
    border: 2px solid #b8da83;
}

div.node.level2 {
    background-color:#fff7aa;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -webkit-box-shadow: rgba(0,0,0,0.5) 2px 2px 2px;
    -moz-box-shadow: rgba(0,0,0,0.5) 2px 2px 2px;
    width: 100px;
    border: 2px solid #e3ca4b;
}

.mc-table-hover tbody tr:hover td,
.mc-table-hover tbody tr:hover th {
    background-color: #CCCCCC;
}

/* ******** Remove below this line**************** */

.bs-docs-sidenav {
    width: 228px;
    margin: 30px 0 0;
    padding: 0;
    background-color: #fff;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: 0 1px 4px rgba(0,0,0,.065);
    -moz-box-shadow: 0 1px 4px rgba(0,0,0,.065);
    box-shadow: 0 1px 4px rgba(0,0,0,.065);
}
.bs-docs-sidenav > li > a {
    display: block;
    width: 190px;
    margin: 0 0 -1px;
    padding: 8px 14px;
    border: 1px solid #e5e5e5;
}
.bs-docs-sidenav > li:first-child > a {
    -webkit-border-radius: 6px 6px 0 0;
    -moz-border-radius: 6px 6px 0 0;
    border-radius: 6px 6px 0 0;
}
.bs-docs-sidenav > li:last-child > a {
    -webkit-border-radius: 0 0 6px 6px;
    -moz-border-radius: 0 0 6px 6px;
    border-radius: 0 0 6px 6px;
}
.bs-docs-sidenav > .active > a {
    position: relative;
    z-index: 2;
    padding: 9px 15px;
    border: 0;
    text-shadow: 0 1px 0 rgba(0,0,0,.15);
    -webkit-box-shadow: inset 1px 0 0 rgba(0,0,0,.1), inset -1px 0 0 rgba(0,0,0,.1);
    -moz-box-shadow: inset 1px 0 0 rgba(0,0,0,.1), inset -1px 0 0 rgba(0,0,0,.1);
    box-shadow: inset 1px 0 0 rgba(0,0,0,.1), inset -1px 0 0 rgba(0,0,0,.1);
}
