<div class="row-fluid well span10">
    <form class=form-horizontal>
        <label>From what materials was sample drawn?:
            <a href="#modalMaterial">{{condition.material.name }}</a>
        </label>
        <label class="radio">
            <input type="radio" ng-model="useExisting" value="yes">
            Use existing material
        </label>
        <label class="radio">
            <input type="radio" ng-model="useExisting" value="no">
            Create new material
        </label>

        <div ng-show="useExisting == 'yes'">
            <cgroup label="Select existing material:">
                <select>
                    <option disabled>Pick a material:</option>
                    <option ng-repeat="m in materials" value="{{ m }}"
                            ng-click="material_select(m)">
                        {{ m.name }}
                    </option>
                    <option disabled></option>
                    <option ng-click="clear_material()" value="clear">clear</option>
                </select>
            </cgroup>
        </div>
        <div ng-show="useExisting == 'no'">
            <cgroup label="Name:">
                <input ng-model="condition.material.name" placeholder="Name your material"
                       type="text">
            </cgroup>
            <cgroup label="Composition">
                <input ng-model="condition.material.composition" placeholder="Composition..."
                       type="text">
            </cgroup>
            <cgroup label="Contact:">
                <input ng-model="process.machine.contact_email" placeholder="email.." type="text">
            </cgroup>
            <cgroup label="Notes:">
                <textarea ng-model="process.machine.notes" class="span8" rows="4"
                          placeholder="Notes..."></textarea>
            </cgroup>
            <cgroup ng-repeat="pv in condition.material.model" label="{{ pv.name }}">
                <input type="text" ng-model="pv.value">
            </cgroup>
            <cgroup label="Additional properties:">
                <select ng-model="bk.p_name">
                    <option ng-repeat="prop in material_template.model" value="{{ prop.name }}">
                        {{ prop.name }}
                    </option>
                </select>
                <button ng-click="add_property_to_material()">Add</button>
            </cgroup>
            <button ng-disabled="!process.machine.name" ng-click="add_material_to_db()">Save
            </button>
            <button ng-click="clear_material()">Clear</button>
        </div>
    </form>
</div>