<div layout="row" layout-alignx="center center" flex="100">
    <md-tabs md-selected="$ctrl.currentTab" class="md-primary md-hue-2" md-dynamic-height md-border-bottom flex="100">
        <md-tab>
            <md-tab-label>Top Viewed Datasets</md-tab-label>
            <md-tab-body>Top datasets here xxxxxxxxxxxxxxxxxxxxxxxxxxxxxx</md-tab-body>
        </md-tab>
        <md-tab>
            <md-tab-label>Recent Datasets</md-tab-label>
            <md-tab-body>Recent datasets here xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx</md-tab-body>
        </md-tab>
    </md-tabs>
</div>