
.browse {
  .list-group-item{
    border: none;
  }
  .main{
    padding-left: 50px;
  }
}

.divider {
  border-right: 1px solid $divider;
  margin-bottom: -70%;
  padding-bottom: 70%;
}

.overflow-hidden{
  overflow: hidden;
}

.browse-highlight{
  color: $orange;
  font-weight: bold;
}


