<div class="container"><br>
    <div class="row browse">
        <div class="col-sm-2 divider ">
            <ul class="list-group">
                <li class="list-group-item borderless"><a
                        ng-class="{'browse-highlight': ctrl.isRouteActive('browse.datasets')}"
                        ui-sref="browse.datasets">Datasets </a><span
                        class="badge pull-right theme">{{ctrl.datasetsCount}}</span></li>
                <li ng-if="false" class="list-group-item borderless"><a
                        ng-class="{'browse-highlight': ctrl.isRouteActive('browse.authors')}"
                        ui-sref="browse.authors">Authors </a><span
                        class="badge">{{ctrl.authorsCount}}</span></li>
                <li ng-if="false" class="list-group-item borderless"><a
                        ng-class="{'browse-highlight': ctrl.isRouteActive('browse.processtypes')}"
                        ui-sref="browse.processtypes">Process Types</a>
                    <span class="badge">40</span></li>
                <li class="list-group-item borderless"><a
                        ng-class="{'browse-highlight': ctrl.isRouteActive('browse.tags')}"
                        ui-sref="browse.tags">Tags </a>
                    <span class="badge">{{ctrl.tagsCount}}</span></li>
            </ul>
        </div>
        <div class="col-sm-9 main">
            <div ui-view></div>
        </div>
    </div>
</div>
