<div layout="column" flex="100">
    <div layout="row" layout-fill layout-align="start stretch">
        <mc-project-sidenav project="$ctrl.state.project"
                            experiment="$ctrl.state.experiment"
                            on-sync="$ctrl.handleProjectSync()"
                            on-modify-shortcuts="$ctrl.handleModifyShortcuts()"></mc-project-sidenav>
        <div layout="column" flex="100">
            <ui-view flex="100" layout="column"></ui-view>
        </div>
    </div>
</div>