<div>
    <div class="modal-header">
        <h3 class="modal-title">{{selected.item.name}}</h3>
    </div>
    <div class="modal-body details-main-content">
        <div class="row">
            <div class="col-xs-8">
                <div class="process headings">Details:</div>

                <div class="row"><b>Description about process:</b> <br>
                    {{selected.item.what}}<div ng-if="selected.item.what === ''">--None--</div>

                    <div class="row"><b>Reason you performed the process:</b><br>
                        {{selected.item.why}}<div ng-if="selected.item.why === ''">--None--</div>

                        <div class="row"><b>Owner: </b>{{selected.item.owner}}</div>
                        <div class="row"><b>Does Transform: </b>{{selected.item.does_transform}}</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="process headings">SetUp: {{selected.item.setup[0].name}}</div>
                <ul>
                    <li ng-repeat="property in selected.item.setup[0].properties" ng-if="property.value">
                        {{property.name}} :: {{property.value}} {{property.units}}
                    </li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="process headings">Samples:</div>
                <div class="row" ng-repeat="sample in selected.item.input_samples">
                    <div style="padding-left: 10px;padding-bottom: 20px;;line-height: 5px;">
                        <i class="fa fa-fw fa-paperclip fa-lg" style="color: #919191"></i>
                        <img src="assets/img/splash/sample_icon.png" style="height: 40px;padding-bottom: 10px;">
                        <a ng-click="openSample(sample)" class="link" style="padding-left: 15px;">{{sample.name}}</a>
                        <span ng-if="selected.item.does_transform">
                            <span ng-if="sample._type==='in'">
                                  (Before {{selected.item.name}})
                            </span>
                             <span ng-if="sample._type==='out'">
                                 (After {{selected.item.name}})
                             </span>
                        </span>
                        <p style="padding-left: 80px">
                            <small class="text-muted">{{sample.mtime | toDateString}} , {{sample.owner}}</small>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="process headings">Files:</div>
                <div>Files Used:</div>
                <div ng-if="selected.item.input_files.length === 0">
                     --None--<br>
                </div>
                <div ng-repeat="attachment in selected.item.input_files">
                    <div style="padding-left: 10px;padding-bottom: 20px;;line-height: 5px;">
                        <i class="fa fa-fw fa-paperclip fa-lg" style="color: #919191"></i>
                        <img src="assets/img/splash/file_icon.png" style="height: 40px;padding-bottom: 10px;">
                        <a ng-click="openFile(attachment)" class="link" style="padding-left: 15px;">{{attachment.name}}</a>

                        <p style="padding-left: 80px">
                            <small class="text-muted">{{attachment.path}}</small>
                        </p>
                    </div>
                </div>

                <div>Files Produced:</div>
                <div ng-if="selected.item.output_files.length === 0">
                    --None--
                </div>
                <div ng-repeat="attachment in selected.item.output_files">
                    <div style="padding-left: 10px;padding-bottom: 20px;;line-height: 5px;">
                        <i class="fa fa-fw fa-paperclip fa-lg" style="color: #919191"></i>
                        <img src="assets/img/splash/file_icon.png" style="height: 40px;padding-bottom: 10px;">
                        <a ng-click="openFile(attachment)" class="link" style="padding-left: 15px;">{{attachment.name}}</a>

                        <p style="padding-left: 80px">
                            <small class="text-muted">{{attachment.path}}</small>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="ok()">OK</button>
        <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
    </div>
</div>
