<div>
    <div class="modal-header">
        <h3 class="modal-title">Choose Process</h3>
    </div>
    <br>
    <div class="modal-body">
        <ul ng-if="ctrl.processes.length !== 0" class="list-group">
            <li class="list-group-item pointer"
                ng-repeat="p in ctrl.processes | orderBy: 'name'"
                ng-class="{active: ctrl.current.id === p.id}"
                ng-click="ctrl.selectProcess(p)">
                <b class="list-group-item-heading">{{p.name}}</b>

                <div class="truncate-text small" ta-bind ng-model="p.what"></div>
                <div class="row small" style="padding-top: 5px;">
                    <span class="space-left">
                        <i class="fa fa-fw fa-cubes sample"></i>{{p.samples.length}}
                    </span>
                    <span class="space-left">
                        <i class="fa fa-fw fa-files-o file"></i>{{p.input_files.length+p.output_files.length}}
                    </span>
                </div>
            </li>
        </ul>
    </div>
    <div class="modal-footer">
        <button class="btn btn-warning" ng-click="ctrl.dismiss()">Dismiss</button>
    </div>
</div>
