<div>
    <div class="modal-header">
        <h3 class="modal-title">{{modal.item.name}}</h3>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-xs-6">
                <display-file-contents file="modal.item"></display-file-contents>
            </div>
            <div class="col-xs-6">
                <div><label>Owner:</label>{{selected.item.owner}}</div>
                <div><label>Size:</label>{{selected.item.size | bytes}}</div>
                <div><label>Created:</label>{{selected.item.birthtime | toDateString}}</div>
                <div><label>Modified:</label>{{selected.item.mtime | toDateString}}</div>
                <div><label>Media Type:</label>{{selected.item.mediatype.mime}}</div>
                <div><label>Notes:</label>
                    <div ng-if="selected.item.notes.length > 0" ta-bind ng-model="selected.item.notes[0].note"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-warning" ng-click="cancel()">Dismiss</button>
    </div>
</div>
