<form name="material" >
<div class="span6 offset2" >

    <h4>Material Properties</h4>
    <div class="well">

        <table>
            <tr>
                <td>
                    Alloy Name:  <input name="input" ng-model="mp.alloyName" required>
                </td>
                <td>
                    Notes:  <textarea ng-model="mp.alloyNameNotes"> </textarea>
                </td>

            </tr>
            <tr>
                <td>
                    Known Composition: <input name="input" ng-model="mp.composition" >
                </td>
                <td>
                    Notes:  <textarea ng-model="mp.compositionNotes"> </textarea>
                </td>

            </tr>
            <tr>
                <td>
                    Manufacturing Condition:  <select ng-model="mp.manufactureCondition">
                    <option value="rolled">rolled</option>
                    <option value="forged">forged</option>
                    <option value="cast">cast</option>
                </select>
                </td>
                <td>
                    Notes:  <textarea ng-model="mp.manufactureConditionNotes"> </textarea>
                </td>
            </tr>
            <tr>
                <td>
                    Heat Treatment: <input name="input" ng-model="mp.heatTreatment" >
                </td>
                <td>
                    Notes:  <textarea ng-model="mp.heatTreatmentNotes"> </textarea>
                </td>
            </tr>

        </table>
    </div>
</div>

<div class="span12 offset1">
<div class="well">
    <table>
        <tr>
            <td><h5>Equipment Properties</h5></td>
            <td><select class="span3" ng-model="ep.equipment_type">
                <option value="TEM">TEM</option>
                <option value="APT">APT</option>
                <option value="SEM">SEM</option>
            </select></td>
        </tr>
    </table>
</div>



<div ng-switch on="ep.equipment_type">
<div class="well">
<div ng-switch-when="TEM">
    <td><h5>Equipment Properties for TEM</h5></td>
    <table>
        <tr>
            <td>
                Microscope Mfg:  <input name="input" ng-model="ep.m_mfg" required>
            </td>
            <td>
                Notes:  <textarea ng-model="ep.m_mfgNotes"> </textarea>
            </td>

        </tr>
        <tr>
            <td>
                Microscope Model:  <input name="input" ng-model="ep.m_model" required>
            </td>
            <td>
                Notes:  <textarea ng-model="ep.m_modelNotes"> </textarea>
            </td>

        </tr>
        <tr>
            <td>
                Voltage: <input name="input" ng-model="ep.voltage" >
            </td>
            <td>
                Notes:  <textarea ng-model="ep.voltageNotes"> </textarea>
            </td>

        </tr>

        <tr>
            <td>
                Mode:  <select ng-model="ep.mode">
                <option value="diffraction">Diffraction</option>
                <option value="transmission">Transmission</option>
                <option value="scanning">Scanning</option>
            </select>
            </td>
            <td>
                Notes:  <textarea ng-model="ep.modeNotes"> </textarea>
            </td>
        </tr>
        <tr>
            <td>
                Field:  <select ng-model="ep.field">
                <option value="bright">Bright</option>
                <option value="dark">Dark</option>
            </select>
            </td>
            <td>
                Notes:  <textarea ng-model="ep.fieldNotes"> </textarea>
            </td>
        </tr>
        <tr>
            <td>
                Specimen Prep:  <select ng-model="ep.s_prep">
                <option value="electropolish">Electropolish</option>
                <option value="fib">FIB</option>
            </select>
            </td>
            <td>
                Notes:  <textarea ng-model="ep.s_prepNotes"> </textarea>
            </td>

        </tr>


    </table>
</div>
<div ng-switch-when="APT">
    <td><h5>Equipment Properties for APT</h5></td>
    <table>
        <tr>
            <td>
                Microscope Mfg:  <input name="input" ng-model="ep.m_mfg" >
            </td>
            <td>
                Notes:  <textarea ng-model="ep.m_mfgNotes"> </textarea>
            </td>
            <td>
                Microscope Model:  <input name="input" ng-model="ep.m_model" >
            </td>
            <td>
                Notes:  <textarea ng-model="ep.m_modelNotes"> </textarea>
            </td>
        </tr>

        <tr>
            <td>
                Microscope Type: <select ng-model="ep.m_type">
                <option value="voltage">Voltage</option>
                <option value="laser">Laser</option>
            </select>
            </td>
            <td>
                Notes:  <textarea ng-model="ep.m_typeNotes"> </textarea>
            </td>
            <div ng-show="ep.m_type=='voltage'">
                <td>
                    Pulse Something:  <input name="input" ng-model="ep.pulseSomething" >
                </td>

            </div>
            <div ng-show="ep.m_type=='laser'">
                <td>
                    Pulse Energy:  <input name="input" ng-model="ep.pulseEnergy" >
                </td>
            </div>
        </tr>
        <tr>
            <td>
                Temperature: <input name="input" ng-model="ep.temp" >
            </td>
            <td>
                Notes:  <textarea ng-model="ep.tempNotes"> </textarea>
            </td>
        </tr>
        <tr>
            <td>
                Pulse Frequency: <input name="input" ng-model="ep.pulse_frequency" >
            </td>
            <td>
                Notes:  <textarea ng-model="ep.pulse_frequencyNotes"> </textarea>
            </td>
        </tr>
        <tr>
            <td>
                Specimen Prep:  <select ng-model="ep.s_prep">
                <option value="electropolish">Electropolish</option>
                <option value="fib">FIB</option>
            </select>
            </td>
            <td>
                Notes:  <textarea ng-model="ep.s_prepNotes"> </textarea>
            </td>

        </tr>

    </table>
</div>
<div ng-switch-when="SEM">
    <td><h5>Equipment Properties for SEM</h5></td>
    <table>
        <tr>
            <td>
                Microscope Mfg:  <input name="input" ng-model="ep.m_mfg" >
            </td>
            <td>
                Notes:  <textarea ng-model="ep.m_mfgNotes"> </textarea>
            </td>

        </tr>
        <tr>
            <td>
                Microscope Model:  <input name="input" ng-model="ep.m_model" >
            </td>
            <td>
                Notes:  <textarea ng-model="ep.m_modelNotes"> </textarea>
            </td>

        </tr>

        <tr>
            <td>
                Microscope Type: <select ng-model="ep.m_type">
                <option value="electron">Electron</option>
                <option value="ion">Ion</option>
            </select>
            </td>
            <td>
                Notes:  <textarea ng-model="ep.m_typeNotes"> </textarea>
            </td>
        </tr>


        <tr>
            <td>
                Voltage: <input name="input" ng-model="ep.voltage" >
            </td>
            <td>
                Notes:  <textarea ng-model="ep.voltageNotes"> </textarea>
            </td>

        </tr>
        <tr>
            <td>
                Current: <input name="input" ng-model="ep.current" >
            </td>
            <td>
                Notes:  <textarea ng-model="ep.currentNotes"> </textarea>
            </td>

        </tr>


        <tr>
            <td>
                Specimen Prep:  <select ng-model="ep.s_prep">
                <option value="electropolish">Electropolish</option>
                <option value="silicafinish">Silica Finish</option>
            </select>
            </td>
            <td>
                Notes:  <textarea ng-model="ep.s_prepNotes"> </textarea>
            </td>

        </tr>


    </table>
</div>
</div>
</div>
</div>

<div>
    <div class="row-fluid">
        <div class="offset1">
            <h4>First pick the datagroup to upload to (You may change for each file):</h4>

            <div class="offset1" style="margin-bottom:10px">
                <select class="span3" ng-model="datagroup"
                        ui-select2="{placeholder: 'Select datagroup', allowClear: true, width:'element'}"
                        ng-multiple="false">
                    <option></option>
                    <option ng-repeat="dg in datagroups">{{ dg.name }}</option>
                </select>
            </div>
        </div>
    </div>

    <div ng-show="datagroup">

        <div class="row-fluid">
            <div class="span8 offset1">
                <h4>Now choose files to upload</h4>
                <table class="table table-striped mc-table-hover table-condensed mc-table">
                    <thead>
                    <tr>
                    <th>File</th>
                    <th>Datagroup</th>
                    <th>Status</th>
                    </thead>
                    <tbody>
                    <tr ng-repeat="entry in files">
                        <td>{{ entry.file.name }}</td>
                        <td>{{ entry.datagroup }}</td>
                        <td>{{ entry.status }}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="row-fluid">
            <div class="offset1">

                <form class="form-horizontal">
                    <button type="submit" class="btn btn-primary pull-left" ng-click="uploadEachFile(mp,ep)">Upload</button>
                <span class="btn btn-success fileinput-button" style="margin-left: 2px">
                    <i class="icon-plus icon-white"></i>
                    <input type="file" name="file" ng-model="upFile"
                           onchange="angular.element(this).scope().addFile(this)"><span>Add files...</span>
                </span>
                </form>

                <div class="progress" ng-show="percentage">
                </div>
            </div>
        </div>
    </div>
</div>
</form>



