<div class="offset1">
    <h5>Select type: </h5>
    <select ng-model="preference">
        <option value="new">Add New Conditions</option>
        <option value="existing">Use Existing Conditions</option>
    </select>
</div>

<div ng-show="preference=='new'" class="row-fluid">

    <div class="span7 offset2">
        <h5>Create New Material Conditions</h5>

        <div class="well" ng-controller="MaterialConditionsController">
            <form>
                <table>
                    <tr>
                        <td>
                            Name:<br> <input name="input" ng-model="name" required>
                        </td>

                    </tr>
                    <tr>
                        <td>
                            Alloy Name: <br><input name="input" ng-model="alloy_name">
                        </td>
                        <td>
                            Notes: <textarea ng-model="alloy_name_notes"> </textarea>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Known Composition: <br><input name="input" ng-model="known_composition">
                        </td>
                        <td>
                            Notes: <textarea ng-model="known_composition_notes"> </textarea>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Manufacturing Condition: <br>
                            <select ng-model="manufacturing_condition">
                                <option value="rolled">rolled</option>
                                <option value="forged">forged</option>
                                <option value="cast">cast</option>
                            </select>
                        </td>
                        <td>
                            Notes: <textarea ng-model="manufacturing_condition_notes"> </textarea>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Heat Treatment: <br><input name="input" ng-model="heat_treatment">
                        </td>
                        <td>
                            Notes: <textarea ng-model="heat_treatment_notes"> </textarea>
                    </tr>

                </table>
                <button type="button" ng-click="add_mc_conditions()">Submit</button>
            </form>
        </div>
    </div>

    <form>
        <div class="span7 offset2" ng-controller="MaterialConditionsController">
            <h5>Create New Equipment Conditions</h5>

            <div class="well">
                <h5>Select equipment type:</h5>
                <select class="span12" ng-model="equipment_type">
                    <option value="TEM">TEM</option>
                    <option value="APT">APT</option>
                    <option value="SEM">SEM</option>
                </select>


                <div ng-show="equipment_type=='TEM'">
                    <td><h5>Equipment properties for TEM</h5></td>
                    <table>
                        <tr>
                            <td>Name: <br>
                                <input name="input" ng-model="name" required></td>
                        </tr>
                        <tr>
                            <td>Microscope Mfg: <br><input name="input" ng-model="microscope_mfg"></td>
                            <td>Notes: <textarea ng-model="microscope_mfg_notes"> </textarea></td>
                        </tr>
                        <tr>
                            <td>Microscope Model: <br><input name="input" ng-model="microscope_model"></td>
                            <td>Notes: <textarea ng-model="microscope_model_notes"> </textarea></td>
                        </tr>
                        <tr>
                            <td>Voltage:<br> <input name="input" ng-model="voltage"></td>
                            <td>Notes: <textarea ng-model="voltage_notes"> </textarea></td>
                        </tr>
                        <tr>
                            <td>Mode:<br> <select ng-model="mode">
                                <option value="diffraction">Diffraction</option>
                                <option value="transmission">Transmission</option>
                                <option value="scanning">Scanning</option>
                            </select>
                            </td>
                            <td>Notes: <textarea ng-model="mode_notes"> </textarea></td>
                        </tr>
                        <tr>
                            <td> Field:<br> <select ng-model="field">
                                <option value="bright">Bright</option>
                                <option value="dark">Dark</option>
                            </select>
                            </td>
                            <td> Notes: <textarea ng-model="field_notes"> </textarea></td>
                        </tr>
                        <tr>
                            <td>Specimen Prep: <br><select ng-model="specimen_prep">
                                <option value="electropolish">Electropolish</option>
                                <option value="fib">FIB</option>
                            </select>
                            </td>
                            <td>Notes: <textarea ng-model="specimen_prep_notes"> </textarea></td>
                        </tr>
                    </table>
                    <button type="button" ng-click="add_equipment_conditions()">Submit</button>
                </div>
                <div ng-show="equipment_type=='APT'">
                    <td><h5>Equipment properties for APT</h5></td>
                    <table>
                        <tr>
                            <td>Name: <br>
                                <input name="input" ng-model="name" required></td>
                        </tr>
                        <tr>
                            <td> Microscope Mfg:<br> <input name="input" ng-model="microscope_mfg"></td>
                            <td>Notes: <textarea ng-model="microscope_mfg_notes"> </textarea></td>
                        </tr>
                        <tr>
                            <td>Microscope Type: <br><select ng-model="microscope_type">
                                <option value="voltage">Voltage</option>
                                <option value="laser">Laser</option>
                            </select>
                            </td>
                            <td>Notes: <textarea ng-model="microscope_type_notes"> </textarea></td>
                        </tr>
                        <tr>
                            <td>Temperature:<br> <input name="input" ng-model="temp"></td>
                            <td>Notes: <textarea ng-model="temp_notes"> </textarea></td>
                        </tr>
                        <tr>
                            <td>Pulse Frequency:<br> <input name="input" ng-model="pulse_frequency"></td>
                            <td>Notes: <textarea ng-model="pulse_frequency_notes"> </textarea></td>
                        </tr>
                        <tr>
                            <td>Specimen Prep:<br> <select ng-model="specimen_prep">
                                <option value="electropolish">Electropolish</option>
                                <option value="fib">FIB</option>
                            </select>
                            </td>
                            <td>Notes: <textarea ng-model="specimen_prep_notes"> </textarea></td>
                        </tr>
                    </table>
                    <button type="button" ng-click="add_equipment_conditions()">Submit</button>
                </div>
                <div ng-show="equipment_type=='SEM'">
                    <td><h5>Equipment properties for SEM</h5></td>
                    <table>
                        <tr>
                            <td>Name: <br>
                                <input name="input" ng-model="name" required></td>
                        </tr>
                        <tr>
                            <td>Microscope Mfg: <br><input name="input" ng-model="microscope_mfg"></td>
                            <td>Notes: <textarea ng-model="microscope_mfg_notes"> </textarea></td>
                        </tr>
                        <tr>
                            <td>Microscope Model: <br><input name="input" ng-model="microscope_model"></td>
                            <td>Notes: <textarea ng-model="microscope_model_notes"> </textarea>
                        </tr>
                        <tr>
                            <td>Microscope Type:<br> <select ng-model="microscope_type">
                                <option value="electron">Electron</option>
                                <option value="ion">Ion</option>
                            </select>
                            </td>
                            <td>Notes: <textarea ng-model="microscope_type_notes"> </textarea></td>
                        </tr>
                        <tr>
                            <td>Voltage:<br> <input name="input" ng-model="voltage"></td>
                            <td> Notes: <textarea ng-model="voltage_notes"> </textarea></td>
                        </tr>
                        <tr>
                            <td>Current: <br> <input name="input" ng-model="current"></td>
                            <td>Notes: <textarea ng-model="current_notes"> </textarea></td>
                        </tr>
                        <tr>
                            <td>Specimen Prep:<br> <select ng-model="specimen_prep">
                                <option value="electropolish">Electropolish</option>
                                <option value="silicafinish">Silica Finish</option>
                            </select>
                            </td>
                            <td>Notes: <textarea ng-model="specimen_prep_notes"> </textarea></td>
                        </tr>
                    </table>
                    <button type="button" ng-click="add_equipment_conditions()">Submit</button>

                </div>
            </div>
        </div>

</div>
</form>


<div>
    <div class="row-fluid">
        <div class="offset1">
            <h5>Pick the datadir to upload to (You may change for each file):</h5>

            <div style="margin-bottom:10px">
                <select class="span3" ng-model="datagroup"
                        ui-select2="{placeholder: 'Select datagroup', allowClear: true, width:'element'}"
                        ng-multiple="false">
                    <option></option>
                    <option ng-repeat="dg in datagroups">{{ dg.name }}</option>
                </select>
            </div>

        </div>

    </div>


    <div ng-show="datagroup">
        <div class="row-fluid">
            <div class="span8 offset1">
                <h4>Now choose files to upload</h4>
                <table class="table table-striped mc-table-hover table-condensed mc-table">
                    <thead>
                    <tr>
                    <th>File</th>
                    <th>Datagroup</th>
                    <th>Status</th>
                    <th>material conditions <select class="span6" ng-model="top_level_mc"
                                                    ng-options="mc.name for mc in material_conditions"
                                                    ng-change="apply_to_all_files()"></select>
                    </th>
                    <th>equipment conditions <select class="span6" ng-model="top_level_ec"
                                                     ng-options="eq.name for eq in equipment_conditions"
                                                     ng-change="apply_to_all_files()"></select></th>
                    </thead>
                    <tbody>
                    <tr ng-repeat="entry in files">
                        <td>{{ entry.file.name }}</td>
                        <td>{{ entry.datagroup }}</td>
                        <td>{{ entry.status }}</td>
                        <td>
                            <select class="span6" ng-model="entry.material_condition"
                                    ng-options="entry.name for  entry in material_conditions"
                                    ng-change="update_file_entry(entry.file.name, entry.material_condition, '')">
                            </select>
                        </td>
                        <td>
                            <select class="span6" ng-model="entry.equipment_condition"
                                    ng-options="condition.name for  condition in equipment_conditions"
                                    ng-change="update_file_entry(entry.file.name,'', entry.equipment_condition)">
                            </select>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="row-fluid">
            <div class="offset1">

                <form class="form-horizontal">
                    <button type="submit" class="btn btn-primary pull-left" ng-click="uploadEachFile()">Upload</button>
                <span class="btn btn-success fileinput-button" style="margin-left: 2px">
                    <i class="icon-plus icon-white"></i>
                    <input type="file" name="file" ng-model="upFile"
                           onchange="angular.element(this).scope().addFile(this)"><span>Add files...</span>
                </span>
                </form>

                <div class="progress" ng-show="percentage">
                </div>
            </div>
        </div>
    </div>
</div>
</form>


