<div class="row-fluid">
<div class="span7 offset2">
    <h4>Material Conditions</h4>
    <div class="well" ng-controller="MaterialConditionsController">
        <form>
            <table>
                <tr>
                    <td>
                        Name: <input name="input" ng-model="name"  required>
                    </td>
                </tr>

                <tr>
                    <td>
                        Alloy Name: <input name="input" ng-model="alloy_name" >
                    </td>
                    <td>
                        Notes: <textarea ng-model="alloy_name_notes"> </textarea>
                    </td>
                </tr>
                <tr>
                    <td>
                        Known Composition: <input name="input" ng-model="known_composition">
                    </td>
                    <td>
                        Notes: <textarea ng-model="known_composition_notes"> </textarea>
                    </td>
                </tr>
                <tr>
                    <td>
                        Manufacturing Condition:
                        <select ng-model="manufacturing_condition">
                            <option value="rolled">rolled</option>
                            <option value="forged">forged</option>
                            <option value="cast">cast</option>
                        </select>
                    </td>
                    <td>
                        Notes: <textarea ng-model="manufacturing_condition_notes"> </textarea>
                    </td>
                </tr>
                <tr>
                    <td>
                        Heat Treatment: <input name="input" ng-model="heat_treatment">
                    </td>
                    <td>
                        Notes: <textarea ng-model="heat_treatment_notes"> </textarea>
                </tr>

            </table>
            <button type="button" ng-click="add_mc_conditions()">Submit</button>
        </form>
    </div>
</div>

<div class="span6 offset2" ng-controller="MaterialConditionsController">
<form>
        <div class="well">
            <table>
                <tr>
                    <td><h5>Select equipment type:</h5></td>
                    <td><select class="span12" ng-model="equipment_type">
                        <option value="TEM">TEM</option>
                        <option value="APT">APT</option>
                        <option value="SEM">SEM</option>
                    </select></td>
                <tr>
                    <td>
                        Name: <input name="input" ng-model="name"  required>
                    </td>
                </tr>
                </tr>
            </table>
        </div>
        <div>
        <div class="well">
            <div ng-show="equipment_type=='TEM'">
                <td><h5>Equipment Attributes for TEM</h5></td>
                <table>

                    <tr>
                        <td>Microscope Mfg: <input name="input" ng-model="microscope_mfg" ></td>
                        <td>Notes: <textarea ng-model="microscope_mfg_notes"> </textarea></td>
                    </tr>
                    <tr>
                        <td>Microscope Model: <input name="input" ng-model="microscope_model" ></td>
                        <td>Notes: <textarea ng-model="microscope_model_notes"> </textarea></td>
                    </tr>
                    <tr>
                        <td>Voltage: <input name="input" ng-model="voltage"></td>
                        <td>Notes: <textarea ng-model="voltage_notes"> </textarea> </td>
                    </tr>
                    <tr>
                        <td>Mode: <select ng-model="mode">
                            <option value="diffraction">Diffraction</option>
                            <option value="transmission">Transmission</option>
                            <option value="scanning">Scanning</option>
                        </select>
                        </td>
                        <td>Notes: <textarea ng-model="mode_notes"> </textarea></td>
                    </tr>
                    <tr>
                        <td> Field: <select ng-model="field">
                            <option value="bright">Bright</option>
                            <option value="dark">Dark</option>
                            </select>
                        </td>
                        <td> Notes: <textarea ng-model="field_notes"> </textarea></td>
                    </tr>
                    <tr>
                        <td>Specimen Prep: <select ng-model="specimen_prep">
                            <option value="electropolish">Electropolish</option>
                            <option value="fib">FIB</option>
                            </select>
                        </td>
                        <td>Notes: <textarea ng-model="specimen_prep_notes"> </textarea></td>
                    </tr>
                </table>
            </div>
            <div ng-show="equipment_type=='APT'">
                <td><h5>Equipment Attributes for APT</h5></td>
                <table>
                    <tr>
                        <td> Microscope Mfg: <input name="input" ng-model="microscope_mfg"></td>
                        <td>Notes: <textarea ng-model="microscope_mfg_notes"> </textarea></td>
                    </tr>
                    <tr>
                        <td>Microscope Type: <select ng-model="microscope_type">
                            <option value="voltage">Voltage</option>
                            <option value="laser">Laser</option>
                            </select>
                        </td>
                        <td>Notes: <textarea ng-model="microscope_type_notes"> </textarea></td>
                    </tr>
                    <tr>
                        <td>Temperature: <input name="input" ng-model="temp"> </td>
                        <td>Notes: <textarea ng-model="temp_notes"> </textarea></td>
                    </tr>
                    <tr>
                        <td>Pulse Frequency: <input name="input" ng-model="pulse_frequency"> </td>
                        <td>Notes: <textarea ng-model="pulse_frequency_notes"> </textarea> </td>
                    </tr>
                    <tr>
                        <td>Specimen Prep: <select ng-model="specimen_prep">
                            <option value="electropolish">Electropolish</option>
                            <option value="fib">FIB</option>
                            </select>
                        </td>
                        <td>Notes: <textarea ng-model="specimen_prep_notes"> </textarea></td>
                    </tr>
                </table>
            </div>
            <div ng-show="equipment_type=='SEM'">
                <td><h5>Equipment Attributes for SEM</h5></td>
                <table>
                    <tr>
                        <td>Microscope Mfg: <input name="input" ng-model="microscope_mfg"></td>
                        <td>Notes: <textarea ng-model="microscope_mfg_notes"> </textarea> </td>
                    </tr>
                    <tr>
                        <td>Microscope Model: <input name="input" ng-model="microscope_model"></td>
                        <td>Notes: <textarea ng-model="microscope_model_notes"> </textarea>
                    </tr>
                    <tr>
                        <td>Microscope Type: <select ng-model="microscope_type">
                            <option value="electron">Electron</option>
                            <option value="ion">Ion</option>
                            </select>
                        </td>
                        <td>Notes: <textarea ng-model="microscope_type_notes"> </textarea></td>
                    </tr>
                    <tr>
                        <td>Voltage: <input name="input" ng-model="voltage"></td>
                        <td> Notes: <textarea ng-model="voltage_notes"> </textarea></td>
                    </tr>
                    <tr>
                        <td>Current: <input name="input" ng-model="current"></td>
                        <td>Notes: <textarea ng-model="current_notes"> </textarea> </td>
                    </tr>
                    <tr><td>Specimen Prep: <select ng-model="specimen_prep">
                            <option value="electropolish">Electropolish</option>
                            <option value="silicafinish">Silica Finish</option>
                            </select>
                        </td>
                        <td>Notes: <textarea ng-model="specimen_prep_notes"> </textarea></td>
                    </tr>
                </table>
            </div>
        </div>
        </div>

    <button type="button" ng-click="add_equipment_conditions()">Submit</button>
    </form>
</div>
</div>


<div>
    <div class="row-fluid">
        <div class="offset1">
            <h4>Pick the datadir to upload to (You may change for each file):</h4>

            <div class="offset1" style="margin-bottom:10px">
                <select class="span3" ng-model="datagroup"
                        ui-select2="{placeholder: 'Select datagroup', allowClear: true, width:'element'}"
                        ng-multiple="false">
                    <option></option>
                    <option ng-repeat="dg in datagroups">{{ dg.name }}</option>
                </select>

            </div>

        </div>

    </div>










    <div ng-show="datagroup">
        <div class="row-fluid">
            <div class="span8 offset1">
                <h4>Now choose files to upload</h4>
                <table class="table table-striped mc-table-hover table-condensed mc-table">
                    <thead>
                    <tr>
                    <th>File</th>
                    <th>Datagroup</th>
                    <th>Status</th>
                    <th>material conditions</th>
                    <th>equipment conditions</th>

                    </thead>
                    <tbody>
                    <tr ng-repeat="entry in files">
                        <td>{{ entry.file.name }}</td>
                        <td>{{ entry.datagroup }}</td>
                        <td>{{ entry.status }}</td>
                        <td>
                            <select class="span3" ng-model="entry.mc"
                                    ui-select2="{placeholder: 'Select material conditions', allowClear: true, width:'element'}"
                                    ng-multiple="false">
                                <option></option>
                                <option ng-repeat="dg in material_conditions">{{ dg.name }}</option>
                            </select>
                        </td>
                        <td>
                            <select class="span3" ng-model="entry.mc"
                                    ui-select2="{placeholder: 'Select equipment properties', allowClear: true, width:'element'}"
                                    ng-multiple="false">
                                <option></option>
                                <option ng-repeat="dg in equipment_conditions">{{ dg.name }}</option>
                            </select>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="row-fluid">
            <div class="offset1">

                <form class="form-horizontal">
                    <button type="submit" class="btn btn-primary pull-left" ng-click="uploadEachFile()">Upload</button>
                <span class="btn btn-success fileinput-button" style="margin-left: 2px">
                    <i class="icon-plus icon-white"></i>
                    <input type="file" name="file" ng-model="upFile"
                           onchange="angular.element(this).scope().addFile(this)"><span>Add files...</span>
                </span>
                </form>

                <div class="progress" ng-show="percentage">
                </div>
            </div>
        </div>
    </div>
</div>
</form>


