<md-table-container>
    <table md-table>
        <thead md-head md-order="$ctrl.sortOrder">
        <tr md-row>
            <th md-column md-order-by="status">Status</th>
            <th md-column md-order-by="name">Name</th>
            <th md-column></th>
            <th md-column md-order-by="owner_details.fullname">Owner</th>
            <th md-column md-order-by="mtime">Modified</th>
            <th md-column md-order-by="experiments.length">E</th>
            <th md-column md-order-by="samples.length">S</th>
            <th md-column md-order-by="processes.length">P</th>
            <th md-column md-order-by="files_count">F</th>
            <th md-column md-order-by="users.length">U</th>
            <th md-column>Reminders</th>
        </tr>
        </thead>
        <tbody>
        <tr md-row class="md-row-hover pointer"
            ng-class="{'cell-left-odd': $index%2 !== 0, 'cell-left-even': $index%2 == 0}"
            style='border-left-width: 8px;'
            ng-repeat="project in $ctrl.projects | filter:$ctrl.query | orderBy:$ctrl.sortOrder">
            <td md-cell>
                <mc-project-status status="project.status"></mc-project-status>
            </td>
            <td md-cell>
                <div layout="column">
                    <a ui-sref="project.home({project_id: project.id})" tooltip="{{project.name}}">
                        {{project.name |truncate:40:'...'}}
                    </a>
                    <span>{{project.description}}</span>
                </div>
            </td>
            <td md-cell>
                <a ng-click="$ctrl.showProjectOverview(project)">
                    <i class="fa fa-fw fa-info-circle"></i>
                </a>
            </td>
            <td md-cell>
                {{project.owner_details.fullname | truncate:20:'...'}}
            </td>
            <td md-cell>
                {{project.mtime | date:'shortDate'}}
            </td>
            <td md-cell>{{project.experiments.length | number}}</td>
            <td md-cell>{{project.samples.length | number}}</td>
            <td md-cell>{{project.processes.length | number}}</td>
            <td md-cell>{{project.files_count | number}}</td>
            <td md-cell>{{project.users.length | number}}</td>
            <td md-cell
                style="border-right-width: 8px"
                ng-class="{'cell-right-odd': $index%2 !== 0, 'cell-right-even': $index%2 ==0}">
                <ul>
                    <li ng-repeat="reminder in project.reminders" class="mc-md-primary-color">{{reminder.note}}</li>
                </ul>
            </td>
        </tr>
        </tbody>
    </table>
</md-table-container>