<div class="row-fluid">
    <div class="span7">
        <h4>Material:</h4>
        <ol>
            <li> Form shown below will help you to create a new material.</li>
            <li> Usage: you can select this newly created material while creating your provenance.</li>
        </ol>
    </div>
    <div class="span4">
        <label>Available Materials :</label><select ng-model="test">
        <option></option>
        <option ng-repeat="m in materials_list" value="{{m}}"
                >{{m.name}}
        </option>

    </select><br>
    </div>
</div>

<div class="row-fluid">
    <div class="span7">
        <div class="block" >
            <h4>Create:</h4>
            <div class="well">
                <label>Name:</label> <span><input ng-model="material.name" placeholder="Name your material"
                                                  type="text"></span> <br>
                <label>Alloy:</label><span><input ng-model="material.alloy_name" placeholder="alloy....."
                                                      type="text"></span><br>
                <label>Composition</label><span><input ng-model="material.composition" placeholder="material composition.."
                                                      type="text"></span><br>
                <label>Contact: </label><span><input ng-model="material.contact_email" placeholder="email.."
                                                     type="text"></span><br>

                <label>Notes:</label><span>  <textarea class="input-large" placeholder="Type your notes.." ng-model="material.notes"/></span>
                <br>
                <label>---------Custom Properties -----------</label><br>
                          <span ng-repeat="pv in material.model">
                            <label>{{pv.name}}:</label><span><input type="text"  ng-model="pv.value"></span><br>
                                        </span>
                <label>Add Custom Properties:</label>
                               <span>
                                    <input ng-model="additional_prop" placeholder="type property name ....."
                                           type="text">
                                    <button ng-click="custom_property()">add</button>
                               </span>

                <br><br>
                <button ng-disabled="!material.name" ng-click="save()">Save Material</button>
                <button ng-click="clear_material()">clear</button>
            </div>

        </div>
    </div>
    <div class="span5"  ng-show="mat">
        <h4>Created Material: {{mat.name}}</h4>
        <div class="block" >

            <div class="well">
                <label>Name:</label><span>{{mat.name}}</span><br>
                <label>Contact:</label><span>{{mat.contact_email}}</span><br>
                <label>Notes:</label><span>{{mat.notes}}</span><br>
                <div ng-repeat="kv in mat.model">
                    <label>{{kv.name}}:</label>  <span>{{kv.value}}</span>
                </div>
            </div><br>

        </div>
    </div>

</div>
