<form name="Form" class="form-horizontal">
    <div class="form-group">
        <label class="control-label col-lg-2">Review Title:<i class="fa fa-asterisk"></i></label>

        <div class="col-lg-4">
            <input name="title" validator="required"  ng-model="model.title" class="form-control" type="text" placeholder="Title...">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-lg-2">Assign To:<i class="fa fa-asterisk"></i></label>

        <div class="col-lg-4">
            <select class="form-control" ng-model="model.assigned_to" name="assign_to" validator="required">
                <option disabled>-- Assign to --</option>
                <option ng-repeat="user in project.users">{{ user.user_id }}</option>
            </select>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-lg-2">Comment:</label>

        <div class="col-lg-4">
            <text-angular ta-toolbar="[['h1','h2','h3', 'h4', 'h5', 'h6','p', 'quote'],
                          ['bold','italics','underline','ul','ol'],['undo', 'redo','clear'],
                          ['justifyLeft','justifyCenter','justifyRight'], ['insertLink', 'insertImage']]"
                          ng-model="model.comment"></text-angular>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-lg-2">Select Files(from project tree):</label>

        <div class="col-lg-8">
            <div ng-show="model.files.length == 0">
                <p class="text-muted"> None </p>
            </div>
            <div ng-repeat="item in model.files">
                {{item.fullname}}
                <button type="button" class="close" ng-click="removeFile($index);">&times;</button>
            </div>
        </div>
    </div><br>
    <div class="form-group">
        <label class="control-label col-lg-2"></label>
        <button validation-submit="Form" ng-click="create()" class="btn btn-primary">Create</button>
        <button ng-click="cancel()" class="btn btn-danger">Cancel</button>
    </div>
</form>
