<div class="row">
    <div class="col-xs-offset-2 col-xs-8">
        <strong>Note:</strong>
        <div class="info-box">
            <form name="Form" class="form-horizontal">
                <div class="form-group">
                    <label class="control-label col-lg-2">Title:</label>

                    <div class="col-lg-4">
                        <input class="form-control" ng-model="doc.title">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-lg-2">Note:</label>

                    <div class="col-lg-8">
                        <text-angular ta-toolbar="[['h1','h2','h3', 'h4', 'h5', 'h6','p', 'quote'],
                              ['bold','italics','underline','ul','ol'],['undo', 'redo','clear'],
                              ['justifyLeft','justifyCenter','justifyRight'], ['insertLink', 'insertImage']]"
                                      ng-model="doc.notes">
                        </text-angular>
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>
