<div class="row">
    <div class="col-xs-offset-1 col-xs-8" style="background-colorx: grey; margin-bottom: 10px;">
        <div class="col-xs-offset-3">
            <ul class="list-inline vertical-tool-bar">
                <li>
                    <a tooltip="Composition"
                       tooltip-popup-delay="500"
                       ng-click="setActive('composition')"
                       class="action-link">
                        <div class="tool-bar-action"
                             ng-style="projectColor()">
                            <i class="fa fa-flask fa-2x"></i>
                        </div>
                    </a>
                </li>

                <li>
                    <a tooltip="Projects"
                       tooltip-popup-delay="500"
                       ng-click="setActive('projects')"
                       class="action-link">
                        <div class="tool-bar-action"
                             ng-style="projectColor()">
                            <i class="fa fa-briefcase fa-2x"></i>
                        </div>
                    </a>
                </li>

                <li ng-if="false">
                    <a tooltip="Provenance"
                       tooltip-popup-delay="500"
                       ng-click="setActive('provenance')"
                       class="action-link">
                        <div class="tool-bar-action"
                             ng-style="projectColor()">
                            <i class="fa fa-code-fork fa-2x"></i>
                        </div>
                    </a>

                </li>

                <li>
                    <a tooltip="Notes"
                       tooltip-popup-delay="500"
                       ng-click="setActive('notes')"
                       class="action-link">
                        <div class="tool-bar-action"
                             ng-style="projectColor()">
                            <i class="fa fa-edit fa-2x"></i>
                        </div>
                    </a>
                </li>

                <li ng-if="false">
                    <a tooltip="Attachments"
                       tooltip-popup-delay="500"
                       ng-click="setActive('attachments')"
                       class="action-link">
                        <div class="tool-bar-action"
                             ng-style="projectColor()">
                            <i class="fa fa-paperclip fa-2x"></i>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
