<div class="row">
    <div class="col-xs-4">
        <div class="details-sidebar" style=" margin-bottom: -900px;padding-bottom: 900px;">
            <ul class="list-group">
                <li ui-sref="projects.project.samples.all.edit({'sample_id': sample.id})"
                    class="list-group-item pointer"
                    ng-repeat="sample in project.samples | orderBy:'name'"
                    ng-class="{'sample': current.id === sample.id}"
                    ng-click="viewSample(sample)">
                    <img src="assets/img/splash/sample_icon.png" style="height: 35px;padding-bottom: 10px;">
                    {{sample.name}}
                </li>
            </ul>
        </div>
    </div>
    <div class="col-xs-8" stylex="margin-left: 10px;">
        <div ui-view></div>
    </div>
</div>
