<div class="details-main-content">
    <div class="row" style="margin-top: 20px;">
        <div class="col-xs-7">
            <div class="headings sample">Create</div><br>
            <div class="row">
                <input class="form-control col-xs-6" ng-model="sample.name" placeholder="Name">
            </div>
            <br>

            <div class="row">
                <textarea placeholder="Description" ng-model="sample.description"
                          class="form-control col-xs-8"></textarea>
            </div>
            <br>

            <div class="row">
                <textarea placeholder="Note" ng-model="sample.note" class="form-control col-xs-8"></textarea>
            </div>
            <br>

            <div class="col-xs-12 sample headings">Attachments</div>
            <div class="row" style="padding: 15px;">
                <br>
                <button ng-click="open('lg', 'inputFiles')"
                        style="border: 3px dotted #d3d3d3;border-radius: 3px;color: #d3d3d3 "
                        class="btn btn-default"><i
                        class="fa fa-fw fa-plus"></i> ADD
                </button>
                <br><br>

                <div class="row" ng-repeat="attachment in sample.attachments">
                    <div ng-if="attachment.type === 'datafile'" class="col-xs-12">
                        <i class="fa fa-fw fa-paperclip fa-lg" style="color: #919191"></i>
                        <img src="assets/img/splash/file_icon.png"
                             style="height: 40px;padding-bottom: 10px;">
                        <a ng-click="openDetails(attachment)" class="link pointer">{{attachment.name}}</a>
                        <i style="padding-left: 20px;" ng-click="removeAttachment(attachment)"
                           class="fa fa-fw fa-close pull-right pointer"></i>
                    </div>
                </div>
            </div>

        </div>
    </div>