<div class="details-main-content">
    <div style="padding-left:30px;">
        <div class="row">
            <div class="sample headings">Details</div>
            <div class="col-xs-12">
                <div class="row"><b>Name: </b>{{current.name}} <br></div>
                <div class="row"><b>Owner:</b> {{current.owner}} <br></div>
                <div class="row"><b>Description: </b><br>{{current.description}}</div>
            </div>
        </div>
        <div class="row">
            <div class="sample headings">Transformation</div>
            <p>
                <small class="text-muted">This section will provide <b>{{current.name}}</b> initial measurements and
                    how these measures have been transformed overtime.
                </small>
            </p>
            <ul style="padding-left: 40px;" class="list-inline">
                <li style="padding:10px;" ng-repeat="(key, values) in property_sets">
                    <div ng-repeat="process in values">
                        <b ng-if="process.does_transform === true && process.direction == 'out'">
                            <img style="height: 30px;padding-bottom: 10px; margin-right:5px"
                                 src="assets/img/splash/process-icon.png">
                            <a ng-class="{'underline': key === ps_id}"
                               ng-click="showProperties(key)"> {{process.name}}</a></b>
                    </div>
                </li>
            </ul>
        </div>
        <div class="row">
            <ul>
                <li style="padding:10px;" ng-repeat="property in properties">
                    <b>{{property.name}}</b> :
                    <div class="row">
                        <div class="col-xs-offset-1">
                            <div class="row">
                               <span> <u>Best Measure </u>::
                                    <a style="padding-left: 10px;" class="underline" ng-click="measurements(property)">edit</a>
                                </span>
                                <span ng-if="property.best_measure.length !== 0">
                                    <display-measurement project="project"
                                                         measure="property.best_measure[0]"></display-measurement>
                                </span>
                            </div>
                            <u>Measurements</u> ::
                            <ul>
                                <li ng-repeat="measure in property.measurements">
                                    <div>
                                        <display-measurement current-process="true" project="project"
                                                             measure="measure"></display-measurement>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </li>
            </ul>
        </div>


        <div class="row">
            <div class="sample headings">Files</div>
            <div class="row" ng-repeat="file in current.files" style="margin-bottom: 20px">
                <div style="padding-left: 10px;padding-bottom: 10px;line-height: 5px;">
                    <img src="assets/img/splash/file_icon.png" style="height: 40px;padding-bottom: 10px;">
                    <a ng-click="openFile(file)" class="link" style="padding-left: 15px;">{{file.name}}</a>

                    <div style="padding-left: 80px">
                        <p class="row">
                            <small class="text-muted">{{file.birthtime | toDateString}}, {{file.size | bytes}}
                            </small>
                        </p>
                        <div ng-if="isImage(file.mediatype.mime)" class="row">
                            <a ng-click="openFile(file)">
                                <img class="img-thumbnail" height="140" width="140"
                                     ng-src={{fileSrc(file.id)}}>
                            </a>
                        </div>
                    </div>
                </div>
                <div ng-if="true" class="row" style="padding-left: 80px">
                    <span ng-repeat="process in file.processes">
                        <img class="mc-icon-image" src="assets/img/splash/process-icon.png">
                        <a ng-click="openProcess(process.id)">{{process.name}}</a>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>