<div class="tab-pane">
    <div class="row">
        <div class="row">
            <div class="col-xs-5" ng-repeat="set in ctrl.sample.property_sets | reverse">
                <div class="row" ng-repeat="process in set.processes">
                    {{process.name}}
                </div>
            </div>
        </div>
        <hr/>
        <div class="col-xs-5" ng-repeat="set in ctrl.sample.property_sets | reverse">
            <div ng-repeat="property in set.properties | orderBy: 'name'">
                {{property.name}} :
                <div style="padding-left: 30px;" ng-repeat="measure in property.measurements">{{measure.value}}
                    {{measure.unit}}
                </div>
                <br>

                <div ng-if="property.measurements.length === 0"><br></div>
            </div>
        </div>
    </div>

</div>