<div class="row tab-pane">
    <div class="col-xs-12 measurements-tab">
        <table class="table">
            <thead>
                <th class="padding-process" ng-repeat="set in ctrl.sample.property_sets">
                    <div ng-repeat="process in set.processes">
                        <i class="fa fa-fw fa-code-fork"></i> {{process.name}}
                    </div>
                </th>
            </thead>
            <tbody>
            <tr>
                <td class="padding-measure" ng-repeat="set in ctrl.sample.property_sets">
                    <div ng-repeat="property in set.properties | orderBy: 'name'">
                        <a class="underline" ng-click="ctrl.measurements(property)"><i
                                tooltip="Edit Best Measure" class="fa fa-fw fa-edit"></i></a>{{property.name}} :
                        <span ng-if="property.best_measure.length !== 0">
                                  <display-measurement display-inline="true" current-process="true" project="ctrl.project"
                                                       measure="property.best_measure[0]"></display-measurement>
                        </span>
                        <div class="row">
                            Measurements : <span ng-if="property.measurements.length === 0">--None--<br><br></span>
                            <ul style="list-style-type: circle;">
                                <li ng-repeat="measure in property.measurements">
                                    <div>
                                        <display-measurement current-process="true" project="ctrl.project"
                                                             measure="measure"></display-measurement>
                                    </div>
                                </li>
                            </ul>
                            <br>
                        </div>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
        <div ng-if="ctrl.sample.property_sets.length === 0">
            No Measurements
        </div>
    </div>
</div>