<div class="row">
    <div class="col-xs-4 card card-dark card-left card-side-bar">
        <ul ng-if="ctrl.samples.length !== 0" class="list-group">
            <li class="list-group-item pointer"
                ng-repeat="s in ctrl.samples"
                ng-class="{active: ctrl.current.id === s.id}"
                ui-sref="projects.project.samples.edit({sample_id: s.id})">
                <b class="list-group-item-heading">{{s.name}}
                </b>
                <div class="truncate-text" class="small">{{s.description}}</div>
            </li>
        </ul>
        <h4 ng-if="ctrl.samples.length === 0" class="text-center text-uppercase">
            No Samples
        </h4>
    </div>
    <div class="col-xs-8 card-right no-padding">
        <div ui-view></div>
    </div>
</div>



