<div>
    <div class="modal-header">
        <h3 class="modal-title">Choose Best Measure for Composition</h3>
    </div>
    <div class="modal-body">
        <div class="row" ng-repeat="measure in modal.property.measurements">
            <div class="col-xs-1">
                <input type="radio" ng-model="color" value="{{measure.value}}">
            </div>
            <div class="col-xs-2">
                {{measure.value}}  {{measure.unit}}
            </div>
            <div class="col-xs-2">
                <img src="assets/img/splash/process-icon.png" style="height: 30px;padding-bottom: 10px;">
                processabc
            </div>

        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="ok()">OK</button>
        <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
    </div>
</div>

