

<div class="container-fluid" ng-controller="toolbar">
    <div class="row-fluid">
        <div class="span2">
            <div class="sidebar-nav-fixed">
                <div class="well">
                    <ul class="nav nav-list">
                        <li ng-show="showDrafts" class="nav-header"><i class="fa fa-book"></i> Provenance</li>
                        <li ng-show="showDrafts" ng-controller="toolbarDrafts">
                            <a href="#/mytools/drafts">Drafts ({{drafts.length}})</a>
                        </li>
                        <li class="nav-header"><i class="icon-wrench"></i>MyTools</li>
                        <li ng-controller="toolbarProjects" id="my-data-tab"><a href="" style="cursor:pointer"
                                                                                          ng-click="showProjs=!showProjs">
                            <i ng-show="showProjs" class="fa fa-folder-open"></i>
                            <i ng-show="!showProjs" class="fa fa-folder"></i> Projects</a>

                            <div ng-show="showProjs" class="project-scrollbar">
                                <ul ng-repeat="proj in projects|orderBy:'name'">
                                    <li style="list-style-type: circle">
                                        <a ui-sref="toolbar.projectspage({id: proj.id, draft_id: ''})">{{proj.name}}</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li id="data-tab"><a ui-sref="toolbar.mydatapage">My Data</a></li>
                        <li id="tags-tab"><a ui-sref="toolbar.tagspage">Tags</a></li>
                        <li ng-controller="toolbarReviews" id="reviews-tab">
                            <a ui-sref="toolbar.reviews">Reviews ({{reviewstoConduct.length}})</a>
                        </li>

                        <li><a ui-sref="toolbar.machines">Machines</a></li>
                        <li><a ui-sref="toolbar.materials">Materials</a></li>

                        <li class="nav-header"><i class="icon-tags"></i>Commonly Used Tags</li>
                        <div ng-controller="toolbarTags">
                            <span style="cursor:pointer" class="label label-info custom"
                                  ng-repeat="tag in tags | limitTo: 10">
                            <a ui-sref="toolbar.databytag({name: tag.name})" style="color: white">{{ tag.name }}
                                ({{tag.count}})</a>
                        </span>
                        </div>
                    </ul>
                </div>
            </div>
        </div>
        <div class="span10">
            <div ui-view></div>
        </div>
    </div>
</div>


