<ul class="nav nav-tabs">
    <li ng-repeat="ip in conditions">
        <a href="#{{stepType}}-{{ip.type}}" ng-click="showtab(ip, ip.type)" data-toggle="tab"><b> {{ip.properties.name.value}}</b></a>
    </li>
    <li class="dropdown">
        <a id="myTabDrop1" class="dropdown-toggle" data-toggle="dropdown">Files <b class="caret"></b></a>
        <ul class="dropdown-menu" role="menu" aria-labelledby="myTabDrop1">
            <li ng-repeat="f in files">
                <a href="#{{stepType}}-file" ng-click="showtab(f, f.type)" tabindex="-1" data-toggle="tab">{{f.properties.name.value}}</a>
            </li>
        </ul>
    </li>
</ul>

<div class="tab-content">
    <div id="{{stepType}}-condition" class="tab-pane fade ">
        <div ng-repeat="p in item.properties">
            <cgroup label="{{p.name}}:">
                <input class="form-control" ng-model="p.value" ng-disabled="true" type="text">
            </cgroup>
        </div>
    </div>
    <div id="{{stepType}}-id" class="tab-pane fade ">
        <div upperlevel-object="" bk="bk" doc="item" edit="true"></div>
        <div ng-repeat="property in item.properties">
            <cgroup label="{{property.name}}">
                <input class="input-large form-control" ng-model="property.value" ng-disabled="true" type="text">
                {{ property.unit }}
            </cgroup>
        </div>
        <div ad-properties="" doc="item" edit="true" bk=""></div>
    </div>
    <div id="{{stepType}}-file" class="tab-pane fade">
        <cgroup label="Name:">
            <input class="form-control" ng-model="item.name" ng-disabled="true" type="text">   <a ui-sref="toolbar.dataedit({id: item.id})">view</a>
        </cgroup>
        <cgroup label="Owner:">
            <input class="form-control" ng-model="item.owner" ng-disabled="true" type="text">
        </cgroup>
        <div ng-show="item.notes.length > 0">
            <h5>Previous Notes:</h5>
            <table class="table">
                <thead>
                <tr><th>Message</th>
                    <th>Who</th>
                    <th>Date Created</th>
                </tr></thead>
                <tbody>
                <tr ng-repeat="note in item.notes">
                    <td>{{note.message}}</td>
                    <td>{{note.who}}</td>
                    <td>{{note.date}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>