    <ul class="nav nav-tabs">
        <li ng-repeat="ip in conditions">
           <a href="#{{stepType}}-{{ip.type}}" ng-click="showtab(ip, ip.type)" data-toggle="tab"><b> {{ip.properties.name.value}}</b></a>
        </li>
            <li class="dropdown">
                <a id="myTabDrop1" class="dropdown-toggle" data-toggle="dropdown">Files <b
                        class="caret"></b></a>
                <ul class="dropdown-menu" role="menu" aria-labelledby="myTabDrop1">
                    <li ng-repeat="f in files">
                        <a href="#{{stepType}}-file" ng-click="showtab(f, f.type)" tabindex="-1" data-toggle="tab">{{f.properties.name.value}}</a>
                    </li>
                </ul>
            </li>
    </ul>

    <div class="tab-content">
        <div id="{{stepType}}-condition" class="tab-pane fade ">
            <div ng-repeat="p in item.properties">
                <cgroup label="{{p.name}}:">
                    <input ng-model="p.value" type="text" ng-disabled="true">
                </cgroup>
            </div>
        </div>
        <div id="{{stepType}}-id" class="tab-pane fade ">
            <div upperlevel-object bk="bk" doc="item" edit="true"></div>
            <!--<div df-properties default-properties="item.properties" edit="true"></div>-->
            <div ng-repeat="property in item.properties">
                <cgroup label="{{property.name}}">
                    <input class="input-large" ng-model="property.value" type="text"
                           ng-disabled="true">
                    {{ property.unit }}
                </cgroup>
            </div>
            <div ad-properties doc="item" edit="true" bk=""></div>
        </div>
        <div id="{{stepType}}-file" class="tab-pane fade">
            <cgroup label="Name:">
                <input ng-model="item.name" type="text" ng-disabled="true">
            </cgroup>
            <cgroup label="Owner:">
                <input ng-model="item.owner" type="text" ng-disabled="true">
            </cgroup>
            <div ng-show="item.notes.length > 0">
                <h5>Previous Notes:</h5>
                <table class="table">
                    <thead>
                    <th>Message</th>
                    <th>Who</th>
                    <th>Date Created</th>
                    </thead>
                    <tbody>
                    <tr ng-repeat="note in item.notes">
                        <td>{{note.message}}</td>
                        <td>{{note.who}}</td>
                        <td>{{note.date}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
