<div>
    <h4>Sample Tree</h4>

    <div class="row" ng-if="tree_data">
        <button ng-click="my_tree.expand_all()" class="btn btn-default btn-sm">Expand All</button>
        <button ng-click="my_tree.collapse_all()" class="btn btn-default btn-sm">Collapse All</button>
        <tree-grid col-defs="col_defs" tree-data="tree_data" tree-control="my_tree"
                   on-select="sampleDetails(branch)"></tree-grid>
    </div>
    <div ng-if="details" class="row">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="row">
                    <div sample-report sample="details"></div>
                </div>
                <div class="row">
                    <h4 plus-minus-toggle="slideprocesses">
                        <i class="fa fa-minus-square"></i>
                        Processes
                    </h4>
                    <section id="slideprocesses">
                        <p class="text-muted">sample {{details.name}} was used in the processes below:</p>
                        <ul ng-repeat="p in processes">
                            <li><a ng-click="processDetails(p.process_id)">{{p.process_name}}</a> ( {{p.file_type}})
                            </li>
                        </ul>
                    </section>
                </div>
            </div>
        </div>
        <div ng-show="process">
            <div view-processes processes="process" sample-doc="details"></div>
        </div>
    </div>
</div>
