<div class="row">
    <div class="col-lg-offset-3">
        <form class="form-horizontal col-lg-6">
            <fieldset>

                <!-- Text input-->
                <div class="control-group">
                    <label class="control-label">Name</label>

                    <div class="controls">
                        <input class="form-control" placeholder="name..." type="text" ng-model="tag.name">
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label" for="selectbasic">Color</label>

                    <div class="controls">
                        <select class="form-control" ng-model="tag.color">
                            <option value="">Highlight</option>
                            <option value="#CF000F" style="background-color: red;">Red</option>
                            <option value="#5C97BF" style="background-color: Blue;">Blue</option>
                            <option value="#1BBC9B" style="background-color: green;">Green</option>
                            <option value="#F4D03F" style="background-color: #bebe00;">Yellow</option>
                            <option value="#913D88" style="background-color: mediumpurple;">Purple</option>
                            <option value="#D2527F" style="background-color: Violet;">Pink</option>
                        </select>
                    </div>
                </div>

                <div class="control-group">
                    <div class="controls">
                        <div class="btn-group">
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                Icon <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" role="menu">
                                <li ng-repeat="icon in icons" ng-click="iconSelected(icon)">
                                    <a><i class="fa fa-{{icon}}"/> {{icon}}</a>
                                </li>
                            </ul>
                        </div>
                        <span><i class="fa fa-{{tag.icon}}" ng-style="{color: tag.color}"/></span>

                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">Description</label>
                    <div class="controls">
                        <textarea class="form-control" ng-model="tag.description"></textarea>
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label" for="button1id"></label>

                    <div class="controls">
                        <button id="button1id"
                                name="button1id"
                                class="btn btn-success"
                                ng-click="createTag()">
                            Create
                        </button>

                        <button id="button2id"
                                name="button2id"
                                class="btn btn-danger"
                                ng-click="cancel()"
                                >
                            Cancel
                        </button>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>
