<div class="row">
    <provenance-wizard-control-bar></provenance-wizard-control-bar>
</div>

<div class="row">
    <form ng-show="showChooseProcess" class="form-horizontal">
        <fieldset>
            <div class="form-group">
                <label class="control-label col-lg-2" for="selectbasic">Process</label>
                <div class="controls col-lg-4">
                    <select id="selectbasic"
                            ui-select2="{placeholder: 'Select process', allowClear: true, width: 'element'}"
                            ng-multiple="false"
                            ng-options="template.template_name group by template.category for template in templates | orderBy:'category'"
                            ng-model="project.selectedTemplate"
                            name="selectbasic"
                            class="form-control">
                    </select>
                </div>
            </div>

            <div class="form-group">
                <div class="controls col-lg-2 col-lg-offset-2">
                    <button id="button1id"
                            name="button1id"
                            ng-click="start()"
                            class="btn btn-success">
                        Start
                    </button>
                    <button id="button2id"
                            name="button2id"
                            class="btn btn-danger"
                            ng-click="cancel()">
                        Cancel
                    </button>
                </div>
            </div>
        </fieldset>
    </form>
</div>

<div class="row">
    <provenance-wizard-steps
        show-overview="wizard.showOverview"
        template="project.selectedTemplate">
    </provenance-wizard-steps>
</div>
