<form name="Form" class="form-horizontal">
    <div class="form-group">
        <label class="control-label col-lg-2">Note:</label>

        <div class="col-lg-4">
            <text-angular ta-toolbar="[['h1','h2','h3', 'h4', 'h5', 'h6','p', 'quote'],
['bold','italics','underline','ul','ol'],['undo', 'redo','clear'],
['justifyLeft','justifyCenter','justifyRight'], ['insertLink', 'insertImage']]"
                          ng-model="model.new_note"></text-angular>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-lg-2"></label>
        <button validation-submit="Form" ng-click="add_notes()" class="btn btn-default btn-primary">Add</button>
    </div>
</form>

