<div class="form-horizontal">
    <div class="row">
        <div class="col-lg-4">
            <label>Choose sample type:</label>
            <select class="form-control" ng-model="bk.classification" ng-change="setProperties()"
                    ng-options="temp.template_name for temp in sample_templates | orderBy:'template_name'">
            </select>
        </div>
    </div>
    <form name="Sample">
        <div class="row"><br>
            <div class="col-lg-6" ng-show="bk.classification">
                <div upperlevel-object="" bk="bk" doc="doc" edit="false"></div>
                <div notes doc="doc" type='sample'></div>
                <div df-properties="" default-properties="doc.default_properties"></div>
            </div>
        </div>
        <br>
    </form>
    <div ng-show="bk.classification">
        <h4 plus-minus-toggle="slidetreatments">
            <i class="fa fa-minus-square"></i>
            Treatments
        </h4>

        <div id="slidetreatments">
            <div class="row">
                <div class="col-lg-4">
                    <label>Treatments:</label>
                    <select class="form-control" ng-model="bk.selected_treatment"
                            ng-options="treat.id for treat in treatment_templates"
                            ng-change="showForm()">
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-5">
                    <label class='control-label'><strong>{{bk.selected_treatment.id ||
                        bk.tab_item}} </strong></label>

                    <div ng-show="bk.selected_treatment">
                        <div df-properties default-properties="default_properties"></div>
                        <button ng-click="addTreatment()" class="btn btn-primary">Add</button>
                    </div>
                </div>
                <div ng-show="doc.treatments.length !==0 " class="col-lg-4">
                    <label>Treatments Order:</label>
                    <tabset vertical="true" type="pills">
                        <tab ng-repeat="treatment in doc.treatments"
                             ng-click="showTab(treatment, $index)"
                             heading="{{treatment.id}}">
                        </tab>
                    </tabset>
                </div>

            </div>
        </div>
        <br>
        <h4 plus-minus-toggle="slideprojects">
            <i class="fa fa-minus-square"></i>
            Projects
        </h4>

        <div id="slideprojects">
            <div class="row form-group">
                <div class="col-lg-6">
                    <div class="col-lg-5">
                        <select class="form-control" ng-model="bk.selected_project"
                                ng-options="pr.name for pr in projects">
                        </select>
                    </div>
                    <button class="btn btn-default btn-default" ng-click="populateProjects()">Add Project
                    </button>

                </div>
            </div>
            <div class="row">
                <div ng-show="doc.projects.length !==0 " class="col-lg-5">
                    <table class="table table-striped mc-table-hover table-condensed mc-table">
                        <thead>
                            <tr>
                                <th>Projects</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="i in doc.projects">
                                <td>{{i.name}}</td>
                                <td>
                                    <button class="btn btn-default btn-danger"
                                            ng-click="removeProjects($index)">
                                        Delete
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row" ng-show="bk.classification"><br>
    <button ng-click="save(Sample)" class="btn btn-default btn-primary">Save</button>
    <button ng-click="clear()" class="btn btn-default btn-danger">Clear</button>
</div>
