<div class="row">
    <form class="form-horizontal">
        <div class="form-group">
            <label class="control-label col-lg-2">Title:<i class="fa fa-asterisk"></i></label>

            <div class="col-lg-4">
                <input ng-model="todo.title" class="form-control" type="text" placeholder="Title...">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-lg-2">Note:</label>
            <div class="col-lg-4">
                <textarea ng-model="todo.note" class="form-control" placeholder="Note..."></textarea>
            </div>
        </div>
        <button class="btn btn-primary" ng-click="addToDo()">Add</button>
    </form>
</div>
