<md-dialog flex="70">
    <md-toolbar layout="row">
        <div layout-margin>
            Login/Register
        </div>
    </md-toolbar>
    <md-dialog-content layout-margin layout="column">
        <form layout="column" class="dialog-form">
            <md-input-container md-no-float class="margin-top-20">
                <label>Email</label>
                <input ng-model="$ctrl.email" type="text">
            </md-input-container>
            <md-input-container md-no-float>
                <label>Password</label>
                <input ng-model="$ctrl.password" type="password" on-enter="$ctrl.login()">
            </md-input-container>
        </form>
        <span>Forgot your password? <a ui-sref="reset" ng-click="$ctrl.cancel()">Reset it.</a></span>
        <span>Not a member? <a ui-sref="join" ng-click="$ctrl.cancel()">Join now</a></span>
    </md-dialog-content>
    <md-dialog-actions layout="row">
        <md-button class="md-warn" ng-click="$ctrl.cancel()">cancel</md-button>
        <md-button class="md-primary" ng-click="$ctrl.login()">login</md-button>
    </md-dialog-actions>
</md-dialog>