<md-toolbar style="background-color: #2c3e50">
    <div class="md-toolbar-tools">
        <div layout="column">
            <h1 class="mc-md-light-primary-color">MaterialsCommons</h1>
            <md-divider style="border-top-color:#e7e8ea"></md-divider>
            <div layout="row" layout-align="space-between">
                <span class="md-subhead"
                      ng-class="{'navbar-site-active': $ctrl.projectSiteActive(), pointer: $ctrl.isAuthenticated}"
                      ui-sref="projects.list">Projects</span>
                <span class="md-subhead pointer"
                      ng-class="{'navbar-site-active': $ctrl.dataSiteActive()}"
                      ui-sref="data.home.top">Published Data</span>
            </div>
        </div>

        <md-divider class="md-vertical-divider margin-left-15"
                    style="border-right-color: #4d4d4d"></md-divider>
        <div layout="row" hide-md hide-sm layout-align="space-around" flex-gt-md="15" flex="10" ng-if="false">
            <div ng-show="$ctrl.$stateParams.project_id" layout="column" layout-align="center center">
                <a ng-if="$ctrl.project.users.length !== 1" class="md-title" style="color:#4caf50"
                   ui-sref="project.settings">
                    <b>{{$ctrl.project.users.length}} Users</b>
                </a>
                <a ng-if="$ctrl.project.users.length === 1" class="md-title" style="color:#4caf50"
                   ui-sref="project.settings">
                    <b>{{$ctrl.project.users.length}} User</b>
                </a>
            </div>
            <div ng-show="$ctrl.$stateParams.project_id" layout="column" layout-align="center center">
                <span class="md-title" style="color: #ff9800"><b>{{$ctrl.published}}</b></span>
                <span class="md-subhead" style="color:#ff9800"><i class="fa fa-fw fa-database"></i>Published</span>
            </div>
        </div>
        <span flex-offset="5"></span>
        <md-input-container ng-show="$ctrl.$stateParams.project_id" md-no-float flex="20" class="md-input-bottom-0">
            <input placeholder="{{$ctrl.navbarSearchText}}" type="text" class="mc-navbar-search-input"
                   ng-model="$ctrl.query"
                   on-enter="$ctrl.search()"
                   style="color:white; border-bottom-color:white">
        </md-input-container>
        <span flex="20" ng-if="!$ctrl.$stateParams.project_id"></span>
        <span flex="30"></span>
        <div>
            <a class="always-white"
               href="https://github.com/materials-commons/materialscommons.org/wiki/Help"
               target="_blank">
                <i class="fa fa-fw fa-question-circle"></i>
            </a>
        </div>
        <span flex="5"></span>
        <a class="always-white" href="mailto:help@materialscommons.org">Report Issue</a>
        <div layout="row" flex layout-sm="column" layout-align="space-between">
            <md-menu ng-if="!$ctrl.isAuthenticated">
                <md-button ng-click="$ctrl.loginOrRegister()">
                    Login/Register
                </md-button>
            </md-menu>
            <md-menu ng-if="$ctrl.isAuthenticated">
                <md-button ng-click="$mdOpenMenu($event)">
                    <md-icon md-font-icon="fa-user" class="fa fa-md-icon"></md-icon>
                    {{$ctrl.user}}
                </md-button>
                <md-menu-content style="min-height: 350px">
                    <md-menu-item ng-if="::$ctrl.isAdmin">
                        <md-button ng-click="$ctrl.switchToUser()">
                            <md-icon md-font-icon="fa-superpowers" class="fa fa-md-icon"></md-icon>
                            <span class="text-uppercase">Switch To User</span>
                        </md-button>
                    </md-menu-item>
                    <md-menu-divider ng-if="::$ctrl.isAdmin"></md-menu-divider>
                    <md-menu-item>
                        <md-button ui-sref="account.settings.profile">
                            <md-icon md-font-icon="fa-user" class="fa fa-md-icon"></md-icon>
                            <span class="text-uppercase">Account Settings</span>
                        </md-button>
                    </md-menu-item>
                    <md-menu-divider></md-menu-divider>
                    <md-menu-item>
                        <md-button ui-sref="templates.builder">
                            <md-icon md-font-icon="fa-pencil-square" class="fa fa-md-icon"></md-icon>
                            <span class="text-uppercase">Template Builder</span>
                        </md-button>
                    </md-menu-item>
                    <md-menu-divider></md-menu-divider>
                    <md-menu-item>
                        <md-button
                                href="https://github.com/materials-commons/materialscommons.org/wiki/Help"
                                target="_blank">
                            <md-icon md-font-icon="fa-question-circle" class="fa fa-md-icon"></md-icon>
                            <span class="text-uppercase">Help</span>
                        </md-button>
                    </md-menu-item>
                    <md-menu-item>
                        <md-button
                                href="https://github.com/materials-commons/materialscommons.org/blob/master/CHANGELOG.md"
                                target="_blank">
                            <md-icon md-font-icon="fa-file-text-o" class="fa fa-md-icon"></md-icon>
                            <span class="text-uppercase">Release Notes</span>
                        </md-button>
                    </md-menu-item>
                    <md-menu-divider></md-menu-divider>
                    <md-menu-item>
                        <md-button ng-click="$ctrl.buildDemoProject()">
                            <md-icon md-font-icon="fa-database" class="fa fa-md-icon"></md-icon>
                            <span class="text-uppercase">Build Demo Project</span>
                        </md-button>
                    </md-menu-item>
                    <md-menu-divider></md-menu-divider>
                    <md-menu-item>
                        <md-button ng-click="$ctrl.logout()">
                            <md-icon md-font-icon="fa-sign-out" class="fa fa-md-icon"></md-icon>
                            <span class="text-uppercase">Logout</span>
                        </md-button>
                    </md-menu-item>
                </md-menu-content>
            </md-menu>
        </div>
    </div>
</md-toolbar>
