<div layout="column" layout-align="start start">
    <h3 flex="100" class="md-title">API Key</h3>
    <p>
        Your API Key is a secret token you give to the Python API to enable access. If you change the key you will need to update your API configuration file.
    </p>
    <div layout="row" layout-align="start center" class="margin-bottom-30">
        <md-button class="md-primary" ng-click="$ctrl.showAPIKey()">{{ $ctrl.showHideButtonText }}</md-button>
        <md-button class="md-warn" ng-click="$ctrl.resetAPIKey()">Reset API Key</md-button>
        <span ng-show="$ctrl.showKey">{{ $ctrl.apikey }}</span>
    </div>
</div>