
<div class="md-mc-primary-color-hue-2-bg">
    <md-tabs md-selected="$ctrl.currentTab" class="md-primary md-hue-2" md-stretch-tabs md-dynamic-height md-border-bottom>
        <md-tab ui-sref="account.settings.profile">
            <md-tab-label>
                <span><i class="fa fa-fw fa-user"></i>Profile</span>
            </md-tab-label>
        </md-tab>
        <!--<md-tab ui-sref="account.settings.projects">-->
        <!--<md-tab-label>-->
        <!--<span><i class="fa fa-fw fa-rocket fa-inverse"></i>Projects</span>-->
        <!--</md-tab-label>-->
        <!--</md-tab>-->
    </md-tabs>
</div>
<div ui-view></div>