<div ng-controller="provenanceIOSteps">
    <h4>{{ stepsName }}</h4>

    <div class="row-fluid well span10">
        <ul class="nav nav-tabs">
            <li ng-class="{'active' : isActiveStep(step)}" ng-repeat="step in steps">
                <a style="cursor: pointer" ng-click="showStep(step)">{{ step }}</a>
            </li>
        </ul>
        <div ui-view></div>
        <div class="row-fluid">
            <div class="span4">
                <button ng-click="nextStep()" class="btn btn-primary">Next</button>
                <button ng-click="saveDraft()" class="btn btn-success">Save Draft</button>
            </div>
            <div ng-show="message" class="span4">
                <div class="alert alert-dismissable alert-info">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                   {{message}}
                </div>
            </div>
        </div>
    </div>
</div>