<!DOCTYPE html>
<html lang="en" ng-app="notebook">
<head>
    <meta charset="utf-8">
    <title>Materials Commons</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="../../assets/css/bootstrap.css" rel="stylesheet">
    <link href="../../assets/css/style.css" rel="stylesheet">
    <link href="../../assets/css/bootstrap-responsive.css" rel="stylesheet">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Fav and touch icons -->
    <link rel="shortcut icon" href="../../assets/ico/mc-gear-favicon.ico">
</head>

<body ng-controller="ExperimentListController">

<div class="mc-tools-sidebar">
    <ul class="mc-tools-sidenav">
        <li><a href="notebook.html"><img src="../../assets/ico/glyphish/96-book.png"> LabNotebook<i
                class="icon-chevron-right"></i></a></li>
        <li><a href="../data/data.html"><img src="../../assets/ico/glyphish/16-line-chart.png"> Find Data<i
                class="icon-chevron-right"></i></a></li>
        <li><a href="../models/models.html"><img src="../../assets/ico/glyphish/19-gear.png"> Find Models<i
                class="icon-chevron-right"></i></a></li>
    </ul>
</div>

<div id="stop-toolbar" class="navbar navbar-wrapper navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container-fluid">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <a class="brand" href="../../index.html">Materials Commons</a>

            <div class="nav-collapse collapse">
                <p class="navbar-text pull-right">
                    <a href="#" class="navbar-link">Login</a>
                </p>

                <ul class="nav">
                    <li><a href="#about">About</a></li>
                    <li><a href="#contact">Contact</a></li>
                </ul>

            </div>
            <!--/.nav-collapse -->
        </div>
    </div>
</div>


<div class="container-fluid">

    <div class="row">

        <div class="span2 offset3">
            Search: <input ng-model="query">
        </div>

        <div class="span4 offset2">
            <a href="create.html" class="btn btn-success">Create New Experiment</a>
        </div>

    </div>

    <div class="row">
        <div class="span9 offset3">
            <h4>Your Experiments</h4>

            <div class="well">
                <table class="table table-striped mc-table-hover table-condensed">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Snippet</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="row in mcdb.rows | filter:query">
                        <td><a href="#/experiments/{{row.value._id}}">{{row.value.name}}</a></td>
                        <td>{{row.value.description}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="row">

        <footer>
            <p>&copy; Company 2012</p>
        </footer>
    </div>

</div>
<!-- /container -->

<!-- Le javascript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="../../assets/js/jquery.js"></script>
<script src="../../assets/js/bootstrap.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.3/angular.min.js"></script>
<script src="../../assets/js/angular-cornercouch.js"></script>
<script src="../../assets/js/app/app.js"></script>
<script src="../../assets/js/app/controllers.js"></script>
<script>

</script>
</body>
</html>
