<div class="row take-parent-height">
    <div class="col-xs-3 sidebar take-parent-height">
        <div class="row">
            <div class="col-sm-12">
                <a class="pull-right" ng-click="ctrl.chooseTemplate()">Create New Process</a>
            </div>
        </div>
        <br>

        <div class="row">
            <div class="col-sm-12">
                <a class="pull-right text-muted padding-left-15"
                   ng-class="{'text-muted': ctrl.filterBy !== 'samples'}"
                   ng-click="ctrl.filterBy = 'samples'">
                    Samples
                </a>
                <a class="pull-right padding-left-15"
                   ng-class="{'text-muted': ctrl.filterBy !== 'processes'}"
                   ng-click="ctrl.filterBy = 'processes'">
                    Processes
                </a>
                <a class="pull-right"
                   ng-class="{'text-muted': ctrl.filterBy !== 'all'}"
                   ng-click="ctrl.filterBy = 'all'">All</a>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <input placeholder="Search all..."
                       class="form-control"
                       ng-model="ctrl.searchText"
                       ng-model-options="{ updateOn: 'default blur', debounce: { default: 200, blur: 0} }">
            </div>
        </div>
        <ul ng-if="ctrl.processes.length !== 0" class="list-group">
            <li class="list-group-item pointer no-padding no-position"
                ng-repeat="p in ctrl.processes | orderBy: 'name' | filter:ctrl.processFilter"
                ng-class="{active: ctrl.current.id === p.id}"
                ng-click="ctrl.viewProcess(p)">
                <p class="heading">{{p.name}}</p>

                <div class="text-muted truncate-text" ta-bind ng-model="p.what"></div>
                <div class="row counts">
                    <span data-placement="right" data-toggle="tooltip" title="Samples">
                        <i class="fa fa-fw fa-cubes sample"></i>{{p.samples.length}}
                    </span>
                    <span data-placement="right" data-toggle="tooltip" title="Files" class="padding-left-15">
                        <i class="fa fa-fw fa-files-o file"></i>{{p.input_files.length+p.output_files.length}}
                    </span>
                    <span class="pull-right">{{p.mtime | toDateString}}</span>
                </div>
            </li>
        </ul>
        <h4 ng-if="ctrl.processes.length === 0" class="text-center text-uppercase">
            - No Processes -
        </h4>
    </div>
    <div class="col-xs-9 no-padding take-parent-height">
        <div ui-view class="take-parent-height"></div>
    </div>
</div>