<div class="tab-pane active">
    <div ng-if="ctrl.setup.properties.length === 0">
        No Setup information
    </div>

    <table ng-if="ctrl.setup.properties.length !== 0" class="table">
        <thead>
        <tr>
            <th>Name</th>
            <th>Value</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="property in ctrl.setup.properties">
            <td style="height: 0;">
                {{property.name}}
            </td>
            <td ng-if="property.value.name" style="height: 0">
                {{property.value.name}} {{property.unit}}
            </td>
            <td ng-if="!property.value.name" style="height: 0;">
                <span ng-if="property._type === 'date'">
                    {{property.value | toDateString}}
                </span>
                <span ng-if="property._type !== 'date'">
                    {{property.value}} {{property.unit}}
                </span>
            </td>
        </tr>
        </tbody>
    </table>
</div>