<div>
    <div class="modal-header">
        <h3 class="modal-title">Transformation</h3>
    </div>
    <br>

    <div class="modal-body">
        <div class="row">
            Below are the actions you will have to perform on your sample properties. Each action is explained below
            <br>
            <b>Not Transformed</b> <br>
            <b>End Attribute (Default)</b> <br>
            <b>Is Transformed</b> <br>

        </div>
        <br>

        <div class="row">
            <div class="sample headings">Properties</div>
            <ul>
                <li style="padding:10px;" ng-repeat="property in modal.sample.properties">
                    <b>{{property.name}}</b> :
                    <div class="row">
                        <div class="col-xs-offset-1">
                            <div class="col-xs-4">
                                <select ng-model="property.action" data-placeholder="Choose Action"
                                        class="form-control"
                                        validator="required">
                                    <option ng-repeat="action in actions">{{ action }}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-offset-1">
                            <div class="col-xs-6">
                                Best Measure: <span ng-if="property.best_measure.length !== 0"
                                                    style="padding-left: 5px;">
                                <display-measurement project="project"
                                                     measure="property.best_measure[0]"></display-measurement>
                                </span>
                                Measurements:
                                <ul>
                                    <li ng-repeat="measure in property.measurements">
                                        <div>
                                            <display-measurement current-process="modal.item.process_id"
                                                                 measure="measure"></display-measurement>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-xs-5">
                                <p style="padding: 10px;" class="bg-warning" ng-if="property.action==='Is Transformed'">
                                    {{property.name}} measures will be unknown as a result of this transformation</p>

                                <!--<p style="padding: 10px;" class="bg-success" ng-if="property.action==='copy'">-->
                                    <!--{{property.name}} measures will be copied over as a result of this transformation</p>-->

                                <p style="padding: 10px;" class="bg-success" ng-if="property.action==='Not Transformed'">
                                    {{property.name}} measures shared as a result of this transformation</p>

                                <p style="padding: 10px;" class="bg-danger" ng-if="property.action==='End Attribute'">
                                    {{property.name}} will be deleted as a result of this transformation</p>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="ok()">OK</button>
        <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
    </div>
</div>