<div>
    <div class="row padding-top-20">
        <div class="col-xs-12 no-padding">
            <ul class="list-inline text-center padding-left-15">
                <li class="pull-left">
                    <div class="btn-group">
                        <button class="btn btn-default btn-info btn-lg dropdown-toggle" type="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fa fa-plus fa-fw"></i>Quick Add <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li class="text-uppercase dropdown-submenu">
                                <a>Process</a>
                                <ul class="dropdown-menu">
                                    <li class="text-uppercase dropdown-submenu">
                                        <a>From Favorite</a>
                                        <ul class="dropdown-menu">
                                            <li ng-if="ctrl.hasFavorites()"
                                                ng-repeat="template in ctrl.templates | filter:{favorite:true} | orderBy:'name'"
                                                class="text-uppercase">
                                                <a ui-sref="projects.project.processes.create({process: template.name, process_id: ''})">
                                                    {{template.name}} <span ng-if="template.prefill">(PF)</span>
                                                </a>
                                            </li>
                                            <li ng-if="!ctrl.hasFavorites()">
                                                No favorites defined
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="text-uppercase">
                                        <a ng-click="ctrl.chooseTemplate()">Choose Template</a>
                                    </li>
                                    <li class="text-uppercase">
                                        <a ng-click="ctrl.chooseExistingProcess()">Choose From Existing Process</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="text-uppercase">
                                <a ui-sref="projects.project.processes.create({process: 'As Received', process_id: ''})">Sample</a>
                            </li>
                            <li ng-if="false" class="text-uppercase">
                                <a href="#">File</a>
                            </li>
                            <li ng-if="false" class="text-uppercase"><a href="#">Review</a></li>
                        </ul>
                    </div>
                </li>
                <li class="dashboard-item">
                    <div class="text-uppercase">
                        <a class="circle process-color-bg center-block"
                           ui-sref="projects.project.processes.list">
                            <span>{{ctrl.project.processes.length | number}}</span>
                        </a>

                        <p>processes</p>
                    </div>
                </li>
                <li class="dashboard-item">
                    <div class="text-uppercase">
                        <a class="circle sample-color-bg center-block"
                           ui-sref="projects.project.samples.list">
                            <span>{{ctrl.project.samples.length | number}}</span>
                        </a>

                        <p>samples</p>
                    </div>
                </li>
                <li class="dashboard-item">
                    <div class="text-uppercase">
                        <a class="circle file-color-bg center-block"
                           ui-sref="projects.project.files.all">
                            <span>{{ctrl.project.file_count | number}}</span>
                        </a>

                        <p>files</p>
                    </div>
                </li>
                <li class="dashboard-item">
                    <div class="text-uppercase">
                        <a class="circle review-color-bg center-block"
                           ui-sref="projects.project.reviews">
                            <span>{{ctrl.project.reviews.length | number}}</span>
                        </a>

                        <p>reviews</p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-6 table-samples">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Samples</th>
                    <th>Description</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="sample in ctrl.project.samples | filter:{is_grouped: false}">
                    <td style="width:40%">
                        <b><a ui-sref="projects.project.samples.edit({sample_id: sample.id})">{{sample.name}}</a></b>

                        <div style="padding-bottom: 15px;">
                            <p style="font-size: 12px;padding-bottom: 10px;">
                                {{sample.birthtime | toDateString}}
                                <span style="padding-left: 10px">{{sample.owner}}</span>
                                <span ng-if="sample.has_group" style="padding-left: 10px">
                                    Group size: {{sample.group_size}}
                                </span>
                            </p>

                            <display-image-tab sample="sample"></display-image-tab>
                        </div>
                    </td>
                    <td style="width:30%;">
                        <div style="max-height: 200px;overflow-y: auto;">{{sample.description}}</div>
                    </td>
                </tr>
                </tbody>
            </table>
            <div ng-if="ctrl.project.samples.length === 0">
                -- No Samples --
            </div>
        </div>

        <div class="col-xs-6">

        </div>
    </div>
</div>
