<div>
    <form name="attributePair" class="form-horizontal">
        <div class="form-group">
            <label for="attribute1" class="col-xs-3 control-label">{{::property.attribute1.name}}</label>

            <div class="col-xs-6">
                <input type="number"
                       class="form-control"
                       id="attribute1"
                       ng-model="property.attribute1.value">
            </div>
            <span ng-if="property.attribute1.unit !== ''">{{::property.attribute1.unit}}</span>
        </div>
        <div class="form-group">
            <label for="attribute2" class="col-xs-3 control-label">{{::property.attribute2.name}}</label>

            <div class="col-xs-6">
                <input type="number"
                       class="form-control"
                       id="attribute2"
                       ng-model="property.attribute2.value">
            </div>
            <span ng-if="property.attribute2.unit !== ''">{{::property.attribute2.unit}}</span>
        </div>
    </form>
</div>