<div class="form-login">
    <h4>Welcome back {{ctrl.user.fullname}}</h4>
    <form name="form" ng-submit="ctrl.validateAndLogin()" role="form">
        <div class="form-group" ng-class="{ 'has-error': form.password1.$dirty && form.password1.$error.required }">
            <label for="password1" class="required">Password</label>
            <div>
                <input placeholder="Password..." type="password" name="password1" id="password1" class="form-control"
                       ng-model="ctrl.password1" required="required"/>
            </div>
            <span ng-show="form.password1.$dirty && form.password1.$error.required" class="help-block">Password is required</span>
        </div>
        <div class="form-group" ng-class="{ 'has-error': form.password2.$dirty && form.password2.$error.required }">
            <label for="password2" class="required">Re-enter Password</label>
            <input placeholder="Re-enter password..." type="password" name="password2" id="password2" class="form-control"
                   ng-model="ctrl.password2" required/>
            <span ng-show="form.password2.$dirty && form.password2.$error.required" class="help-block">Passwords must match</span>
        </div>

        <div class="form-actions">
            <button type="submit" ng-disabled="form.$invalid" class="btn btn-primary">Finish Resetting Your Password and Login</button>
        </div>
    </form>
    <p style="color:red;" ng-if="ctrl.message">
        <b>{{ctrl.message}}</b>
    </p>
</div>

