<h1>My Data</h1>


<div class="row-fluid">
    <div class="span3">
        <div class="well">
            <legend><a href="#/mytools/myprojects">My Projects</a></legend>
            <p>Top level directories which hold datafiles</p>
        </div>

    </div>

    <div class="span3">
        <div class="well">
            <legend><a href="#/mytools/mydata">My Data</a></legend>
            <p>Datafiles can be either an excel/csv/ image files</p>
        </div>

    </div>

    <div class="span3">
        <div class="well">
            <legend><a href="#/mytools/myprojectstree">My Projects Tree</a></legend>
            <p>It shows how your data directories and files are organized</p>
        </div>

    </div>

    <div class="span3">
        <div class="well">
            <legend><a href="#/mytools/groupprojectstree">Group Project Tree</a></legend>
            <p>It shows how your data directories and files are organized </p>
        </div>

    </div>
</div>
    <div class="row-fluid">

    <div class="span3">
        <div class="well">
            <legend><a href="#/mytools/thumbnail">Thumbnail View</a></legend>
            <p>To view all the images grouped by directories</p>
        </div>

    </div>

    </div>