<h1>My Data</h1>


<div class="row-fluid">
    <div class="span3">
        <div class="well">
            <legend><a href="#/subpage-template/my-projects-tab">My Projects</a></legend>
            <p>Top level directories which hold datafiles</p>
        </div>

    </div>

    <div class="span3">
        <div class="well">
            <legend><a href="#/subpage-template/my-data-tab">My Data</a></legend>
            <p>Datafiles can be either an excel/csv/ image files</p>
        </div>

    </div>

    <div class="span3">
        <div class="well">
            <legend><a href="#/subpage-template/my-projects-tree-tab">My Projects Tree</a></legend>
            <p>It shows how your data directories and files are organized</p>
        </div>

    </div>

    <div class="span3">
        <div class="well">
            <legend><a href="#/subpage-template/group-projects-tree-tab">Group Project Tree</a></legend>
            <p>It shows how your data directories and files are organized </p>
        </div>

    </div>
</div>
    <div class="row-fluid">

    <div class="span3">
        <div class="well">
            <legend><a href="#/subpage-template/thumbnail-tab">Thumbnail View</a></legend>
            <p>To view all the images grouped by directories</p>
        </div>

    </div>

    </div>