<div ng-controller="toolbarMaterials">
    <div class="row-fluid">
        <div class="span7">
            <h4>Material:</h4>
            <ul class="muted">
                <li> The table below provides list of various materials in the database.</li>
                <li> If you would like to create a new one then click the button "Create New Material" and fill out the
                    form.
                </li>
                <li>Usage: materials will be available as a drop-down list while creating provenance.</li>
            </ul>
        </div>
    </div>

    <div class="row-fluid">
        <div class="span7">
            <h4>List of available materials: </h4>
            <paged data="materials_list" current-page="currentDataPage" page-size="5">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Alloy</th>
                        <th>Date</th>
                        <th>Notes</th>
                    </tr>
                    </thead>
                    <tbody>
                    <p ng-if="materials_list.length==0">
                        <b>No available materials in the database</b>
                    </p>

                    <p ng-if="materials_list.length!=0">
                        <tr ng-repeat="material in materials_list | page:currentDataPage:5">
                            <td>{{material.name}}</td>
                            <td>{{material.alloy_name}}</td>
                            <td>{{material.birthtime | toDateString}}</td>
                            <td ng-if="material.notes.length==0">
                                {{}}
                            </td>
                            <td ng-if="material.notes.length!=0">
                                {{material.notes}}
                            </td>
                        </tr>
                    </p>
                    </tbody>
                </table>
            </paged>
        </div>
    </div>
    <br>
    <button class="btn btn-primary" ng-click="showForm=!showForm">Create New Material</button>
    <div ng-show="mat">
        <b>Machine {{mat.name}} has been created</b>

    </div>
    <br>

    <div class="row-fluid">

        <div ng-show="showForm" class="span7">
            <div class="well">

                <form class="form-horizontal">
                    <div class="control-group">
                        <label class="control-label">Name:</label>

                        <div class="controls"><input ng-model="material.name" placeholder="Name your material"
                                                     type="text"></div>


                    </div>
                    <div class="control-group">
                        <label class="control-label">Alloy:</label>

                        <div class="controls"><input ng-model="material.alloy_name" placeholder="alloy.."
                                                     type="text"></div>


                    </div>
                    <div class="control-group">
                        <label class="control-label">Contact:</label>

                        <div class="controls"><input ng-model="material.contact_email" placeholder="contact.."
                                                     type="text"></div>


                    </div>
                    <div class="control-group">
                        <label class="control-label">Notes:</label>

                        <div class="controls"><input ng-model="material.notes" placeholder="Type your notes here...."
                                                     type="text"></div>


                    </div>
                    <div class="control-group">
                        <label class="control-label">Additional/Custom</label>

                        <div class="controls">
                    <span ng-repeat="pv in material.model">
                        <label>{{pv.name}}:</label><span>
                        <input type="text" ng-model="pv.value">
                    </span>
                    </div>

                    <div class="control-group">
                        <label class="control-label">Add Custom Properties:</label>

                        <div class="controls">
                            <input ng-model="additional_prop" placeholder="type property name ....."
                                   type="text">
                            <button ng-click="custom_property()">add</button>
                        </div>
                    </div>

                    <button ng-disabled="!material.name" ng-click="save()">Save Material</button>
                    <button ng-click="clear_material()">clear</button>

                </form>
            </div>
        </div>
    </div>
</div>