body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    overflow: hidden;
}

.ui.button, .ui.basic.button {
    text-transform: uppercase;
}

.toggle-nav {
    color: white;
}

.toggle-nav.active {
    color: #ffcb0b;
}

.mc-subhead {
    font-size: 16px;
    font-weight: 400;
    letter-spacing: .010em;
    line-height: 24px;
}

.mc-name {
    color: #2196F3;
    font-size: 20px;
    font-weight: normal;
    margin-left: 2px;
}

a {
    cursor: pointer;
}

.uppercase-menu div.text {
    text-transform: uppercase;
}

.ui.menu .ui.dropdown .menu > .item {
    text-transform: uppercase !important;
}

.Main {
    position: absolute;
    top: 87px;
    bottom: 0;
    overflow-y: auto;
    overflow-x: hidden;
}

.Main-Project {
    position: absolute;
    top: 133px;
    bottom: 0;
    overflow-y: auto;
    overflow-x: hidden;
}

.Main-Content {
    margin-left: 30px;
    margin-right: 30px;
}