<div class="row">
    <div class="row">
        <div class="col-sm-6"><h3>All Authors</h3></div>
        <div class="pull-right">
            <label>items per page:</label>
            <input type="number" min="1" max="100" class="form-control" ng-model="ctrl.pageSize">
        </div>
    </div>
    <div class="row">
        <hr/>
    </div>
    <div class="form-horizontal" dir-paginate="author in ctrl.authors | itemsPerPage: ctrl.pageSize">
        <div ng-if="author.email !== 'anonymous'" class="row">
            <div ng-if="author.image" class="col-sm-2 thumbnail" style="height: 150px;"><img
                    ng-src="/assets/user-images/{{author.image}}"></div>
            <div ng-if="!author.image" class="col-sm-2 thumbnail" style="height: 150px;"><img
                    ng-src="/assets/user-images/no-image.png"></div>
            <div class="col-sm-8">
                <b>{{author.firstName}} {{author.lastName}}</b>
                <p class="field-value"><em>{{author.department }} , {{author.instituition}}</em></p>
                <tags-input ng-model="author.tags" display-property="id"
                            template="my-custom-template"
                            disabled="true" placeholder="Login to add tags"></tags-input>
                <script type="text/ng-template" id="my-custom-template">
                    <div class="tag-template">
                        <div>{{data.id}}</div>
                    </div>
                </script>
                <br>
                <div>
                    <p class="muted">Datasets authored</p>
                    <div class="field-value" ng-repeat="ds in author.datasets">{{ds.title | limitTo: 80}}...</div>
                </div>
            </div>
        </div>
        <hr style="border-style: dashed" ng-if="author.email !== 'anonymous'"/>
    </div>
    <dir-pagination-controls></dir-pagination-controls>
</div>
