<div class="col-xs-8">
    <b>Samples</b>

    <div class="row" ng-repeat="sample in template.input_samples">
        <i class="fa fa-fw fa-paperclip fa-lg" style="color: #919191"></i>
        <img src="assets/img/splash/sample_icon.png"
             style="height: 40px;padding-bottom: 10px;">
        <a ng-click="openSample(sample)" class="link pointer"
           style="padding-left: 15px;">{{sample.name}}</a>

        <div class="row">
            <div class="col-xs-offset-2">
                <b>Measurements:</b>
                <ul class="list-unstyled">
                    <li ng-repeat="property in sample.new_properties">
                        {{property.name}}
                        <i ng-click="removeAttachment(property, 'new_properties', sample.id)"
                           class="fa fa-fw fa-close pull-right pointer"></i>

                        <div ng-switch on="property._type">
                            <div ng-switch-when="histogram">
                                <display-measurement measure="property" project="project"></display-measurement>
                            </div>
                            <div ng-switch-when="line">
                                <display-measurement measure="property" project="project"></display-measurement>
                            </div>
                            <div ng-switch-default>
                                <div ng-repeat="measure in property.measurements">
                                    <display-measurement measure="measure" project="project"></display-measurement>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
                <ul class="list-unstyled">
                    <li ng-repeat="property in sample.old_properties">
                        {{property.name}}
                            <i ng-click="removeAttachment(property, 'properties', sample.id)"
                               class="fa fa-fw fa-close pull-right pointer"></i>
                        <div ng-switch on="property._type">
                            <div ng-switch-when="histogram">
                                <display-measurement measure="property" project="project"></display-measurement>
                            </div>
                            <div ng-switch-when="line">
                                <display-measurement measure="property" project="project"></display-measurement>
                            </div>
                            <div ng-switch-default>
                                <div ng-repeat="measure in property.measurements">
                                    <display-measurement measure="measure" project="project"></display-measurement>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
                <b>Files:</b>
                <ul>
                    <li ng-repeat="file in sample.files">
                        <i class="fa fa-fw fa-paperclip fa-lg" style="color: #919191"></i>
                        <img src="assets/img/splash/file_icon.png"
                             style="height: 30px;padding-bottom: 10px;"> {{file.name}}
                        <i ng-click="removeLink(sample, file)"
                           class="fa fa-fw fa-close pull-right pointer"></i>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>