<div class="col-xs-8">
    <b>Samples</b>

    <div class="row" ng-repeat="sample in template.input_samples">
        <i class="fa fa-fw fa-paperclip fa-lg" style="color: #919191"></i>
        <img src="assets/img/splash/sample_icon.png"
             style="height: 40px;padding-bottom: 10px;">
        <a ng-click="openDetails(sample)" class="link pointer"
           style="padding-left: 15px;">{{sample.name}}</a>

        <div class="row">
            <div class="col-xs-offset-2">
                <b>Measurements:</b>
                <ul class="list-unstyled">
                    <li ng-repeat="property in sample.new_properties">
                        {{property.name}}
                        <i ng-click="removeAttachment(property, 'new_properties', sample.id)"
                           class="fa fa-fw fa-close pull-right pointer"></i>

                        <div ng-repeat="measure in property.measures">
                            <div>
                                <display-measurement measure="measure" project="project"></display-measurement>
                            </div>
                        </div>
                    </li>
                </ul>
                <ul class="list-unstyled">
                    <li ng-repeat="property in sample.properties">
                        <div ng-if="property.measures">{{property.name}}
                            <i ng-click="removeAttachment(property, 'properties', sample.id)"
                               class="fa fa-fw fa-close pull-right pointer"></i>
                        </div>
                        <div ng-repeat="measure in property.measures">
                            <div ng-switch="measure._type">
                                <div ng-switch-when="number">
                                    <span style="padding-left: 30px;"> {{measure.value}} {{measure.unit}}</span>
                                </div>
                                <div ng-switch-when="fraction">
                                    <span style="padding-left: 30px;">{{measure.value}} {{measure.unit}}</span>
                                </div>
                                <div ng-switch-when="string">
                                    <span style="padding-left: 30px;"> {{measure.value}}</span>
                                </div>
                                <div ng-switch-when="pair">
                                    <span style="padding-left: 30px;">
                                        {{measure.attribute1.value}} {{measure.attribute1.unit}} ::
                                        {{measure.attribute2.value}} {{measure.attribute2.unit}}
                                    </span>
                                </div>
                                <div ng-switch-when="histogram">
                                      <span style="padding-left: 30px;">
                                        <a ng-click="showHistogram(measure)" ><i class="fa fa-fw fa-bar-chart"></i></a>
                                    </span>
                                    <!--<a href="" popover="Graph displayed here...."-->
                                       <!--popover-title="Particle size distribution">{{measure.name}}-->
                                        <!--<i class="fa fa-bar-chart"></i>-->
                                    <!--</a>-->
                                </div>
                                <div ng-switch-when="line">
                                    <span style="padding-left: 30px;">
                                        <a ng-click="showLineGraph(measure)" ><i class="fa fa-fw fa-line-chart"></i></a>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
                <b>Files:</b>
                <ul>
                    <li ng-repeat="file in sample.files">
                        <i class="fa fa-fw fa-paperclip fa-lg" style="color: #919191"></i>
                        <img src="assets/img/splash/file_icon.png"
                             style="height: 30px;padding-bottom: 10px;"> {{file.name}}
                        <i ng-click="removeLink(sample, file)"
                           class="fa fa-fw fa-close pull-right pointer"></i>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>