<div class="col-xs-8">
    <b>Transformed Sample</b>
    <div class="row" ng-repeat="sample in template.transformed_samples">
        <i class="fa fa-fw fa-paperclip fa-lg" style="color: #919191"></i>
        <img src="../../../../../../assets/img/splash/sample_icon.png"
             style="height: 40px;padding-bottom: 10px;">
        <a ng-click="openDetails(sample)" class="link pointer"
           style="padding-left: 15px;">{{sample.name}}</a>
       <div class="row">
            <div class="col-xs-offset-2">
                <b>Copy:</b>
                <ul>
                    <li ng-repeat="property in sample.uses">{{property.name}}</li>
                </ul>
                <b>Share:</b>
                <ul>
                    <li ng-repeat="property in sample.shares">{{property.name}}</li>
                </ul>
                <b>Unknown:</b>
                <ul>
                    <li ng-repeat="property in sample.unknowns">{{property.name}}</li>
                </ul>
                <b>Delete:</b>
                <ul>
                    <li ng-repeat="property in sample.deletes">{{property.name}}</li>
                </ul>
            </div>
       </div>
    </div>
</div>