<md-content layout="column" flex>
    <div layout="row" flex="100" layout-margin>
        <div layout="column" flex>
            <div layout="row" layout-align="end">
                <div layout="column" layout-align="stretch" flex="30" ng-show="!$ctrl.mcuser.demo_installed">
                    <md-button ng-click="$ctrl.buildDemoProject()"
                               class="md-warn md-raised">
                        Add Demo Project
                    </md-button>
                </div>
                <md-checkbox ng-model="$ctrl.hideAddDemo" ng-change="$ctrl.hideDemoProjectButton()" aria-label="hide demo"
                             ng-show="!$ctrl.mcuser.demo_installed">
                    Don't show this again
                </md-checkbox>
                <span flex="5"></span>
                <md-button class="md-primary md-raised" ng-click="$ctrl.createNewProject()">create project</md-button>
                <span flex="5"></span>
                <md-button class="md-raised md-primary" ng-click="$ctrl.refreshProjects()">
                    <md-tooltip>Refresh projects from server</md-tooltip>
                    <i class="fa fa-fw fa-refresh"></i>Sync
                </md-button>
                <span flex="5"></span>
            </div>
            <div layout="row" layout-align="center">
                <md-button class="md-warn" ng-click="$ctrl.query = ''">clear search</md-button>
                <input ng-model="$ctrl.query" ng-model-options="{debounce:200}"
                       flex="30"
                       placeholder="Search projects..." type="text"
                       class="mc-input-as-line margin-left-15 md-subhead">
            </div>
            <div layout="column" flex>
                <div md-whiteframex layout-margin>
                    <h3 class="md-title">My Projects ({{$ctrl.myProjects.length}}):</h3>
                    <mc-projects-list projects="$ctrl.myProjects" query="$ctrl.query" style="margin:0"></mc-projects-list>
                </div>
                <div md-whiteframex layout-margin>
                    <h3 class="md-title">Projects I'm a member of ({{$ctrl.joinedProjects.length}}):</h3>
                    <mc-projects-list projects="$ctrl.joinedProjects" query="$ctrl.query"
                                      style="margin:0"></mc-projects-list>
                </div>
            </div>
        </div>
    </div>
</md-content>
