<div class="form-login">
    <form name="form" ng-submit="ctrl.resetPassword()" role="form">
        <div class="form-group">
            <p>
                To reset your password, enter the e-mail which you used to register. Then, we will send you
                an e-mail message with the link that will enable you to reset your password.
            </p>
        </div>
        <div class="form-group" ng-class="{ 'has-error': form.email.$dirty && form.email.$error.required }">
            <label for="email" class="required">Email</label>
            <input placeholder="Email Address" type="email" name="email" id="email" class="form-control" ng-model="$ctrl.email"
                   required/>
            <span ng-show="form.email.$dirty && form.email.$error.required" class="help-block">Email is required</span>
        </div>
        <div class="form-actions">
            <button type="submit" ng-disabled="form.$invalid || ctrl.dataLoading" class="btn btn-primary">
                Send Verification Email
            </button>
        </div>
        <div ng-show="ctrl.showSuccessMsg">
            <h4 class="text-center">Next Step in resetting your password...</h4>
            <br>
            <p class="md-subhead">
                You have successfully requested a password reset.
                An email has been sent to <b>{{$ctrl.email}}</b>
                with a link to click on that will verify your request and
                allow you to reset your password.
            </p>
            <br>
        </div>
    </form>
</div>
