<div class="row">
    <div class="col-xs-3 card card-dark card-left card-file-tree">
        <div class="row">
            <div class="">
                <h4 class="file-color text-uppercase text-center">file tree</h4>
            </div>
        </div>
        <div class="row">
            <file-upload-panel></file-upload-panel>
        </div>
        <div ng-if="files.gridShowingFlag"
             ag-grid="files.gridOptions"
             class="ag-file-browser">
        </div>
        <div ng-if="!files.gridShowingFlag"
             ag-grid="files.gridOptions"
             class="ag-file-browser">
        </div>
    </div>
    <div class="col-xs-9 no-padding">
        <div ui-view></div>
    </div>
</div>
