<div class="row">
    <div class="col-xs-3 sidebar">
        <div class="row">
            <h4 class="file-color text-uppercase text-center">file tree</h4>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <input placeholder="Search all..." class="form-control" ng-model="search">
            </div>
        </div>
        <br>

        <div class="row">
            <file-upload-panel></file-upload-panel>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div ng-if="files.gridShowingFlag" ag-grid="files.gridOptions"
                     class="ag-file-browser">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div ng-if="!files.gridShowingFlag" ag-grid="files.gridOptions"
                     class="ag-file-browser">
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-9 no-padding">
        <div ui-view></div>
    </div>
</div>
