<div class="row">
    <div class="col-xs-4">
        <div class="details-sidebar" style=" margin-bottom: -900px;padding-bottom: 900px;">
            <div class="row">
                <file-upload-panel></file-upload-panel>
            </div>
            <div ng-if="files.gridShowingFlag" style="padding: 20px;width: 100%; height: 100%;"
                 ag-grid="files.gridOptions"
                 class="ag-file-browser">
            </div>
            <div ng-if="!files.gridShowingFlag" style="padding: 20px;width: 100%; height: 100%;"
                 ag-grid="files.gridOptions"
                 class="ag-file-browser">
            </div>
        </div>
    </div>
    <div class="col-xs-8">
        <div ui-view></div>
    </div>
</div>
