<div class="row" ng-if="file.type === 'datafile'">
    <div class="col-xs-7" style="padding-right: 1px;">
        <div class="details-main-content">
            <div class="row">
                <div class="col-xs-12">
                    <div class="headings">
                        {{file.active.name}}
                        <a ng-href="{{file.downloadSrc(file.active)}}" download="{{file.active.name}}">
                            <span style="color: #9782be;padding-left:10px;" class="fa-stack fa-lg">
                                <i class="fa fa-circle-thin fa-stack-2x"></i>
                                <i class="fa fa-download fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                        <a ng-click="file.rename()" class="pull-right">Rename</a>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12" ng-switch="file.fileType">
                    <div ng-switch-when="image">
                        <img class="img-responsive center-block"
                             ng-src="{{file.fileSrc(file.active)}}">
                    </div>
                    <div ng-switch-when="pdf">
                        <div class="embed-responsive embed-responsive-4by3">
                            <embed class="col-xs-8 embed-responsive-item"
                                   ng-src="{{file.fileSrc(file.active)}}">
                            </embed>
                        </div>
                    </div>
                    <div ng-switch-when="xls">Download the excel file
                    </div>
                    <div ng-switch-default>
                        <div ng-if="file.active.size <= 10000"
                             hljs include="file.fileSrc(file.active)">
                        </div>
                        <code
                                ng-if="file.active.size > 10000 && file.active.size <= 2000000"
                                style="white-space:pre-line" ng-include="file.fileSrc(file.active)">
                        </code>

                        <div ng-if="file.active.size > 2000000">File too big to display</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-5" style="padding-left: 0px;padding-right: 0px">
        <div class="details-main-content">
            <div class="file headings">details</div>
            <div class="row">
                <div class="col-xs-3"> Type:</div>
                <div class="col-xs-6">{{file.active.mediatype}}</div>
                <br>

                <div class="col-xs-3"> Owner:</div>
                <div class="col-xs-6">{{file.active.owner}}</div>
                <br>

                <div class="col-xs-3"> Created:</div>
                <div class="col-xs-6">{{file.active.birthtime | toDateString}}</div>
                <br>
            </div>
            <div class="file headings">tags</div>
            <div class="row" style="padding: 10px;">
                <div class="row">
                    <tags-input on-tag-added="file.addTag($tag)" display-property="tag_id"
                                on-tag-removed="file.removeTag($tag)" ng-model="file.active.tags"
                                placeholder="Add a Tag" replace-spaces-with-dashes="false">
                    </tags-input>
                </div>
            </div>
            <div class="file headings">note</div>
            <div class="row">
                    <span class="pull-right">
                            <a ng-click="file.editNote = !file.editNote"><i class="fa fa-fw fa-edit"></i></a></span>

                <div class="row" ng-show="!file.editNote">
                    <div class="col-xs-8">Title: {{file.active.notes[0].title}}</div>
                    <hr>
                    <div ng-if="file.active.notes.length !== 0" class="col-xs-11" ta-bind
                         ng-model="file.active.notes[0].note"></div>
                </div>
                <div class="row" ng-show="file.editNote">
                    <create-note item-type="datafile" item="file.active"></create-note>
                </div>
            </div>
        </div>
    </div>
</div>

<div ng-if="file.type === 'datadir'">
    <div class="col-xs-7" style="padding-right: 1px;">
        <div class="details-main-content">
            <div class="row">
                <div class="col-xs-12">
                    <div class="headings">{{file.active.displayname}}
                        <mc-flow-button dir="file.active" ng-if="file.active.type === 'datadir'"></mc-flow-button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-5" style="padding-left: 0px;padding-right: 0px">
        <div class="details-main-content">
            <div class="file headings">details</div>
            <div class="row">
                <div class="col-xs-3"> Type:</div>
                <div class="col-xs-6">directory</div>
                <br>

                <div class="col-xs-3"> Owner:</div>
                <div class="col-xs-6">{{file.active.owner}}</div>
                <br>

                <div class="col-xs-3"> Created:</div>
                <div class="col-xs-6">{{file.active.birthtime | toDateString}}</div>
                <br>

                <div class="col-xs-3"> Path:</div>
                <div class="col-xs-6">{{file.active.name}}</div>
                <br>
            </div>
        </div>
    </div>
</div>
