<ul class="list-inline no-bottom-margin">
    <li>
        <h2 class="file-color" ng-if="!ctrl.renameActive">{{ctrl.file.name}}</h2>
                <span ng-if="ctrl.renameActive">
                    <input type="text" class="section-as-margin" ng-model="ctrl.newName" on-enter="ctrl.renameFile()">
                    <button class="btn btn-files" ng-click="ctrl.renameFile()">Done</button>
                    <button class="btn btn-danger" ng-click="ctrl.newName = ''; ctrl.renameActive = false">Cancel
                    </button>
                </span>
    </li>
    <li ng-if="!ctrl.renameActive">
        <a ng-click="ctrl.renameActive = !ctrl.renameActive" class="heading-label text-uppercase">rename</a>
    </li>
    <li ng-if="!ctrl.renameActive">
        <a ng-href="{{ctrl.downloadSrc()}}"
           class="heading-label text-uppercase"
           download="{{ctrl.file.name}}">
            download
        </a>
    </li>
    <li ng-if="!ctrl.renameActive">
        <a ng-click="ctrl.deleteFile()" class="heading-label text-uppercase text-danger">delete</a>
    </li>
</ul>