<div ng-if="update!=='true'" class="row">

    <h4>Note</h4>

    <div>
        <input placeholder="Title" class="form-control" ng-model="model.title">

        <text-angular ta-toolbar="[['h1','h2','h3', 'h4','p'],
                      ['bold','italics','underline'],['ul','ol'],
                      ['justifyLeft','justifyCenter','justifyRight'],
                      ['insertLink', 'insertImage'],
                      ['undo', 'redo','clear']]"
                      ng-model="model.new_note"></text-angular>
        <br>
        <button ng-click="add_notes()" class="btn btn-default btn-primary">Enter</button>
    </div>

</div>
<div class="row">
    <div>
        <h4>Previous notes:</h4>

        <div class="row" ng-repeat="n in project.notes | byKey: 'item_id': doc.id">
            <div ng-if="edit_index==$index">
                <input placeholder="Title" class="form-control" ng-model="n.title">
                <text-angular ta-toolbar="[['h1','h2','h3', 'h4', 'h5', 'h6','p', 'quote'],
                              ['bold','italics','underline','ul','ol'],['undo', 'redo','clear'],
                              ['justifyLeft','justifyCenter','justifyRight'], ['insertLink', 'insertImage']]"
                              ng-model="n.note"></text-angular>
                <br>
                <button ng-click="saveNotes(n)" class="btn btn-default btn-primary">Save</button>
            </div>
            <div ng-if="edit_index!==$index">
                <div ta-bind ng-model="n.note"></div>
            </div>
            <div class="text-muted sub-text">
                {{n.mtime | toDateString}} --- {{n.creator}}
            </div>
            <div ng-if="edit_index!==$index">
                <a ng-click="editNotes($index)">edit</a>
            </div>
            <hr/>
        </div>
    </div>
</div>
