<div>
    <form class="form-inline">
        <span ng-repeat="trailitem in trail" ng-click="backToFolder(trailitem)">
            <span><b>{{trailitem.displayname}}/ </b></span>
        </span>
        <a ng-href="{{ originalFileSrc }}" download="{{ file.name }}"><b><u>{{file.name}}</u></b></a>
    </form>
    <div class="row">
        <button class="btn btn-danger" ng-click="close()">
            Close
        </button>
    </div>

    <div class="row">
        <div class="col-lg-7" ng-switch="" on="fileType">
            <div ng-switch-when="image">
                <img class="img-responsive" ng-src="{{ fileSrc }}">

                <div class="col-lg-offset-4">
                    <legend>{{fileName}}</legend>

                </div>
            </div>
            <div ng-switch-when="pdf">
                <div class="embed-responsive embed-responsive-4by3">
                    <embed class="col-xs-8 embed-responsive-item" ng-src="{{fileSrc}}" href="abc"></embed>
                </div>
                <div class="col-lg-offset-4">
                    <legend>{{fileName}}</legend>
                </div>
            </div>
            <div ng-switch-default>
                Not an image
            </div>
        </div>
        <div class="col-lg-5">
            <div class="row">
                <span class="col-lg-6"> <i class="fa fa-tags"/> Tags</span>

                <div class="btn-group">
                    <a data-toggle="dropdown"><i class="fa fa-plus"></i> <span class="caret"/></a>
                    <ul class="dropdown-menu" role="menu">
                        <li ng-repeat="t in user_tags">
                            <span><i class="fa" ng-class="'fa-' + t.icon"
                                     style="color: {{t.color}}"></i>
                                <a ng-click="addTag(file, t)" role="menuItem">{{t.name}}</a>
                            </span>
                        </li>
                    </ul>
                </div>
                <hr>
                <div class="row">
                    <div ng-repeat="t in file.tags">
                        <div tooltip="{{t.name}}" tooltip-popup-delay="700" class="row">
                            <span>
                                <i class="fa" ng-class="'fa-' + t.icon" style="color: {{t.color}}"></i>
                                {{t.name}}
                            </span>
                        </div>
                    </div>
                </div>
                <div>
                    <div notes doc="file" project="project"></div>
                </div>
            </div>
        </div>
    </div>
</div>
