<h4>Images</h4>
<div ng-controller="projectFileView">
    <button class="btn btn-default" ng-click="getImages()">Load Images</button><br>
    <div ng-if="datafiles">
        <div ng-if="files =(datafiles | byMediaType: ['image/jpeg', 'image/png', 'image/tiff', 'image/x-ms-bmp']).length == 0">
            <p>No image files in current directory</p> <br>
        </div>
    </div>

    <div masonry>
        <img class="repeated-img masonry-brick" style="height: 200px; width:200px;border: 1px solid #000000"  data-toggle="modal" data-target="#imageExpand" ng-click="expand(df)"
             data-tooltip={{df.displayname}} ng-repeat="df in files =(datafiles | byMediaType: ['image/jpeg', 'image/png', 'image/tiff', 'image/x-ms-bmp'])" ng-if="df.type =='datafile'" ng-src="datafiles/static/{{df.id}}?apikey={{apikey}}"
             alt="{{df.displayname}}">
    </div>

    <div class="modal fade" id="imageExpand" tabindex="-1" role="dialog" aria-labelledby="imageExpandLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">{{datafile.displayname}}</h4>
                </div>
                <div class="modal-body">
                    <img style="width:500px; height:500px;" ng-src="datafiles/static/{{datafile.id}}?apikey={{apikey}}" alt="Cannot Display">
                </div>
            </div>
        </div>
    </div>
</div>
