<div class="container-fluid">
<div class="row-fluid">
    <div class="span2">
        <div class="sidebar-nav-fixed">
            <div class="well">
                <ul class="nav nav-list">

                    <li class="nav-header"><i class="icon-wrench"></i>MyTools</li>

                    <!--<li><a href="">Search</a></li>-->
                    <!--<li><a href="">Messages</a></li>-->

                    <!--<li id="my-data-tab" ng-model="clicked"><a href="" ng-click="clicked()">Projects</a>-->
                        <!--<div class="project-scrollbar" ng-show="clicked">-->
                                <!--<ul ng-repeat="proj in projects">-->
                                    <!--<li><a href="#/projects/{{proj.id}}"-->
                                           <!--ng-click="selected_project(proj.id)">{{proj.name}}</a>-->
                                    <!--</li>-->
                                <!--</ul>-->
                            <!--</div>-->


                    <!--</li>-->
                    <li id="data-tab"><a href="#/subpages/datatab">My Data</a></li>
                    <li id="tags-tab"><a href="#/subpages/tagstab">Tags</a></li>
                    <li id="conditions-tab"><a href="#/subpages/conditionstab">Templates</a></li>
                    <li id="provenance-tab"><a href="#/subpages/provenancetab">Provenance</a></li>
                    <li id="upload-tab"><a href="#/subpages/uploadtab">Upload/Download</a></li>
                    <li id="reviews-tab"><a href="#/subpages/reviewstab">Reviews <span ng-controller="ReviewListController">
                            ({{reviewstoConduct.length}})
                        </span></a>

                    </li>

                    <li class="nav-header"><i class="icon-lock"></i>Admin</li>
                    <li id="usergroups-tab"><a href="#/subpage-template/usergroups-tab">Usergroups</a></li>
                        <li class="nav-header"><i class="icon-tags"></i>Commonly Used Tags</li>
                        <div ng-controller="AllTagsController">
                        <span  ng-click="listDataForTag(tag.name)" style="cursor:pointer" class="label label-info custom" ng-repeat="tag in tags | limitTo: 10" >
                            {{ tag.name }}  ({{tag.count}})
                        </span>
                        </div>

                        <li class="nav-header"><i class="icon-search"></i>Browse By:</li>
                        <li><a href="#">Process</a></li>
                        <li><a href="#">Conditions</a></li>
                        <li><a href="#">Tags</a></li>

                        <li class="nav-header"><i class="icon-upload"></i>Recent Uploads</li>
                        <li><a href="#">File 1</a></li>
                        <li><a href="#">File 2</a></li>
                        <li><a href="#">File 3</a></li>
                </ul>

            </div>
        </div>
    </div>


    <div class="span8">
        <div ui-view></div>

    </div>


</div>

</div>


