<div class="container-fluid">
    <div class="row-fluid">
        <div class="span3">
            <div class="sidebar-nav-fixed">
                <div class="well">
                    <ul class="nav nav-list">

                        <li class="nav-header"><i class="icon-wrench"></i>MyTools</li>

                        <!--<li><a href="">Search</a></li>-->
                        <!--<li><a href="">Messages</a></li>-->
                        <li id="my-data-tab"><a href="" style="cursor:pointer"
                                                ng-click="showProjs=!showProjs">Projects</a>

                            <div ng-show="showProjs" class="project-scrollbar">
                                <ul ng-repeat="proj in projects">
                                    <li style="list-style-type: circle" ><a href="#/mytools/projects/{{proj.id}}"
                                           ng-click="selected_project(proj.id)">{{proj.name}}</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li id="data-tab"><a href="#/mytools/datatab">My Data</a></li>
                        <li id="tags-tab"><a href="#/mytools/tagstab">Tags</a></li>
                        <!--<li id="conditions-tab"><a href="#/mytools/conditionstab">Templates</a></li>-->
                        <!--<li id="provenance-tab"><a href="#/mytools/provenancetab">Provenance</a></li>-->
                        <!--<li id="upload-tab"><a href="#/mytools/uploadtab">Upload/Download</a></li>-->
                        <li id="reviews-tab"><a href="#/mytools/reviewlist">Reviews <span
                                ng-controller="ReviewListController">
                            ({{reviewstoConduct.length}})
                        </span></a>

                        </li>

                        <!--<li class="nav-header"><i class="icon-lock"></i>Admin</li>-->
                        <!--<li id="usergroups-tab"><a href="#/mytools/usergrouptab">Usergroups</a></li>-->
                        <li class="nav-header"><i class="icon-tags"></i>Commonly Used Tags</li>
                        <div ng-controller="AllTagsController">
                        <span style="cursor:pointer" class="label label-info custom"
                              ng-repeat="tag in tags | limitTo: 10">
                           <a href="#/mytools/data/bytag/{{tag.name}}" style="color: white">{{ tag.name }}  ({{tag.count}})</a>
                        </span>
                        </div>

                        <!--<li class="nav-header"><i class="icon-search"></i>Browse By:</li>-->
                        <!--<li><a href="#">Process</a></li>-->
                        <!--<li><a href="#">Conditions</a></li>-->
                        <!--<li><a href="#">Tags</a></li>-->

                        <!--<li class="nav-header"><i class="icon-upload"></i>Recent Uploads</li>-->
                    </ul>

                </div>
            </div>
        </div>


        <div class="span8">
            <div ui-view></div>

        </div>


    </div>

</div>


