<div ng-controller="DataGroupGridController">
<div class="row-fluid">
    <div class="offset1">
        <h5>Pick the datadir to view thumbnail images:</h5>

        <div style="margin-bottom:10px">
            <select class="span6" ng-model="datagroup"
                    ng-options="dg.name for  dg in datagroups"
                    ng-change="display_images()">
            </select>


        </div>
    </div>
</div>
<div ng-show="datagroup">
        <div class="bar">
            <!-- These two buttons switch the layout varaible,
                 which causes the correct UL to be shown. -->

            <a class="list-icon" ng-class="{active: layout == 'list'}" ng-click="layout = 'list'"></a>
            <a class="grid-icon" ng-class="{active: layout == 'grid'}" ng-click="layout = 'grid'"></a>
        </div>

        <!-- We have two layouts. We choose which one to show depending on the "layout" binding -->


        <ul ng-show="layout == 'grid'" class="grid">
            <!-- A view with big photos and no text -->
            <div ng-hide="pics">
                <span>No images</span>
            </div>
            <li ng-repeat="p in pics">
                <a href="{{p.link}}" target="_blank"><img ng-src="{{p.link}}" /></a>
            </li>
        </ul>

        <ul ng-show="layout == 'list'" class="list">
            <!-- A compact view smaller photos and titles -->
            <div ng-hide="pics">
                <span>No images</span>
            </div>
            <li ng-repeat="p in pics">
                <a href="{{p.link}}" target="_blank"><img ng-src="{{p.link}}" /></a>
                <a></a>
                <span>Name : {{p.file.name}}</span><br>
                <span>Size: {{p.file.size}}</span><br>
                <span>Owner: {{p.file.owner}} </span><br>
                <span>machine: {{p.file.machine}}</span><br>
                <span>Media Type: {{p.file.mediatype}} </span><br>
            </li>
        </ul>

    </div>

</div>
