<div layout="column">
    <mc-dir-filter-by-type dir="$ctrl.dir" on-view-selected="$ctrl.viewFiles(selected)"></mc-dir-filter-by-type>
    <div ng-if="$ctrl.files.length">
        <div layout="row">
            <span ng-if="$ctrl.downloadState == 'preparing'">
                <i class="fa fa-circle-o-notch fa-spin"></i>
                Preparing download (this may take some time)...
                {{$ctrl.downloadMessageFlash}}
            </span>
            <span ng-if="$ctrl.downloadState == 'done'">
                <a ng-href="{{$ctrl.downloadURL}}" ng-click="$ctrl.downloadState='none'">
                    Preparation done click here to download {{$ctrl.downloadURL}}
                </a>
            </span>
            <span flex></span>
        </div>
        <div>
            <div layout="row" ng-if="$ctrl.downloadState === 'none'">
                <md-button ng-if="$ctrl.selectedCount" ng-click="$ctrl.downloadSelectedFiles()">
                    <i class="fa fa-fw fa-download"></i> download selected
                </md-button>
                <md-button ng-if="!$ctrl.selectedCount" ng-click="$ctrl.selectAllFiles()">
                    select all
                </md-button>
                <md-button ng-if="$ctrl.selectedCount" ng-click="$ctrl.deselectSelectedFiles()">
                    clear selected
                </md-button>
                <span flex="10"></span>
                <md-input-container md-no-float class="md-input-bottom-0">
                    <input placeholder="Filter by name..."
                           ng-model="$ctrl.fileFilter.name"
                           ng-model-options="{ updateOn: 'default blur', debounce: { default: 200, blur: 0} }">
                </md-input-container>
            </div>
        </div>

        <div>
            <md-table-container>
                <table md-table>
                    <thead md-head>
                    <tr md-row>
                        <th md-column>File</th>
                        <th md-column>Thumbnail</th>
                        <th md-column>Select</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr md-row ng-repeat="file in $ctrl.files | filter:$ctrl.fileFilter">
                        <td md-cell>
                            <div layout="row" layout-align="start center">
                                <b>{{$index+1}}.</b>
                                <i class="fa fa-files-o fa-fw file-color"></i>
                                <md-button class="md-primary" ui-sref="project.files.file({file_id: file.id})"
                                           aria-label="view file">
                                    {{file.name}}
                                </md-button>
                                {{file.mediatype.mime}}
                                {{file.size | bytes}}
                            </div>
                        </td>
                        <td md-cell>
                            <div ng-if="$ctrl.isImage(file.mediatype.mime)">
                                <md-button class="md-primary" ui-sref="project.files.file({file_id: file.id})"
                                           aria-label="view file">
                                    <img class="img-thumbnail" height="140" width="140"
                                         ng-src="{{$ctrl.fileSrc(file.id)}}">
                                </md-button>
                            </div>
                        </td>
                        <td md-cell>
                            <md-checkbox ng-click="$ctrl.fileSelect(file)" ng-model="file.selected"
                                         aria-label="select"></md-checkbox>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </md-table-container>
        </div>
    </div>
</div>