<div layout="column" layout-margin layout-fill>
    <div layout="row">
        <h3 class="md-title">
            <i class="fa fa-fw fa-folder-open"></i> {{$ctrl.dir.data.path}}
        </h3>
    </div>
    <div layout="row" class="margin-left-30">
        <div>
            <md-button class="md-primary md-raised" ui-sref="project.files.uploads2({directory_id: $ctrl.dir.data.id})">
                <i class="fa fa-fw fa-upload"></i> Upload Files
            </md-button>
            <md-button class="md-primary md-raised">
                <i class="fa fa-fw fa-plus-square"></i>Create Directory
            </md-button>
            <md-button class="md-primary md-raised" ng-click="$ctrl.renameDirectory()">
                <i class="fa fa-fw fa-pencil-square"></i> Rename Directory
            </md-button>
            <md-menu>
                <md-button class="md-primary md-raised" ng-click="$mdMenu.open($event)">
                    <i class="fa fa-fw fa-ellipsis-h"></i> bulk operations
                    <i class="fa fa-fw fa-caret-down"></i>
                </md-button>
                <md-menu-content>
                    <md-menu-item>
                        <md-button class="" ng-disabled="!$ctrl.selected">
                            <i class="fa fa-fw fa-th-list"></i> Move Selected
                        </md-button>
                    </md-menu-item>
                    <md-menu-item>
                        <md-button class="" ng-disabled="!$ctrl.selected">
                            <i class="fa fa-fw fa-trash"></i> Delete Selected
                        </md-button>
                    </md-menu-item>
                    <md-menu-item>
                        <md-button class="" ng-disabled="!$ctrl.selected">
                            <i class="fa fa-fw fa-download"></i> Download Selected
                        </md-button>
                    </md-menu-item>
                </md-menu-content>
            </md-menu>
        </div>
    </div>
    <mc-dir-overview dir="$ctrl.dir" project="$ctrl.project" on-selected="$ctrl.onSelected(selected)"></mc-dir-overview>
</div>
