<div layout="column" layout-margin layout-fill>
    <div layout="row">
        <h3 class="md-title">
            <i class="fa fa-fw fa-folder-open"></i> {{$ctrl.dir.data.path}}
        </h3>
    </div>
    <div layout="row" class="margin-left-30">
        <div>
            <md-button class="md-primary md-raised">Upload Files</md-button>
            <md-button class="md-primary md-raised">Create Directory</md-button>
            <md-button class="md-primary md-raised">Rename Directory</md-button>
            <md-menu>
                <md-button class="md-primary md-raised" ng-click="$mdMenu.open($event)">
                    bulk operations
                    <i class="fa fa-fw fa-caret-down"></i>
                </md-button>
                <md-menu-content>
                    <md-menu-item>
                        <md-button class="" ng-disabled="!$ctrl.selected">Move Selected</md-button>
                    </md-menu-item>
                    <md-menu-item>
                        <md-button class="" ng-disabled="!$ctrl.selected">Delete Selected</md-button>
                    </md-menu-item>
                    <md-menu-item>
                        <md-button class="" ng-disabled="!$ctrl.selected">Download Selected</md-button>
                    </md-menu-item>
                </md-menu-content>
            </md-menu>
        </div>
    </div>
    <mc-dir-overview dir="$ctrl.dir" project="$ctrl.project" on-selected="$ctrl.onSelected(selected)"></mc-dir-overview>
</div>
