<div layout="column">
    <mc-dir-filter-by-type dir="$ctrl.dir" on-view-selected="$ctrl.viewFiles(selected)"></mc-dir-filter-by-type>
    <div ng-if="$ctrl.files.length">
        <div>
            <md-button ng-if="!$ctrl.selectedCount" ng-click="$ctrl.selectAllFiles()">
                select all
            </md-button>
            <md-button ng-if="$ctrl.selectedCount" ng-click="$ctrl.deselectSelectedFiles()">
                clear selected
            </md-button>
            <span flex="10"></span>
            <md-input-container md-no-float class="md-input-bottom-0">
                <input placeholder="Filter by name..."
                       ng-model="$ctrl.fileFilter.name"
                       ng-model-options="{ updateOn: 'default blur', debounce: { default: 200, blur: 0} }">
            </md-input-container>
        </div>
        <div>
            <md-table-container>
                <table md-table>
                    <thead md-head>
                    <tr md-row>
                        <th md-column>File</th>
                        <th md-column>Thumbnail</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr md-row ng-repeat="file in $ctrl.files | filter:$ctrl.fileFilter">
                        <td md-cell>
                            <div layout="row" layout-align="start center">
                                <b style="margin-right: 5px">{{$index+1}}.</b>
                                <md-checkbox ng-change="$ctrl.fileSelect(file)" ng-model="file.selected"
                                             aria-label="select"></md-checkbox>
                                <i class="fa fa-files-o fa-fw file-color margin-left-15"></i>
                                <a class="md-primary md-subhead" style="margin: 10px;"
                                   ng-click="$ctrl.showFile(file)"
                                   aria-label="view file">
                                    {{file.name}}
                                </a>
                                {{file.mediatype.mime}}
                                {{file.size | bytes}}
                            </div>
                        </td>
                        <td md-cell>
                            <div ng-if="$ctrl.isImage(file.mediatype.mime)">
                                <md-button class="md-primary" ui-sref="project.files.file({file_id: file.id})"
                                           aria-label="view file">
                                    <img class="img-thumbnail" height="140" width="140"
                                         ng-src="{{$ctrl.fileSrc(file.id)}}">
                                </md-button>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </md-table-container>
        </div>
    </div>
</div>