<div layout="column" layout-margin layout-fill>
    <div layout="row">
        <h3 class="md-title">
            <i class="fa fa-fw fa-folder-open"></i> {{$ctrl.dir.data.path}}
            <a class="text-uppercase md-warn margin-left-15" ng-click="$ctrl.deleteDir()">
                <i class="fa fa-fw fa-trash"></i> delete directory
            </a>
        </h3>
    </div>
    <div layout="row" ng-if="$ctrl.globusUploadPending()">
        <span>Globus upload <b><i>in progress</i></b>: from <b>MyGlobusEndpoint (/data/for/mc)</b> to <b>'Demo Project/MyExtraData'</b></span>
    </div>
    <div layout="row" ng-if="$ctrl.globusUploadComplete()">
        <span>Globus upload <b><i>is completed</i></b>: from <b>MyGlobusEndpoint (/data/for/mc)</b> to <b>'Demo Project/MyExtraData'</b> (<a>ok</a>)</span>
    </div>
    <div layout="row" ng-if="true">
        <span>For large files, large file sets, or directory trees, <a ng-click="$ctrl.useGlobusForDownload()">use Globus</a> for download.</span>
    </div>
    <div layout="row" class="margin-left-30">
        <mc-dir-toolbar></mc-dir-toolbar>
    </div>
    <mc-dir-dnd-move move-files="$ctrl.moveFiles" on-move="$ctrl.handleMove(item)"></mc-dir-dnd-move>
    <mc-dir-bulk-download-url download-state="$ctrl.downloadState" download-url="$ctrl.downloadUrl">
    </mc-dir-bulk-download-url>
    <mc-dir-overview dir="$ctrl.dir" on-selected="$ctrl.onSelected(selected)">
    </mc-dir-overview>
</div>
