<div layout="row" flex layout-fill>
    <md-sidenav layout-fill flex="30" class="md-whiteframe-4dp" md-is-locked-open="true">
        <div flex layout-fill style="max-height: 99vh; height: 99vh">
            <md-content layout-margin flex layout-fill>
                <div flex>
                    <ul class="padding-left-15">
                        <li ng-repeat="file in $ctrl.state.root track by file.id">
                            <div class="mc-active-tree-node">
                                <div layout="row" layout-align="start center">
                                    <a ng-click="$ctrl.gotoTopLevel(file)">
                                        <span ng-if="file.expand"><i class="fa fa-fw fa-folder-open file-tree-icon-color"></i></span>
                                        <span ng-if="!file.expand"><i class="fa fa-fw fa-folder file-tree-icon-color"></i></span>
                                        {{::file.data.name}}
                                    </a>
                                </div>
                            </div>
                            <mc-file-tree-directory file="file" ng-if="file.expand"
                                                    on-load-dir="$ctrl.handleOnLoadDir(dir)"
                                                    on-show-file="$ctrl.handleOnShowFile(file)"></mc-file-tree-directory>
                        </li>
                    </ul>
                </div>
            </md-content>
        </div>
    </md-sidenav>
    <md-content flex layout-margin>
        <mc-file file="$ctrl.state.active.data" ng-if="$ctrl.state.active.data.otype == 'file'"></mc-file>
        <mc-project-files-view-dir dir="$ctrl.state.active" ng-if="$ctrl.state.active.data.otype == 'directory'"></mc-project-files-view-dir>
        <!--file/dir details here-->
        <!--{{$ctrl.state.active | json}}-->
        <!--<div ui-view flex></div>-->
    </md-content>
</div>
