<div layout="column" flex layout-fill layout-margin>
    <div layout="row" layout-align="space-between center">
        <mc-project-files-view2-breadcrumbs path="$ctrl.state.activeDir.path" on-change-dir="$ctrl.handleChangeDir(path)"></mc-project-files-view2-breadcrumbs>
        <mc-show-json object="$ctrl.state.activeDir"></mc-show-json>
    </div>
    <mc-project-files-view2-controls
            directory="$ctrl.state.activeDir.path"
            on-create-dir="$ctrl.handleCreateDir(path)"
            on-selection-state-change="$ctrl.handleSelectionStateChange(state)"
            on-limit-state-change="$ctrl.handleLimitStateChange(limit)"
            on-download-files="$ctrl.handleDownloadFiles()"
            on-filter-on="$ctrl.handleFilterOn(filterOn)"></mc-project-files-view2-controls>
    <mc-project-files-view2-directory-table
            files="$ctrl.state.activeDir.children"
            selection-state="$ctrl.state.selectionState"
            limit-to="$ctrl.state.limitTo"
            on-add-selection="$ctrl.handleAddSelection(file)"
            on-remove-selection="$ctrl.handleRemoveSelection(file)"
            filter-on="$ctrl.state.filterOn"></mc-project-files-view2-directory-table>
</div>