<ul class="list-inline no-bottom-margin">
    <li>
        <h3 class="h3custom">
            <i class="fa fa-fw fa-folder-open"></i> {{ctrl.dir.data.name}}
        </h3>
    </li>
    <li ng-if="!ctrl.createDirActive">
        <a class="heading-label text-uppercase" ng-click="ctrl.createDirActive = true;">
            create folder
        </a>
    </li>
    <li ng-if="!ctrl.createDirActive">
        <mc-flow-button dir="ctrl.dir"></mc-flow-button>
    </li>
    <li ng-if="ctrl.createDirActive">
        <span>
                <input type="text" class="section-as-margin" ng-model="ctrl.dirPath" on-enter="ctrl.createDir()">
                <button class="btn btn-files" ng-click="ctrl.createDir()">Create</button>
                <button class="btn btn-danger" ng-click="ctrl.dirPath = ''; ctrl.createDirActive = false">
                    Cancel
                </button>
        </span>
    </li>
</ul>