<div>
    <a ng-click="ctrl.addNoteActive = true" class="text-small text-uppercase">
        <i class="fa fa-fw fa-plus"></i>add note
    </a>

    <div ng-if="ctrl.addNoteActive">
        <div class="row">
            <edit-note note="ctrl.newNote"
                       save="ctrl.saveNewNote(note)"
                       cancel="ctrl.cancelNote(note)">
            </edit-note>
        </div>
    </div>
    <div ng-if="!ctrl.addNoteActive" ng-repeat="note in ctrl.file.notes" class="row section">
                    <span class="pull-right">
                            <a ng-click="note.edit = !note.edit"><i class="fa fa-fw fa-edit"></i></a></span>

        <div class="row" ng-if="!note.edit">
            <h4>Title: {{note.title}}</h4>
            <hr>
            <div ta-bind ng-model="note.note"></div>
        </div>
        <div class="row" ng-if="note.edit">
            <edit-note note="note"
                       save="ctrl.updateNote(note)"
                       cancel="ctrl.cancelNote(note)">
            </edit-note>
        </div>
    </div>
</div>