<ul class="list-inline no-bottom-margin">
    <li>
        <h3 class="h3custom" ng-if="!ctrl.renameActive"><i class="fa fa-fw fa-file"></i> {{ctrl.file.name}}</h3>
            <span ng-if="ctrl.renameActive">
                <input type="text" class="section-as-margin" ng-model="ctrl.newName" on-enter="ctrl.renameFile()">
                <button class="btn btn-files" ng-click="ctrl.renameFile()">Done</button>
                <button class="btn btn-danger" ng-click="ctrl.newName = ctrl.file.name; ctrl.renameActive = false">
                    Cancel
                </button>
            </span>
    </li>
    <li ng-if="!ctrl.renameActive">
        <a ng-click="ctrl.renameActive = !ctrl.renameActive" class="text-uppercase small">rename</a>
    </li>
    <li ng-if="!ctrl.renameActive">
        <a ng-href="{{ctrl.downloadSrc()}}"
           class="text-uppercase small"
           download="{{ctrl.file.name}}">
            download
        </a>
    </li>
    <li ng-if="!ctrl.renameActive" class="dropdown">
        <a class="text-uppercase dropdown-toggle small" data-toggle="dropdown">
            link to<span class="caret"></span>
        </a>
        <ul class="dropdown-menu" role="menu">
            <li><a class="text-uppercase" ng-click="ctrl.linkTo('processes')">processes</a></li>
            <li ng-if="false"><a class="text-uppercase" ng-click="ctrl.linkTo('samples')">samples</a></li>
            <li ng-if="false"><a class="text-uppercase" ng-click="ctrl.linkTo('notes')">notes</a></li>
        </ul>
    </li>
    <li ng-if="!ctrl.renameActive" class="dropdown">
        <a ng-confirm-click="Do you want to delete this file?"  ng-click="ctrl.deleteFile()" class="text-uppercase text-danger small">delete</a>
    </li>
</ul>