<div ng-show="$ctrl.files.length">
    <h3 class="md-subhead">Files</h3>
    <md-table-container>
        <table md-table>
            <thead md-head>
            <tr md-row>
                <th md-column>File</th>
                <th md-column>Type</th>
                <th md-column>Size</th>
                <th md-column>Thumbnail</th>
            </tr>
            </thead>
            <tbody>
            <tr md-row ng-repeat="file in $ctrl.files">
                <td md-cell>
                    <div layout="row" layout-align="start center">
                        <b>{{$index+1}}.</b>
                        <i class="fa fa-files-o fa-fw file-color"></i>
                        <md-button class="md-primary" ng-click="$ctrl.showFile(file)" aria-label="view file">
                            {{file.name}}
                        </md-button>
                    </div>
                </td>
                <td md-cell>{{file.mediatype.mime}}</td>
                <td md-cell>{{file.size | bytes}}</td>
                <td md-cell>
                    <div ng-if="$ctrl.isImage(file.mediatype.mime)">
                        <md-button class="md-primary" ng-click="$ctrl.showFile(file)" aria-label="view file">
                            <img class="img-thumbnail" height="140" width="140"
                                 ng-src="{{$ctrl.fileSrc(file.id)}}">
                        </md-button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </md-table-container>
</div>