<div flex layout="column">
    Project Overview for {{$ctrl.project.name}}
    <label>Description</label>
    <span>{{$ctrl.project.description}}</span>
    <div flex="30" layout="column" layout-margin>
        <label>Project Overview</label>
        <div md-whiteframe layout-margin>
            <div ckeditor="editorOptions" disabled
                 ng-model="$ctrl.project.overview"
                 ng-model-options="{debounce: 500}"
                 ng-change="$ctrl.updateProjectOverview()"
                 contenteditablex="true">
                {{$ctrl.project.Overview}}
            </div>
        </div>
    </div>
    <div ng-repeat="experiment in $ctrl.project.experiments" layout-margin md-whiteframe layout="column">
        <label>Experiment: {{experiment.name}}</label>
        <label>Description</label>
        <span>{{experiment.description}}</span>
    </div>
    <div md-whiteframe layout-margin>
        <div ng-repeat="user in $ctrl.project.users">
            {{user.details.fullname}}
        </div>
    </div>
</div>