<md-toolbar style="background-color: #2c3e50">
    <div class="md-toolbar-tools">
        <h1><a class="mc-link-no-change" ui-sref="projects.list">MaterialsCommons</a></h1>
        <md-divider class="md-vertical-divider margin-left-15"
                    style="border-right-color: #4d4d4d"></md-divider>
        <div ng-show="ctrl.$stateParams.project_id"
             flex="10" layout="column" layout-fill layout-margin class="margin-left-15">
            <div flex layout="row" layout-align="center center" class="arrow_box">
                <h3 class="md-title">Samples</h3>
            </div>
        </div>
        <div ng-show="ctrl.$stateParams.project_id" layout="column" class="margin-left-15">
            <span class="md-subhead" style="color:#ff5252">{{ctrl.unusedSamples.length}} unused</span>
            <span class="md-subhead">{{ctrl.measuredSamples.length}} measured</span>
        </div>
        <div layout="row" hide-md layout-align="space-around" flex-gt-md="15" flex="10">
            <div ng-show="ctrl.$stateParams.project_id" layout="column" layout-align="center center">
                <a ng-if="ctrl.project.users.length !== 1" class="md-title" style="color:#4caf50"
                   ui-sref="project.settings">
                    <b>{{ctrl.project.users.length}} Users</b>
                </a>
                <a ng-if="ctrl.project.users.length === 1" class="md-title" style="color:#4caf50"
                   ui-sref="project.settings">
                    <b>{{ctrl.project.users.length}} User</b>
                </a>
            </div>
            <div ng-show="ctrl.$stateParams.project_id" layout="column" layout-align="center center">
                <span class="md-title" style="color: #ff9800"><b>{{ctrl.published.length}}</b></span>
                <span class="md-subhead" style="color:#ff9800"><i class="fa fa-fw fa-database"></i>Published</span>
            </div>
        </div>
        <span flex-offset="5"></span>
        <md-input-container ng-show="ctrl.$stateParams.project_id" md-no-float flex="20" class="md-input-bottom-0">
            <input placeholder="{{navbarSearchText}}" type="text"
                   ng-model="ctrl.query"
                   on-enter="ctrl.search()"
                   style="color:white; border-bottom-color:white">
        </md-input-container>
        <span flex></span>
        <div layout="row" flex layout-sm="column" layout-align="space-between">
            <md-button ng-show="false">Help</md-button>
            <md-menu>
                <md-button ng-click="$mdOpenMenu($event)">
                    <md-icon md-font-icon="fa-user" class="fa fa-md-icon"></md-icon>
                    {{::ctrl.user}}
                </md-button>
                <md-menu-content>
                    <md-menu-item>
                        <md-button ui-sref="user.password">
                            <md-icon md-font-icon="fa-unlock-alt" class="fa fa-md-icon"></md-icon>
                            <span class="text-uppercase">Change Password</span>
                        </md-button>
                    </md-menu-item>
                    <md-menu-item>
                        <md-button ui-sref="user.settings.projects">
                            <md-icon md-font-icon="fa-user" class="fa fa-md-icon"></md-icon>
                            <span class="text-uppercase">Account Settings</span>
                        </md-button>
                    </md-menu-item>
                    <md-menu-item>
                        <md-button ui-sref="user.apikey">
                            <md-icon md-font-icon="fa-key" class="fa fa-md-icon"></md-icon>
                            <span class="text-uppercase">Apikey</span>
                        </md-button>
                    </md-menu-item>
                    <md-menu-divider></md-menu-divider>
                    <md-men-item>
                        <md-button ui-sref="releasenotes">
                            <md-icon md-font-icon="fa-file-text-o" class="fa fa-md-icon"></md-icon>
                            <span class="text-uppercase">Release Notes</span>
                        </md-button>
                    </md-men-item>
                    <md-menu-divider></md-menu-divider>
                    <md-menu-item>
                        <md-button ng-click="ctrl.logout()">
                            <md-icon md-font-icon="fa-sign-out" class="fa fa-md-icon"></md-icon>
                            <span class="text-uppercase">Logout</span>
                        </md-button>
                    </md-menu-item>
                </md-menu-content>
            </md-menu>
        </div>
    </div>
</md-toolbar>