<md-dialog flex="70">
    <md-toolbar layout="row">
        <div layout-margin>
            Switch to user
        </div>
    </md-toolbar>
    <md-dialog-content layout-margin layout="row">
        <md-button class="md-primary" ng-click="$ctrl.switchTo('projects.list')">Projects Site</md-button>
        <md-button class="md-primary" ng-click="$ctrl.switchTo('data.home.top')">Data Site</md-button>
    </md-dialog-content>
    <md-dialog-actions layout="row">
        <md-button class="md-warn" ng-click="$ctrl.cancel()">cancel</md-button>
    </md-dialog-actions>
</md-dialog>