<div layout="column" layout-margin>
    <h3 class="md-title">Add Users To Project</h3>
    <div ng-if="$ctrl.isOwner($ctrl.signedInUser)">
        <input type="text" placeholder="Filter users..."
               class="mc-input-as-line" ng-model="$ctrl.filterUsersBy">
        <md-content style="max-height:30vh" flex="40">
            <md-list>
                <md-subheader class="md-no-sticky">Users Not In Project</md-subheader>
                <md-list-item class="md-2-line"
                              ng-repeat="user in $ctrl.usersAvailable | orderBy:'id' | filter:$ctrl.filterUsersBy">
                    <md-checkbox aria-label="selected" ng-model="user.selected" ng-change="$ctrl.addUser(user)"></md-checkbox>
                    <div class="md-list-item-text">
                        <h3 class="md-title">{{user.fullname}}</h3>
                        <p>{{user.email}}</p>
                    </div>
                </md-list-item>
            </md-list>
        </md-content>
    </div>

    <h3 class="padding-top-20 md-title">Project Collaborators</h3>

    <md-table-container>
        <table md-table>
            <thead md-head>
            <tr md-row>
                <th md-column>Users</th>
                <th md-column>Action</th>
            </tr>
            </thead>
            <tbody>
            <tr md-row class="md-row-hover" ng-repeat="user in $ctrl.project.users | orderBy: 'user_id'">
                <td md-cell>{{user.fullname}} ({{user.user_id}})</td>
                <td md-cell ng-if="$ctrl.isOwner($ctrl.signedInUser)">
                    <div ng-if="$ctrl.signedInUser === user.user_id">
                        Owner
                    </div>
                    <div ng-if="$ctrl.signedInUser !== user.user_id">
                        <md-button ng-click="$ctrl.deleteUser(user.id)" class="md-warn">Remove</md-button>
                    </div>
                </td>
                <td md-cell ng-if="!$ctrl.isOwner($ctrl.signedInUser)">Not Authorized</td>
            </tr>
            </tbody>
        </table>
    </md-table-container>
</div>
