<div>
    <div ng-switch="attribute._type">
        <div ng-switch-when="composition">
            <template-attribute-composition attribute="attribute" edit="edit">
            </template-attribute-composition>
        </div>
        <div ng-switch-when="histogram">
            <template-attribute-histogram attribute="attribute" edit="edit">
            </template-attribute-histogram>
        </div>
        <div ng-switch-when="line">
            <template-attribute-line attribute="attribute" edit="edit">
            </template-attribute-line>
        </div>
        <div ng-switch-when="date">
            <template-attribute-date attribute="attribute" edit="edit">
            </template-attribute-date>
        </div>
        <div ng-switch-when="list">
            <template-attribute-list attribute="attribute" edit="edit">
            </template-attribute-list>
        </div>
        <div ng-switch-when="number">
            <template-attribute-number attribute="attribute" edit="edit">
            </template-attribute-number>
        </div>
        <div ng-switch-when="pair">
            <template-attribute-pair attribute="attribute" edit="edit">
            </template-attribute-pair>
        </div>
        <div ng-switch-when="string">
            <template-attribute-string attribute="attribute" edit="edit">
            </template-attribute-string>
        </div>
        <div ng-switch-when="template">
            <template-attribute-template attribute="attribute" edit="edit">
            </template-attribute-template>
        </div>
        <div ng-switch-when="sample">
            <template-attribute-sample attribute="attribute" edit="edit">
            </template-attribute-sample>
        </div>
    </div>
</div>
