<div ng-controller="toolbarReviews">
    <h4>To mark a review as completed:</h4>
    <ol>
        <li> Click the view link. This will take you to the data page to conduct the review.</li>
        <li> Check the reviews radio-button and mark the review as completed when you are done.</li>
        <li> You will see the status change from InProcess to Finished and the count of reviews in the toolbar decrease.
        </li>
    </ol>

    <div class="row-fluid">
        <div class="span12">
            <h4>Reviews to conduct</h4>
            <paged data="reviews" current-page="currentReviewPage" page-size="5">
                <table class="table table-striped mc-table-hover table-condensed mc-table">
                    <thead>
                    <tr>
                        <th></th>
                        <th>Requested by</th>
                        <th>Requested To</th>
                        <th>Message</th>
                        <th>Created on</th>
                        <th>Item</th>
                        <th>Status</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="review in reviewstoConduct | page:currentReviewPage:5">
                        <td><a style="cursor:pointer" ui-sref="toolbar.dataedit({id: review.item_id})">view</a></td>
                        <td>{{ review.requested_by }}
                        </td>
                        <td>{{ review.requested_to }}</td>
                        <td>{{ review.note }}</td>
                        <td>{{ review.marked_on | toDateString }}</td>
                        <td>{{ review.item_name }}</td>
                        <td>{{ review.status }}</td>
                    </tr>
                    </tbody>
                </table>
            </paged>
        </div>
    </div>

    <div class="row-fluid">
        <div class="span12">
            <h4>Reviews you have requested</h4>
            <paged data="reviewsRequested" current-page="currentRequestedReviewPage" page-size="5">
                <table class="table table-striped mc-table-hover table-condensed mc-table">
                    <thead>
                    <tr>
                        <th></th>
                        <th>Requested by</th>
                        <th>Requested To</th>
                        <th>Message</th>
                        <th>Created on</th>
                        <th>Item</th>
                        <th>Status</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="review in reviewsRequested | page:currentRequestedReviewPage:5">
                        <td><a style="cursor:pointer" href="toolbar.dataedit({id: review.item_id})">view file</a></td>
                        <td>{{review.requested_by}}</td>
                        <td>{{ review.requested_to }}</td>
                        <td>{{ review.note }}</td>
                        <td>{{ review.marked_on | toDateString }}</td>
                        <td>{{ review.item_name }}</td>
                        <td>{{ review.status }}</td>
                    </tr>
                    </tbody>
                </table>
            </paged>
        </div>
    </div>
</div>