<md-list>
    <div ng-if="$ctrl.process.files.length">
        <md-subheader class="md-no-sticky no-inner-padding"><h4>Files</h4></md-subheader>
        <md-list-item class="md-3-line" ng-repeat="file in $ctrl.process.files | orderBy:'name'">
            <div class="md-list-item-text md-whiteframe-2dp" layout="column">
                <div class="padding-left-15 padding-top-10">
                    <a ng-if="$ctrl.isImage(file.mediatype.mime)"
                       class="md-primary" ng-click="$ctrl.showFile(file)" aria-label="view file">
                        <img class="img-thumbnail" height="140" width="140"
                             ng-src="{{$ctrl.fileSrc(file.id)}}">
                    </a>
                    <a ng-click="$ctrl.showFile(file)">{{file.name}}</a>
                    <div ng-if="file.samples.length">
                        <h3 class="md-subhead">Linked to samples</h3>
                        <ul>
                            <li ng-repeat="sample in file.samples">
                                <a ng-click="$ctrl.showSample(sample)">{{sample.name}}</a>
                            </li>
                        </ul>
                    </div>
                    <div layout="row" layout-align="start layout-wrap">
                        <md-button ng-click="$ctrl.removeFile(file)" class="md-warn">Remove</md-button>
                        <md-button ng-click="$ctrl.linkFileToSamples(file)"
                                   class="md-primary">
                            Link to samples
                        </md-button>
                    </div>
                </div>
            </div>
        </md-list-item>
    </div>
</md-list>