<div class="row-fluid">
    <div class="span5 offset1">
        <h3>Process report</h3>
        {{process}}

        <div class="well">
            Name:<span>{{process.name}}</span><br>
            Description:<span>{{process.description}}</span> <br>
            Notes:
                    <span ng-repeat="n in process.notes">
                     {{n}}
                    </span> <br>
            Runs:
                <span ng-repeat="r in process.runs">
                    {{r.started}}  -
                    {{r.stopped}}
                    {{r.error_messages}}
                </span> <br>

            Input Properties:

            Input Files:

            Output Properties:

            Output Files:

        </div>
    </div>

</div>
