<div class="row-fluid">
    <div class="span7 offset1">
        <h3>Provenance - {{process.name}}</h3>

        <div class="block">
            <div class="well">
                <h5>Process</h5>

                <div class="well">
                    <label>Name:</label><span>{{process.name}}</span><br>
                    <label>Description:</label><span>{{process.description}}</span> <br>
                    <label>Notes:</label>
                    <ul ng-repeat="n in process.notes">
                        <li>{{n}}</li>
                    </ul> <br>
                    <label>Runs:</label>
                <span ng-repeat="r in process.runs">
                    <li>
                        {{r.started | date:'medium' }}  -
                        {{r.stopped | date:'medium'}} <br> Error Messages:
                        {{r.error_messages}}
                    </li>

                </span> <br>
                    <label>Machine:</label><span>{{machine.name}}</span> <br>
                    <label>Version:</label><span>{{process.version}}</span> <br>
                </div>
                <h5>Inputs</h5>

                <div class="well">
                    <label>Input Properties:</label><br>  <span ng-repeat="ip_cond in input_conditions">
                    <a href="#modalCondition" data-toggle="modal" ng-click="get_mode_condition(ip_cond)">{{ip_cond.name}}</a>  <br>
            </span> <br>

                    <label>Input Files:</label><br>  <span ng-repeat="ip_file in input_files">
                    <a href="#/mytools/data/edit/{{ip_file.id}}">{{ip_file.name}} </a><br>
            </span> <br>
                </div>

                <h5>Outputs</h5>

                <div class="well">
                    <label>Output Properties:</label> <br> <span ng-repeat="op_cond in output_conditions">
                    <a href="#modalCondition" data-toggle="modal" ng-click="get_mode_condition(op_cond)">{{op_cond.name}} </a> <br>
            </span> <br>

                    <label>Output Files:</label><br>  <span ng-repeat="op_file in output_files">
                    <a href="#/mytools/data/edit/{{op_file.id}}">{{op_file.name}} </a> <br>
            </span>
                </div>


            </div>
            <div id="modalCondition" class="modal hide fade" tabindex="-1" role="dialog"
                 aria-labelledby="modalConditionLabel" aria-hidden="true">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h3 id="modalConditionLabel">{{display_condition.name}}</h3>
                </div>
                <div class="modal-body">
                    <div>

                        <label>Name:</label><span>{{display_condition.name}}</span> <br>
                        <label>Description:</label><span>{{display_condition.description}}</span><br>
                        <label>Model:</label>

                        <div ng-repeat="prop in display_condition.model">
                            <label>{{prop.name}}</label> - <span>{{prop.value}}</span>
                            <span ng-if="prop.unit!=''">
                                {{prop.unit}}
                            </span>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
                </div>
            </div>
        </div>

    </div>

</div>
