<div>
    <mc-add-comment-button action="$ctrl.addComment()">
    </mc-add-comment-button>
    <mc-refresh-comments-button action="$ctrl.refreshCommentsList()">
    </mc-refresh-comments-button>
    <i ng-if="!$ctrl.loggedin">You must be logged in to add or modify comments</i>
    <md-list flex>
        <md-header>Comments</md-header>
        <mc-comments-item comment="comment" ng-repeat="comment in $ctrl.comments"></mc-comments-item>
    </md-list>
    <mc-add-comment-button action="$ctrl.addComment()">
    </mc-add-comment-button>
    <mc-refresh-comments-button action="$ctrl.refreshCommentsList()">
    </mc-refresh-comments-button>
</div>