<div class="tab-pane" id="tags" ng-controller="projectsDataEditCreateTag">
    <h3>Tags</h3>
    <cgroup label="Create new:">
        <input class="form-control" ui-keypress="{13: 'addNewTag()'}" ng-model="tag_model.new_tag" placeholder="Tag...">
        <button style="position:absolute" ng-click="addNewTag(doc.id, 'datafile')" ng-disabled="!tag_model.new_tag"
                class="btn btn-default btn-info">Add
        </button>
    </cgroup>
    OR
    <cgroup label="Pick existing :">
        <select class="form-control" ng-model="tag_model.tag_to_add"
                ui-select2="{placeholder: 'Select tag', allowClear: true, width:'element'}" ng-multiple="false">
            <option></option>
            <option ng-repeat="tag in tagchoices">{{ tag }}</option>
        </select>
        <button style="position:absolute" ng-click="addExistingTag(doc.id, 'datafile')"
                ng-disabled="!tag_model.tag_to_add" class="btn btn-default btn-info">Add
        </button>
    </cgroup>

    <h3>List of Tags:</h3>
    <h4><span class="label label-primary" ng-repeat="tag in datafile_tags">
                {{ tag.tag_id }}<a style="padding-left: 3px;color: white" ng-click="removeTag(tag.id);"> &times; </a>
            </span>
    </h4>
</div>