<div style="margin-top: 20px">
    <div class="col-xs-offset-2">
        <div ng-if="search.results.total != 0">
            <div class="row">
                <h4>Showing top {{search.results.hits.length}} matches of {{search.results.total}} found.</h4>
            </div>
            <div ng-repeat="hit in search.results.hits" class="row" style="margin-top: 20px">
                <div ng-switch="hit._source._type">

                    <div ng-switch-when="datafile">
                        <span>
                            <b>{{$index+1}}. </b>
                            <i class="fa fa-files-o fa-fw" style="color: #9F88C1;"></i>
                            <a ng-click="search.gotoFilesPage(hit._source)">{{hit._source.name}}</a>
                            {{hit._source.mediatype.mime}}
                        </span>
                        <span class="row">Path: {{hit._source.path}}</span>

                        <div ng-if="search.isImage(hit._source.mediatype.mime)">
                            <a ng-click="search.openFilePopup(hit._source)">
                                <img class="img-thumbnail" height="140" width="140"
                                     ng-src="{{search.fileSrc(hit._source.id)}}">
                            </a>
                        </div>
                    </div>

                    <div ng-switch-when="sample">
                        <span>
                            <b>{{$index+1}}.</b>
                            <i class="fa fa-fw fa-cubes" style="color: #f0ad4e;"></i>
                            <a ui-sref="projects.project.samples.edit({sample_id: hit._source.sample_id})">{{hit._source.name}}</a>
                        </span>

                        <div class="row">
                            <span>
                                <a ng-repeat="image in search.images(hit._source.files) | first:5"
                                   ng-click="search.openFilePopup(image)">
                                    <img class="img-thumbnail" height="140" width="140"
                                         ng-src={{search.fileSrc(image.datafile_id)}}>
                                </a>
                                <span ng-if="hit._source.files.length > 5">  ...and {{hit._source.files.length-5}} More</span>
                            </span>
                        </div>
                    </div>
                    <div ng-switch-when="process">
                        Show process
                    </div>
                </div>
            </div>
        </div>
        <div ng-if="search.results.total === 0">
            <h4 class="center">No Matches Found</h4>
        </div>
    </div>
</div>