<div class="row" ng-controller="accountTemplates">
    <br>

    <div class="col-sm-2">
        <label>Experimental Templates:</label>
        <table class="table table-bordered mc-table">
            <thead>
                <th></th>
                <th>Template name</th>
            </thead>
            <tbody>
                <tr ng-repeat="t in experimental_templates | orderBy:'template_name'">
                    <td><input type="checkbox" ng-checked="is_checked(t)" ng-click="check(t)"></td>
                    <td>{{t.template_name}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-sm-2">
        <label>Computational Templates:</label>
        <table class="table table-bordered">
            <thead>
                <th></th>
                <th>Template name</th>
            </thead>
            <tbody>
                <tr ng-repeat="t in computational_templates | orderBy:'template_name'">
                    <td><input type="checkbox" ng-checked="is_checked(t)" ng-click="check(t)"></td>
                    <td>{{t.template_name}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-sm-3">
        <div class="row">
            <label>Preferred Templates:</label>
            <table class="table table-bordered">
                <thead>
                    <th>Template name</th>
                </thead>
                <tbody>
                    <tr ng-repeat="t in preferred_templates | orderBy:'template_name'">
                        <td>{{t.template_name}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="row">
            <button class="btn btn-default btn-primary" ng-click="updatePreferences()">Save</button>
        </div>
    </div>
</div>
