<div layout="row" layout-align="start center">
    <span ng-if="$ctrl.state.renameActive">
        <md-input-container md-no-float class="md-input-bottom-0">
            <input type="text" ng-model="$ctrl.state.newName" on-enter="$ctrl.renameFile()">
            <md-button class="md-primary" ng-click="$ctrl.renameFile()">Done</md-button>
            <md-button class="md-warn" ng-click="$ctrl.state.newName = ctrl.state.file.name; $ctrl.state.renameActive = false">
                Cancel
            </md-button>
        </md-input-container>
    </span>
    <md-button ng-if="!$ctrl.state.renameActive"
               ng-click="$ctrl.state.renameActive = !$ctrl.state.renameActive; $ctrl.state.newName = $ctrl.state.file.name"
               class="md-primary">
        rename
    </md-button>

    <md-button ng-if="!$ctrl.state.renameActive" ng-href="{{$ctrl.downloadSrc()}}" class="md-primary" download="{{$ctrl.state.file.name}}">
        download
    </md-button>

    <!--    <md-button ng-if="!$ctrl.state.renameActive && $ctrl.state.isExcelFile && $ctrl.state.isBetaUser" class="md-primary"-->
    <!--               ng-click="$ctrl.handleEtlFile()">Create Experiment From File</md-button>-->
</div>