<div layout="column" layout-margin flex>
    <div layout="row" flex layout-align="space-between center">
        <h2>File: {{$ctrl.state.file.directory.name}}/{{$ctrl.state.file.name}}</h2>
        <a class="md-subhead" ng-click="$ctrl.showJson()">show json</a>
    </div>

    <mc-file-edit-controls file="$ctrl.state.file"></mc-file-edit-controls>

    <div layout="column" md-whiteframe="5" layout-margin>
        <h5 class="md-title">Details</h5>
        <div layout="row" layout-margin>
            <div layout="row" flex="40">
                <dl>
                    <dt>Uploaded By</dt>
                    <dd>{{$ctrl.state.file.owner}}</dd>
                    <dt>Uploaded On</dt>
                    <dd>{{$ctrl.state.file.birthtime | date:'fullDate'}}</dd>
                    <dt>Mediatype</dt>
                    <dd>{{$ctrl.state.file.mediatype.mime}}</dd>
                    <dt>Size</dt>
                    <dd>{{$ctrl.state.file.size | bytes}}</dd>
                </dl>
            </div>
            <div layout="row" flex="40">
                <dl>
                    <dt>Id</dt>
                    <dd>{{$ctrl.state.file.id}}</dd>
                    <dt>Checksum</dt>
                    <dd>{{$ctrl.state.file.checksum}}</dd>
                    <dt>Latest Version</dt>
                    <dd>{{$ctrl.state.file.current ? "Yes" : "No"}}</dd>
                </dl>
            </div>
        </div>
    </div>

    <div layout="column" md-whiteframe="5" layout-margin>
        <h5 class="md-title">Versions</h5>
        <div layout="row" layout-margin>
            <mc-file-versions versions="$ctrl.state.file.versions" flex="100"></mc-file-versions>
        </div>
    </div>

    <div layout="column" md-whiteframe="5" layout-margin>
        <h5 class="md-title">Samples</h5>
        <div layout="row" layout-margin>
            <mc-file-samples samples="$ctrl.state.file.samples" flex="100"></mc-file-samples>
        </div>
    </div>

    <div layout="column" md-whiteframe="5" layout-margin>
        <h5 class="md-title">Processes</h5>
        <div layout="row" layout-margin>
            <mc-file-processes processes="$ctrl.state.file.processes" flex="100"></mc-file-processes>
        </div>
    </div>

    <div layout="column" md-whiteframe="5" layout-margin>
        <display-file-contents file="$ctrl.state.file" flex="100"></display-file-contents>
    </div>
</div>