<div data-nodrag>
    <div layout="row" layout-align="space-around center">
        <a class="mc-file-tree-control text-uppercase" ng-click="$ctrl.promptForFolder = !$ctrl.promptForFolder">
            <i class="fa fa-fw fa-plus-square"></i> folder
        </a>
        <a class="mc-file-tree-control text-uppercase"
           ui-sref="project.files.uploads2({directory_id: $ctrl.file.data.id})">
            <i class="fa fa-fw fa-upload"></i>upload files
        </a>
        <!--<mc-flow-button dir="$ctrl.file"></mc-flow-button>-->
        <a ng-if="$ctrl.allowRename" class="mc-file-tree-control text-uppercase"
           ng-click="$ctrl.promptForRename = !$ctrl.promptForRename">
            <i class="fa fa-fw fa-pencil-square"></i>rename
        </a>
        <a ng-if="$ctrl.allowDelete" class="mc-file-tree-control text-uppercase" ng-click="$ctrl.deleteFolder()">
            <i class="fa fa-fw fa-trash-o"></i>delete
        </a>
    </div>
    <div ng-if="$ctrl.promptForFolder" layout="row">
        <md-input-container>
            <input placeholder="Folder..." on-enter="$ctrl.addFolder()" ng-model="$ctrl.folderName">
        </md-input-container>
    </div>
    <div ng-if="$ctrl.promptForRename" layout="row">
        <md-input-container>
            <input on-enter="$ctrl.renameFolder()" ng-model="$ctrl.file.data.name">
        </md-input-container>
    </div>
</div>