<div flex>
    <ul class="padding-left-15" dnd-list="$ctrl.files">
        <li ng-repeat="file in $ctrl.files track by file.data.id | orderBy:'data.name'" dnd-draggable="file"
            dnd-moved="$ctrl.files.splice($index, 1)">
            <div class="mc-active-tree-node">
                <div ng-if="file.data.otype === 'directory'">
                    <div layout="row" layout-align="start center">
                        <a ng-click="$ctrl.setActive(file)">
                            <span ng-if="file.expand"><i
                                    class="fa fa-fw fa-folder-open file-tree-icon-color"></i></span>
                            <span ng-if="!file.expand"><i class="fa fa-fw fa-folder file-tree-icon-color"></i></span>
                            {{file.data.name}}
                        </a>
                    </div>
                </div>
                <div ng-if="file.data.otype === 'file'">
                    <div ng-if="file.data.name !== $ctrl.placeholderName">
                        <a ng-click="$ctrl.setActive(file)">
                            <span><i class="fa fa-fw fa-file file-tree-icon-color"></i></span>
                            {{file.data.name}}
                        </a>
                    </div>
                </div>
            </div>
            <div ng-if="file.data.otype === 'directory'">
                <mc-file-tree-dir ng-if="file.expand" file="file"></mc-file-tree-dir>
            </div>
        </li>
    </ul>
</div>
