<div layout="row" flex="100" layout-margin>
    <div layout="column" flex>
        <div ng-if="!$ctrl.sharingOn" layout="row">
            <md-button class="md-primary md-raised" ng-click="$ctrl.createNewProject()">create project</md-button>
            <md-button ng-show="false" class="md-primary md-raised" ng-click="$ctrl.sharingOn = true">share</md-button>
            <input placeholder="Search projects..." type="text"
                   class="mc-input-as-line margin-left-45 md-subhead"
                   flex="30"
                   ng-model="$ctrl.query">
        </div>
        <div ng-if="$ctrl.sharingOn" layout="row">
            <md-button class="md-primary md-raised" ng-click="$ctrl.gotoSharing()">done</md-button>
            <md-button class="md-warn md-raised" ng-click="$ctrl.cancelSharing()">cancel</md-button>
        </div>
        <div ng-if="$ctrl.sharingOn" layout="row" layout-margin>
            <p class="md-headline">Select {{$ctrl.maxSharedProjects}} projects. Click done when you have chosen the
                projects you want to
                share between.</p>
        </div>
        <div layout="column" flex>
            <div md-whiteframe layout-margin>
                <h3 class="md-title">My Projects ({{$ctrl.myProjects.length}}):</h3>
                <md-table-container>
                    <table md-table>
                        <thead md-head md-order="$ctrl.sortOrderMine">
                        <tr md-row>
                            <th md-column md-order-by="name">Name</th>
                            <th md-column md-order-by="birthtime">Created</th>
                            <th md-column md-order-by="experiments_count"># Experiments</th>
                            <th md-column md-order-by="samples_count"># Samples</th>
                            <th md-column md-order-by="processes_count"># Processes</th>
                            <th md-column md-order-by="files_count"># Files</th>
                            <th md-column md-order-by="users.length"># Users</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr md-row class="md-row-hover pointer"
                            ng-repeat="project in $ctrl.myProjects | filter:$ctrl.query | orderBy:$ctrl.sortOrderMine">
                            <td md-cell>
                                <a ui-sref="project.home({project_id: project.id})">
                                    {{project.name |truncate:40:'...'}}
                                </a>
                            </td>
                            <td md-cell>{{project.birthtime | date:'shortDate'}}</td>
                            <td md-cell>{{project.experiments_count | number}}</td>
                            <td md-cell>{{::project.samples_count | number}}</td>
                            <td md-cell>{{::project.processes_count | number}}</td>
                            <td md-cell>{{::project.files_count | number}}</td>
                            <td md-cell>{{::project.users.length - 1}}</td>
                        </tr>
                        </tbody>
                    </table>
                </md-table-container>
            </div>
            <div md-whiteframe layout-margin>
                <h3 class="md-title">Projects I'm a member of ({{$ctrl.joinedProjects.length}}):</h3>

                <md-table-container>
                    <table md-table>
                        <thead md-head md-order="$ctrl.sortOrderJoined">
                        <tr md-row>
                            <th md-column md-order-by="name">Name</th>
                            <td md-column md-order-by="owner_details.fullname">Owner</td>
                            <th md-column md-order-by="birthtime">Created</th>
                            <th md-column md-order-by="experiments_count"># Experiments</th>
                            <th md-column md-order-by="samples_count"># Samples</th>
                            <th md-column md-order-by="processes_count"># Processes</th>
                            <th md-column md-order-by="files_count"># Files</th>
                            <th md-column md-order-by="users.length"># Users</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr md-row class="md-row-hover pointer"
                            ng-repeat="project in $ctrl.joinedProjects | filter:$ctrl.query | orderBy:$ctrl.sortOrderJoined">
                            <td md-cell>
                                <a tooltip="{{project.name}}" ui-sref="project.home({project_id: project.id})">
                                    {{project.name| truncate:40:'...'}}
                                </a>
                            </td>
                            <td md-cell>
                                {{project.owner_details.fullname | truncate:20:'...'}}
                            </td>
                            <td md-cell>{{project.birthtime | date:'shortDate'}}</td>
                            <td md-cell>{{project.experiments_count | number}}</td>
                            <td md-cell>{{::project.samples_count | number}}</td>
                            <td md-cell>{{::project.processes_count | number}}</td>
                            <td md-cell>{{::project.files_count | number}}</td>
                            <td md-cell>{{::project.users.length - 1}}</td>
                        </tr>
                        </tbody>
                    </table>
                </md-table-container>
            </div>
        </div>
    </div>
</div>
