<div layout="row" flex="100" layout-fill>
    <div ng-if="!$ctrl.showSidebar" layout="column" flex="2" class="md-mc-primary-color-hue-2-bg" style="color: white"
         ng-cloak>
        <md-button ng-click="$ctrl.showSidebar = true">O</md-button>
    </div>
    <md-sidenav class="md-mc-primary-color-hue-2-bg" style="color: white;"
                md-is-locked-open="$ctrl.showSidebar"
                ng-cloak>

            <md-button ng-click="$ctrl.showSidebar = false" layout-align="start stretch">Hide</md-button>
            <md-content class="md-mc-primary-color-hue-2-bg" style="color: white" flex>
                <ul class="sidebar-menu">
                    <li>
                        <md-button ng-click="$ctrl.projectsOpen = !$ctrl.projectsOpen">
                            <div layout="row" flex>
                                Projects
                                <span flex></span>
                                <md-icon md-font-icon="fa" style="color:white"
                                         ng-class="{'fa-chevron-down': $ctrl.projectsOpen, 'fa-chevron-up': !$ctrl.projectsOpen}"></md-icon>
                            </div>
                        </md-button>
                    </li>
                    <li ng-if="$ctrl.projectsOpen" ng-repeat="project in $ctrl.projects">
                        <md-button ng-click="$ctrl.openProject(project.id)">
                            <span style="padding-left:15px; text-transform: lowercase">{{project.name | truncate:30:'...'}}</span>
                        </md-button>
                    </li>
                </ul>
            </md-content>

    </md-sidenav>
    <div layout="column" flex>
        <navbar></navbar>
        <md-content layout="row" layout-align="start stretch" flex>
            <div ui-view flex layout-fill></div>
        </md-content>
        <md-toolbar ng-if="false" style="background-color: #9e9e9e">
            <span>Doc items here</span>
        </md-toolbar>
    </div>
</div>