<div layout="row" flex="100" layout-fill>
    <div layout="column" flex>
        <navbar></navbar>
        <md-content layout="row" layout-sm="column" layout-wrap layout-align="start stretch" flex>
            <div flex="25" flex-sm="100" ng-repeat="project in $ctrl.projects">
                <md-card class="md-primary">
                    <md-card-header ng-click="$ctrl.openProject(project.id)"
                                    class="cursor-pointer md-mc-project-card-header">
                        <md-card-avatar>
                            <span class="fa-stack fa-lg">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-bars fa-stack-1x fa-inverse"></i>
                            </span>
                        </md-card-avatar>
                        <md-card-header-text>
                            <span class="md-title">{{project.name}}</span>
                            <span class="md-subhead">{{project.owner}}</span>
                        </md-card-header-text>
                    </md-card-header>
                    <img ng-if="project.image" ng-src="{{project.image}}" class="md-card-image">
                    <md-card-actions layout="row" layout-align="start center">
                        <md-button class="md-primary">Manage Users</md-button>
                        <md-button class="md-primary">Settings</md-button>
                    </md-card-actions>
                </md-card>
            </div>
        </md-content>
        <md-toolbar ng-if="false" style="background-color: #9e9e9e">
            <span>Doc items here</span>
        </md-toolbar>
    </div>
</div>