<div layout="column">
    <div layout="row" layout-align="start center">
        <span class="md-subhead">Description</span>
        <md-button ng-if="!$ctrl.editDescription"
                   class="md-primary"
                   ng-click="$ctrl.edit()">
            edit
        </md-button>
    </div>
    <p flex ng-if="$ctrl.file.description && !$ctrl.editDescription">{{$ctrl.file.description}}</p>
    <p flex ng-if="!$ctrl.file.description && !$ctrl.editDescription">No description given</p>

    <md-input-container ng-if="$ctrl.editDescription">
        <textarea rows=10 placeholder="Description..." ng-model="$ctrl.description"></textarea>
        <md-button class="md-primary" ng-click="$ctrl.save()">save</md-button>
        <md-button class="md-warn" ng-click="$ctrl.editDescription = false">cancel</md-button>
    </md-input-container>

</div>