<div class="tab-content">
    <div class="tab-pane active" id="review" ng-controller="projectsDataEditCreateReview">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="row">
                            <span class="col-lg-8">
                                 <i class="fa fa-check-circle review-open"></i><a
                                    ng-click="showReviews('open')">{{open_reviews.length}} open</a><i
                                    class="fa fa-minus-circle review-close"></i><a
                                    ng-click="showReviews('close')">{{closed_reviews.length}} closed</a>
                            </span>
                            <span class="col-lg-3">
                                  Assigned to
                            </span>
                </div>
            </div>
        </div>
        <div>
            <table class="table  table-file-directory ">
                <tbody>
                <tr ng-click="viewReview(review)" ng-repeat="review in list_reviews" class="cursor:pointer">
                    <td ng-if="review.status==='open'"><input type="checkbox"><i class="fa fa-check-circle review-open"></i></td>
                    <td ng-if="review.status==='close'"><input type="checkbox"><i class="fa fa-minus-circle review-close"></i>
                    </td>
                    <td> {{review.title}}<p class="text-muted sub-text">{{review.author}}
                        {{review.birthtime | toDateString}}</p>
                    </td>
                    <td>{{review.assigned_to}}</td>
                    <td ng-if="review.messages.length === 1"></td>
                    <td ng-if="review.messages.length != 1"><i class="fa fa-comment"></i> {{review.messages.length -1}}</td>
                </tr>
                </tbody>
            </table>
        </div>

        <div class="row" ng-if="list_reviews.length === 0">
            <p ng-show="status === 'open'" class="text-muted">No Open Reviews</p>
            <p ng-show="status === 'close'" class="text-muted">No Closed Reviews</p><br>
        </div>
        <div class="row">
            <button ng-click="toggleCustom = !toggleCustom" class="btn btn-primary">New Review</button>
        </div>
        <div ng-show="toggleCustom">
            <div class="form-horizontal">
                <h4>Review Title:</h4>

                <div class="col-lg-8">
                    <input class="form-control" ng-model="model.title">
                </div>
                <div class="col-lg-6 custom-ta-toolbar">
                    <h4>Comment:</h4>
                    <text-angular ta-toolbar="[['h1','h2','h3', 'h4', 'h5', 'h6','p', 'quote'],
        ['bold','italics','underline','ul','ol'],['undo', 'redo','clear'],
        ['justifyLeft','justifyCenter','justifyRight'], ['insertLink', 'insertImage']]"
                                  ng-model="model.new_review"></text-angular>
                    <br>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <select class="form-control" ng-model="model.assigned_to">
                            <option disabled>-- Assign to --</option>
                            <option ng-repeat="user in users">{{ user }}</option>
                        </select>
                    </div>
                    <div class="col-lg-4">
                        <button ng-click="addReview()" class="btn btn-default btn-primary">Submit New Review</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
