<div ng-controller="toolbarProcess">
    <h4>{{process.name}}</h4>
    <div class="row-fluid">
            <div class="span8">
                <div ui-view></div>
            </div>
            <div class="span2">
                <div class="tabbable tabs-right">
                    <ul class="nav nav-tabs">
                        <li><a href="" ng-click="showtab('notes')" data-toggle="tab">Notes</a></li>
                        <li><a href="" ng-click="showtab('provenance')" data-toggle="tab">Provenance</a></li>
                        <li ng-controller="toolbarDataEditCreateReview">
                            <a href="" ng-click="showtab('reviews')" data-toggle="tab">Reviews({{reviewsToConduct.length}})</a>
                        </li>
                        <li><a href="" ng-click="showtab('tags')" data-toggle="tab">Tags</a></li>
                    </ul>
                </div>
            </div>
    </div>

</div>