<div ng-controller="toolbarProcess">

    <div class="row-fluid">
        <div class="span4">
            <form class="form-horizontal">
                <legend>{{process.name}}</legend>
                <fieldset>
                    <cgroup label="Description:">
                        <textarea ng-if="process.description !== ''" class="span8" ng-model="process.description"
                                  rows="3" ng-disabled="true">
                        </textarea>
                    </cgroup>
                    <cgroup label="Date Created:">
                        <input class="input-xlarge" ng-model="birthtime" type="text" ng-disabled="true">
                    </cgroup>
                    <div ng-if="process.experiment_run_date">
                        <cgroup label="RunDate:">
                            <input class="input-xlarge" ng-model="process.experiment_run_date" type="text"
                                   ng-disabled="true">
                        </cgroup>
                    </div>
                    <div ng-repeat="item in process.properties">
                        <div ng-if="item.name!=='Machine'">
                            <cgroup label="{{item.name}}:">
                                <input class="input-xlarge" ng-model="item.value" type="text" ng-disabled="true">
                            </cgroup>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
        <div class="span6">
            <form class="form-horizontal">
                <legend>Machine</legend>
                <fieldset>
                    <cgroup label="Machine Name:">
                        <input class="input-xlarge" ng-model="machine.name" type="text" ng-disabled="true">
                    </cgroup>
                    <div ng-if="machine.additional.length!=0">
                        <div ng-repeat="item in machine.additional">
                            <cgroup label="{{item.name}}:">
                                <input class="input-xlarge" ng-model="item.value" type="text" ng-disabled="true">
                            </cgroup>
                        </div>
                    </div>
                    <div ng-show="process.runs.length > 0">
                        <legend>Runs:</legend>
                        <table class="table table-bordered">
                            <thead>
                            <th>Start Date</th>
                            <th>End Date</th>
                            <th>Error Message</th>
                            </thead>
                            <tbody>
                            <tr ng-repeat="run in process.runs">
                                <td>{{run.started | date:'medium'}}</td>
                                <td>{{run.stopped | date:'medium'}}</td>
                                <td>{{run.error_messages}}
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </fieldset>
            </form>
        </div>

    </div>
    <div class="row-fluid">
        <div class="span10">
            <div ui-view></div>
        </div>
        <div class="span2">
            <div class="tabbable tabs-right">
                <ul class="nav nav-tabs">
                    <li class="active"><a ng-click="showtab('notes')" data-toggle="tab">Notes</a></li>
                    <li><a ng-click="showtab('provenance')" data-toggle="tab">Provenance</a></li>
                    <li><a  ng-click="showtab('tags')" data-toggle="tab">Tags</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>