<div layout="column" layout-alignx="start center" flex="100">
    <div style="margin-top:45px" flex>
        <md-input-container class="md-block" flex="70">
            <label>{{::$ctrl.setting.name}}</label>
            <md-select ng-model="$ctrl.setting.value"
                       ng-model-options="{trackBy: '$value.name'}"
                       ng-change="$ctrl.updateSelectionSettingProperty($ctrl.setting)"
                       aria-label="x">
                <md-option ng-value="choice"
                           ng-repeat="choice in ::$ctrl.setting.choices">
                    {{::choice.name}}
                </md-option>
            </md-select>
        </md-input-container>
    </div>
    <div ng-if="$ctrl.setting.value.name === 'Other'">
        <div style="margin-top:45px">
            <md-input-container class="md-block" md-no-float>
                <label>Specify {{::$ctrl.setting.name}}...</label>
                <input ng-model="$ctrl.setting.value.value"
                       ng-model-options="{updateOn: 'default blur', debounce:{default: 1000, blur: 0}}"
                       ng-change="$ctrl.updateSelectionSettingProperty($ctrl.setting)"
                       type="text">
            </md-input-container>
        </div>
    </div>
</div>
