<!DOCTYPE html>
<html lang="en" ng-app="materialscommons">
<head>
    <meta charset="utf-8">

    <title>Materials Commons</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Materials Repository">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="assets/css/bootstrap.css" rel="stylesheet">
    <link href="assets/css/font-awesome.css" rel="stylesheet">
    <link href="assets/css/select2/select2.css" rel="stylesheet">

    <link href="assets/css/bootstrap-combined.min.css" rel="stylesheet">
    <link href="assets/css/datepicker.css" rel="stylesheet">
    <link href="assets/css/jqcloud.css" rel="stylesheet">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Fav and touch icons -->
    <link rel="shortcut icon" href="assets/ico/mc-favicon.ico">
    <link href="app/css/style.css" rel="stylesheet">
    <link href="assets/css/treeview.css" rel="stylesheet">
    <link href="assets/css/thumbnail.css" rel="stylesheet">
    <link href="assets/css/ng-grid.css" rel="stylesheet">
    <link href="assets/css/bootstrap-responsive.css" rel="stylesheet">



</head>

<body>

<!--<div style="background-color: #CDAF95"><img src="assets/img/MaterialsCommonsLogo_274x75.png"></div>-->
<div ng-controller="FrontPageController">
    <div style="background-color: #fefefe">   <!--sravya CDCDB4 -->
        <a href="index.html"><img style="" src="assets/img/MaterialsCommonsLogo_274x75.png"></a>
        <span style="font-size: 200%;font-style: italic;">The source for <span
                class="mc-logo"> materials</span> data </span>
        <span>
                <form class="form-search text-center pull-right" style="padding-top: 20px; padding-right: 10px">
                    <div class="input-append">

                        <input type="search" class="span3 search-query" ng-model="keyword" name="q" autocomplete="off"
                               placeholder="SEARCH" tabindex="1">
                        <button type="submit" ng-click="search_key();" class="btn"><i class="icon-search"></i> Search
                        </button>
                    </div>

                </form>
        </span>
    </div>
</div>

<div id="stop-toolbar" class="navbar navbar-wrapper navbar-inverse">
    <div class="navbar-inner">
        <div class="container-fluid">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            </a>

            <div class="nav-collapse collapse">
                <div ng-hide="email_address">
                    <p class="navbar-text pull-right">
                        <a href="#/account/create-account" class="navbar-link" style="margin-right:15px"><i
                                class="icon-plus-sign"></i> Create Account</a>
                        <a href="#/account/login" class="navbar-link"><i class="icon-user"></i> Login</a>
                    </p>
                </div>


                <div ng-show="email_address">
                    <p class="navbar-text pull-right">
                        <a href="#/account/details" class="navbar-link"><i class="icon-user"></i>{{email_address}}</a>
                        <a href="#/account/logout" class="navbar-link"><span style="margin-left:10px">logout</span></a>
                    </p>
                </div>
            </div>


            <ul id="mc-main-navs" class="nav nav-pills">
                <li id="home-nav" class="active">
                    <a href="#/home"><i class="icon-home"></i> Home</a>
                </li>
                <li id="user-nav"><a href="#/my-tools"><i class="icon-wrench"></i>My Tools</a></li>
                <!--<li id="explore-nav"><a href="#/explore"><i class="icon-road"></i>Explore</a></li>-->
                <li id="about-nav"><a href="#/about"><i class="icon-info-sign"></i>About</a></li>
                <li id="contact-nav"><a href="#/contact"><i class="icon-phone"></i> Contact</a></li>
                <li id="help-nav"><a href="#/help"><i class="icon-question-sign"></i>Help</a></li>
            </ul>
            <!--/.nav-collapse -->
        </div>
    </div>
</div>

<div class="row-fluid">
    <div ng-show="message" ng-controller="EventController">
        <notification ng-model="message"></notification>
    </div>
</div>

<div ng-view>

</div>



<script src="assets/js/jquery.js"></script>
<script src="assets/js/jquery-ui-1.10.1.custom.js"></script>
<script src="assets/js/jquery.fileupload.js"></script>
<script src="assets/js/select2.min.js"></script>
<script src="assets/js/sockjs-0.3.min.js"></script>
<script src="assets/js/stomp.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.1.5/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.1.5/angular-cookies.min.js"></script>
<!--<script  src="assets/js/angular/angular.js"></script>-->
<script src="assets/js/angular/angular-ui.js"></script>
<script src="assets/js/angular/angular-dragdrop.js"></script>
<script src="assets/js/angular/angular-stomp.js"></script>
<script src="assets/js/raphael.js"></script>
<script src="app/js/services/services.js"></script>
<script src="app/js/app.js"></script>
<script src="app/js/controllers/controllers.js"></script>
<script src="app/js/controllers/labcontroller.js"></script>
<script src="app/js/utils/util.js"></script>
<script src="assets/js/angular/angular-resource.js"></script>
<script src="app/js/filters/filters.js"></script>
<script src="assets/js/ui-bootstrap-tpls-0.1.0.js"></script>
<script src="assets/js/jquery.tablesorter.min.js"></script>
<script src="app/js/directives/directives.js"></script>
<script src="app/js/directives/tree.js"></script>
<script src="app/js/directives/provenance.js"></script>
<script src="app/js/controllers/searchindex/searchindex.js"></script>
<script src="app/js/controllers/mytools/DataGroupsControllers.js"></script>
<script src="app/js/controllers/tags/tags.js"></script>
<script src="app/js/controllers/mytools/DataControllers.js"></script>
<script src="app/js/controllers/mytools/udcontrollers.js"></script>
<script src="app/js/controllers/mytools/ChatControllers.js"></script>
<script src="app/js/controllers/AccountControllers.js"></script>
<script src="app/js/controllers/mytools/PropertiesControllers.js"></script>
<script src="app/js/controllers/usergroups/UserGroupsControllers.js"></script>
<script src="app/js/controllers/SwitchableGridControllers.js"></script>
<script src="app/js/controllers/ConditionControllers.js"></script>
<script src="assets/js/bootstrap.min.js"></script>
<script src="assets/js/angular/angular-strap.min.js"></script>
<script src="assets/js/bootstrap-datepicker.js"></script>
<script src="assets/js/bootstrap-select.js"></script>
<script src="assets/js/jqcloud-1.0.4.js"></script>
<script src="assets/js/ng-grid.debug.js"></script>
<script src="assets/js/underscore-min.js"></script>
<script src="assets/js/d3.v3.js"></script>
<script src="app/js/config/testconfig.js"></script>
<script src="app/js/config/config.js"></script>

</body>
</html>
