<div class="tab-pane" id="provenance" ng-controller="projectsDataEditProvenance">
    <div class="row" ng-repeat="process in df_denorm">
        <div class="panel panel-default">
            <div class="panel panel-heading">
                Process: {{process.right.name}}
            </div>
            <div class="panel-body">
                    <div class="col-lg-6" >
                        <label>Inputs</label>
                        <ul ng-repeat="i in process.right.inputs">
                            <div ng-if="i.type=='id'">
                                <li><a ng-click="showProvDetails(i)">{{i.properties.name.value}}</a></li>
                            </div>
                            <div ng-if="i.type=='condition'">
                                <li><a ng-click="showProvDetails(i)">{{i.template}}</a></li>
                            </div>
                            <div ng-if="i.type=='file'">
                                <div ng-if="doc.id === i.properties.id.value">
                                    <li><a  ng-click="showProvDetails(i)" style="background-color: lightgreen;">{{i.properties.name.value}}</a></li>
                                </div>
                                <div ng-if="doc.id !== i.properties.id.value">
                                    <li><a ng-click="showProvDetails(i)" >{{i.properties.name.value}}</a></li>
                                </div>
                            </div>
                        </ul>
                    </div>
                    <div class="col-lg-6" >
                        <label>Outputs</label>
                        <ul ng-repeat="i in process.right.outputs">
                            <div ng-if="i.type=='id'">
                                <li><a ng-click="showProvDetails(i)">{{i.properties.name.value}}</a></li>
                            </div>
                            <div ng-if="i.type=='condition'">
                                <li><a ng-click="showProvDetails(i)">{{i.template}}</a></li>
                            </div>
                            <div ng-if="i.type=='file'">
                                <div ng-if="doc.id === i.properties.id.value">
                                    <li><a  ng-click="showProvDetails(i)" style="background-color: lightgreen;">{{i.properties.name.value}}</a></li>
                                </div>
                                <div ng-if="doc.id !== i.properties.id.value">
                                    <li><a ng-click="showProvDetails(i)">{{i.properties.name.value}}</a></li>
                                </div>
                            </div>
                        </ul>
                    </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="row">
                        <div ng-if="sample">
                            <div sample-report sample="sample"></div>
                        </div>
                        <div ng-if="item">
                            <div condition-report item="item"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>