<div ng-controller="toolbarDataEdit">
    <div ng-hide="filepath.length===0" class="row "><br>
        <div ng-repeat="p in file_path">
            {{p}} / <a ><b><u>{{doc.name}}</u></b></a>
        </div>
    </div>

    <div ng-show="file_path.length === 0" class="row "><br>

        <form class="form-inline">
            <a ng-repeat="trailitem in trail" ng-click="backToFolder(trailitem)">
                <span><b>{{trailitem.displayname}}/ </b></span>
            </a>
            <a ><b><u>{{doc.name}}</u></b></a>
        </form>
    </div>
    <div class="row">
        <br>

        <div class="col-lg-2">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-8 col-lg-offset-2">
                            <div ng-switch="" on="fileType">
                                <div ng-switch-when="image">
                                    <a ng-href="{{ fileSrc }}" class="thumbnail">
                                        <img class="img-responsive" alt="Not Available" ng-src="{{ fileSrc }}">
                                    </a>
                                </div>
                                <div ng-switch-when="other">
                                    {{fileName}}
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-lg-offset-1">
                            <div ng-if="fileType==='image'">
                                <a style="padding-right: 6px;" ng-href="{{ fileSrc }}"><i style="padding-right: 4px;"
                                                                                          class="fa fa-expand"></i>View
                                    full size</a>
                            </div>
                            <a ng-href="{{ originalFileSrc }}" download="{{ fileName }}"><i style="padding-right: 2px;"
                                                                                            class="fa fa-download"></i>Download</a>

                        </div>
                    </div>
                    <hr/>
                    <div class="row">
                        <div class="row">
                            <div class="col-sm-1">
                                <div class="tag-circle" style="background-color: red"></div>
                            </div>
                            <div class="col-sm-1">
                                Red
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-1">
                                <div class="tag-circle" style="background-color: green"></div>
                            </div>
                            <div class="col-sm-1">
                                green
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-1">
                                <div class="tag-circle" style="background-color: blue"></div>
                            </div>
                            <div class="col-sm-1">
                                blue
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-1">
                                <div class="tag-circle" style="background-color: orange"></div>
                            </div>
                            <div class="col-sm-1">
                                orange
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-8" style="padding-left: 25px;">
            <div ui-view></div>
        </div>
        <div class="col-lg-2">
            <div style="padding-left:40px" class="individual-items">
                <ul class="nav nav-tabs tabs-right">
                    <li><a ng-click="showTab('details')" data-toggle="tab">
                        Details<i class="fa fa-file-text marginLeft pull-right"></i> </a></li>
                    <li><a ng-click="showTab('provenance')" data-toggle="tab">Provenance <i
                            class="fa fa-code-fork marginLeft pull-right"></i> </a></li>
                    <li><a ng-click="showTab('reviews')" data-toggle="tab">Reviews <i
                            class="fa fa-comment marginLeft pull-right"></i>
                    </a></li>
                    <li><a ng-click="showTab('notes')" data-toggle="tab">Notes <i
                            class="fa fa-edit marginLeft pull-right"></i>
                    </a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
















