<div ng-controller="toolbarDataByTag">
    <div class="span10 offset1">
        <h3>Items Tagged by: {{ tag }}</h3>

        <div class="row-fluid">
            Search: <input ui-keypress="{13: 'keypressCallback($event)'}" ng-model="query">
        </div>
        <div class="row-fluid">
            <div class="well">
                <paged data="reviews" current-page="currentTagDataPage" page-size="10">
                    <table class="table table-striped mc-table-hover table-condensed mc-table">
                        <thead>
                        <tr>
                            <th>Name</th>
                            <th>Item Type</th>
                            <th>Description</th>
                            <th>Tags</th>
                            <th>Meta Tags</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="row in docs | page:currentTagDataPage:10">
                            <td ng-if="row.type=='datafile'">
                                <a style="cursor: pointer" ui-sref="toolbar.dataedit({id: row.item.id})">{{ row.item.name }}</a>
                            </td>
                            <td ng-if="row.type=='process'">
                            <a style="cursor: pointer" ui-sref="toolbar.process({id: row.item.id})">{{ row.item.name }}</a>
                            </td>
                            <td>{{row.type}}</td>
                            <td>{{ row.item.description }}</td>
                            <td>
                                <ul style="list-style-type:none">
                                    <li ng-repeat="tag in row.tags_list"><span class="label label-info">{{ tag.tag_id }}</span></li>
                                </ul>
                            </td>
                            <td>
                                <ul>
                                    <li ng-repeat="metatag in row.item.metatags | limitTo:10">
                                        {{ metatag.name }}:{{ metatag.value}}
                                    </li>
                                    <div ng-show="row.item.metatags.length > 10">
                                        <accordion>
                                            <accordion-group heading="... more">

                                                <li ng-repeat="metatag in row.item.metatags.slice(10)">
                                                    {{metatag.name}}
                                                    {{metatag.value}}
                                                </li>
                                            </accordion-group>
                                        </accordion>
                                    </div>
                                </ul>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </paged>
            </div>
        </div>
    </div>
</div>