<div ng-controller="projectNotesView">
    <h4>View Notes</h4>
    <div class="row" ng-repeat="n in project.notes | orderBy: date">
        <div ng-if="edit_index==$index">
            <text-angular ta-toolbar="[['h1','h2','h3', 'h4', 'h5', 'h6','p', 'quote'],
                              ['bold','italics','underline','ul','ol'],['undo', 'redo','clear'],
                              ['justifyLeft','justifyCenter','justifyRight'], ['insertLink', 'insertImage']]"
                          ng-model="n.message"></text-angular>
            <br>
            <button ng-click="updateNote($index)" class="btn btn-default btn-primary">Save</button>
        </div>
        <div ng-if="edit_index!==$index">
            <div ta-bind ng-model="n.message"></div>
        </div>
        <div class="text-muted sub-text">
            {{n.date}} --- {{n.who}}
        </div>
        <div ng-if="edit_index!==$index">
            <a ng-click="editNotes($index)">edit</a>
        </div>
        <hr/>
    </div>
</div>
