<div layout="row" layout-align="center center" flex>
    <md-input-container md-no-float flex="40" class="md-input-bottom-0">
        <input placeholder="Search..." type="text" classx="mc-navbar-search-input"
               ng-model="$ctrl.query"
               on-enter="$ctrl.search()">
    </md-input-container>
</div>
<!--<div layout="row" flex="60" flex-offset="20">-->
<div layout="row" flex="100">
    <div flex="50" flex-offset="10">
        <md-tabs md-selected="$ctrl.currentTab" class="md-primary md-hue-2" md-dynamic-height md-border-bottom
                 flex="100">
            <md-tab ui-sref="data.home.top">
                <md-tab-label>Top Viewed Datasets</md-tab-label>
            </md-tab>
            <md-tab ui-sref="data.home.recent">
                <md-tab-label>Recent Datasets</md-tab-label>
            </md-tab>
        </md-tabs>
        <div layout-margin ui-view></div>
    </div>
    <div flex="30" layout-margin>
        <h1>Popular tags</h1>
        <md-chips ng-model="$ctrl.tags" md-removable="false" md-on-select="$ctrl.selected($chip)">
            <md-chip-template>
                <span class="pointer">{{$chip}}</span>
            </md-chip-template>
        </md-chips>
    </div>
</div>
