<div layout="row" layout-wrap class="md-inline-form">
    <h3 flex="100" class="md-title">Get/Set User Profile Value</h3>
    <div flex="30">
        <form>
            <md-input-container class="md-block">
                <input id="profileName" placeholder="Profile attribute name..."
                       ng-model="$ctrl.profileName"
                       on-enter="$ctrl.getProfileValue()"
                >
            </md-input-container>
        </form>
        <form>
            <md-input-container class="md-block">
                <input id="profileValue" placeholder="Profile attribute value..."
                       ng-model="$ctrl.profileValue"
                       on-enter="$ctrl.setProfileValue()"
                >
            </md-input-container>
        </form>
    </div>
    <span flex></span>
</div>