<!--<div layout="row" layout-fill layout-align="start stretch">-->
<div layout="column" flex="100" class="height-100">
    <div layout="row" layout-fill>
        <div flex="50" layout-fill layout-margin>
            <div layout-margin>
                <h3 class="md-title">To-Dos</h3>
                <md-list>
                    <md-list-item ng-repeat="todo in $ctrl.project.todos" ng-click="$ctrl.todoClicked(todo)">
                        <md-checkbox ng-model="md1"></md-checkbox>
                        <p>{{todo.title}}</p>
                        <md-divider></md-divider>
                    </md-list-item>
                </md-list>
            </div>

            <div layout-margin>
                <h3 class="md-title">Notes</h3>
                <md-list>
                    <md-list-item style="background-color: lightgrey">
                        <p>Principles: mechanics and ensembles</p>
                        <md-divider></md-divider>
                    </md-list-item>

                    <md-list-item>
                        <p>Note 2</p>
                        <md-divider></md-divider>
                    </md-list-item>

                    <md-list-item>
                        <p>Note 3</p>
                    </md-list-item>
                </md-list>
            </div>
        </div>
        <div flex="50" layout="column" layout-fill layout-margin style="heightx: 100%; border-left: 2px solid black;">
            <div layout-margin class="height-100x" layout-fill>
                <md-content layout="column" layout-fill>
                    <md-button class="md-primary" ng-click="$ctrl.editMarkdown = !$ctrl.editMarkdown">{{$ctrl.editMarkdown?"Done":"Edit"}}</md-button>
                    <h3 class="margin-left-5" ng-show="!$ctrl.editMarkdown">{{$ctrl.noteTitle}}</h3>
                    <input ng-show="$ctrl.editMarkdown" ng-model="$ctrl.noteTitle">
                    <div markdown-it="$ctrl.markdown" ng-show="!$ctrl.editMarkdown" class="margin-left-5"></div>
                    <textarea ng-model="$ctrl.markdown" ng-show="$ctrl.editMarkdown" class="height-100"></textarea>
                </md-content>
            </div>
        </div>
    </div>
</div>