    <cgroup label="Name:">
        <input ng-model="process.name" placeholder="Name..." type="text" ng-disabled="edit">
    </cgroup>
    <cgroup label="Description:">
        <textarea class="span8" rows="4" placeholder="Description..."
                  ng-model="process.description" ng-disabled="edit"></textarea>
    </cgroup>
    <div ng-if="edit===false">
        <cgroup label="Notes:">
            <textarea class="span8" rows="4" placeholder="Notes..." ng-model="bk.new_note"/>
        </cgroup>
        <cgroup>
            <button ng-click="add_notes()"  class="btn btn-info">Add</button>
        </cgroup>
    </div>

    <div ng-show="process.notes.length > 0">
        <h5>Previous Notes:</h5>
        <table class="table">
            <thead>
            <th>Message</th>
            <th>Who</th>
            <th>Date Created</th>
            </thead>
            <tbody>
            <tr ng-repeat="note in process.notes">
                <td>{{note.message}}</td>
                <td>{{note.who}}</td>
                <td>{{note.date}}</td>
            </tr>
            </tbody>
        </table>
    </div>
    <div ng-if="process.template.template_pick=='experiment'">
        <cgroup label="Run Date:">
            <datepicker ng-model='process.experiment_run_date' ng-disabled="edit"></datepicker>
        </cgroup>

    </div>
    <div ng-if="process.template.template_pick=='computation'">
        <cgroup label="Start:">
            <datepicker ng-model='bk.start_run' ng-disabled="edit"></datepicker>
        </cgroup>
        <cgroup label="Stop:">
            <datepicker ng-model='bk.stop_run' ng-disabled="edit"></datepicker>
        </cgroup>
        <cgroup label="Errors:">
            <textarea class="span8" rows="4" placeholder="Errors..."
                      ng-model="bk.new_err_msg" ng-disabled="edit"></textarea>
        </cgroup>
        <cgroup>
            <button ng-click="add_run()" ng-disabled="!bk.start_run" class="btn btn-info">Add</button>
        </cgroup>
        <div ng-show="process.runs.length > 0">
            <h5>Previous Runs:</h5>
            <table class="table">
                <thead>
                <th>Start</th>
                <th>End</th>
                <th>Error Message</th>
                </thead>
                <tbody>
                <tr ng-repeat="run in process.runs">
                    <td>{{run.started | date:'medium'}}</td>
                    <td>{{run.stopped | date:'medium'}}</td>
                    <td>{{run.error_messages}}
                        <button type="button" class="close"
                                ng-click="remove_run($index);">&times;</button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
