<div ng-controller="provenance">

    <div class="row-fluid">
        <div class="span12">
            <div class="span2">
                <div class="well">
                    <ul class="nav nav-list">
                        <li class="nav-header"><i class="icon-wrench"></i>Steps</li>
                        <li ng-class="{'active':isCurrentStep('process')}">
                            <a><i ng-show="processSaved"
                                  ng-class="{true: 'icon-autoscroll', false: 'icon-autoscroll-disabled'}[process_saved]"></i>
                                Process
                            </a>
                            <a style="cursor:pointer" ng-show="isFinishedStep('process')" ng-click="editStep('process')">(edit)</a>
                        </li>
                        <li ng-class="{'active' : isCurrentStep('inputs')}">
                            <a><i ng-show="inputsSaved"
                                  ng-class="{true: 'icon-autoscroll', false: 'icon-autoscroll-disabled'}[inputs_saved]"></i>
                                Inputs
                            </a>
                            <a style="cursor:pointer" ng-show="isFinishedStep('inputs')" ng-click="editStep('inputs')">(edit)</a>
                        </li>
                        <li ng-class="{'active' : isCurrentStep('outputs')}">
                            <a><i ng-show="outputsSaved"
                                  ng-class="{true: 'icon-autoscroll', false: 'icon-autoscroll-disabled'}[outputs_saved]"></i>
                                Outputs
                            </a> <a style="cursor:pointer" ng-show="isFinishedStep('outputs')" ng-click="editStep('outputs')">(edit)</a>
                        </li>
                        <li ng-class="{'active' : isCurrentStep('submit')}">
                            <a>Submit</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="span10">
                <div ui-view></div>
            </div>
        </div>
    </div>
    <project-tree project="{{ project_id }}"></project-tree>
</div>