<div ng-controller="provenance">
    <div class="row">
            <div class="col-sm-10">
                <!--<div class="well">-->
                    <ul class="nav nav-tabs">
                        <li ng-class="{'active':isCurrentStep('process')}">
                            <a style="cursor:text " ng-hide="isFinishedStep('process')">Process</a>
                            <a style="cursor:pointer" ng-show="isFinishedStep('process')" ng-click="editStep('process')">Process (edit)</a>

                        </li>
                        <li ng-class="{'active' : isCurrentStep('inputs')}">
                            <a style="cursor:text " ng-hide="isFinishedStep('inputs')">Inputs</a>
                            <a style="cursor:pointer" ng-show="isFinishedStep('inputs')" ng-click="editStep('inputs')">Inputs (edit)</a>
                        </li>
                        <li ng-class="{'active' : isCurrentStep('outputs')}">
                            <a style="cursor:text " ng-hide="isFinishedStep('outputs')">Outputs</a>
                            <a style="cursor:pointer" ng-show="isFinishedStep('outputs')" ng-click="editStep('outputs')">Outputs (edit)</a>
                        </li>
                        <li ng-class="{'active' : isCurrentStep('submit')}">
                            <a style="cursor:text " ng-hide="isFinishedStep('submit')">Submit</a>
                            <a style="cursor:pointer" ng-show="isFinishedStep('submit')" ng-click="editStep('submit')">Submit (edit)</a>
                        </li>
                    </ul>
                <!--</div>-->
            </div>
    </div>
    <div class="row col-sm-10 col-md-10">
        <div ui-view=""></div>
    </div>
    <project-tree project="{{ project_id }}" active="false"></project-tree>
</div>