
.navbar-default {
  background-color: #fff;
  border-color: $divider;
  .navbar-nav {
    li {
      a {
        color: $orange;
        font-weight: bold;
        text-transform: uppercase;
      }
      a:focus {
        background-color: #fff;
      }
    }
    .active {
      a {
        background-color: #fff;
        color: $orange;
      }
      a:hover {
        background-color: #fff;
        color: #555;
      }
      a:focus {
        background-color: #fff;
      }
    }
  }
  .image-round {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    width: 30px;
    height: 30px;
    border-radius: 50%
  }
}
