<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle"
                    ng-click="ctrl.navbarCollapsed = !ctrl.navbarCollapsed"
                    data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" ui-sref="home.top">Materials Commons Data</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse" uib-collapse="ctrl.navbarCollapsed">
            <ul class="nav navbar-nav">
                <li ui-sref-active="active"><a ui-sref="home.top"><i class="fa fa-fw fa-home"></i>Home</a></li>
                <li ui-sref-active="active"><a ui-sref="browse.datasets"><i class="fa fa-fw fa-archive"></i>Browse</a></li>
                <li><a href="https://materialscommons.org/mcapp" target="_blank">Goto Materials Commons Projects</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li ng-show="email === 'Login'" ui-sref-active="active">
                    <a ng-click="ctrl.sign()"><span style="border: 1px solid red; padding: 6px;"><i
                            class="fa fa-fw fa-sign-in"></i>Sign Up / Login</span></a>
                </li>

                <li ng-show="email !== 'Login'" uib-dropdown on-toggle="toggled(open)">
                    <a uib-dropdown-toggle>
                        {{email}}<span class="caret"></span>
                    </a>
                    <ul uib-dropdown-menu aria-labelledby="simple-dropdown">
                        <li ng-if="false"><a><i class="fa fa-cog"></i>
                            Settings</a></li>
                        <li><a ng-click="ctrl.logout()"><i class="fa fa-sign-out"></i>
                            Logout</a></li>
                    </ul>
                </li>
            </ul>
            <div ng-if="false" style="padding-top: 10px;" class="col-sm-5 pull-right">
                <mpub-searchbar></mpub-searchbar>
            </div>
        </div><!--/.nav-collapse -->
    </div>
</nav>


