<div class="modal-body">
    <div class="row" style="margin-left: 15px; margin-right: 15px">
        <p>
            <b>Welcome to the Materials Commons, a new way to discover and share materials information and to collaborate.</b>
        </p>

        <p>
            We welcome your feedback on the Materials Commons. This “beta site” is continually under development, so return often
            to see our new features.
            Our policies on the use of Materials Commons will also continually evolve.
        </p>

        <p>
            Data Users agree that
            Data is provided on an “as-is” basis. Materials Commons can not guarantee technical accuracy.
            Use of the data provided in the Materials Commons will be in accordance with the license provided by the data owners.
            Information provided in Materials Commons will not be altered or manipulated, nor will Materials Commons security
            be violated.
        </p>
        <p>
            Data owners agree that:
            All data uploaded to the Materials Commons will be made public within 30 days of its insertion into the Materials Commons.
            University of Michigan is not responsible for enforcing the licenses or the use of their data by others.
            Information shared via Materials Commons is provided at no cost to Materials Commons and registered users.
            Materials Commons security will not be violated.
        </p>

        <p>
            Materials Commons has established a quota of 30GB of storage per user as an initial policy. This storage limit will be
            periodically assessed.
        </p>
        <p>
            Materials Commons provides 400 TB of state-of-art, secure storage on a mirrored system. We provide this storage and
            capability as a service to the
            materials community. We will make reasonable efforts to ensure that this storage or a suitable replacement is provided
            on a continual basis
            pending availability of adequate funding. We are not responsible for natural disasters, major system failures or
            violations of our policies that
            lead to loss of information.
        </p>

        <p>
            The Materials Commons is supported by the U.S. Department of Energy, Office of Basic Energy Sciences, Division of Materials Sciences and
            Engineering under Award #DE-SC0008637 as part of the Center for PRedictive Integrated Structural Materials Science (PRISMS Center) at
            University
            of Michigan.
        </p>

        <div class="form-actions">
            <button ng-click="ctrl.cancel()" class="btn btn-warning">Cancel</button>
            <button ng-click="ctrl.agree()" class="btn btn-primary">Agree</button>
        </div>
    </div>
</div>