<div ng-if="ctrl.process.process_name !== 'As Received'">
    <div class="row">
        <div class="col-xs-5">
            Name
            <div class="row">
                <input placeholder="name..." ng-model="ctrl.process.name"
                       class="form-control col-xs-8">
            </div>
            Description
            <div class="row">
                <textarea placeholder="description..." rows="10" ng-model="ctrl.process.what"
                          class="form-control col-xs-8">
                </textarea>
            </div>
            <div class="row">
                <ul class="list-inline">
                    <li>
                        <button ng-click="ctrl.chooseSamples()"
                                class="btn btn-default btn-sample">
                            <i class="fa fa-fw fa-plus"></i> Samples
                        </button>
                    </li>
                    <li>
                        <button ng-click="ctrl.chooseInputFiles()"
                                class="btn btn-default btn-files">
                            <i class="fa fa-fw fa-plus"></i> Input Files
                        </button>
                    </li>
                    <li>
                        <button ng-click="ctrl.chooseOutputFiles()"
                                class="btn btn-default btn-files">
                            <i class="fa fa-fw fa-plus"></i> Output Files
                        </button>
                    </li>
                </ul>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <ul class="list-inline" style="padding-top:50px">
                        <li>
                            <button ng-click="ctrl.submit()"
                                    class="btn btn-default btn-info">
                                Submit
                            </button>
                        </li>
                        <li>
                            <button ng-click="ctrl.submitAndAnother()"
                                    class="btn btn-default btn-info">
                                Submit And Another
                            </button>
                        </li>
                        <li>
                            <button ng-click="ctrl.cancel()"
                                    class="btn btn-default btn-danger">
                                Cancel
                            </button>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="col-xs-7">
            <process-settings settings="ctrl.process.setup.settings[0].properties"></process-settings>
        </div>
    </div>
    <hr class="divider">
    <div class="row">
        <div class="col-xs-12">
            <table ng-if="ctrl.process.input_samples.length || ctrl.process.input_files.length || ctrl.process.output_files.length"
                   class="table table-striped">
                <thead>
                <tr>
                    <th>Type</th>
                    <th>Name</th>
                    <th></th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="sample in ctrl.process.input_samples | orderBy:'name'">
                    <td>Sample</td>
                    <td>{{sample.name}}</td>
                    <td>
                        <a ng-if="ctrl.process.input_files.length || ctrl.process.output_files.length"
                           ng-click="ctrl.linkFilesToSample(sample, ctrl.process.input_files, ctrl.process.output_files)">
                            Link Files
                        </a>
                        <ul class="list-unstyled">
                            <li ng-repeat="file in sample.files">
                                {{file.name}}
                            </li>
                        </ul>
                    </td>
                    <td>
                        <a ng-click="ctrl.remove(ctrl.process.input_samples, sample)">
                            <i class="fa fa-close"></i>
                        </a>
                    </td>
                </tr>
                <tr ng-repeat="file in ctrl.process.input_files | orderBy:'name'">
                    <td>Input File</td>
                    <td>{{file.name}}</td>
                    <td></td>
                    <td><a ng-click="ctrl.remove(ctrl.process.input_files, file)"><i class="fa fa-close"></i></a></td>
                </tr>
                <tr ng-repeat="file in ctrl.process.output_files | orderBy:'name'">
                    <td>Output File</td>
                    <td>{{file.name}}</td>
                    <td></td>
                    <td><a ng-click="ctrl.remove(ctrl.process.output_files, file)"><i class="fa fa-close"></i></a></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div ng-if="ctrl.process.process_name === 'As Received'">
    <div class="row">
        <div class="col-xs-5">
            Name
            <div class="row">
                <input placeholder="Sample name..." ng-model="ctrl.sample.name"
                       class="form-control col-xs-8">
            </div>
            Description
            <div class="row">
                <textarea placeholder="description..." rows="10" ng-model="ctrl.sample.description"
                          class="form-control col-xs-8">
                </textarea>
            </div>
        </div>
        <div class="col-xs-7">
            <form class="form-horizontal">
                <fieldset>
                    <div class="form-group">
                        <div class="checkbox">
                            <input type="checkbox" id="sampleGroupCheckbox"
                                   ng-model="ctrl.sampleGroup">
                            <label for="sampleGroupCheckbox">Treat as sample group</label>
                        </div>
                    </div>
                </fieldset>
            </form>
            <div ng-if="false">
                <div ng-if="ctrl.sampleGroup" class="row">
                    <div class="col-sm-offset-1">
                        <ul class="list-inline">
                            <li>
                                <label class="radio-inline">
                                    <input type="radio"
                                           name="sampleGroupSizeRadios"
                                           value="set-size"
                                           ng-model="ctrl.sampleGroupSizing" checked> Set sample group size
                                </label>
                            </li>
                            <li>
                                <label class="radio-inline">
                                    <input type="radio"
                                           name="sampleGroupSizeRadios"
                                           value="as-needed"
                                           ng-model="ctrl.sampleGroupSizing"> Create samples as needed
                                </label>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div ng-if="ctrl.sampleGroup && ctrl.sampleGroupSizing === 'set-size'" class="row">
                <div class="col-xs-offset-1">
                    <label class="col-xs-4 control-label">Sample group size</label>
                    <div class="col-xs-4">
                        <input type="number" class="form-control" ng-model="ctrl.sampleGroupSize">
                    </div>
                </div>
            </div>
            <process-settings settings="ctrl.process.setup.settings[0].properties"></process-settings>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-9">
            Composition
            <periodic-table doc="ctrl.doc"></periodic-table>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-8">
            <ul class="list-inline">
                <li>
                    <button ng-click="ctrl.chooseInputFiles()"
                            class="btn btn-default btn-files">
                        <i class="fa fa-fw fa-plus"></i> Input Files
                    </button>
                </li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <ul class="list-inline" style="padding-top:50px">
                <li>
                    <button ng-click="ctrl.submitSample()"
                            class="btn btn-default btn-info">
                        Submit
                    </button>
                </li>
                <li>
                    <button ng-click="ctrl.submitAndAnother()"
                            class="btn btn-default btn-info">
                        Submit And Another
                    </button>
                </li>
                <li>
                    <button ng-click="ctrl.cancel()"
                            class="btn btn-default btn-danger">
                        Cancel
                    </button>
                </li>
            </ul>
        </div>
    </div>

    <hr class="divider">
    <div class="row">
        <div class="col-xs-12">
            <table ng-if="ctrl.process.input_samples.length || ctrl.process.input_files.length || ctrl.process.output_files.length"
                   class="table table-striped">
                <thead>
                <tr>
                    <th>Type</th>
                    <th>Name</th>
                    <th></th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="file in ctrl.process.input_files | orderBy:'name'">
                    <td>Input File</td>
                    <td>{{file.name}}</td>
                    <td></td>
                    <td><a ng-click="ctrl.remove(ctrl.process.input_files, file)"><i class="fa fa-close"></i></a></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>


</div>



