<!DOCTYPE html>
<html ng-app="demo">
<head>
    <title></title>
    <link href="../app/assets/css/bootstrap.css" rel="stylesheet"/>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.1.5/angular.min.js"></script>
    <script>
        var app = angular.module("demo", []);
        app.config(['$routeProvider', '$locationProvider', '$httpProvider',
            function ($routeProvider, $locationProvider, $httpProvider) {
                //$httpProvider.defaults.useXDomain = true;
                //$httpProvider.defaults.withCredentials = true;
                //delete $httpProvider.defaults.headers.common['X-Requested-With'];
            }]);
        app.factory('formDataObject', function () {
            return function (data) {
                var fd = new FormData();
                angular.forEach(data, function (value, key) {
                    fd.append(key, value);
                });
                return fd;
            };
        });

        function UploadController($scope, $http, formDataObject) {
            $scope.setFile = function (element) {
                $scope.uploadedFile = element.files[0];
            }

            $scope.uploadFile = function () {
                if (!$scope.uploadedFile) {
                    return;
                }
                //var fd = new FormData();
                //fd.append("uploadedFile", $scope.uploadedFile);
                //console.dir(fd);
                var url = "http://magnesium.eecs.umich.edu:5000/v1.0/user/mcfada@umich.edu/upload/abc123"
                $http({
                    method: 'POST',
                    url: url,
                    headers: { 'Content-Type': false},
                    data: { file: $scope.uploadedFile },
                    transformRequest: formDataObject
                })
 //                       .post(url, fd, {
//                            headers: {
//                                'Content-Type': 'multipart/form-data'
//                            },
                          //  transformRequest: angular.identity
                        //})
                        .success(function (data) {
                            console.log("Successful upload");
                        })
                        .error(function (data, status) {
                            console.dir(status);
                        });
            }
        }

    </script>

</head>
<body ng-controller="UploadController">
<input type="file" id="uploadFile" ng-model="upFile"
       onchange="angular.element(this).scope().setFile(this)"/>
<button class="btn btn-primary" ng-click="uploadFile()">Upload</button>
</body>
</html>